[2020-09-10 23:15] nayeemrmn commented on #756
Ref https://github.com/denoland/deno/pull/7413#issuecomment-690780261.

[2020-09-11 01:21] kdy1 commented on #1043
Fixed it :)

[2020-09-11 02:20] joebnb commented on #1055
i tried it before submit issue ,its not working

[2020-09-11 02:20] joebnb opened #1061 "You can enable decorator support. See https://swc-project.github.io/docs/configuring-swc.html#jscparser and https://swc-project.github.io/docs/configuring-swc.html#jsctransformdecoratormetadata"
You can enable decorator support. See https://swc-project.github.io/docs/configuring-swc.html#jscparser and https://swc-project.github.io/docs/configuring-swc.html#jsctransformdecoratormetadata

_Originally posted by @kdy1 in https://github.com/swc-project/swc/issues/1055#issuecomment-690255478_

i tried it before submit issue ,its not working

[2020-09-11 02:21] kdy1 commented on #1055
Can you share the error message?

[2020-09-11 02:22] kdy1 commented on #1055
Closing in favor of #1061

[2020-09-11 02:22] #1055 closed

[2020-09-11 02:22] kdy1 commented on #1061
Can you share your error message?

[2020-09-11 02:23] joebnb commented on #1061
sure,wait moment

[2020-09-11 02:47] joebnb commented on #1061
i found if enable tsx
[code]
will throw
[code]

if set jsx disable,it seems working

[code]

[2020-09-11 02:56] kdy1 commented on #1061
Thanks for a detailed report! I'll fix it soon.

[2020-09-11 03:00] joebnb commented on #1061
im looking forward to it.

by the way how to solve this problem,Is it caused by my configuration?
[code]

[2020-09-11 03:05] kdy1 commented on #1061
It seems like a bug of codegen. A return statement should not have newline between `return` and the returned value.
If a newline exists, function is parsed as function declaration, which *must* have ident. But there's no one, so it results in a parsing error.

Btw, can you share some part of your code? I want to test it, and finding breaking code is hard.

[2020-09-11 03:33] joebnb commented on #1061
yes,i remove `newline between return and the returned value`  this error has gone,but it seems generated code still have some error.

![image](https://user-images.githubusercontent.com/1646883/92852542-6d1df780-f421-11ea-99c9-3ca48dac6726.png)

package you can find in toast ui editor `npm i @toast-ui/editor@2.3.1`

![image](https://user-images.githubusercontent.com/1646883/92853565-912e0880-f422-1

[2020-09-11 03:52] #1058 closed

[2020-09-11 06:09] #1061 closed

[2020-09-11 07:39] joebnb commented on #1061
this issue should be closed

[2020-09-11 07:40] kdy1 commented on #1061
@joebnb Did you verified that `swc@v1.2.26` works?

[2020-09-11 07:56] joebnb opened #1063 "strictmodel:false error"
[code]
console out put this error,:
[code]

if set strictMode true it will throw

![image](https://user-images.githubusercontent.com/1646883/92887338-fdbafe80-f446-11ea-9643-0804cf11bd7c.png)

if add declare for variables ,project will work

[2020-09-11 08:04] kdy1 commented on #1063
Error messages seem too unhelpful. Is this related to toast editor on npm?

[2020-09-11 08:18] joebnb commented on #1063
yes ,[toast editor](https://github.com/nhn/tui.editor/tree/master/apps/editor)

i see not defined error and add `strictmodel:false ` but it output `failed to process js file`.

btw,did swc tested on windows?the same project run on windows it will throw alternative errors

[2020-09-11 08:22] kdy1 commented on #1063
Only very lightly. Which error do you mean? I'd expect parser tests to fail on windows, due to crlf issue.

[2020-09-11 08:35] joebnb commented on #1063
<img width="883" alt="Untitled1" src="https://user-images.githubusercontent.com/1646883/92893840-9f911a00-f44c-11ea-97a0-c0fc6976c6b4.png">

on windows10 x64

[2020-09-11 08:38] kdy1 commented on #1063
What is your nodejs version?

[2020-09-11 08:41] joebnb commented on #1063
all latest node12

[2020-09-11 08:43] kdy1 commented on #1063
Can you try `npm ls @swc/core-win32`?

[2020-09-11 08:48] joebnb commented on #1061
works well,this error message was gone

[2020-09-11 08:53] joebnb commented on #1063
![image](https://user-images.githubusercontent.com/1646883/92896885-568e9500-f44f-11ea-9782-1b6b0435682a.png)

[2020-09-11 08:56] kdy1 commented on #1063
Hmm... Binding is downloaded, but not found?

@Brooooooklyn Can you take a look?

[2020-09-11 08:58] Brooooooklyn commented on #1063
oh, wired, I will fix it soon

[2020-09-11 09:00] kdy1 commented on #1063
@Brooooooklyn Thanks!

[2020-09-11 09:06] joebnb commented on #1063
你好~

this project and builder was in different volume, may should take some params to switch volume

![image](https://user-images.githubusercontent.com/1646883/92898984-03b5dd00-f451-11ea-96f9-23dba5853736.png)
this partten maybe helpful

[2020-09-11 11:19] lucacasonato opened #1065 "TypeScript type imports are only stripped when they are used as a type at least once"
**Describe the bug**

TypeScript type imports are only stripped when they are used as a type at least once, even if they are not used as a value.

**Input code**

Working correctly:

[code]
[code]

Not working correctly:

[code]
[code]

Also not working correctly:

[code]
[code]

**Expected behavior**
I expect that `import { MyType } from "./test2.ts";` is stripped away in both examples.

[2020-09-11 11:34] kdy1 commented on #1065
This is intended for multiple reason.

 1. At the time of implementing it, type-only imports without `import type` are only stripped out if it's used as type.

[ts 3.8](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html)  introduced type-only imports, because the problem I wrote above.

 2. `swc` works on file-by-file basis, so it cannot know if it's a type-only.

Even

[2020-09-11 14:25] nayeemrmn commented on #1065
@kdy1 Not sure I understand. It doesn't need to know if it's type in the imported module, because if it's not used at all in the importing module then it can be stripped either way. This is the behaviour of tsc. It's not intended. TS 3.8 type only imports are to address the re-export case.

[2020-09-11 14:28] kdy1 commented on #1065
I confused the behavior of babel with one of tsc.

[2020-09-11 14:31] lucacasonato commented on #1065
@kdy1 Also this is not being stripped correctly:

[code]

Should I open a new bug for this?

[2020-09-11 14:38] kdy1 commented on #1065
I'll just reopen it.

[2020-09-12 03:12] magurotuna opened #1066 "Cannot parse member expression in object pattern"
**Describe the bug**

I'm currently porting [camelcase  - ESLint](https://eslint.org/docs/rules/camelcase) into `deno_lint`. ref: https://github.com/denoland/deno_lint/pull/302

While implementing, I found `MemberExpression` in `ObjectPattern` is treated `Invalid` by swc.
Please see the detail below.

**Input code**

[code]

**Config**

nothing (executed as a test in `ecmascript/parser`)

**Expect

[2020-09-12 05:57] crlf0710 opened #1067 "Support parsing E4X code as an extension."
Currently modern javascript engines seldomly have e4x support. it would be nice if `swc` can support parsing e4x-using javascript code and "babel“ them to something implementable before feeding the code to v8 engine.

[2020-09-12 07:56] Brooooooklyn commented on #1043
I tested this patch in nest, found it's still errors appear in some situation because of the `require` order problem:

This file https://github.com/nestjs/nest/blob/master/packages/common/index.ts
[code]

transformed to

[code]

The `var _interfaces = require("./interfaces");` should be after the `var _http = require("./http");`

[2020-09-12 07:58] kdy1 commented on #1043
I'll fix it soon.

[2020-09-12 09:39] #1066 closed

[2020-09-12 12:52] #1043 closed

[2020-09-12 12:54] kdy1 commented on #1043
Fixed!

[2020-09-12 13:09] kdy1 commented on #1067
Is it kind of standard?

[2020-09-12 13:27] #5 closed

[2020-09-12 16:13] crlf0710 commented on #1067
It's an extension to ecmascript, and defined in ISO/IEC 22537 or ECMA-357. Web browsers have dropped its usage. But some application usages still persists. (example: PDF 2.0 standard ISO 32000-2 mentions that the script that PDF processors shall execute may include E4X).

[2020-09-13 07:28] Brooooooklyn commented on #1063
@joebnb which volume did `@swc/core` was installed ?

[2020-09-13 10:20] joebnb commented on #1063
@swc/cored & swc-loader   on  c:/,  project on d:/.

this  issue contain  2 problem. hope you  noticed

[2020-09-14 19:39] anshulrgoyal opened #1076 "Spack seem to be unable to resolve imports"
**Describe the bug**
I tried to import React but it throws error.
![image](https://user-images.githubusercontent.com/32068075/93130383-13068600-f6f0-11ea-84fc-8f7a1167878c.png)

[2020-09-14 19:41] anshulrgoyal commented on #1076
test also seems to fail
![image](https://user-images.githubusercontent.com/32068075/93130578-5c56d580-f6f0-11ea-8d4e-ce98075896ba.png)

[2020-09-15 04:17] Brooooooklyn commented on #1063
From [screenshot in this comment](https://github.com/swc-project/swc/issues/1063#issuecomment-690957513), node try to resolve `@swc/core-win32` from `c:\users\...\plugins_next\node_modules\@swc\core-win32\swc.win32.node` and I noticed that `@swc/core` was in the same level folder: `c:\users\...\plugins_next\node_modules\@swc\core`. So it's weird that `Node` could not find `c:\users\...\plugins_nex

[2020-09-15 05:34] joebnb commented on #1063
package install path decide by npm,lt will put shared package in higher level folder,if project require npm will search like:

`/builder/node_modules/@swc/core/node_modules/@swc/core-win32` at begining

when trying search
`/builder/node_modules/@swc/core-win32`

till root
`/node_modules/@swc/core-win32`

----

could fix strictmodel set false,will out throw error first? it throw on darwin,and i fou

[2020-09-15 05:40] Brooooooklyn commented on #1063
I know this behavior, so it's weird in your case: `@swc/core-win32` was installed but could not resolve in `require`.

So have you check `@swc/core-win32` location in your project ?

[2020-09-15 06:19] joebnb commented on #1063
no,just installed swc loader and core and configuration followed swc web guding

[2020-09-16 09:27] kdy1 commented on #1076
Thanks for the report!
I'll fix it with next version.

[2020-09-16 10:42] vovaguguiev commented on #588
I've started working on this issue, see: https://github.com/swc-project/swc/pull/1077. My approach so far is to port the original tests from the facebook/react repo: https://github.com/facebook/react/blob/b7d18c4daf244b991858cc9b0706b64589f4fd60/packages/react-refresh/src/__tests__/ReactFreshBabelPlugin-test.js and make sure they pass in my implementation. Please feel free to give early feedback i

[2020-09-16 10:59] Brooooooklyn commented on #1048
How about expose API in `@swc/core` to allow people use `native plugin` in NodeJS.
For example:

[code]

[2020-09-16 11:19] kdy1 commented on #1048
I think the way you suggested is the best way to go, but I'm not sure how about the way to do it.
Long ago, I tried implementing native plugin system, but I failed because of platform issue (deployment) and neon did not support such thing.

Does napi itself supports such operation? I mean, loading other `.node`  file and invoking it?

Also, what should be done when `swc` made some breaking changes

[2020-09-16 11:53] Brooooooklyn commented on #1048
Let me try it in `@swc-node` project.

[2020-09-17 11:10] kdy1 opened #1080 "Tasks for bundler"
# Optimize hygiene output

Currently,

[code]

becomes

[code]

 But it can be optimized if inner code does not access top-level `partial`.

# Optimize out self-referential-only items

Currently, `deno bundle https://deno.land/std@0.69.0/http/server.ts`

does not remove

[code]

because the name `BufWriterSync` is used, but it should be removed as the usage is self-referential.

[2020-09-18 04:57] #1000 closed

[2020-09-18 04:57] #1001 closed

[2020-09-18 05:04] #997 closed

[2020-09-18 05:04] #998 closed

[2020-09-18 05:04] #999 closed

[2020-09-18 05:29] #1048 closed

[2020-09-18 11:01] Amareis commented on #968
Yep, really strange behavior - even in .ts files.

[2020-09-18 15:21] SirJosh3917 commented on #50
What's the status on this? I'd like to see swc be able to be compiled to wasm.

My usecase is that I've got [a project](https://github.com/SirJosh3917/denoporter) that makes use of typescript that runs on [Cloudflare Workers](https://workers.cloudflare.com/), and often running the typescript compiler on imports takes longer than 50ms, which is hitting the limits of a cloudflare worker. To get unde

[2020-09-18 15:28] kdy1 commented on #50
It's absolutely doable. I just do not have enough time.
I'll setup auto deployment for wasm anyway.

[2020-09-19 15:03] salqueng opened #1086 "When a "let" variable is defined inside of a block and a "for in" statement uses it, swc generates wrong code."
**Describe the bug**
When a "let" variable is defined inside of a block and a "for in" statement uses it, swc generates wrong code. The compiled "for in" statement should consist of changed name of "let" variable, but it doesn't.

**Input code**
[code]

**Config**
[code]

**Expected behavior**
Expected output is
[code]

But actual output is
[code]

`for(a in b)` should be `for(a1 in b)`

**Version

[2020-09-20 19:22] Th3Whit3Wolf opened #1088 "Panic compiling three.js"
**Panic compiling three.js**

[code]

**Input code**
[code]

**Expected behavior**
Compile src into directory dist

**Version**
The version of @swc/core:
@swc/cli@0.1.26
@swc/core@1.2.30

**Additional context**

**OS:** Arch Linux

[2020-09-21 03:04] #1086 closed

[2020-09-21 03:31] goldcoders opened #1090 "Example set up on each js framework?"
I find the documentation quite short...
Mainly in implementing on different kind of
Frameworks such as react, Vue, svelte, angular.

I cant find any also in the Web any examples.

So Ive posted here if you can give each an example?

I really would love to test how it performs on svelte with typescript...

Thanks

[2020-09-21 08:44] lujjjh opened #1091 "Filenames in original source map not preserved"
I ran swc to transpile a pre-bundled file (with source map) to to ES5 and found the original filenames lost.

It seems that it currently only transforms the line and col:

https://github.com/swc-project/swc/blob/2de59759de193172c456406ac2605d15b8983462/common/src/source_map.rs#L1061-L1066

[2020-09-21 10:54] lujjjh opened #1092 "Optional chaining"
**Input code**
[code]

**Expected behavior**

Expected to be:

[code]

Actually got:

[code]

**Version**
The version of @swc/core:
@swc/core: 1.2.30

[2020-09-21 11:31] keesvv opened #1093 "Logical OR operator with functions returns wrong output"
**Describe the bug**
When using the logical OR operator with functions and calling the function directly afterwards, if the first function exists, it will store that function in the variable, instead of that functions result. In this case, `fnA` is defined. Instead of `fnA` being executed, it's stored as a function in the `x` variable, which should not happen. If `fnA` was _not_ defined however, `

[2020-09-21 13:51] kdy1 opened #1094 "importsNotUsedAsValues is wrong"
@kdy1 This is not the behaviour of `tsc` under `"importsNotUsedAsValues": "preserve"`. The correct behaviour is to _never_ preserve completely unused import identifiers. The above branch should always be used.

I think `ImportNotUsedAsValues` should be removed since it's a misunderstanding of the equivalent `tsc` option.

_Originally posted by @nayeemrmn in https://github.com/swc-project/swc/pull/

[2020-09-22 07:39] #1091 closed

[2020-09-22 07:39] #1092 closed

[2020-09-22 07:39] #1093 closed

[2020-09-22 07:39] #1036 closed

[2020-09-22 11:58] anshulrgoyal opened #1098 "Spack bundled js doesn't work."
I imported ReactDom but it is undefined.

[2020-09-22 11:59] anshulrgoyal commented on #1076
It is still not fixed If I try to import a component, it doesn't work.

[2020-09-22 19:45] matheus1lva opened #1099 "getCustomTransformers option - Set of option"
**Question**

Hello! First, i want to congratulate for such amazing and promising project!

On ts-loader there is [`getCustomTransformers`](https://github.com/TypeStrong/ts-loader#getcustomtransformers) option, which can have custom transformers. Is there something similar here?

Thank you!

[2020-09-23 09:52] nayeemrmn commented on #1094
@kdy1 What if I don't remove the option, but disassociate it with any behaviour for now? The behaviour it's currently associated with should unconditionally be "remove".

[2020-09-23 09:55] kdy1 commented on #1094
I think it's not correct. I think it should at least panic if an option which causes wrong behavior.
Actaully decorator pass does it, because decorator metadata for current proposal is not implemented yet.

[2020-09-23 10:49] nayeemrmn commented on #1094
@kdy1 Nevermind, I can fix it to cause the correct behaviour.

[2020-09-23 10:51] kdy1 commented on #1094
@nayeemrmn Sounds great!

[2020-09-23 12:19] kdy1 opened #1103 "New jsx transform"
See: https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html

[2020-09-23 13:52] #1065 closed

[2020-09-23 13:52] #1094 closed

[2020-09-24 13:29] SirJosh3917 commented on #702
Any progress on this? I also use this feature.

[2020-09-24 22:00] mhart opened #1107 "Argument defaults are lost if classes have same arg names"
**Describe the bug**

Arguments are losing their defaults – can't figure out the exact cause but I suspect it has something to do with the same argument names.

**Input code**

[code]

**Config**
[code]

**Expected output**
[code]

**Actual output**
[code]

Note the second class constructor loses the default argument assignment

**Version**
The version of @swc/core: 1.2.34

[2020-09-25 09:04] Brooooooklyn opened #1108 "Why target: ES2015 transform es2015 syntax"
And  `ES2016` `ES2017` `ES2018` `ES2020`

[2020-09-25 09:07] kdy1 commented on #1108
Initially it was named after babel's preset-es2015 (and name is changed to `target`), but I could not fix it because it's a breaking change.

Maybe adding version field to swcrc may be solution. How do you think about this?

[2020-09-25 09:13] Brooooooklyn commented on #1108
Seems like not a elegant solution.

How about fix it in next major release.

[2020-09-25 09:15] kdy1 commented on #1108
I'll do so.

[2020-09-26 20:03] kitsonk opened #1109 "swc_bundler: namespace imports not properly resolved"
**Describe the bug**

swc_bundler does not appear to support namespace imports.

**Input code**

*example1.ts*

[code]

*a.ts*

[code]

**Expected behavior**

An emit something like:

[code]

Actual emit:

[code]

**Version**

Version: swc_bundler 0.7.4

**Additional context**

Working to integrate swc_bunlder into Deno.

[2020-09-26 20:11] kitsonk opened #1110 "swc_bundler: does not handle namespace re-exports"
**Describe the bug**

swc_bundler does not appear to handle re-exports

**Input code**

*example2.ts*

[code]

*b.ts*

[code]

*c.ts*

[code]

**Expected behavior**

An emit something like:

[code]

Actual:

[code]

**Version**

Version: swc_bundler 0.7.4

**Additional context**

Working to integrate swc_bundler into Deno.

[2020-09-26 20:15] kitsonk opened #1111 "swc_bundler: does not handle property shorthands"
**Describe the bug**

swc_bundler does not appear to handle named re-exports

**Input code**

*example3.ts*

[code]

*d.ts*

[code]

*a.ts*

[code]

**Expected behavior**

An emit something like:

[code]

Actual:

[code]

**Version**

Version: swc_bundler 0.7.4

**Additional context**

Working to integrate swc_bundler into Deno.

[2020-09-26 20:19] kitsonk opened #1112 "swc_bundler: does not support top level await import statements"
**Describe the bug**

swc_bundler does not appear to handle top level await import statements

**Input code**

*example4.ts*

[code]

*a.ts*

[code]

**Expected behavior**

A valid emit of some sort.

Actual, using the swc_bundler branch/PR:

[code]

**Version**

Version: swc_bundler 0.7.4

**Additional context**

Working to integrate swc_bundler into Deno.

[2020-09-26 23:13] tgamblin opened #1113 "spack: naming conflict"
**Question**

Hi there -- I'm one of the developers of a package manager called Spack:

* https://github.com/spack/spack
* https://spack.io/
* https://spack.readthedocs.io

We've built up a pretty large community with thousands of users and the project has ~650 contributors at the moment.  Spack has been around since 2013.  I'm worried there will be confusion between the `spack` bundler in `swc` a

[2020-09-27 04:18] kdy1 commented on #1113
I'd like to, but as it's a breaking change, I think I can only do it with v2.0

[2020-09-27 04:26] kdy1 commented on #1112
I fixed other issues but I have a question about this issue.

Is this an issue about dynamic import itself?

[2020-09-27 04:34] kitsonk commented on #1112
I don't know specifically, but it threw an error on what is legitimate code.  I didn't dig deeper.  If we aren't going to inline dynamic imports (current `deno bundle` does for most dynamic imports, but that is because it preserves the module structure in the bundle) then I would at least expect them to be preserved in the output.

[2020-09-27 04:35] kdy1 commented on #1112
Got it, thanks for clarification.

[2020-09-27 04:52] kdy1 commented on #1112
I checked that following `.swcrc` works.

[code]

As you are using it from rust, you need to provide recent version of ecmascript to the parser via `JscTarget`. You also need `TsConfig.dynamic_import` to be true.

[2020-09-27 04:52] #1112 closed

[2020-09-27 06:19] tgamblin commented on #1113
Thanks!

[2020-09-27 21:15] Mouvedia commented on #491
https://github.com/kangax/compat-table/search?q=swc returns no result
Did you contact him directly?

[2020-09-28 01:03] kdy1 commented on #491
Yes, but I'll file an issue.

[2020-09-28 03:17] kitsonk commented on #1111
With #1105, the output is now:

[code]

It has some redundant code there, but it is functionally accurate.

[2020-09-28 03:18] kitsonk commented on #1109
With #1105 the output is now:

[code]

Which is a proper functional representation of the source code.

[2020-09-28 03:31] kitsonk opened #1115 "swc_bundler: handling of import.meta in modules"
**Describe the bug**

swc_bundler does not appear to handle `import.meta` well.

**Input code**

*example7.ts*

[code]

*f.ts*

[code]

**Expected behavior**

I am not actually sure what is possible here, but it is something that we struggled with in Deno with the existing bundling, how to deal with these things.  The down-emit to SystemJS did allow is to support setting these and our "loader" cou

[2020-09-28 03:33] kitsonk commented on #1110
With #1005 I am still getting a stack overflow for this example:

[code]

[2020-09-28 03:39] kitsonk opened #1116 "swc_bundler: re-exporting * not handled properly"
**Describe the bug**

swc_bundler does not appear to deal with `export * from "mod"`.

**Input code**

*example5.ts*

[code]

*e.ts*

[code]

*a.ts*

[code]

**Expected behavior**

A bundle that produces the following when run:

[code]

Current bundling outputs:

[code]

Which results in this:

[code]

**Version**

Version: swc_bundler 0.8.1 (#1005 branch)

**Additional context**

Working to integ

[2020-09-28 04:00] kitsonk opened #1117 "swc_bundler: incorrect renaming of class members"
**Describe the bug**

swc_bundler sometimes renames private member symbols which causes errors in the emitted bundle.  There maybe other re-naming issues, but this is the first one I caught.

**Input code**

*example8.ts*

[code]

*g.ts*

[code]

*h.ts*

[code]

**Expected behavior**

Class member are never ever be renamed, public or private, when bundling.

Current bundling outputs:

[code]

Whic

[2020-09-28 04:31] kitsonk opened #1118 "swc_bundler: export * as wrongly emitted"
**Describe the bug**

swc_bundler wrongly emits/drops nodes when using `export * as`.

This is likely related to #1110 but I am not getting a stack overflow with this case.

**Input code**

*example9.ts*

[code]

*a.ts*

[code]

**Expected behavior**

An emit something like:

[code]

Current bundling outputs:

[code]

**Version**

Version: swc_bundler 0.8.1 (#1005 branch)

**Additional context**

[2020-09-29 03:28] kdy1 commented on #1115
Is hardcoding okay? I'm not sure about the way to implement it.

[2020-09-29 03:43] kitsonk commented on #1115
@bartlomieju @nayeemrmn thoughts/opinions?

I don't know how hard it is, but if there was a way to supply it during the loader, and it would be up to the loader to supply the value?  Like the whole of `import.meta`, since it is specifically designed to be platform specific?

[2020-09-29 04:08] nayeemrmn commented on #1115
For the behaviour of `deno bundle`, I think we want `import.meta.url` to always be hardcoded, `import.meta.main` to be preserved in the "entrypoint" module (the one whose exports are passed on) of the bundle, and hardcoded to `false` in others.

I agree that swc should structure a way to call back to the loader for `import.meta` references so the above is all possible. It shouldn't itself handle a

[2020-09-29 04:34] kitsonk commented on #1115
Yes, we would be able to do that in Deno if at bundle time we had a way to supply their values.

(For clarification, though we can certainly talk about it over in Deno, `import.meta.main` should be true for the "root" module when `import.meta.main` is true for the bundled module at runtime, otherwise it should be `false` and always `false` for all other modules.  And with `import.meta.url`, for re

[2020-09-29 05:03] kitsonk opened #1119 "swc_bundler: emitting all symbols in certain scenarios"
**Describe the bug**

swc_bundler wrongly emits all symbols in a module in certain scenarios.

I have tried to get the reproducible as small as possible.

**Input code**

*example10.ts*

[code]

*i.ts*

[code]

*j.ts*

[code]

*k.ts*

[code]

**Expected behavior**

That non-exported symbols don't get exported.

Current bundling outputs, where `d` couldn't possible be exported.  In the real world-c

[2020-09-29 05:06] kitsonk commented on #1117
With a recent pull of the #1105 branch, this is fixed.  I am getting the following now:

[code]

[2020-09-29 07:32] bartlomieju commented on #1115
I'm not really sure how we could handle `import.meta` in bundles - IIRC they will be plain, old scripts and `import.meta` is only set for modules. And even then there's only a single file, so the `import.meta` object provided by the runtime couldn't differentiate between different parts of bundle.

[2020-09-29 07:45] kdy1 commented on #1115
@bartlomieju Do you mean it should be handled at compile (bundle) time?

I was thinking for a while to make the api clean. I have some questions.

I'm considering creating each api for each meta property. This is mainly because ecmascript spec may add some meta properties, and information required to handle them may differ.
How do you think about this?

Also, which information is required to `impo

[2020-09-29 07:52] bartlomieju commented on #1115
What I'm saying is that it's most likely not possible to handle `import.meta` during runtime for bundles, because V8's callback for `import.meta` is only invoked in modules. Even if it is possible there would be only a single callback since SWC outputs a single bundle file.

Correct, in Deno we might want to do some mangling for local URLs as pointed by https://github.com/swc-project/swc/issues/11

[2020-09-29 07:56] kdy1 commented on #1115
@bartlomieju

Yes. I think it makes sense, and more importantly, `import.meta.main` cannot be implemented by runtime if it's bundled. It's a kind of information stripped out by a bundler (just like compiler's job).

[2020-09-29 10:39] nayeemrmn commented on #1115
@bartlomieju Right now our bundles are valid ES modules which re-export the symbols exported in the entrypoint module. Are you saying we will no longer have that?

I specified the behaviour above. In most cases it would be hardcoded, in other cases it would preserved literally as `import.meta` (this is what we mean by letting the behaviour change at runtime).

[2020-09-29 10:53] kitsonk commented on #1115
The entry modules symbols will be re-exported.

I think having either an API for any access to `import.meta` or dealing with each individually would be fine, as long as it is determinable what property needs a value for.  Thinking more about it, I would expect we would want the Deno behaviour to be something like this:

- `import.meta.url` to be replaced with a static string value, which would be

[2020-09-29 10:57] bartlomieju commented on #1115
I think I misunderstood something in discussion with @kdy1, bundles should be ES modules after all.

Can `import.meta` be shimmed in user code? If not we'd have to add special handling for those bundles in `deno_core` which seems undesirable.

[2020-09-29 11:14] kdy1 commented on #1115
Will deno support runtime detection of `import.meta.main`?

Adn even if it will be supported, I think it's ok to compile it as `false` on imported modules, correct?

[2020-09-29 11:16] nayeemrmn commented on #1115
@kitsonk The current idea behind `import.meta.main` is that it resolves to undefined in browsers which will normally just work as false. It's already compatible in that way. We can just preserve it as `import.meta.main` for the entrypoint module.

[2020-09-29 11:21] nayeemrmn commented on #1115
Only whole `import.meta` references can be statically analysed correctly (`import.meta["url"]`). Substituting it with a host-provided object would be proper. This means we can't vary the "hardcode vs preserve" for individual properties...

Here's how we would have to do it -- always hardcode `import.meta` by a host-provided object:
- Non-entrypoint module: `import.meta` -> `({ url: "<source module

[2020-10-01 14:42] paul-soporan opened #1122 "Wrong codegen for computed class properties when using TypeScript"
**Describe the bug**

The SWC emit for non-define (aka TypeScript's default) computed class properties is wrong.

**Input code**

[code]

**Config**
[code]

**Expected behavior**

The emitted JavaScript currently is:

[code]

I'd expect it to emit:

[code]

**Version**

The version of @swc/core: `1.2.34`

**Additional context**

This doesn't happen when setting the `jsc.parser.syntax` to `ecmascri

[2020-10-01 22:15] jrop commented on #841
@kdy1 Is there a recommended way to invoke `spack` at build-time (e.g., from a `build.rs` script)?  That is all I really want from a spack-API.

[2020-10-02 00:02] kdy1 commented on #841
@jrop You can use `Process`

[2020-10-02 00:03] jrop commented on #841
@kdy1 I was hoping to avoid a dependency on NodeJS

[2020-10-02 02:07] #1109 closed

[2020-10-02 02:07] #1110 closed

[2020-10-02 02:07] #1111 closed

[2020-10-02 02:07] #1115 closed

[2020-10-02 02:07] #1116 closed

[2020-10-02 02:07] #1118 closed

[2020-10-02 02:07] #1119 closed

[2020-10-02 02:07] #1117 closed

[2020-10-02 07:38] patrick-entinux opened #1123 "Temporary var for null coalescing initialized in wrong scope (TypeScript)"
**Describe the bug**

When using null coalescing `??` for one case, I get an unusual runtime error like:

[code]

**Input code**

This is a stripped down version of some real (TypeScript) code:

[code]

**Config**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

Here was the output:

[code]

I'd expect the _submissionIds to be in the base scope:

[code

[2020-10-02 16:02] nayeemrmn opened #1124 "strip: Type only exports set DeclInfo::has_concrete to true"
Input:
[code]

Expected output: \<Nothing>

Actual output:
[code]

This is happening because `visit_module_items()` -> `visit_export_named_specifier()` -> `visit_ident()` which sets `DeclInfo::has_concrete` to true.

Fix coming.

[2020-10-02 16:04] jingyu9575 opened #1125 "Endless loop with try { await ... } finally {}"
**Describe the bug**

I'm not sure what's happening here, but a simple async function with `try { await ... } finally {}` is transformed into an endless loop.

**Input code**

[code]

**Config**
[code]

**Expected behavior**
Shows `2` in console.

Actual behavior: browser freezes with endless outputs of `2`.

**Version**
1.2.34

**Additional context**

This doesn't happen in babel. Adding a `retur

[2020-10-03 08:43] #1124 closed

[2020-10-04 10:05] avaly opened #1129 "Alpine Linux build"
**Describe the feature**

Provide an Alpine Linux build or instructions on how to build one.

[2020-10-04 10:26] avaly opened #1130 "Optional chaining expressions throw error at runtime"
**Describe the bug**

Chained expressions with an optional chaining start are wrapped with parenthesis in a way which throws an error at runtime.

**Input code**
[code]

**Config**
[code]

**Actual behavior**

`swc` output:

[code]

`babel` output:

[code]

Running with `swc` output:

[code]

Running with `babel` output:

[code]

**Expected behavior**

Better wrapping of optional chaining expressi

[2020-10-04 10:28] avaly commented on #1129
Ahh, I found the `linux-musl` build. But some instructions would be nice on the docs pages:

[code]

[2020-10-04 10:29] kdy1 commented on #1129
Thanks, I added it.

[2020-10-04 10:29] #1129 closed

[2020-10-04 10:48] avaly opened #1131 "Retain lines"
**Describe the feature**

Babel has a feature where it can retain the same line numbers from the original source file.

This can be useful when you only use it to remove TS syntax, but keep the rest of the source file intact, and need to match line numbers from production error stack traces to original source code.

Is such a feature possible in `swc`, without degrading the performance?

**Babel p

[2020-10-04 12:27] kdy1 commented on #1125
I tried fixing this, but it was much more complex than I initially thought.

This seems like an issue of `async_to_generator` pass.

[code]

The code above, which is produced by `async_to_generator pass`, works

[2020-10-04 12:59] #1122 closed

[2020-10-04 12:59] #1123 closed

[2020-10-04 12:59] #1130 closed

[2020-10-04 13:57] avaly opened #1133 "await with optional chaining is broken"
**Describe the bug**

A side-effect of the fix for #1130 when using `await` with optional chaining.

**Input code**

[code]

**Config**
[code]

**Actual behavior**

`swc`:

[code]

`babel`:

[code]

**Expected behavior**

`await` with optional chaining should work correctly.

**Version**
The version of @swc/core:

@swc/cli: 0.1.27
@swc/core: 1.2.35

[2020-10-04 17:57] ryanatkn commented on #1133
Similarly, parens are not preserved in these cases:

`await (a || b);` -> `await a || b;`
`await (a ? b : c);` -> `await a ? b : c;`

Same versions and es2019 target.

[2020-10-04 19:12] ryanatkn opened #1134 "Is it possible to preserve unused imports that aren't types?"
**Question**

In upgrading from 1.2.28 to 1.2.35 I'm running into a problem for my use case which requires unused imports to be preserved. This seems to have changed with the import stripping functionality in PRs #1060 and #1101. I looked through the docs, issues/PRs, and briefly the code (I know only a little Rust), and couldn't find an answer - sorry if it's obvious. :)

Is `import_not_used_as_v

[2020-10-04 19:33] paul-soporan opened #1135 "Broken codegen of class with decorated method when using `jsc.module.lazy`"
**Describe the bug**

Edit: I've used `module` as an example of an external module below, but I've now realized that it might be confused with the `module` Node builtin. The issue exists no matter what name the external module has.

Codegen breaks when all of the conditions below are met:

- `jsc.module.type` has to be set to `commonjs`.
- `jsc.module.lazy` has to be set to `true`.
- A base class

[2020-10-04 20:28] paul-soporan opened #1136 "Wrong optional call expression emit when target < 2020"
**Describe the bug**

The emit for optional call expressions is wrong when `jsc.target` < 2020.

**Input code**

[code]

**Config**
[code]

**Emitted code**

[code]

**Expected behavior**

I expect the emit to not use variables before they are declared.

**Version**
The version of @swc/core: `1.2.35`

**Additional context**

This problem doesn't exist when the `jsc.target` is set to `2020`.

[2020-10-04 23:27] kitsonk opened #1137 "export * as ns is part of ES2020 and should not be a proposal pass"
**Describe the bug**

Currently swc requires the `swc_ecmascript::transforms::proposals::export` to support _export * as ns_.  This should not be required as the proposal was ratified and is [part of ES2020](https://tc39.es/ecma262/2020/#table-42).

**Expected behavior**

That `swc_ecmascript::transforms::proposals::export` is not required to properly handle code such as:

[code]

**Version**
The

[2020-10-05 01:23] kitsonk opened #1138 "swc_bundler: dropped nodes on transient renamed exports"
**Describe the bug**

swc_bundler drops nodes in some transient renamed exports cases

**Input code**

*example11.ts*

[code]

*l.ts*

[code]

*a.ts*

[code]

**Expected behavior**

An emit something like:

[code]

Current bundling outputs:

[code]

**Version**

Version: swc_bundler 0.9.1, swc_ecmascript 0.8.4, swc_common 0.10.3

**Additional context**

Working to integrate swc_bundler into Deno.

[2020-10-05 02:27] Brooooooklyn commented on #1137
Maybe related https://github.com/swc-project/swc/issues/1108

[2020-10-05 05:46] kitsonk opened #1139 "swc_bundler: does not properly bundle circular dependencies"
**Describe the bug**

swc_bundler does not properly bundle circular dependencies.

**Input code**

*circular1.ts*

[code]

*circular2.ts*

[code]

**Expected behavior**

An emit something like:

[code]

Current bundling outputs:

[code]

**Version**

Version: swc_bundler 0.9.1, swc_ecmascript 0.8.4, swc_common 0.10.3

**Additional context**

Working to integrate swc_bundler into Deno.  This is int

[2020-10-05 08:23] patrick-entinux opened #1140 "Wrong scope's variable is used after SWC compilation"
**Describe the bug**

Hi, I submitted a bug a few days ago, thank you for looking into that bug. 🙇 I am running the same project through SWC today too, I just came across this now, got a runtime error because a totally different variable was used than expected.

**Input code**

Not sure if it has any effect in this case, but this is in a TypeScript project, by the way.

[code]

Here was the SWC ou

[2020-10-06 04:12] kdy1 commented on #1137
As this is a breaking change, I'll fix this in a separate pr.

[2020-10-06 04:39] #1138 closed

[2020-10-06 04:39] #1139 closed

[2020-10-06 11:48] #1137 closed

[2020-10-06 13:13] kdy1 commented on #1135
As you used `Class` unconditionally, I think it should be

[code]

[2020-10-06 13:30] paul-soporan commented on #1135
Yep, that's how it should be. It's correctly emitted as `_module.Class` when `jsc.module.lazy` is set to false (the default), but it becomes `_module().Class` when `jsc.module.lazy` is set to true.

That also happens to be the only difference between the outputs (`diff lazy.js non-lazy.js`):
[code]

[2020-10-06 14:27] #1133 closed

[2020-10-06 14:27] #1136 closed

[2020-10-06 14:27] #1140 closed

[2020-10-07 01:56] kitsonk commented on #1138
Using swc master, it now emits:

[code]

Which results in the following when executed:

[code]

Instead of an expected:

[code]

The emit is "renaming" the destructuring, versus setting a default value, which is incorrect, given the source code of:

[code]

[2020-10-07 02:05] kitsonk commented on #1139
The emit is now:

[code]

Which is technically slightly incorrect as this would result in:

[code]

Where as if the modules were loaded separately, it would result in:

[code]

[2020-10-08 03:42] g-plane opened #1148 "[bug] TypeScript Infer Type shouldn't be allowed in `checkType` of conditional type"
**Describe the bug**
TypeScript Infer Type is allowed in `checkType` of conditional type, but this should be invalid.

**Input code**

[code]

Or more complex:

[code]

**Config**
[code]

**Expected behavior**
It should return a parsing error.

**Version**
The version of @swc/core: v1.2.36

[2020-10-08 10:17] JonathanCallewaert opened #1149 "Optional chaining compiled wrongly"
**Describe the bug**
The optional chaining is compiled wrongly when there are at leas 2 quotation marks.

**Input code**
[code]
**Config**
[code]
**Compiled Code**
[code]

**Expected behavior**
It should be compiled to smth like this (see https://www.typescriptlang.org/play?#code/KYDwDg9gTgLgBAYwgOwM7xjAXHAhsgTzgF44BXZAE2ADMBLZYSgbgFgAoJNDAWzBLiYA-ADoeuMAApJ2PIQCUJAHyD5IgFYQG0gG458BRcRU75bTilQQANs

[2020-10-08 10:19] bartybooy commented on #1149
This is the error we get: `Cannot read property 'join' of undefined`

[2020-10-08 11:28] kitsonk opened #1150 "swc_bundler: Import and export from same module"
**Describe the bug**

swc_bundler goes a bit crazy under certain conditions.  I tried to reduce this use case down further, but the reproduction is difficult, and the emit is all a bit strange.

**Input code**

*example12.ts*

[code]

*m.ts*

[code]

*n.ts*

[code]

*o.ts*

[code]

**Expected behavior**

An emit something like that outputs the following when run:

[code]

Current bundling outputs:

[2020-10-09 10:10] #1150 closed

[2020-10-09 12:32] iykekings opened #1153 "Jsdoc tags' spans have the same `span.lo` as parent comment"
**Describe the bug**
In AST generated with` jsdoc::parse(Input::from(comment))` where comment is `swc_common::Comment`, the `span.lo` of jsdoc tags in the ast have are the same with `comment.span.lo`

**Input code**
` jsdoc::parse(Input::from(comment))`

**Config**
not applicable

**Expected behavior**
`span.lo` of tags shouldn't be the same with that of their parent comment

**Version**
jsdoc 0.6

[2020-10-09 12:34] iykekings commented on #1153
An example comment:
[code]

[2020-10-09 12:35] iykekings commented on #1153
Generated AST:
[code]

[2020-10-09 13:04] kdy1 commented on #1150
@kitsonk I fixed it.

[2020-10-10 06:32] kitsonk opened #1155 "swc_bundler: export all imports of function / class get elided"
**Describe the bug**

swc_bundler does not handle `export * from "mod";` (export all) statements.

**Input code**

*example13.ts*

[code]

*p.ts*

[code]

*i.ts*

[code]

**Expected behavior**

An emit something like this:

[code]

Current bundling outputs:

[code]

**Version**

Version: master (f0ea70cb25e571ad81fc7027e61f69b69edec5ab)

**Additional context**

Working to integrate swc_bundler int

[2020-10-10 09:32] #1155 closed

[2020-10-10 11:18] kitsonk opened #1156 "swc_bundler: trees incorrectly shaken with property initialisers"
**Describe the bug**

swc_bundler incorrectly elides nodes in certain conditions.

**Input code**

*example14.ts*

[code]

*q.ts*

[code]

*i.ts*

**Expected behavior**

An emit something like this:

[code]

Current bundling outputs:

[code]

Also, if you eliminate method `b()` from `class A` you get the following incorrect:

[code]

**Version**

Version: master (6f006208ac555ef02aac7a1c8c09dff124

[2020-10-11 15:36] #1156 closed

[2020-10-11 15:45] kdy1 commented on #1156
@kitsonk I fixed it.

[2020-10-11 20:00] charliematters opened #1158 "What settings are required to get Mobx decorators working?"
Hello,

I'm trying to get our existing Mobx-enabled codebase, but I can't get the decorators working in our domain objects.

I've made a repo with a simple example of how our current domain objects work, and a simple test case which currently fails when using `swc-jest` but passes with `ts-jest`.

I'd love to get the speed of swc, but currently running `Object.keys(this)` in the class constructor

[2020-10-12 12:26] hcesar opened #1160 "design:type wrong for enum values"
**Describe the bug**
In TSC, when you have an enum type, the base enum type is set as design:type.
SWC is setting the enum object itself.

**Input code**
[code]
**Config**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

TSC:
[code]

SWC:
[code]

[2020-10-12 14:31] lcswillems opened #1161 "With which version of TypeScript is it compatible?"
Can I compile code written in TypeScript 4.1 with swc?

I can't see any mention about what versions of TypeScript are supported.

[2020-10-12 22:20] kitsonk commented on #1161
My understanding is that swc isn't coupled to a specific version of TypeScript, like a lot of other transpilers.  There are three types of changes to TypeScript that generally can be made, two of which would impact swc:

- Additional ECMAScript/JavaScript syntax.  TypeScript adds support for Stage 3 ECMAScript proposals, swc adds them as well, usually in advance of them landing in TypeScript (beca

[2020-10-13 04:23] mduclehcm opened #1162 "Implement JavaScript optimizer using ecmascript lexer/parser of swc"
**Question**
I can see that swc have a very impressive performance.
There is any plan to implement a new js optimizer to replace exist js optimizer like terser, uglifyjs?

[2020-10-13 04:27] kitsonk commented on #1162
Duplicate of #704

[2020-10-13 04:50] mduclehcm commented on #1162
Minify option are useful. But I don't want to use replace babel with swc right now due to lack of transform plugin. It would be nicer if we have new package to using with webpack, rollup as output optimizer.

[2020-10-13 06:33] lcswillems commented on #1161
Thank @kitsonk for the time you took to explain me this! I understand the reasoning. But I still don't know if I can compile my 4.1 code.

It is a big issue for me that there is no mention of which versions of TypeScript it supports. I (and other people I think) will not take the time to compile their codebase to see if it works with swc. How could people know easily if swc will work with their co

[2020-10-13 13:14] bartlomieju opened #1164 "Automatically detect if file is script or module when parsing"
**Describe the feature**
Add ability to `swc_ecmascript`'s `Parser` to automatically detect if parsed source file
is an ES module or plain old script.

Currently it's up to implementor to decide if file is a script of a module and based on that
decision should call either `Parser::parse_script` or `Parser::parse_module`.

It makes writing libraries working on both scripts and modules a bit more cu

[2020-10-13 22:36] RDambrosio016 commented on #1164
- Its not exactly doable without a lot of state handling, modules impose more restrictions as they are in strict mode, so youd have to mark every strict mode possible error and go back over them and either clear them or reconsider whether an error should be thrown. Moreover, guessing what the user meant is a pretty bad idea for a linter (talking about deno lint specifically) which is meant to cons

[2020-10-14 08:39] piscisaureus opened #1165 "swc incorrectly discards export statements and (most) comments"
[code]

* Most comments are gone.
* ~The `export` statement from the last line is gone.~ Apparently not, I’ll send another script to reproduce that.
* Most newlines are also gone. I comparatively miss them the least, but I did not ask swc to minify my source...

https://gist.github.com/fe73e5b27d35acbcb0fb53c9927fb849

[2020-10-15 10:41] avaly opened #1168 "@swc/helpers throws error in ESM project"
**Describe the bug**

While attempting to run unit tests with `@swc/jest`, I noticed that an error occurs when running the CommonJS output from `swc` in an ESM project.

**Input code**

[code]

**Config**
[code]

**Expected behavior**

The code should run without errors.

**Actual behavior**

Output:

[code]

Result:

[code]

**Version**
The version of @swc/core:

@swc/cli: 0.1.27
@swc/core: 1.2.3

[2020-10-15 11:08] kdy1 commented on #1168
Can you try `@swc/helpers@0.2.0`?

[2020-10-15 11:37] xmo-odoo opened #1169 "Question: can swc be used as a native library?"
swc is mostly being billed as a fast JS/TS compiler which incidentally happens to be implemented in Rust. But it's unclear how much of the behaviour / feature is implemented in Rust versus JS, and whether swc could usefully be leveraged from an other language without having to go through node.

Is Rust only the core transformation engine with all the transforms being implemented in javascript (req

[2020-10-15 11:40] kdy1 commented on #1169
All transforms are written in rust. Deno uses swc to transpile typescript into ecmascript, and some clients use swc by compiling into wasm with their own transforms.

[2020-10-15 11:40] #1169 closed

[2020-10-15 14:02] kdy1 commented on #1169
Yes, but there are some binding helper libraries so knowing the exact language you want may help.

[2020-10-16 05:41] xmo-odoo commented on #1169
@kdy1 python in this case.

[2020-10-16 07:02] kdy1 commented on #1169
@xmo-odoo Then https://github.com/PyO3/pyo3 will help greatly.

[2020-10-16 07:10] avaly commented on #1168
The same behavior is present with `0.2.0`

[2020-10-16 07:54] xmo-odoo commented on #1169
@kdy1 there's certainly no worries about you having other things to do than writing bindings, I just asked the initial question because I hadn't seen any doc about swc being supported / usable as a library so it wasn't obvious whether that was an official use-case or just an implementation detail of the tool.

[2020-10-16 08:07] kdy1 commented on #1169
@xmo-odoo The library itself is not documented well as there are too many codes,  but I guess https://swc.rs/rustdoc/swc/  will help you.

Docs about compiling rules lives at https://swc.rs/rustdoc/swc_ecma_transforms/

[2020-10-16 09:42] bartlomieju opened #1170 "panic: Parser panics on malformed TypeScript code"
Source code:
[code]

Backtrace:
[code]

[2020-10-16 16:28] benwainwright opened #1172 "Jest with SWC doesn't seem much faster than Jest with babel :("
So I've spent today experimenting with swapping out `tsc` for `swc` in our small typescript project (ejected create-react-app typescript/react), and if I'm honest I've been... a bit disappointed.

The project is moderately small so test times are not a huge deal *yet*, but anticipating it getting bigger, I was looking for an improvement on testing times, but after benchmarking (using `yarn add jes

[2020-10-16 16:34] kdy1 commented on #1172
swc cannot optimize the time used for running test. It just reduces time of transpiling.

[2020-10-16 16:34] #1172 closed

[2020-10-16 16:38] benwainwright commented on #1172
@kdy1 That's a complete non answer to my question (if you actually read what I wrote, you'll see that I more or less accept that), so I'll restate it in the hope that someone will actually answer me:

[2020-10-16 20:11] kitsonk commented on #1172
For testing, especially benchmarks, transpiling code is likely less than 1% of the time spent on the test, so optimising 1% of a process will lead to the results you are seeing. I don't know the internals of jest, but I suspect it doesn't even transpile on every run, so you are only get a one off improvement in startup.

[2020-10-18 13:01] magurotuna opened #1173 "Bigint literal as a key in object literals cannot be parsed"
**Describe the bug**

If a property key in object literal is a bigint literal, swc emits an error.

[code]

**Input code**

[code]

**Config**

nothing
(executed via deno_lint)

**Expected behavior**

Successfully parsed

**Version**

[code]

**Additional context**

The input code comes from https://github.com/eslint/eslint/blob/v7.11.0/tests/lib/rules/no-dupe-keys.js#L49
Looking at this ESLint's

[2020-10-18 19:19] braddunbar commented on #340
I've been looking into this, but I have a question or two. 🙋

It sounds like the goal is to accept both class/function expressions and class/function declarations in export default declarations. Is that right? If so, I think all we need is to add tests for them, which already pass. If not, we need to replace `ClassExpr`/`FnExpr` with `ClassDecl`/`FnDecl` in `DefaultDecl`. I tried this out in a bra

[2020-10-19 15:17] #78 closed

[2020-10-19 17:52] AlexisPuga opened #1177 "Are external source maps working?"
Hi, @kdy1.

**Question** When source maps are generated by other tools, are these files taken into consideration when generating new ones?

If I run the following:
[code]

And then use swc:
[code]

Source maps doesn't seem to be working (even if I use "inline" for one or both options).

However, running babel will generate valid source maps (after 3 years, of course :wink:):
[code]

**Question 1.1

[2020-10-21 02:04] mdbetancourt commented on #571
i think this idea isn't useful for check errors (we can with the IDE) but is very cool for lib which depend on typechecks (metadata), for example in loopback there is 3 different results depending on what you use
ts-node with typecheck: it's okay (Function)

ts-node with transpile-only: error (Object)
![image](https://user-images.githubusercontent.com/22435967/96663664-1ad4ce00-131f-11eb-87f8-0eb6

[2020-10-22 16:51] dsherret opened #1178 "Better support for getting AST in spite of syntax errors"
If swc is used in language services then it will need to be able to understand code that is half typed. This would help a lot in deno_lint as linting errors could be provided as the user works in a file.

## Understand code that is missing certain tokens

For example, the following should parse as an if statement and give back a diagnostic error about a missing close brace:

[code]

https://ts-ast

[2020-10-23 09:11] wessberg opened #1179 "new.target syntax is not transformed"
**Describe the bug**

[`new.target`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/new.target) is not being transformed to ES5-compatible syntax when `es5` is the target.

**Input code**
[Please see this repro](https://repl.it/@wessberg/swc-newtarget#index.js).

In it, you'll find that `output.js` is the result of running `swc index.js -o output.js` with `es5` as the

[2020-10-23 21:34] wessberg opened #1180 "Minification can generate invalid JavaScript when combining IfStatements with PostfixUnaryExpressions"
**Describe the bug**

swc can generate invalid JavaScript when minifying constructs like this:

[code]

since it discards the whitespace between `else` and the following `UnaryExpression`, leading to:

[code]

Which is invalid JavaScript. This would have worked for PrefixUnaryExpressions, and I'm guessing that's the case you've optimized for:

[code]

So to fix this bug we'll have to make sure to

[2020-10-23 22:25] wessberg opened #1181 "_typeof helper throws in environments where Symbol is not defined"
**Describe the bug**

swc rewrites `typeof` expressions into a form that uses an internal `_typeof` helper, much like babel does it to make the `typeof` operator support polyfilled `Symbols`. However, the `_typeof` helper doesn't check for the existence of Symbol before it compares it with the object. This leads to errors in environments that do not support Babel, for example when transpiling ES5

[2020-10-24 05:25] kitsonk opened #1184 "swc_bundler: support outputting an IIFE"
**Describe the feature**

Currently, swc_bundler can output an ES module, but it does support output as an IIFE.

For outputting the bundle, instead of `export`ing entries from the entry module in the bundle, `swc_bundler` would output an IIFE where the return value of the IIFE is the value of the exported module.  For example if the entry module was:

_a.js_

[code]

The output of the bundle woul

[2020-10-24 05:31] kitsonk commented on #1184
A couple of other considerations:

- For emitting dynamic imports, assume that there is some sort of of `import()` global?
- Support TLA by emitting an async IIFE, meaning the consumer would need to figure out how to wait for the promise resolution.  For example, given the input of:

  _b.js_

[code]

  The output would be something like:

  _b.bundle.js_

[code]

[2020-10-24 14:26] #1181 closed

[2020-10-24 15:33] braddunbar commented on #1180
I'll take a look at this!

[2020-10-25 08:38] #1180 closed

[2020-10-25 16:14] braddunbar commented on #1173
I'll take a look at this!

[2020-10-26 10:30] wessberg opened #1187 "Not all Unicode Escape Sequences are escaped correctly, leading to "Unterminated string constant" errors"
Please see [this repro](https://repl.it/@wessberg/swc-unicode-bug#index.js).
In it, you'll see an input file such as this:

`export const unicodeWhitespaceCharacters = '\u0009\u000A\u000B\u000C\u000D\u0020\u00A0\u1680\u2000\u2001\u2002\u2003\u2004\u2005\u2006\u2007\u2008\u2009\u200A\u202F\u205F\u3000\u2028\u2029\uFEFF';`

`swc` transforms Unicode Escape Sequences into UTF-8 characters, and this is

[2020-10-26 10:44] wessberg opened #1188 "Suggestion: Don't rewrite unicode escape sequences to unicode"
**Describe the feature**

Over at `esbuild` (which is often used in conjunction with `swc` to target ES5), the decision was recently made [to switch over to producing ASCII-only output by default](https://github.com/evanw/esbuild/blob/v0.7.21/CHANGELOG.md#0720).

The decision was triggered specifically by the discussion [in this issue](https://github.com/evanw/esbuild/issues/485) (and originally [

[2020-10-26 11:04] kdy1 commented on #1188
It's a breaking change for rust users. My midterm exam ends on tomorrow, so I'll see if it's viable then.

cc @bartlomieju @ry @dsherret
How do you think about this?

[2020-10-26 12:30] ry commented on #1188
SGTM

[2020-10-27 05:58] Phaqui commented on #1090
Agreed. I am in the same situation of wanting to speed up Svelte+TypeScript, and using Rollup as my bundler (which is the default for Svelte). Waiting 5-8 seconds for each round of every tiny change to be visible gets really tiresome after a while...

I did get the <script lang="ts"> blocks to compile using swc instead of tsc with a change to the rollup config, but replacing compilation of .ts fil

[2020-10-27 09:56] Alex-ley commented on #343
I would agree with @Zzzen, the line included in the example would be treated a comment.

To correctly set up a RegEx to match on a forward slash "/", you would do something like this:

[code]

[2020-10-28 03:37] kitsonk commented on #1188
Actually we just had this reported in Deno: https://github.com/denoland/deno/issues/8161 and I was just about to raise an issue about it here.

Given the input of:

[code]

We would expect the output to be:

[code]

But we are instead getting (the unicode chars have been encoded to unicode):

[code]

[2020-10-28 12:20] #1164 closed

[2020-10-28 12:20] #1184 closed

[2020-10-28 12:20] #1170 closed

[2020-10-29 05:33] #1187 closed

[2020-10-29 05:33] #1188 closed

[2020-11-01 14:32] bartlomieju opened #1197 "panic: SourceMap::span_to_lines panics for empty file"
Add an empty file to `SourceMap` and parse it. Resulting `Program` has following span:
[code]

Calling `SourceMap::span_to_lines` with above span result in panic:
[code]

Offending line:
[code]

[2020-11-02 02:01] #1197 closed

[2020-11-04 08:11] TomasHubelbauer commented on #1115
Is this released yet?

I am getting this error:

[code]

I am using these versions:

[code]

This is my config:

[code]

[2020-11-04 08:13] kdy1 commented on #1115
@TomasHubelbauer
You should set `jsc.parser.importMeta` to true like

[code]

[2020-11-04 08:15] TomasHubelbauer commented on #1115
Thanks, I missed that there was a flag for this. It works now!

[2020-11-04 08:22] TomasHubelbauer opened #1202 "import.meta.url does not get transpiled when using module type commonjs"
**Describe the bug**

I'm looking for a transpiler that will convert ESM import/export to CJS require and will also convert `import.meta.url` to something like `__filename` or similar.

With SWC config below I was able to transpile ESM import/export syntax to CJS. However, `import.meta.url` has stayed unchanged.

**Input code**

[code]

**Config**
[code]

**Expected behavior**

Since `import.meta`

[2020-11-04 09:36] Brooooooklyn opened #1203 "Wrong comment position in return statement followed with comment"
### Input

[code]

### Output

always return `undefined`

[code]

[2020-11-04 22:09] konclave opened #1204 "Wrong unicode escaping for es5 target"
with a target set to es5 in .swcrc unicode character is escaped with code point escapes ( \u{somithing}) that was introduced in [ES6](https://ecma-international.org/ecma-262/6.0/#sec-literals-string-literals) and is not supported by es5 target browsers.

**Input code**
[code]
and got compiled string:
[code]

**Config**
[code]

**Expected behavior**
Unicode character to be escaped with simple unico

[2020-11-07 03:40] Jack-Works opened #1206 "panic: Crashes when Visitor visiting Object deconstructing pattern"
[code]

Crashes:

[code]

swc version: 1.2.37

[2020-11-07 12:55] Maxvien opened #1208 "Output: Import statement must be with `.js` not `.ts`"
**Describe the bug**

**Input code**
[code]
[code]

**Config**
[code]
**Result**
[code]

**Expected result**
[code]

The import statement must be with `.js`. Not `.ts`

**Version**
The version of @swc/core: 1.2.37

[2020-11-07 18:00] RDambrosio016 opened #1209 "Swc permits incorrect TypeScript code"
**Describe the bug**

Swc's TypeScript parser permits code which should not pass parsing.

**Input code**

[code]

It also permits this:

[code]

**Config**
None

**Expected behavior**
Parser error, an assign pattern cannot have a type annotation like that

**Version**
The version of @swc/core: `1.2.37`

**Additional context**

`parse_formal_param_pat` calls `parse_binding_element` which can parse

[2020-11-07 20:22] vijaybritto opened #1210 "JSON arrays have a semicolon attached at the end if they are parsed from files"
**Describe the bug**
SWC seems to attach a ; at the end of json files which have json arrays
**Input code**
[code]
#file.json
[code]
Error: Unexpected token ; at position 10
**Expected behavior**
A clear and concise description of what you expected to happen.
It should parse the json array which is valid json

**Version**
The version of @swc/core:

**Additional context**
Add any other context abou

[2020-11-08 01:59] #1203 closed

[2020-11-08 16:16] RDambrosio016 opened #1211 "Swc panics when private names are used as method signature names"
1. Source code
[code]

2. `.swcrc` file
None

3. Error message gained from `swc --sync <input.js>`
(--sync is required to get panic message)

[code]

4. Backtrace
It is coming from here when trying to parse an interface's type members (no backtrace was produced): https://github.com/swc-project/swc/blob/master/ecmascript/parser/src/parser/typescript.rs#L1224

# Reason

Swc uses `unreachable!` for p

[2020-11-09 16:58] avaly opened #1213 "Import not replaced correctly in default export class constructor"
**Describe the bug**

**Input code**
[code]

**Config**
[code]

**Expected behavior**

`foo` import should be replaced correctly in the default export class.

**Actual behavior**

[code]

**Version**
The version of @swc/core:

@swc/cli: 0.1.27
@swc/core: 1.2.38
node: 14.15.0

**Additional context**
Add any other context about the problem here.

[2020-11-09 17:40] bartlomieju opened #1214 "panic: regression in swc_bundler"
[code]

Using `swc_bundler` (`0.16.1`) embedded in `deno` (`1.5.2`):
[code]

This seems like a regression from previous version when bundler produced invalid output.

Ref https://github.com/denoland/deno/issues/7288

[2020-11-09 19:13] AndrewGrachov opened #1215 "async class method is being called without params"
**Describe the bug**

**Input code**
[code]

**Config**
[code]

**Expected behavior**
Async functions are being called with params

**Version**
[code]

**Additional context**
Add any other context about the problem here.

[2020-11-10 13:55] konclave commented on #1204
I did a little research and figured out that it started happening from 1.2.26. Version 1.2.25 doesn't convert unicode to \u{...} sequence.

[2020-11-11 21:07] LeeCheneler commented on #1165
Come across this whilst writing a jest transformer and testing istanbul coverage comments. It looks like all top level comments are stripped unless they're on the same line as some code.

Examples:

1. Comment is stripped:
[code]

2. Comment is stripped:
[code]

3. Comment remains:
[code]

3. Comment remains:
[code]

[2020-11-11 23:24] duncanbeevers opened #1216 "Bad interaction with ternary and await"
**Describe the bug**
A ternary that should always evaluate to a truthy value instead is evaluated as `undefined`

**Input code**
[code]

**Config**
No config file, just out-of-the-box swc

**Expected behavior**
Ternary should evaluate to truthy value `{ _id: '1' }`

**Version**
The version of @swc/core: 1.2.38

**Additional context**
[code]

[2020-11-11 23:30] LeeCheneler opened #1217 "Should `swc.bundle` output commonjs when `module: "commonjs"` is set?"
**Question**

Sorry if this is the in the docs or in another issue somewhere but I couldn't any clues!

Should `swc.bundle` output commonjs when `module: "commonjs"` is set, it currently doesn't.

[code]

When using `swc.transform` to transform the same code it does result in commonjs.

[code]

[2020-11-12 20:52] RDambrosio016 opened #1218 "Swc permits ts class names with disallowed names"
**Describe the bug**
Swc's `invalid_class_name` check should check the same identifiers as `typescript::parse_ts_interface` instead of only `any`. Here:
https://github.com/swc-project/swc/blob/master/ecmascript/parser/src/parser/class_and_fn.rs#L1077-L1097

Edit: it appears that tsc doesnt enforce this for `class intrinsic {}`, so that should be omitted.

**Input code**
[code]

**Config**
None

**

[2020-11-13 17:59] RDambrosio016 opened #1219 "optional class properties with a name of `static` or `declare` are incorrectly disallowed"
**Describe the bug**
`static? = 5` is allowed as a ts class property, however, swc does not allow it:
[code]
[code]

**Input code**
[code]

**Config**
None

**Expected behavior**
No parser errors

**Version**
The version of @swc/core: `1.2.37`

**Additional context**
It is caused by the [is_class_property](https://github.com/swc-project/swc/blob/master/ecmascript/parser/src/parser/class_and_fn.rs#

[2020-11-14 16:22] #1173 closed

[2020-11-19 11:42] #1211 closed

[2020-11-20 05:14] kdy1 opened #1224 "V2 Meta issue"
- [ ] Change default value of jsx runtime to automatic.

[2020-11-20 11:27] tomm opened #1225 "Spack error when importing 'axios' module"
Using spack, any project that includes axios will fail with an error.

Code:

[code]

Error:
[code]

[2020-11-20 17:04] #1204 closed

[2020-11-22 02:49] #1168 closed

[2020-11-22 19:29] kdy1 commented on #1225
Can you try this again with `swc@v1.2.39`?

[2020-11-23 12:14] wessberg opened #1227 "Unicode Code Point Escape syntax is not transpiled"
**Describe the bug**

[Unicode Code Point Escape syntax](https://exploringjs.com/es6/ch_unicode.html) is not being transformed to ES5-compatible syntax when `es5` is the target.

It would seem that swc is always assuming traditional unicode escape sequences of on the form `\u` followed by four digits and simply doesn't parse code point escape syntax.

**Input code**
[Please see this repro](https:/

[2020-11-23 12:24] tomm commented on #1225
Still the same error.

$ npx spack --version
@swc/cli: 0.1.27
@swc/core: 1.2.39

[2020-11-23 16:34] #1080 closed

[2020-11-23 17:06] kdy1 commented on #1098
Closing as fixed by the bundler rework
I tested using `spack/integration-tests/react`

[2020-11-23 17:14] anshulrgoyal commented on #1098
@kdy1 test are working but i u try it yourself it won't work in a browser.

[2020-11-23 17:15] kdy1 commented on #1088
Closing as fixed.

I used

`spack.config.js`:

[code]

[2020-11-23 17:16] #1088 closed

[2020-11-23 17:54] #1216 closed

[2020-11-25 08:37] eco747 commented on #1165
I'm using comments to handle a kind of .ts templating & got the same problem

[code]

result:

[code]

[2020-11-25 11:54] kdy1 opened #1230 "Detailed control of transforms"
Need to determine api.

[2020-11-25 16:55] intrnl commented on #1134
+1 for this, but some additional notes.

`importsNotUsedAsValues` will not do the option you think it is, it'll still strip the named imports, leaving only `import "abc"` for the side effect. I've tested this with tsc and esbuild.

Personally, I think that it'd be better to enforce the use of `import type` for importing types, as we can just strip that off immediately. We could take something like

[2020-11-26 08:16] vforsh opened #1231 "for loop doesn't transpile correctly"
**Describe the bug**
I have this simple piece of TypeScript code:
[code]
When I transpile it to js (with latest swc 1.2.39)  it becomes:
[code]
The issue is that ` _loop` (line 3) is used before it was declared hence I get this error
[code]

**Input code**
https://gist.github.com/vforsh/9c26b7a05f3abed21e494a2888bbbce6

**Config**
npx swc .\test.ts -o test.js

**Version**
The version of @swc/core:

[2020-11-26 10:09] marchaos opened #1232 "Getting error "import * as foo cannot be used with other type of import specifiers""
**Describe the bug**

Whilst parsing our codebase we are seeing an error "import * as foo cannot be used with other type of import specifiers"

**Input code**

in places we use "import * as action from './actions'" mixed within other import statements, which is perfectly legal, and works fine with tsc and babel.

**Config**
[code]

**Expected behavior**

Not sure why it says that these cannot be u

[2020-11-26 15:26] jsedlacek opened #1233 "Multiline attributes in JSX result in invalid javascript"
**Describe the bug**

When JSX contains multi-line attributes, the resulting javascript code is invalid:

[code]

**Input code**

[code]

**Config**
[code]

**Expected behavior**

The resulting javascript is valid:

[code]

**Version**
The version of @swc/core: 1.2.39

**Additional context**

Typescript and Babel handle this use case correctly.

[2020-11-27 10:37] #1214 closed

[2020-11-27 13:29] majo44 opened #1235 "Unpropped async class method transform when target is es2017 or bellow."
**Describe the bug**
Unpropped async/await transform when target is es2017 or bellow.

**Input code**
[code]

**Config**
[code]
**Execution**
[code]
**Current behavior**
[code]
**Expected behavior**
No error

The generated code is:
[code]

**Version**
The version of @swc/core: 1.2.39

[2020-11-27 15:29] snaumov commented on #1233
bumped into it today as well, made a small [repr](https://repl.it/@amigozz/multiline-bug)

a working example in [babel](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=JYWwDg9gTgLgBAJQKYEMDG8BmUIjgcilQ3wG4AoctCAOwGd4BZATwGFdIakb4BeOABQBKOLwB8g8nDgAeACbAAbmKnTZAZVxJ24Wtxiq1cGEgAeMXgCIAKgAskcEClOgArnhruARkihwIm

[2020-11-28 02:29] kakoc commented on #1218
As I see ecmascript specification doesn't tell that you can't create `class number {}`, seems that it's totally fine.
But at the same time typescript mentions that point.
So probably even any should be removed from `invalid_class_name` as an invalid name.

[2020-11-28 02:54] RDambrosio016 commented on #1218
Its fine for ECMAScript code, its not fine for TypeScript code, TypeScript can include as many restrictions as it wants since its a superset. Even if technically this means your ecmascript code using `class any {}` wont work. Its best that a TS parser stays consistent with TSC instead of not enforcing this.

[2020-11-28 06:28] pyrocat101 opened #1236 "SWC inputSourceFile does not respect sourceMappingURL"
**Describe the bug**

The documentation of SWC config says the following for [`inputSourceMap`](https://github.com/swc-project/swc/blob/4490e2551dc806d39b20b4520f7101cab06e4a21/node-swc/src/types.ts#L152-L161) option:

[code]

But the actual logic is that if the file is named X.js, then SWC assumes its source map file is located at X.js.map.

**Input code**

[code]

**Config**
N/A

**Expected beha

[2020-11-28 07:05] FabianSellmann opened #1238 "Provide binary for android"
**Describe the feature**
Basically to run swc on android (e.g. by using termux) one would need a binary for android / arm64.

Currently getting this error on yarn install:
[code]

[2020-11-28 07:25] JiangWeixian opened #1239 "how to walk swc ast"
**Question**

[code]

how to walk result? like acron-walk

[2020-11-28 07:41] kdy1 commented on #1239
There's a visitor, but the ast node types are bit outdated.

I'll fix the inconsistency with https://github.com/swc-project/swc/pull/1229

[2020-11-29 05:32] JiangWeixian commented on #1239
@kdy1 thanks reply

may i just traverse ast, but no transform

[2020-11-29 06:02] JiangWeixian commented on #1239
forget it, it's really easy to write a traverse.. 😀

[2020-11-29 20:43] dsherret opened #1243 "Remove implementing Spanned on Option?"
**Question**

What do you think about removing `Spanned` on `Option`?

[code]

I had a bug happen because I didn't realize a value was optional and calling `.span()` on it didn't result in a compile error. Perhaps it would be better to force people to handle the scenario of it going to `None` on their own as wouldn't it going to the `None` case here always be an indication of a bug?

[2020-11-29 21:06] besok commented on #334
Hey guys! I am a beginner in rust and, obviously, that project but it seems very interesting to me and I would like to aid, kicking off from the small easy task. Would you mind assigning this issue to me and I will try to close it?

[2020-11-30 08:25] kdy1 commented on #1243
If I remember correctly, it was required to implement codegen because of `Vec<Option<ExprOrSpread>>`.
I'll see if I can implement it without `Spanned` impl.

[2020-11-30 10:20] #1149 closed

[2020-11-30 10:20] #1233 closed

[2020-11-30 10:20] #1125 closed

[2020-11-30 10:20] #1215 closed

[2020-11-30 10:20] #1235 closed

[2020-11-30 14:12] kdy1 commented on #334
@besok I did it. Thank you!

[2020-12-03 13:25] Exilz commented on #1160
@kdy1 Any news regarding this issue ? We have a similar problem that's preventing our team from switching to swc. We're using https://github.com/RobinBuschmann/sequelize-typescript and decorators are a problem for us right now.

[code]

TSC:
[code]

SWC:
[code]

Switching to swc would be a game changer for our team.

[2020-12-03 13:28] kdy1 commented on #1160
@Exilz I'll fix this soon.

I expect today or tomorrow (It's almost 11 PM here, so...)

[2020-12-03 19:59] jhechtf opened #1249 "[RFC] Snowpack Usage: what would you want to see in a Snowpack Plugin?"
**Question**

I've recently come across SWC and honestly I _love_ it. I've been complaining about there needing to be a faster compiler for TS since the moment I've worked on a large enough code base.

As an aside, I've also started preferring to use Snowpack whenever possible, and have created an (as yet unreleased) plugin to use SWC to compile TS files.

Are there any particular things you would

[2020-12-03 20:05] kdy1 commented on #1249
What comes to my mind right now is an option to use external helpers.
It would greatly reduce bundle size.

[2020-12-03 20:07] kdy1 commented on #1160
Fixed it.

May I list your company on the site as swc user after the migration?

[2020-12-03 20:10] Exilz commented on #1160
@kdy1 I need to ask the CEO permission but I guess we'd be happy to be listed on the website !
How do I go about testing your fix ? Do I need to build the source myself ? I've never used rust before so I'm not sure where to start.

[2020-12-03 20:10] jhechtf commented on #1249
@kdy1 could you give me an example of how you would expect to use that? As it is I am unsure what that would look like (meaning I wouldn't be able to add in the functionality)

[2020-12-03 20:14] kdy1 commented on #1249
@jhechtf Do you use it from javascript? If then, https://swc.rs/docs/configuring-swc.html#jscexternalhelpers will help.
All options in `.swcrc` files are also supported from `@swc/core`, so you can specify option in similar way.

I think reading description of https://github.com/microsoft/tslib will help understanding results. (I'm not english native and have limitations in explaining)

[2020-12-03 20:17] kdy1 commented on #1160
@Exilz I'm now in progress of publishing. Github actions will publish new version.
Typically it takes about one hour.

Oh. I noticed that github updates text real-time.

[2020-12-03 21:15] Exilz commented on #1160
@kdy1 thanks a lot for the update. I'm still in the process of refactoring our code, but it looks like we're one step closer to migrating to swc.

However, I noticed a couple of things :

- Using enums as the issue stated, it doesn't work if the enum is imported from another file. It compiles properly when the enum is declared in the same file, though.

[code]

which compiles to

[code]

- The exa

[2020-12-03 21:19] kdy1 commented on #1160
I'll just reopen this.
But I'm not sure if knowing a type is enum without evaluating dependencies.
(tsc works by loading all file, while swc and babel work in one-by-one manner)

Evaluating deps is not hard, but I'm not sure about the api change.

[2020-12-03 22:08] brielov opened #1250 "How to use jsx factories with typescript?"
I'm trying to upgrade my react template app to use swc instead of babel. This template is currently configured to use jsx factories (it doesn't need React in scope). Is this feature supported? Babel has a `runtime: "automatic"` option.

[2020-12-03 22:09] kdy1 commented on #1250
I'm working on it at https://github.com/swc-project/swc/pull/1223

[2020-12-03 22:12] brielov commented on #1250
@kdy1 Thanks! One more thing, my template also has configured react's `fast refresh` through `react-refresh/babel`. Is this something you are looking to implement in the future?

[2020-12-03 22:12] Exilz commented on #1160
@kdy1 I understand what you mean, this is quite a big change for the project as a whole.
However, I guess importing a type or an enum and using it like this is a common usage, right ?

If this isn't implemented, you'd need to document it and make sure people are aware of this because it's quite "sneaky", and the errors it can generate when running your app won't make sense to most people.

Maybe t

[2020-12-03 22:14] kdy1 commented on #1250
Of course. But I'm busy these days.

[2020-12-03 22:15] brielov commented on #1250
@kdy1 awesome, thanks for responding so quickly 🍻

[2020-12-03 22:16] #1250 closed

[2020-12-03 22:16] kdy1 commented on #1160
I don't think it's sneaky. Why it's sneaky?
It is just misunderstanding about the way tools work.

[2020-12-03 23:09] Exilz commented on #1160
Well, because something that's working within a single file will break when using imports.
Sneaky isn't quite the right word, but it will probably confuse people.

[2020-12-04 10:29] hcesar commented on #1160
I believe this single file limitation will be a deal breaker for most people interested in SWC.

If SWC can't be a transparent replacement for TSC, there will be just very few use cases where it will be used.

[2020-12-04 10:35] kdy1 commented on #1160
I'm actively working on the type system, which will allow any transforms requiring type informations.

Even though the issue can be fixed by simple hack, I'm not sure if it's correct way to go. It requires lots of opinionated approach.

[2020-12-05 23:21] dsherret opened #1251 "TsSignatureDecl - Never Used?"
**Question**

It seems `TsSignatureDecl` is never referenced anywhere in the AST. I think it could be removed?

[2020-12-06 09:43] Brooooooklyn opened #1252 "Ts generic parse error when tsx: true"
**Describe the bug**
[code]

**Input code**
[code]

**Config**
[code]

[2020-12-06 12:29] stavalfi commented on #414
@kdy1 you are fuc*** Santa Claus!! Thank you for all your AMAZING work!!!!!! you are making our development so much better and fun!! thanks you!!!!

cc @novemberborn for ava

[2020-12-06 12:35] kdy1 commented on #414
@stavalfi Haha, thanks you for using swc. I had hard time implementing swc, and I'd really like to see it being used.

If you are using it at work, can I add a link to the homepage?

[2020-12-06 13:45] stavalfi commented on #414
@kdy1 We don't have a website. The closest thing we have is: https://www.linkedin.com/company/octopol/?originalSubdomain=il (maybe hide it under a link: [octopol.io](https://www.linkedin.com/company/octopol/?originalSubdomain=il))

I'm sorry that we can't provide you something fancier :P

[2020-12-06 14:28] kdy1 commented on #414
@stavalfi  It's enough, thanks!

[2020-12-06 17:22] andrew-knack opened #1253 "How do you actually use a custom plugin?"
In the documentation it [shows how to write a plugin](https://swc.rs/docs/usage-plugin) and how to use it programatically but fails to mention how to configuring it by using a `.swcrc` file.

I've looked through all the documentation and a decent amount of the source code and the only mention I can see is [this commented out option on the cli](https://github.com/swc-project/cli/blob/master/src/spa

[2020-12-06 21:01] jeremyBanks opened #1254 "syntax errors and incorrect exports produced by spack when encountering reserved name"
**Describe the bug**

In some cases, spack can generate invalid syntax such as

[code]

This is invalid because `instanceof` is a context-dependent keyword that is not allowed to be used as a variable name, though it is allowed to be used as a property name and export name.

In some cases, spack instead appears to omit exports with such names, which also causes the program to fail:

[code]

I enco

[2020-12-06 21:40] jsedlacek opened #1255 "Source maps `sources` are relative to root instead of to `.map` file"
**Describe the bug**

Source map `sources` are related to root instead of to `.map` file.

I have source (Typescript) files inside the `src` folder and generate (javascript) into the `build` folder using:
[code]

The `build/index.js.map` contains:
[code]

When compiled via `tsc`, the result is:

[code]

**Input code**

src/index.ts:
[code]

**Config**
[code]

**Expected behavior**

The `source` re

[2020-12-07 04:36] jeremyBanks commented on #1254
Not specific to TypeScript. Reproduces the same in 0.1.26.

[2020-12-07 17:00] sgtpep opened #1257 "Support for armv7l"
It would be extremely useful if this project supported ARMv7. That would, for instance, make it possible to use Raspberry Pi for development.

[2020-12-08 04:14] Brooooooklyn commented on #1257
I will do it in https://github.com/swc-project/swc/pull/1244

[2020-12-08 10:45] Brooooooklyn commented on #1238
I will do it in https://github.com/swc-project/swc/pull/1244

[2020-12-08 12:22] kdy1 commented on #1253
Such api is planned and now it's possible, but I'm too busy these days.
Next week is final exam, so I will have lots of time after it.

I'll try implementing this.

[2020-12-08 12:23] kdy1 opened #1258 "transformSync does not respect isModule: false"
(Reported by slack.)

Additionally, invalid arguments should result in serde error, not parsing error.

[2020-12-08 12:26] kdy1 commented on #1251
I'll remove it at next breaking change.

[2020-12-08 18:41] nhumrich opened #1259 "Single quotes not correct when inside of template quotes."
**Describe the bug**
When any string started with template quotes: \` starts with a single quote `'`, the single quotes are not correct in the final compiled code.

## Example 1:
[code]
produces:
[code]

Note the extra `R'` at the end, and wrong quotes on the outside:
[code]

It should be
[code]
Or the below even works fine.
[code]

## Example 2:

[code]

Produces the following:
[code]

but it sho

[2020-12-09 00:38] dsherret opened #1261 "Ability to borrow leading and trailing comments from SingleThreadedComments"
**Describe the feature**

Right now `SingleThreadedComments` is defined as such:

[code]

For the "ast view" of swc I'm working on, I would like a way to get a reference to both the leading and trailing inner maps (`&FxHashMap<BytePos, Vec<Comment>>>`).

Perhaps similar to `take_all()` it could be something like `borrow_all()`:

[code]

This will allow me to only have to borrow once from the `RefC

[2020-12-09 02:26] #1261 closed

[2020-12-09 02:51] FabianSellmann commented on #1238
Awesome! Thanks a lot!

[2020-12-09 23:09] cspotcode opened #1265 "Fails to load in yarn 2 PnP"
**Describe the bug**

@swc/core does not load under yarn 2 PnP.

The root cause is in `@node-rs/helpers`, but once it's fixed, it will require a tiny code change in `@swc/core`

Here is a description of the root cause of the failure.
https://github.com/napi-rs/node-rs/issues/263

Once the root cause is fixed, `@swc/core` will need to adjust it's `loadBinding` call like this:
https://github.com/swc

[2020-12-10 01:20] cspotcode commented on #179
According to the test case added in cc32eda, swc is still preserving type-only imports.

[code]
...becomes
[code]

In order for TypeScript to behave the same way, we need to set `"importsNotUsedAsValues": "error"` in `tsconfig.json`.

However, TypeScript's default & legacy behavior is to remove that import statement entirely.

[2020-12-10 06:32] pyrocat101 commented on #1236
Thanks!

[2020-12-10 06:33] kdy1 commented on #1236
I think this isn't fixed yet.
(The pr mentions this because it's postponed)

[2020-12-10 07:06] Brooooooklyn commented on #1265
I will fix it in https://github.com/swc-project/swc/pull/1244

[2020-12-11 09:07] Liamolucko opened #1266 "[Codegen] TsQualifiedName has trailing dot"
When using swc for codegen, `TsQualifiedName` has a trailing dot.

I tried this:
[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]

I'm using `swc_ecmascript = { version = "0.15.0", features = ["codegen"] }`, `swc_common = "0.10.7"`

(I'm not sure if this template's supposed to apply to the crate, but I'm using it anyway)

[2020-12-12 23:07] mgol opened #1271 "Dynamic imports don't work even with jsc.parser.dynamicImport set to true"
**Describe the bug**

Dynamic imports don't work even with `jsc.parser.dynamicImport` set to true. Meanwhile, the script below prints:
[code]

**Input code**

Save the following contents as `/Users/myuser/test.ts` (or any other path as long as you update it in the script as well):
[code]
and run the following code:
[code]

**Config**
Config is embedded in the script above.

**Expected behavior**
T

[2020-12-13 08:55] Liamolucko opened #1272 "Lexer hangs on unexpected chars"
**Describe the bug**
The lexer hangs on unexpected characters. I did some investigation and it seems like it never bumps its offset and keeps parsing the same character.

**Input code**
Unusual characters, e.g. `\u{16}`

**Expected behavior**
It should return a `Token::Error` and continue lexing.

**Additional context**
Causes denoland/deno#8719

[2020-12-13 22:57] cspotcode opened #1275 "Use @swc/core with wasm, when native modules cannot / should not be used"
**Describe the feature**

On some projects, native code cannot / should not be used for various reasons.  For example, yarn2 would like to compile with swc but their project is configured so that they can't rely on native modules.

It would be nice if @swc/core automatically uses the WASM build when the native modules are not available.

Alternative, is there a way to configure @swc/core to use th

[2020-12-14 07:37] #1272 closed

[2020-12-15 15:05] majo44 opened #1276 "Compiler replace "\/" literal by the "\//"."
**Input code**
[code]

**Output code**
[code]
in comparison to result from typescript:
[code]
**Version**
The version of @swc/core: 1.2.40

**Additional context**
I'm working on huge project where we used the babel/typescript, now trying to migrate to swc.js and such behavior was very surprising, and hard to find, as this broken some very deep regular expression, from the third party  :) .

[2020-12-16 03:53] kdy1 commented on #571
Current status, as someone asked about it on slack.

Typescript type system can be implemented in three steps. Those are namely type inference, `.d.ts` generation, and type checking.

Currently the type inference and `.d.ts` generation is almost there.
I’m applying it to the famous libraries like rxjs to find bugs.
There are some, but it's being improved steadily.

For type checking, it can only c

[2020-12-16 16:31] RIP21 opened #1554 "ReferenceError: _interopRequireDefault is not defined"
This is what I get for a typical CRA v4 app where I have overridden babel transform with the current one.
[code]
Override looks like
[code]
which results in transform like

[code]
Which is absolutely valid but doesn't work.

CRA v4 uses Jest 26.

It's all against TypeScript codebase.

BTW, 15 tests even passed. But not other 240 or so :)

[2020-12-16 17:25] remorses commented on #571
@kdy1 i hope you can start some sort of business with this project and be able to compete with tsc, I would be happy to pay to have a faster tsc and tsl alternative

Wish you all the best!

[2020-12-16 19:48] punkeel opened #1277 "Publish wasm module for web"
**Describe the feature**
`@swc/wasm` is deployed automatically to npm but targetting nodejs runtime.
https://github.com/swc-project/swc/blob/25856f230c604868aea7a957ce5f29fe82d2c8b5/.github/workflows/publish-wasm.yml#L39

It would be helpful to have the browser bindings deployed to npm as well.

[2020-12-17 18:54] Nerixyz opened #1278 "Referencing Decorated Class in Parameter-Decorator"
**Describe the bug**

If the decorated class is referenced in a parameter-decorator, swc produced an "invalid" output. The output tries to access the class before it's initialized causing the following error message: `ReferenceError: Cannot access 'MyClass' before initialization`

**Input code**

[code]

**Config**
[code]

**Expected behavior**

Compiling the same code with `tsc  --experimentalDec

[2020-12-17 22:21] Nerixyz opened #1279 "Name of Decorated Class isn't the Original Name"
**Describe the bug**

When decorating a class, the output-class won't have the original name.

**Input code**

[code]
**Config**
[code]

**Expected behavior**

The script should output `MyClass MyDecoratedClass` instead of `MyClass MyDecoratedClass1`

**SWC Output**
[code]

**Version**
The version of @swc/core: 1.2.40

[2020-12-18 13:27] lexanth opened #1280 "Tagged template literal which starts and ends with quotation marks gives unterminated string"
**Describe the bug**
SWC fails to correctly transform a tagged template literal which starts and ends with a single quotation mark

**Input code**
[code]

**Config**
[code]

**Actual output**
Note the double "o" in "Hello" and the unterminated string
[code]

**Expected behavior**
Double quotes around the single quotes and escape the single quotes
[code]

**Version**
The version of @swc/core: 1.2.4

[2020-12-19 14:48] #843 closed

[2020-12-20 13:27] #1266 closed

[2020-12-21 10:16] kdy1 commented on #1271
You should remove `jsx: true`.

Anyway, this should be error... But it will be fixed by #1244.

[2020-12-21 10:16] #1271 closed

[2020-12-21 18:25] besok commented on #334
Hey. I have analyzed common and border cases and it turned out that possible scenarios have been covered. I added a couple of tests to preserve it for the future.
@kdy1, presumably, the issue can be closed.

[2020-12-21 19:27] #1280 closed

[2020-12-21 19:27] #1259 closed

[2020-12-21 19:27] #1276 closed

[2020-12-21 20:54] besok commented on #343
Hello, can i take this issue?

[2020-12-22 00:08] kdy1 commented on #343
Of course. It would be really appriciated.

[2020-12-22 05:12] #334 closed

[2020-12-22 09:03] besok commented on #343
may you assign it to me otherwise it will hard to find?

[2020-12-22 17:33] punkeel commented on #1277
`@swc/wasm-web` wasn't published to npm because of the following error:
[code]

[2020-12-23 04:36] #1277 closed

[2020-12-26 08:57] 9oelM commented on #50
Now that @swc/wasm-web is successfully published, it should be duly possible to make an online repl. I'm happy to work on this. Can I do this?

[2020-12-26 09:05] kdy1 commented on #50
@9oelM Of course. Thanks a lot!
I always wanted an online repl but I had too many bugs to fix.

[2020-12-26 09:17] 9oelM commented on #50
Alright I find some problems with that while trying to bootstrap the project with `@swc/wasm-web`. I will file some issues.

[2020-12-26 09:24] 9oelM opened #1291 "@swc/wasm-web references wasm_bg.js but it does not get published together with it"
It's not about @swc/core, but it's more of just publishing problem, I guess.

![Screen Shot 2020-12-26 at 6 18 43 PM](https://user-images.githubusercontent.com/22465806/103148809-ecec8980-47a6-11eb-8659-2c124114484a.png)

For some reason it exports `wasm_bg.js`, but it does not come with `wasm_bg.js` anyways (see left side).

Where is wasm_bg.js supposed to come from?

## How to reproduce

Just in

[2020-12-26 09:36] 9oelM commented on #50
#1291

[2020-12-26 09:38] 9oelM commented on #1291
Ok well we are using wasm-pack to roll it out to wasm, and there's a relevant issue on this. may need a fix on github workflow. https://github.com/rustwasm/wasm-pack/issues/837

[2020-12-26 09:47] 9oelM opened #1292 "More rigorous typing for wasm"
**Describe the feature**

Right now, if you install @swc/wasm-web, the type definition comes along with it, but it is going to have `any` types, which is not really useful. I think `opts` could be typed better. `swc/wasm/src/lib.rs` describes what's inside opts already, so it should be easy to add typings.

[code]

[2020-12-26 09:49] kdy1 commented on #1291
It seems like we need to modify (generated) package.json file

[2020-12-26 09:53] 9oelM commented on #1291
I will try to figure out a way

[2020-12-26 10:02] 9oelM commented on #1291
Yeah. So just like what you said, inside package.json:

[code]

This will just do it. I will make a PR.

[2020-12-26 10:40] 9oelM commented on #1292
There is an option in wasm-bindgen to generate type definitions: https://rustwasm.github.io/wasm-bindgen/reference/attributes/on-rust-exports/typescript_custom_section.html

I can get this working soon

[2020-12-26 11:04] #1291 closed

[2020-12-26 13:58] 9oelM commented on #50
https://9oelm.github.io/swc-wasm-demo/

@kdy1

how should I move it into this repo?

[2020-12-26 14:21] kdy1 commented on #50
Wow, cool!

I think it would be great if it's integrated with the [website](https://github.com/swc-project/website), just like babel's one.
But it would need some design work and using react

So for now, uploading it to https://swc.rs/repl would be enough.
Can you make a pr to the public directory at https://github.com/swc-project/website/tree/master/website/static ? (with repl directory)

[2020-12-26 14:29] 9oelM commented on #50
Yeah. I'm not a designer so perhaps somebody else could help later on the design 😂

Okay. I will do that soon. I'm recently busy with work stuffs, so I will do it in a few weeks.

Thank you!

FYI, this demo project already uses React :)

[2020-12-26 14:31] kdy1 commented on #50
@9oelM Sounds great. I hope I can do some design work...

[2020-12-26 19:55] devongovett opened #1294 "Global insertion overwrites local variable values"
**Describe the bug**

When using the global replacement feature, it also affects variables of the same name that are declared locally. I'm guessing something in [inline_globals.rs](https://github.com/swc-project/swc/blob/master/ecmascript/transforms/src/optimization/inline_globals.rs) needs to check the scope. I had a look around the code but I'm not sure where to get the scope information necessa

[2020-12-27 17:50] devongovett commented on #1294
I ended up building a [DeclCollector](https://gist.github.com/devongovett/975ef26640a702998124bc2914972cae) pass that can be run prior to the inline_globals pass, which collects all declarations into a hash map that can then be checked to see if a referenced identifier points to an existing declaration or not. It must be done in a separate pass because of the possibility of variable hoisting (decl

[2020-12-29 02:20] bichikim opened #1299 "tsx generator syntax error"
The generator function is not a jsx element

`error: Expected (, got < (jsx tag start)`

![image](https://user-images.githubusercontent.com/13829322/103254167-a629aa00-49c7-11eb-9414-94b197e35ade.png)

**Input code**
[code]

**Config**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
The SWC should compile it same as Babel

**Version**
The version of @s

[2020-12-29 07:18] kdy1 commented on #287
Closing as there's no information to debug this.

[2020-12-29 07:18] #287 closed

[2020-12-29 07:19] kdy1 commented on #1249
Closing as not suitable for issue. I enabled github discussion for swc, so please use it instead.

[2020-12-29 07:19] #1249 closed

[2020-12-29 07:22] kdy1 commented on #1254
Closing as fixed by https://github.com/swc-project/swc/pull/1296

[2020-12-29 07:22] #1254 closed

[2020-12-30 05:30] #1238 closed

[2020-12-30 05:30] #1257 closed

[2020-12-30 05:30] #1265 closed

[2020-12-30 10:24] besok commented on #343
the regex seems to be working fine. The single-line comment and multiline comment has a higher priority and be skipped while parsing. I added a couple of tests which summoned to display that.
Therefore I guess the issue can be closed.

[2020-12-30 10:26] kdy1 commented on #343
@besok Thanks! I'll close this with #1303.

[2020-12-30 14:11] besok commented on #379
hello, can i take on this issue?

[2020-12-30 14:12] kdy1 commented on #379
Of course, thank you in advance.

[2020-12-30 14:13] #343 closed

[2020-12-30 18:49] snewcomer opened #1304 "Unable to transform private fields with decorators"
**Problem**

When transpiling private class [fields](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Private_class_fields) with decorators, I get an error - `not implemented: ClassMember::PrivateProp(PrivateProp...`

Run from command line `npx swc index.js`

**Input code**

[code]

**Config**

[code]

**Expected behavior**

I expect private class fields to also transpile

[2020-12-30 21:57] meme opened #1306 "Incorrect renaming of private members when a property is accessed"
**Describe the bug**

A property access on a private member causes code generation to malfunction and emit the name directly instead of using the `_classPrivateFieldGet` guard. This results in a "Private field 'XXX' must be declared in an enclosing class" error.

**Input code**
[code]

Compiling and running this code results in:
[code]

**Expected behavior**

Instead the following code should be e

[2020-12-31 03:03] tamasfe opened #1307 "panic: re-export alias"
<s>Probably a data race, `--sync` fixes it.</s>

1. Source code
[code]

2. `.swcrc` file
[code]

3. Error message gained from `swc --sync <input.js>`
[code]

4. Backtrace

[code]

[2020-12-31 03:28] tamasfe commented on #1307
Actually, just `--sync` doesn't seem to fix it, as the generated code will still be either incorrect, or will still panic in some cases.

The following can be used as a workaround:

[code]

[2020-12-31 11:14] NoPhaseNoKill commented on #571
@kdy1 I would be interested in helping you out with this project. The type-checking for TS - considering it will be the main thing most web-developers use in the next 5 years - is horrendously slow.

I also have buy-in from the company I work for to work on this for 2/3 months full-time. Please let me know if you're interested

[2020-12-31 11:40] kdy1 commented on #571
@NoPhaseNoKill
Thank you, but the program has been implemented a lot and there are a lot of challenges to get help from others.
Of course, it would be great if it was completed quickly, but it's a proprietary software and I'm preparing a business with it.

[2020-12-31 11:53] NoPhaseNoKill commented on #571
No worries at all. If you need anyone at any stage to test anything on medium/larger sized repositories, please let me know.

[2020-12-31 11:57] kdy1 commented on #571
@NoPhaseNoKill Thanks you for understanding. I would absolutely need tester. I'll ping you at the time.

[2021-01-01 12:28] mmunte-impeo opened #1309 "How can .swcrc be configured so that swc will generate sourcemaps"
This is how my swcrc looks like.

I tried to read some of the rust source code but I could not understand how to correctly formulate the JSON below so that sourcemaps are generated.

[code]

[2021-01-02 23:00] dwoznicki opened #1312 "Compilation error while running cargo test"
**Describe the bug**

After cloning the swc repository and following [the development environment setup guide](https://github.com/swc-project/swc/blob/master/CONTRIBUTING.md#getting-your-development-environment-set-up), I get a compilation error while running the cargo test command.

[code]

I'm not sure if this is an issue with the project, my environment, or something else (not terribly familiar

[2021-01-04 07:19] IWANABETHATGUY opened #1314 "transform template literal error"
## dependency
1. @swc/cli@0.1.27
2. @swc/core@1.2.43
## code
[code]
## .swcrc
[code]
## output
[code]

## expected
[code]

## babel playground
https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBAhjAvDA3gKBjAtgUygCxABMAKASlQ0xlElmgCcBLMAcyRgAM0B3JoggC4YAEhQBZOAQB0cAEYQSBJhGnAArgwY4wUABowAtDGWrocBvqMwAN

[2021-01-04 11:24] besok commented on #379
attached the documentation to the future.
https://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping

[2021-01-05 05:59] soilSpoon opened #1316 "Support Object Literal Shorthand Syntax"
**Describe the feature**
Support [Object Literal Shorthand Syntax](https://eslint.org/docs/rules/object-shorthand)

I think the contents of `bundler/tests/fixture/deno-8626-1/output/entry.ts` file should look like this

[code]

[2021-01-08 04:23] kdy1 opened #1321 "Plugin system rewrite for swc and spack"
# swc

We should

  - [ ] Allow specifying plugin in `.swcrc` file.

This requires calling js function from rust. See https://docs.rs/napi/1.1.1/napi/struct.JsFunction.html for apis for it.
We should create a `sync::channel` and call the stored js function javascript thread because the javascript function is not `Send` nor `Sync`.

 - [ ] Support calling babel plugins

It can done by converting th

[2021-01-08 04:43] mfeckie commented on #1321
What format would the plugins take in `.swcrc`?

[code]

[2021-01-08 04:48] kdy1 commented on #1321
@mfeckie

It should be string for now. In future, we may add support for javascript functions within `.swcrc.js`, just like babel.

[2021-01-08 05:04] mfeckie commented on #1321
[code]
The user would have this item in their `package.json`

[code]

And `my-plugin` would be built and published via `napi-rs` or would it be plain JS and `napi-rs` would only be used withing `swc` to make it callable?

[2021-01-08 05:07] kdy1 commented on #1321
I think plugins should be written in plain javascript.

The ast definition changes over time, and it means native binaries should be rebuilt frequently. It's bad for plugin users.

[2021-01-08 05:22] dwoznicki commented on #1321
I'm quite interested in spack as a replacement for webpack. I can look into this unless someone else is.

[2021-01-08 09:46] traverse commented on #1271
Am still running into this using the `swc-loader` with `@swc/core@1.2.43` not sure if I should've made an issue there or just here since this seems related. Tried different parser options but didn't find a working combination.

[2021-01-09 04:12] dannymcgee commented on #119
@fabiosantoscode @kdy1 Did this ever happen? I'm using Rollup with a ton of custom plugins on a pet project, but I have one TypeScript transformer in the mix (currently relying on ast-types/recast), which slows the build process down a ton when I enable it. I'd love to be able to migrate just that transformer over to swc instead of having to migrate my entire build system over to spack (although m

[2021-01-09 10:34] fabiosantoscode commented on #119
Hey there! I procrastinated this and eventually forgot about it.

Apparently there are already plugins for swc, I quickly googled this one: https://github.com/mentaljam/rollup-plugin-swc

[2021-01-09 18:28] Japroz-Saini opened #1323 "typescript conversion"
**Question**
Hi, can anyone please send me a code snippet on how to convert a typescript file to javascript using this library.

[2021-01-10 00:41] dannymcgee commented on #119
Googling would have been a good bet. 😆 Thanks for the link, I'll check it out!

[2021-01-11 21:06] heygrady opened #1324 "Support baseUrl (non-relative imports)"
It is a common patten in TypeScript (and create react app) projects to specify a `baseUrl` in the `tsconfig.json` to allow for absolute URL imports.

[code]

Example project structure:

[code]

Example code:

[code]

[code]

**Babel plugin or link to the feature description**

- https://www.typescriptlang.org/docs/handbook/module-resolution.html#base-url
- https://create-react-app.dev/docs/importi

[2021-01-12 00:30] heygrady commented on #1324
- https://www.npmjs.com/package/typescript-transform-paths
- https://github.com/Microsoft/TypeScript/issues/15479#issuecomment-300240856

For more context, TypeScript has limited support for generating output code that respects the `buildUrl` settings. The transform paths plugin does this and it requires a custom compiler ([`ttypescript`](https://github.com/cevek/ttypescript/)).

What I'm most wor

[2021-01-12 09:26] joebnb opened #1326 "transform anuglar compilerjs faild"
[code]

seems a inner error,these code not found in compiler.js

[2021-01-12 12:59] #966 closed

[2021-01-13 09:08] soilSpoon opened #1327 "Support Typescript 4.2"
**Describe the feature**
`Typescript 4.2 beta` has been released.
Please prepare support for `Typescript 4.2` version.

**Additional context**
https://devblogs.microsoft.com/typescript/announcing-typescript-4-2-beta/

[2021-01-13 09:53] kitsonk commented on #1327
I've run several changes in the release note through master...  The only thing that swc seems to have a problem with is [Abstract Construct Signatures](https://devblogs.microsoft.com/typescript/announcing-typescript-4-2-beta/#abstract-construct-signatures).  The following appears to get mis-lexed:

[code]

[2021-01-13 15:49] kdy1 commented on #1271
@traverse Can you show me your config?

[2021-01-13 16:22] traverse commented on #1271
@kdy1 The config I was using is as follow
[code]
Like I said it's using Webpack with the `swc-loader` but I'd expect the config to be the same.

[2021-01-13 16:25] kdy1 commented on #1271
@traverse I guess you should remove
[code]

Seems like a bug of napi-rs.

[2021-01-13 16:27] traverse commented on #1271
I've tried several configurations also without those properties but it still kept showing the same error, I'll see if I can reproduce it again tomorrow.

[2021-01-14 07:18] sabberworm opened #1555 "Bug in _setPrototypeOf/_getPrototypeOf helper, possibly others"
The _setPrototypeOf helper

[code]

gets transpiled to

[code]

(copied directly from my `node_modules/@swc/helpers/lib/_set_prototype_of.js`).

This seems to be caused by name mingling `_setPrototypeOf` vs. `_setPrototypeOf1`. Ultimately, it may be a bug in swc, I don’t know; but I’m filing it here because it affects the transpiled helpers as present in the published `@swc/helpers` npm package.

[2021-01-14 10:48] kdy1 commented on #1323
What is the language are you using?
swc is rust library and js library at same time.

[2021-01-14 11:14] kdy1 commented on #1275
Closing as

 - API of the wasm cannot match those of `@swc/core` because of restrictions of wasm. (File api does not exists)
 - It requires downloading wasm version of swc even if not required , or build-script based detection of runtime.

[2021-01-14 11:14] #1275 closed

[2021-01-14 11:50] Japroz-Saini commented on #1323
I am using it in a rust project

On Thu, Jan 14, 2021, 4:18 PM 강동윤 <notifications@github.com> wrote:

[2021-01-14 12:11] kdy1 commented on #1323
@Japroz-Saini
Then `module.fold_with(&mut swc_ecma_transforms::typescript::strip())` would be enough.
Note that you should enable a cargo feature named 'typescript'.

[2021-01-14 12:11] #1323 closed

[2021-01-14 12:16] Japroz-Saini commented on #1323
I didn't understand. For example ,i read a file and stored in a variable called code. How would I convert that typescript file to javascript and how can I enable the typescript feature in the cargo.toml file

[2021-01-14 12:52] kdy1 commented on #1323
See ecmascript/parser/examples/typescript for parsing code, and you can just do `module.fold_with(&mut swc_ecma_transforms::typescript::strip())` to convert it to javascript ast.
Finally use swc_ecma_codegen to convert it into the javascript code.

[2021-01-14 12:56] #1306 closed

[2021-01-14 12:56] #1307 closed

[2021-01-14 12:56] #1314 closed

[2021-01-14 12:56] #1326 closed

[2021-01-14 12:58] kdy1 commented on #1134
This is fixed by https://github.com/swc-project/swc/pull/1318

[2021-01-14 12:58] #1134 closed

[2021-01-14 13:16] kdy1 commented on #1321
Are you guys working on this?
I'm asking this because I'm going to work on this if nobody is working on it.

[2021-01-14 13:42] mfeckie commented on #1321
I have not got far. I was only still reading about napi-rs.

Would be faster if you do it!

On Thu, 14 Jan 2021 at 21:17, 강동윤 <notifications@github.com> wrote:

[2021-01-14 17:49] dwoznicki commented on #1321
Yeah, I haven't gotten far either. I've managed to get `bundle()` to accept an array of plugin functions and execute them in Rust, but I'm still trying to figure out the internals of webpack's plugin system. [Here's the small amount I've done so far](https://github.com/dwoznicki/swc/blob/3d6a7c6772c9979e1bb35bb12cebb7ca519ca7ac/native/src/bundle.rs#L159-L174), it's any help.

[2021-01-14 17:55] dougwl opened #1328 "Uncaught TypeError: regeneratorRuntime.mark is not a function when executing bundled js from spack, what am I doing wrong?"
I have a simple html5/js/css template and I'm trying to transpile the code using swc.
As far I'm aware, the regerenatorRuntime is responsible for handling the async methods in my original code ( a single js file).
When executing spack, the build happens normally but when linking the bundled js file to my HTML, I get this error from the broswer during execution.

`Uncaught TypeError: regeneratorRun

[2021-01-14 21:56] jasperlin451 opened #1329 "Namespace functionality not working with enums"
**Describe the bug**
New namespace functionality is not working with enums. No `var` is created for the enum within the scope of the namespace.

**Input code**
[code]
**Config**
[code]

**Expected behavior**

From [typescript playground](https://www.typescriptlang.org/play?#code/HYQwtgpgzgDiDGEAEAVaAXJBvAUE-SEAHjAPYBOmEwArmEgCJ1gCeAaiADY3TZ4ECAgkgC8SAOSDxAGn4D8AIVESFMuUgC+OLTnilgUUpwgA6TqQDmACjRR0

[2021-01-15 10:30] #1327 closed

[2021-01-15 18:07] MeLike2D opened #1333 "Issue with accessing private properties"
**Describe the bug**

Files using the private syntax don't get transformed to use the `_classPrivateFieldGet` helper. Or in some cases, only a few get transformed.

Example:
[code]

**Input code**

<https://github.com/neo-cord/neocord/tree/dev/src>

**Config**
[code]

**Expected behavior**
Everything to be transformed.

**Version**
The version of @swc/core: 1.2.45

[2021-01-16 14:39] Mouvedia commented on #976
@kdy1 could you link the followup PRs?
Where we at now compared to esbuild?

good job BTW

[2021-01-16 17:37] teymour-aldridge opened #1336 "Documentation!"
**Describe the feature**
I'm finding that documentation is quite sparse which is really slowing things down when trying to use some of the crates that have been written.
I think it would be useful to have documentation for:
 - [ ] JavaScript users (documentation for this aspect looks to better, but I'm not using swc for a project written in Javascript so I'm not sure)
 - [ ] Rust users (people con

[2021-01-16 19:25] shadowtime2000 commented on #1336
+1 to more docs for Rust users

[2021-01-16 22:41] shadowtime2000 opened #1337 "Tree Shaking of Class Properties"
**Describe the feature**

**Babel plugin or link to the feature description**

**Additional context**
Add any other context about the problem here.

[2021-01-16 22:42] shadowtime2000 commented on #1337
Github glitched and submitted the issue not letting me fill it in. I would like tree shaking of class properties/methods. There is a problem with dynamic access stuff but we could have it disable itself if `instance[someMethod()]` is used.

[2021-01-17 05:38] kdy1 opened #1338 "Bundler should handle builtin modules properly"

[2021-01-17 05:47] kdy1 commented on #976
@Mouvedia I'm not sure if I had one.

I can improve the performance further (easily), but it's time-consuming and I'm busy working on the type checker.

[2021-01-17 06:27] dwoznicki opened #1339 "Webpack to spack plugin integration"
## Webpack plugin API
A webpack plugin is a class (or prototype function) that implements an `apply` function. The `apply` function takes the webpack compiler instance as an argument, which provides an API for adding hooks to the compilation process. Hooks are expected to modify some aspect of the data, and allow the compilation to continue.

#### Example plugin
[code]

See webpack [Writing a Plug

[2021-01-17 07:41] kdy1 commented on #1339
It would require lots of work, but I'm sure that it worths the effort.

[2021-01-17 07:59] dwoznicki commented on #1339
Cool, just wanted to check that you were still okay with this before continuing onward. I think that making spack compatible with webpack plugins is the best option as well.

Are you okay with me working on this, or would you prefer to do it yourself? I'm happy to do it, but it will probably take me a lot longer.

[2021-01-17 08:07] kdy1 commented on #1339
@dwoznicki I'd really love it if you can work on this. I'll help as much as I can. Just ping me on github, slack or discord when you need any help.

[2021-01-17 13:25] Mouvedia commented on #976
Here's a suggestion: run a benchmark webhook for every `perf:` conventional commit.

[2021-01-18 14:00] #1329 closed

[2021-01-18 16:06] sabberworm commented on #1231
I have this too. In my case, `_loop` even gets nested inside an unrelated function further down.

[2021-01-18 16:18] sabberworm commented on #1231
Also, In the posted example, the `_loop` function isn’t even necessary since there is no need for scope capture of the `i` variable (i.e. `var` and `let` behave the same way).
Only when there is a function body using `i` inside the loop would this transformation be required.

[2021-01-19 16:06] majo44 opened #1341 "this context is loosed in complex async/await scenario"
**Describe the bug**

**Input code**
[code]

**Output code**

[code]
**Config**
[code]

**Typescript Output code**
[code]
**Expected behavior**
`this` is undefined within the nested async function

**Version**
The version of @swc/core: 1.2.45

**Additional context**
Add any other context about the problem here.

[2021-01-20 05:57] shadowtime2000 commented on #1338
Sorry, but what exactly do you mean by built in modules?

[2021-01-20 05:59] kdy1 commented on #1338
I meant builtin modules of node.js

[2021-01-20 18:07] shadowtime2000 opened #1344 "Rollup Plugin"
**Describe the feature**
It would be nice to have a Rollup plugin for SWC.

**Babel plugin or link to the feature description**
N/A

[2021-01-21 02:41] rhkdgns95 opened #1345 ""Unterminated string constant" error occurs when using @swc/jest in jest"
**Describe the bug**

I tried to use swc to improve the speed of the existing jest, but an error occurred as above, so I ask for confirmation.

When expressing a string in the source code, it was confirmed that `` is changed to "".

So, it seems that an error occurred when a line break was made.

How to solve it?

[code]
![image](https://user-images.githubusercontent.com/46029124/105271921-b6eec98

[2021-01-21 03:00] kdy1 commented on #1345
I tried reproducing it, but I failed.
Can you run swc directly on it and post the result?

[2021-01-21 04:16] rhkdgns95 commented on #1345
Likewise, an error occurs when writing tests.

What information can I provide?

[2021-01-21 08:10] kdy1 commented on #1345
I need the output of swc invoked on the original input file.
In mac os x (and very likely on linux too), swc prints the expected result.

[2021-01-21 23:30] rhkdgns95 commented on #1345
Can you explain in detail what it means?

To explain my current situation, I use jest when writing tests in nodejs.

However, it takes too long to use `ts-jest → @swc/jest`, but if it encounters a string of `` instead of'', an error occurs.

How to fix it?

[2021-01-22 06:57] hassankhan opened #1348 "Respect tsconfig.json and/or .babelrc"
It would be awesome if swc could read settings from existing `tsconfig.json` and/or `.babelrc` in a project. This would be super useful since there seems to already be some overlap, and would save new users a trip to the documentation to figure out what swc's options are.

[2021-01-22 10:37] josteph opened #1350 "Exclude files through wildcard patterns"
**Describe the feature**
More aggressive exclude/ignore files pattern matching.

**Babel plugin or link to the feature description**
Related to https://github.com/swc-project/swc/issues/466 but it should cover this kind of pattern instead:

.swcrc
[code]

Folder structure path
[code]

The expected output: `__tests__` folder will not be transformed and exported into the out dir folder.

[2021-01-22 14:28] tw-360vier opened #1351 "TypeError: Can not find node binding files from @swc/core-win32-x64-gnu, @swc/core-win32-x64-msvc..."
**Describe the bug**
We've been using swc on linux and os x machines for a while.
Now a colleague tried to build a project on windows and encountered this error:
[code]
In fact this is copied from my minimal recreation of the same problem inside my Windows 10 VM.
But through swc-loader the error was the same.

The files `C:\Users\xyz\projects\swc-win32\node_modules\@swc\core\swc.win32-x64-gnu.node

[2021-01-22 14:31] kdy1 commented on #1351
Did you run npm install after copying?

cc @Brooooooklyn

[2021-01-22 14:35] tw-360vier commented on #1351
Oh i did not copy the project.
I created this minimal project on the windows machine:
[code]

[2021-01-22 15:16] Brooooooklyn commented on #1351
@tw-360vier I could not reproduce on my windows virtual machine, does `swc.win32-x64-msvc.node` existed in `node_modules/@swc/core-win32-x64-msvc` folder ?

[2021-01-22 15:26] tw-360vier commented on #1351
@Brooooooklyn yes it's there:
[code]

[2021-01-22 15:35] Brooooooklyn commented on #1351
@tw-360vier  delete `node_modules` and `yarn.lock` and reinstall, then try again

[2021-01-22 15:40] tw-360vier commented on #1351
@Brooooooklyn  same result:

[code]

[2021-01-22 22:27] cspotcode opened #1352 "@swc/wasm delaying process shutdown"
**Describe the bug**

@swc/wasm appears to delay the graceful shutdown of a node process once it's loaded.

**Input code**

[code]

The node process remains running for about 5 seconds after the log statement.  I'm not sure if @swc/wasm is setting some sort of timer or why the process is staying up.

**Expected behavior**

node process gracefully terminates immediately after the log statement.

**

[2021-01-23 05:59] Brooooooklyn commented on #1352
I think this may be a wasm problem, wasm needs to be read, loaded and parsed asynchronously, and perhaps this process is not abortable

[2021-01-23 06:13] Brooooooklyn commented on #1351
I have tried many times from scratch and everything is ok on my windows vm. I'm using `yarn@1.22.5` and `node@14.15.4`.

Could you add some debug log in library source code under the `node_modules`?

Add `console.error(e)` in `node_modules/@node-rs/helper/lib/loader.js:L17`:

[code]

[2021-01-23 06:46] #1252 closed

[2021-01-23 07:15] kdy1 commented on #1333
@MeLike2D Can you point the file which causes the error?

[2021-01-23 07:17] MeLike2D commented on #1333
sure, https://www.github.com/neo-cord/neocord/tree/dev/src/client/gateway/Shard.js
and https://www.github.com/neo-cord/neocord/tree/dev/src/client/rest/RequestHandler.js

_note: these are the only ones I looked at_

[2021-01-23 11:52] #1333 closed

[2021-01-23 11:52] #1231 closed

[2021-01-23 11:52] #1341 closed

[2021-01-23 21:44] cspotcode commented on #1352
I don't think that is the issue, because I can invoke `transformSync` to prove that the WASM is executable much earlier.  Also, if it were an issue with async compilation, that would mean that WASM takes a full *5 seconds* to load, which I think we can agree seems very wrong.

Here is the updated reproduction.  It uses `transformSync`, then logs the date.  Then the process waits 5 seconds before t

[2021-01-23 22:07] stavalfi opened #1355 "panic: spack - UnhandledPromiseRejectionWarning: Error: load_transformed failed"
1. Source code
repo: https://github.com/stavalfi/era-ci
branch: `origin/stav/spack-poc`
reproduce: `yarn && npx spack`

2. `spack.config.js` file:
[code]

3. Error message:
[code]

-------

node: v14.15.4
mac os catalina: 10.15.1 (19B2093)

[2021-01-24 19:39] dsherret commented on #1312
I am getting the same error in WSL. Haven't been able to contribute to swc in a while because I can never get it to build :(

[code]

[2021-01-25 02:32] #1312 closed

[2021-01-25 03:07] dsherret commented on #1312
Thanks @kdy1! I can build now 😊

[2021-01-25 06:43] joebnb opened #1358 "single quote transform error"
swc will transform single quotes ' to \\'  in double quotes.

<a href="abc'def'">
to
<a href="abc\\'def\\'">

![image](https://user-images.githubusercontent.com/1646883/105669908-1ff77980-5f1b-11eb-80e0-5abfb3ea60d7.png)

[2021-01-25 06:45] kdy1 commented on #1358
Please post some input and .swcrc

[2021-01-25 07:04] kdy1 commented on #1355
You need to configure swc via `.swcrc`. See: https://swc.rs/docs/configuring-swc

[2021-01-25 07:05] kdy1 commented on #1350
It's already supported by swc. See: https://swc.rs/docs/configuring-swc/#exclude

[2021-01-25 07:05] #1350 closed

[2021-01-25 07:59] joebnb commented on #1358
[code]

[2021-01-25 10:15] josteph commented on #1350
@kdy1 it only supports through specifying extensions afaik, does it also support excluding folder through glob patterns?

[2021-01-25 10:15] tw-360vier commented on #1351
@Brooooooklyn
I updated all my chocolatey packages and now i can't reproduce it anymore, either.

[2021-01-25 10:22] kdy1 commented on #1350
Yes. As it's a regular expression, you can exclude a folder using it.

[2021-01-25 12:15] #1328 closed

[2021-01-25 12:15] #1338 closed

[2021-01-25 16:09] josteph commented on #1350
One more question, how do you make `--copy-files` respect `exclude` option?

[2021-01-25 16:18] kdy1 commented on #1350
<del>It's currently not possible.</del>

I patched `@swc/cli` to respect `.swcrc`. Updating cli to `v0.1.34` will do the trick.

Note that it may take some time for the new version to be installable.

[2021-01-26 13:08] #1355 closed

[2021-01-27 09:53] DanielRamosAcosta opened #1362 "Problems with decorators when using class validator"
**Describe the bug**

I'm trying to use Nest.js with Class Validator for body validation. I've created an E2E test using `ts-jest` that passes, and I'm using the same test with `@swc/jest` but it's returning a 400 as if the fields weren't being assigned.

**Input code**

In [this link is the repository](https://github.com/DanielRamosAcosta/nest-class-validator-swc) with the tests that reproduces t

[2021-01-27 12:54] wxs77577 commented on #379
Thanks for your great project.I'm using nestjs monorepo https://docs.nestjs.com/cli/monorepo, it uses `paths` to define path aliases in `tsconfig.json`.Is there any progress or roadmap on implementation of this feature?

[2021-01-28 01:54] adam-devel opened #1364 "How can i target a spefic ecmascript version?"
when transpiling typescript to javascript i would like to be able to choose the targeted EcmaScript version, which i am used to be able to do when using microsoft's typescript compiler by setting `compilerOptions.target`
to one of  'ES3', 'ES5', 'ES6'/'ES2015', 'ES2016', 'ES2017', 'ES2018', 'ES2019', 'ES2020', 'ESNext' in the `tsconfig.json` configuration file, it doesn't look like swc support tar

[2021-01-28 01:57] adam-devel commented on #1364
sorry its my fault, just figured out, you have such a feature: `jsc.target`
closing

[2021-01-28 01:57] #1364 closed

[2021-01-28 07:13] kdy1 commented on #379
@wxs77577 I'll implement this with a new minor version of swc. (Finally, I have an idea how to implement it correctly)

[2021-01-28 16:29] JiangWeixian opened #1366 "parseFileSync span bug"
**Describe the bug**

same file parse twice, different output

**Input code**

[code]

import { parseFileSync } from '@swc/core';

const ast = parseFileSync('./test.jsx', { jsx: true, syntax: 'ecmascript', comments: true, dynamicImport: true, decorators: true, decoratorsBeforeExport: true, script: true })
const ast1 = parseFileSync('./test.jsx', { jsx: true, syntax: 'ecmascript', comments: true, d

[2021-01-28 16:52] Brooooooklyn commented on #1366
By design，just change the file name passed into the `parseFileSync` you'll get the same result.

[2021-01-29 02:33] JiangWeixian commented on #1366
I think it's a bug

[2021-01-29 02:38] kdy1 commented on #1366
It's not a bug.
If you want span to start with 0, you can create new instance of Compiler, which have same apis.

[2021-01-29 02:45] JiangWeixian commented on #1366
@kdy1

const compiler = new Compiler()
const ast = compiler.parseFileSync('test.jsx', { syntax: 'ecmascript' })
const compiler1 = new Compiler()
const ast1 = compiler1.parseFileSync('test.js', { syntax: 'ecmascript' })

[code]

second file still start with 12, **not working**

[2021-01-29 11:05] kdy1 commented on #1358
Cannot reproduce it.

Do you use windows?

[2021-01-29 12:09] joebnb commented on #1358
no , it's happen on  a mac,and thise lines in   html  template attribute
[code]
i  have off work, error detail need tomorrow to post

[2021-01-29 12:49] kdy1 commented on #1362
Do you use `tsconfig.json`?
I'm not sure about the root cause, but I had seen something simillar.

[2021-01-29 13:09] kdy1 commented on #1358
@joebnb Then I'll fix this tomorrow :)

[2021-01-29 13:19] #1213 closed

[2021-01-29 13:19] #1232 closed

[2021-01-29 13:19] #1236 closed

[2021-01-29 13:19] #1299 closed

[2021-01-29 13:19] #1225 closed

[2021-01-29 13:19] #1258 closed

[2021-01-29 13:36] DanielRamosAcosta commented on #1362
Yes! There is a [`tsconfig.json`](https://github.com/DanielRamosAcosta/nest-class-validator-swc/blob/main/tsconfig.json) file at the repo. Is this interfering with swc in some sense?

[2021-01-29 13:41] kdy1 commented on #1362
@DanielRamosAcosta There was an option that determines interop with es modules.
I googled it and it is `esModuleInterop`. Can you share your config?

[2021-01-29 13:42] DanielRamosAcosta commented on #1362
Which config? Swc's one or TypeScript. You have the complete repo here with the tests: https://github.com/DanielRamosAcosta/nest-class-validator-swc

[2021-01-29 13:44] kdy1 commented on #1362
Oh, I see. Thanks!

[2021-01-29 13:44] DanielRamosAcosta commented on #1362
[Here!](https://github.com/DanielRamosAcosta/nest-class-validator-swc/blob/main/tsconfig.json)

[2021-01-29 14:01] DanielRamosAcosta commented on #1362
I've pushed some other tests. I thought the problem was caused with `class-validator`, you can run the tests `yarn test` for running with `ts-node` and `yarn test:swc` for running with `swc`.

The error is:

[code]

[2021-01-29 16:12] #1351 closed

[2021-01-30 02:00] joebnb commented on #1358
source:
[code]
and i tried use ' to replace numeric reference character,the error still.

output and stack:

![image](https://user-images.githubusercontent.com/1646883/106343216-42084780-62df-11eb-8226-d142bffb3476.png)

![image](https://user-images.githubusercontent.com/1646883/106343771-0327c100-62e2-11eb-8cd8-f07686bf092e.png)

[2021-01-30 04:25] joebnb commented on #1358
this error seem not cause by this line ,bacuese use ts and ts-loader the output are same of this line
[code]
and remove this tyle,other lines will throw error
![image](https://user-images.githubusercontent.com/1646883/106346570-142cfe00-62f3-11eb-8462-543191ed7808.png)
this line hard to location

[2021-01-30 08:27] joebnb commented on #1358
i'm trying to init a empty angular project to reproduce it,but swc works well with same config.and i'm trying to use ngcc(@angular/compiler-cli) to compile node_modules(output es2015 moudues) and the error stack change to zone.js,the code also in VM and stack like above out put(in runtime compiler.js) ,it's hard to debug by design.

i still think swc have some different behavior with typescript co

[2021-01-30 08:27] #1358 closed

[2021-01-30 08:58] kdy1 commented on #379
@wxs77577 Does you use swc via `swc-loader`?

[2021-01-30 09:00] kdy1 commented on #1344
I think there's already one out there, but it's not official and I don't have a link to it.

[2021-01-30 11:12] wxs77577 commented on #379
I just use swc cli.

[2021-01-31 00:21] shadowtime2000 commented on #1344
Yeah I think there is a `rollup-plugin-swc` but an official one would be pretty cool

[2021-01-31 05:07] kaushalyap opened #1371 "Minification could be improved?"
As seen in https://github.com/privatenumber/minification-benchmarks SWC minfication ability is comparatively low. Can this be improved?

[2021-01-31 05:07] youyiqin commented on #397
@kdy1 Hi.I have a question.So if  I want to use a part of polyfill in my code, the only way is use "import "core-js/features/array/includes" like this code?
I just want it automatic import them which were used.
thanks.

[2021-01-31 05:09] kdy1 commented on #1371
I'm already working on it.
See: https://github.com/swc-project/swc/pull/1302
I'm basically porting terser, with some additional rules from closure compiler.

[2021-01-31 05:10] kdy1 commented on #397
@youyiqin Use can set `mode` to `usage`. See: https://swc.rs/docs/preset-env#mode

[2021-01-31 05:14] kaushalyap commented on #859
As seen in the minification benchmark [here](https://github.com/privatenumber/minification-benchmarks) SWC is slow compared to ESBuild

[2021-01-31 05:21] kdy1 commented on #859
@kaushalyap swc does not do minification at the moment. The only minification is skipping comments and some whitespaces.

But I'm sure they are running transforms unrelated to minification because there's no option to disable transforms :)

[2021-01-31 05:32] kdy1 commented on #1371
I made an issue about it at https://github.com/privatenumber/minification-benchmarks/issues/6

[2021-01-31 13:01] Mouvedia commented on #491
kangax/compat-table#1678

[2021-02-01 10:48] sabberworm commented on #1351
Two colleagues of mine have the same exact error on their windowses. The binary is there but loading it doesn’t work. Even doing so manually with node results in an error message:

[code]

(This works just fine on my windows install. And three other colleagues’.)

On both my machine and the machine that isn’t working outputs of cygwin `file` for both `node` and `swc.win32-x64-msvc.node` are identi

[2021-02-01 10:53] Brooooooklyn commented on #1351
@sabberworm could you please add debug log in https://github.com/swc-project/swc/issues/1351#issuecomment-765875555 and try again?

[2021-02-01 11:08] sabberworm commented on #1351
[code]

[2021-02-01 11:47] jsedlacek commented on #1255
@kdy1 Is this fixed in version 1.2.47? I just tried it, and the bug seems to be present there.

[2021-02-01 11:49] kdy1 commented on #1255
@jsedlacek Hmm... I thought I fixed it, but maybe I made a mistake.

[2021-02-04 07:13] lephuongbg opened #1377 "Exponentiation operator does not get transpiled for targets IE 11"
**Describe the bug**

The exponentiation operator does not get transpiled when targeting IE 11 or even when using `forceAllTransforms`.

**Input code**

[code]

**Config**
[code]

**Expected behavior**

The exponentiation operator should be transformed into `Math.pow` call.

**Version**
The version of @swc/core: 1.2.47

[2021-02-06 15:26] faramozzayw opened #1380 "How to add custom syntax/operators/keywords to JavaScript with swc?"
I would like to add some custom operators, keywords, and syntax to Javascript (e.g. [range expression](https://doc.rust-lang.org/reference/expressions/range-expr.html) from Rustlang).

Is this possible with `swc`?

[2021-02-06 15:27] kdy1 commented on #1380
It's not possible

[2021-02-06 15:44] faramozzayw commented on #1380
okay :( thanks for the quick reply!

[2021-02-06 15:44] #1380 closed

[2021-02-07 01:09] shadowtime2000 commented on #1377
I think I can try to take a go at this

[2021-02-07 08:17] #900 closed

[2021-02-08 01:47] haikyuu commented on #476
@kdy1 is this possible?

I'm porting a library that uses some custom babel plugins to swc. Can I just use those plugins? What are the changes I need to make (with some example code if possible)?

Thanks a lot

[2021-02-08 10:30] lucacasonato opened #1383 "declare global is not stripped correctly anymore"
**Describe the bug**

SWC does not strip `declare global { }` from output code anymore.

**Input code**

[code]

**Config**

Deno

**Expected behavior**

This is TSC output:

[code]

This is swc_ecmascript 0.17.1
[code]

This is swc_ecmascript 0.18.8
[code]

**Version**

swc_ecmascript 0.18.8

[2021-02-08 12:14] mazipan opened #1384 "How to use a custom plugin in the CLI arguments?"
In the [plugins](https://swc.rs/docs/usage-plugin#using-multiple-plugins) section, already state that we can create a custom plugin to extend the SWC ability.

But the Docs still not tell us how to integrate that custom plugin into our current pipeline if we use `@swc/cli`.

Can someone help me to understand how to pass plugins in the CLI?
Or if not possible, are there any alternative to use this

[2021-02-08 12:24] kdy1 commented on #1384
Babel-like plugin api is planned, but currently, the only way to use plugins is via core api.

(Although adding plugin support to cli would not be very hard, I'm too busy)

[2021-02-09 03:14] miqdadfwz opened #1385 "How do I specify environment target?"
**Question**
Hi first of all thank you for the project, I really appreciate your time to build this breaking through library. However I have two questions regarding of spack:

1. How do I define option to instruct spack to bundle in node/browser environment?
2. Also, is there any option to exclude `node_modules` which should not to be part of compilation process?

Thanks.

[2021-02-09 11:24] kdy1 commented on #1385
For 1, spack does not support it currently.

For 2, if you mean something like an external module of other bundler, it's not supported at the moment.

[2021-02-09 15:16] kherock opened #1388 "cwd, source_root, and source_file_name options do not have any effect"
**Describe the bug**
I was trying to figure out why certain options in the CLI weren't working but it looks like the transform functions simply don't do anything with the options listed in the PR title.

**Input code**
[code]

**Config**
[code]

**Expected behavior**
Here, I'd expect `"sources"` to not have an anonymous filename, and `"sourceRoot"` should be set to `".."`. When a `cwd` is passed t

[2021-02-10 02:00] miqdadfwz commented on #1385
For no 2, yes I mean excluding certain import (commonly from `node_modules`) from bundle, like `externals` API from webpack.

[2021-02-10 02:14] miqdadfwz opened #1389 "Bus Error When Using bundle API from @swc/core"
**Describe the bug**
I was working to build internal build tools using `bundle` API taken from `@swc/core`, but in certain modules it will throw error complaining bus error.

<img width="640" alt="Screen Shot 2021-02-10 at 09 03 31" src="https://user-images.githubusercontent.com/43945767/107454790-3f7bdc80-6b80-11eb-9732-078b923bc138.png">

**Input code**
[code]
**Config**
[code]

**Expected behav

[2021-02-10 08:25] #1383 closed

[2021-02-10 09:06] kdy1 commented on #1389
cc @Brooooooklyn
Do you have any thoughts?

[2021-02-10 15:12] Brooooooklyn commented on #1389
No idea.. @miqdadfwz  could you please upgrade your nodejs to latest 12.x and try again? Non lts version have many bugs and unexpect behavior in N-API side.

[2021-02-10 20:59] wycats commented on #1385
@kdy1 it seems like `external_modules` was added to the Rust API in https://github.com/swc-project/swc/pull/1349. Is it just a matter of adding support to the JavaScript wrapper, or is it more involved that that?

[2021-02-11 17:05] kherock commented on #1255
This is due to a combination of #1388 and the CLI package not using the `cwd` option when an output directory is specified. I'm working on a PR fixing this in the CLI, but I haven't learned Rust yet and probably can't fix #1388 on my own.

[2021-02-12 14:31] dsherret opened #1391 "No syntax error reported for forgetting equals sign before object literal expression initializer in variable declaration"
**Describe the bug**

If someone forgets to have an equals sign in a variable declaration with an object literal expression initializer then there won't be a syntax error.

**Input code**

[code]

**Expected behavior**

I expected swc to return a syntax error or at least some diagnostic in the emitter, but nothing happens.

**Version**

swc_ecmascript: 0.20.0

[2021-02-12 15:52] eliseumds commented on #1271
Same here.

[2021-02-12 16:57] Gregoor opened #1392 "Babel compatible AST"
Heya,

thanks for this amazingly fast parser! I've been playing with replacing it with Babel's parser, but I also used a number of babel libraries which expect a Babel AST. Namely `span` to be in-lined (collapsing `LogicalExpression` into `BinaryExpression` does not seem to be causing problems). Now I was wondering whether the divergence from Babel's AST is wanted? I can imagine integration into a

[2021-02-13 02:38] 00ff0000red commented on #1391
Oh hey, it's not just missing assignment operators and object initializers, it's declaration related, here's another broken snippet if it helps:
or just
[code]
emits:
[code]

Seems to be treating `let` as a indentifier, instead of a keyword?

[2021-02-13 03:55] kdy1 commented on #1391
I tested it, but it resulted in an error.
You should use `Parser.take_errors()`

[2021-02-13 04:27] dsherret commented on #1391
@kdy1 interesting and thanks for investigating! I didn't even know about this method (I just assumed the handler would emit these, but now I see it's not even passed to the handler).

Was this one of the diagnostics that was moved from a `PResult` error into one of these diagnostics? Is there any way to tell these diagnostics appart from other ones? I think I will start collecting a list of error

[2021-02-13 04:33] kdy1 commented on #1391
@dsherret I didn't finish error recovery and it is treated as a recoverable error from start I guess.
Also, if you get an error via `Parser.take_errors`, it's a recoverable error.

[2021-02-13 04:33] #1391 closed

[2021-02-13 20:22] brielov opened #1397 "SWC strips down some needed parenthesis"
**Describe the bug**
I'm toying around with `marblejs` and in their docs, they explain how to create a simple server, which involves awaiting a value with parenthesis around it.

**Input code**
[code]

**Config**
[code]

**Expected behavior**
The parenthesis should not be removed. By the way, `tsc` compiles this correctly.

[code]

**Version**
The version of @swc/core: `1.2.47`

[2021-02-14 09:33] IllusionPerdu commented on #1371
I see the code for the benchmark for the esbuild is

[code]
I think it would be nice to do the equivalent of the "esbuild.startService" function to initialize the wasm of swc.
This would allow the performance of swc to be measured without loading the wasm.

[2021-02-14 11:08] kdy1 commented on #1392
It's not hard, but not trivial at all.
It would require really lots of work.

[2021-02-14 13:18] #1397 closed

[2021-02-15 05:39] lephuongbg opened #1400 "Build with forceAllTransforms is surprisingly faster than using targets"
**Describe the bug**

In our project, setting `env.forceAllTransforms` to `true` almost **doubles** the speed of the build (from ~50s down to ~30s).

This is not really a bug in the way that nothing breaks, but seems to expose inefficient ~usage of `browserslist` library~ checking of which transforms are required.

https://github.com/swc-project/swc/blob/bd119e6634d4b017982d4a02ebd07fa867c4a9fd/ec

[2021-02-15 07:13] lephuongbg commented on #1400
False positive issue. The speed up is due to `import` is converted to `_import` when `env.forceAllTransforms` is set to `true`, which causes webpack to ignore a lot of code accidentally. Setting `env.dynamicImport` to `true` will make the build "slow" again, since now webpack can follow async modules correctly.

[2021-02-15 07:13] #1400 closed

[2021-02-15 12:54] kdy1 commented on #476
@haikyuu Yes, it's possible, but it requires lots of work.

[2021-02-15 15:33] Austaras opened #1402 "Optional catch binding shadow local varaible"
**Describe the bug**

**Input code**
[code]
*** swc config ***
[code]

**Expected behavior**
should log 1, but log 2 instead

**Output code**
[code]

**Version**
The version of @swc/core: latest

[2021-02-15 19:20] dsherret commented on #1392
There are also some cases were babel made some incorrect namings in their AST https://github.com/swc-project/swc/issues/548

Also, generally SWC moves faster than Babel and so sometimes SWC is ahead with their support for TS language features. So SWC could implement something then Babel could come along and implement it with a different AST shape.

[2021-02-15 19:43] dsherret opened #1403 "Add contributing instructions for setting up Deno for testing"
Every few weeks I try to run `cargo test --all --all-features` and this time it is actually getting somewhere, but now I am running into some issues with Deno (specifically the deno-exec bundler tests).

What version of Deno is required for running these tests? I'm getting two failures when running on Deno 1.7.4.

I skipped theses deno-exec tests by doing `export CI=1` for now. I than ran into an

[2021-02-16 02:40] lephuongbg opened #1404 "Input source map from vue-loader is not properly merged, breaks debugging"
**Describe the bug**

Even though swc-loader seems to be passing the inputSourceMap to swc correctly, the output source map of swc does not contain any of the original source map, thus breaks debugging in browser's dev console.

**Input code**

**Config**
[code]

**Expected behavior**

Input source map from vue-loader and source map from swc should be merged properly.

Given this original source m

[2021-02-16 04:12] kdy1 commented on #1403
I'll do this after fixing the bundler :)

[2021-02-16 23:28] kapouer opened #1406 "Missing async before Compiler#parseFile"
https://github.com/swc-project/swc/blob/a0898e8ce311d5838c52a77dd5e47974e21016ac/node-swc/src/index.ts#L59

is obviously missing an async keyword.

[2021-02-17 02:50] dwoznicki commented on #1392
Just curious, won't this eventually need to be done to support #1321 ?

[2021-02-17 04:21] kdy1 commented on #1392
@dwoznicki Yes, this is required for #1321.

[2021-02-17 04:22] #1406 closed

[2021-02-17 05:06] kitsonk commented on #1103
Any update on this.  Looking to get it into Deno 1.8 on March 2nd.

[2021-02-17 05:07] kdy1 commented on #1103
@kitsonk Then I'll work on this after fixing the bundler.

[2021-02-17 08:04] jnachtigall commented on #859
Sibling issue at https://github.com/evanw/esbuild/issues/762

[2021-02-17 18:04] ri0ter opened #1410 "No bindings for CentOS 7"
**Describe the bug**
On CentOS 7 it throws following error:
`Can not find node binding files from @swc/core-linux-x64-gnu, @swc/core-linux-x64-gnux32, @swc/core-linux-x64-musl and /opt/app-root/src/swc-test/node_modules/@swc/core/swc.linux-x64-gnu.node, /opt/app-root/src/swc-test/node_modules/@swc/core/swc.linux-x64-gnux32.node, /opt/app-root/src/swc-test/node_modules/@swc/core/swc.linux-x64-musl.

[2021-02-17 19:05] IllusionPerdu commented on #1410
It's strange in the release they are "swc.linux-x64-musl.node". I think you can check if file exist in your system because it's probably a bad permition...
(sorry for my bad english ^^)

[2021-02-17 19:32] ri0ter commented on #1410
So I tried to manually call require on the bindings that were installed and this is what I got:
[code]

[2021-02-18 01:57] Brooooooklyn commented on #1410
The version of Glibc is too low on CentOS, we need to build Linux binary on Ubuntu 16 if we want to support the CentOS /cc @kdy1

[2021-02-18 02:39] kdy1 commented on #1410
I don't think it worth supporting.

[2021-02-18 07:01] Brooooooklyn commented on #1410
I've checked the version of `glibc` on `centos/nodejs-10-centos7` is `2.17`, which release in **2012**, and the `glibc` version of `ubuntu:16.04` is `2.23`, which means compile `swc` on `ubuntu:16.04` could not resolve this issue.
And I think it's impossible to build `swc` with `glibc@2.17`, the Rust toolchains is not existed in that age.

[2021-02-18 08:45] kdy1 commented on #1410
Can you try manually installing `@swc/core-linux-x64-musl` via npm install?

[2021-02-19 05:32] #1103 closed

[2021-02-19 07:52] #1402 closed

[2021-02-19 10:52] coderaiser commented on #1392
Thank you for such a nice project :). I'm working on [putout](https://github.com/coderaiser/putout) code transformer, it [has support of the most popular JavaScript parsers](https://github.com/coderaiser/putout/blob/v15.1.2/packages/engine-parser/lib/custom-parser.js) that producing [estree](https://github.com/estree/estree) and [babel AST](https://github.com/babel/babel/blob/main/packages/babel-p

[2021-02-19 11:01] kdy1 commented on #1392
@coderaiser I know it worths it, but I just don't have time.
And as swc is also used from rust side, changing ast definitions to match one of babel is unacceptable.
`swc-to-babel`, written in rust, would be a better solution and would not be hard.

[2021-02-19 11:37] chengluyu opened #1415 "Break `switch` inside a loop will break the loop because of the loop body extraction."
**Describe the bug**

SWC tries to extract loop bodies into functions. If you put a `switch` in the loop and use `break` to escape from the `switch`, SWC thinks that the `break` is ought to break the loop and generate `return` statements. Thus, the code after the `switch` becomes unreachable.

**Input code**

Here is a *possible* reproduction (maybe not a minimal one). Note the line marked as `//

[2021-02-19 11:46] chengluyu commented on #1415
I think the bug comes from this file (https://github.com/swc-project/swc/blob/master/ecmascript/transforms/compat/src/es2015/block_scoping.rs) but I’m not sure about which lines.

[2021-02-19 11:47] coderaiser commented on #1392
@kdy1, `swc-to-babel` adapter is great, even written in `JavaScript`, but in `Rust` it will be definitely faster.

Also would be amazing to have ability to get `tokens` list from the root of `ast`. It needed for [recast](https://github.com/benjamn/recast/blob/v0.20.4/lib/parser.ts#L36-L44), that helps to change only code that matters, not the whole file. In other case another parser should be used

[2021-02-19 12:33] kdy1 commented on #1103
@kitsonk https://github.com/swc-project/swc/pull/1408 is now merged :)

[2021-02-19 19:31] JakubKoralewski opened #1417 "tests not passing on windows"
I didn't see anything mentioned about Windows development in the [contritbuting.md](https://github.com/swc-project/swc/blob/master/CONTRIBUTING.md) file so I assumed it was ok to try

First of all the fixture macro is broken on Windows:
https://github.com/swc-project/swc/blob/eecdca4e866f470781806ed287fd8480aefa8dce/testing/macros/src/fixture.rs#L136

so I added a check for `\\`, but then I still

[2021-02-20 05:36] koba04 commented on #300
The syntax has been allowed in https://github.com/facebook/jsx/pull/97, but it hasn't been synced to the website yet. https://github.com/facebook/jsx/issues/128
I think it's fine `swc` allows the syntax, so this issue can be closed.

[2021-02-20 06:26] kdy1 commented on #300
Thanks!

[2021-02-20 06:26] #300 closed

[2021-02-20 06:32] kdy1 commented on #1417
You have to checkout with correct crlf setting.

[2021-02-21 00:13] millsp opened #1421 "Decorator metadata is undefined"
**Describe the bug**

When using unions, or literal types, no decorator metadata is emitted.

**Input code**

[code]

**Config**

[code]

**Expected behavior**
`String` should have been emitted.

**Version**
The version of @swc/core: 1.2.47

**Additional context**
Add any other context about the problem here.

[2021-02-21 00:52] millsp commented on #571
@kdy1 It would be awesome if you could add also transformer plugins that leverage the type system

[2021-02-21 14:18] djalbat opened #1423 "The "use strict" directive is being included twice in transpiled files."
I am transpiling this code:

[code]
The result is this code:

[code]
You can see that the "use strict" directive is being included twice.

The `.swcrc` file is the following:

[code]
The version is `"@swc/core": "^1.2.47"`.

I am calling SWC programmatically rather than from the command line.

Many thanks in advance!

[2021-02-22 09:03] sunnylqm commented on #1160
Would appreciate a simple hack first (or as an option) since type system is a long way to go.

[2021-02-22 09:09] Exilz commented on #1160
I agree with @sunnylqm, we've been eager to hop on the swc train ever since we've discovered it, but this issue is still a show stopper for us.
@kdy1 Do you have any rough timeline regarding the availability of the type system ? Or maybe the aforementioned hack ?

[2021-02-22 10:44] kdy1 commented on #1160
@Exilz No. I don't have one.

[2021-02-22 12:26] Kaandriambelo commented on #1384
Hello,

I'm currently working on a project using babel.
We've seen pretty good reviews about swc so we would to test it out.
Since swc does not support typescript path yet, i'm trying to mend this by creating a custom plugin to resolve the path in tsconfig file.
My question is, how do i actually use this plugin i created ?
I saw plugins examples in the documentation but not how to actually use the

[2021-02-22 12:30] Kaandriambelo commented on #1253
Hello,

I'm currently working on a project using babel.
We've seen pretty good reviews about swc so we would to test it out.
Since swc does not support typescript path yet, i'm trying to mend this by creating a custom plugin to resolve the path in tsconfig file.
My question is, how do i actually use this plugin i created ?
I saw plugins examples in the documentation but not how to actually use the

[2021-02-22 14:57] fjc0k opened #1428 "TypeError: Can not find node binding files from @swc/core-darwin-x64 and /Users/jayfong/Documents/github/vtils/node_modules/.pnpm/registry.npm.taobao.org/@swc/core@1.2.48/node_modules/@swc/core/swc.darwin-x64.node at Object.loadBinding (/Users/jayfong/Documents/github/vtils/node_modules/.pnpm/registry.npm.taobao.org/@node-rs/helper@1.1.0/node_modules/@node-rs/helper/lib/loader.js:27:11)"
[code]

but `1.2.47` ok.

[2021-02-22 15:11] fjc0k commented on #1428
![image](https://user-images.githubusercontent.com/13151189/108727187-3d902100-7563-11eb-82d0-7afea760b2ff.png)

[2021-02-22 15:16] fjc0k commented on #1428
😂😂😂😂😂😂 solved: https://npm.taobao.org/sync/@swc/core-darwin-x64

[2021-02-22 15:16] #1428 closed

[2021-02-22 15:33] #1417 closed

[2021-02-23 02:23] mduclehcm opened #1429 "Using spack bundle deno front-end application"
**Describe the feature**
We can only bundle deno application to single js file using `deno bundle` command. But deno bundle not design for front-end application. It's missing a lot of stuff to become a frontend end bundler.
Why not we use "spack" to bundle deno app targeting web browser?

[2021-02-23 03:30] sporto commented on #1428
We are getting in 1.2.48
[code]

What is the fix? Thanks

[2021-02-23 03:44] sporto opened #1430 "v 1.2.48 TypeError: Can not find node binding files from @swc/core-linux-x64-gnu"
**Describe the bug**

In 1.2.48 we are getting

[code]

This in Debian 10 (Buster)

1.2.47 was fine

**Config**

[code]

**Expected behavior**

Compile without error

**Version**

The version of @swc/core: 1.2.48

**Additional context**

Adding @swc/core-linux-musl doesn't change this error

[2021-02-23 03:44] kdy1 commented on #1430
cc @Brooooooklyn
Do you have any idea?

[2021-02-23 03:56] Brooooooklyn commented on #1430
Seems like linux binary built on `ubuntu@20.04` and `Glibc` on it is not compatible with Node.js official docker images, I will fix the build CI and add some tests asap.

@kdy1 You can set  back the packages `@swc/core-{win32,linux,darwin,android}@1.2.47` to `latest` npm tag to avoid users to install the `1.2.48`.

[2021-02-23 04:09] kdy1 commented on #1430
@Brooooooklyn Thanks!

[2021-02-23 13:52] Kamadake commented on #1430
I'd like to add on to this.

I'm running Ubuntu 18.04
`4.15.0-1027-gcp #28-Ubuntu SMP Tue Jan 15 12:29:48 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

and reverting the versions of @swc-core didn't do much (unless I don't know how to set back the package, I just changed the version to 1.2.47 in the pnpm-lock file)

my solution instead was to rebuild the swc.linux-x64-gnu.node. I cloned`@swc/core` and

[2021-02-23 16:53] #1430 closed

[2021-02-25 10:30] fasterthanlime opened #1432 "swc 0.7.0 requires rust nightly because of cargo "strip" feature"
swc 0.6.0 worked with the latest Rust stable, swc 0.7.0 no longer does:

[code]

**Expected behavior**

If that's the only thing that requires Rust nightly, could stripping debug symbols be moved to a post-build step instead of relying on an unstable Cargo feature?

**Version**

the `swc` crate, v0.7.0

[2021-02-25 10:48] kdy1 commented on #1432
Hmm...
The swc crate is not designed for use from the rust side. (swc_ecma_preset_env expects node to be on the path)
What is your usecase?

[2021-02-25 17:12] fasterthanlime commented on #1432
I've been using `swc::Compiler` for its `parse_js` and `print` methods, but maybe the same could be achieved by using some of the underlying crates instead? Like `swc_ecma_parser::Lexer` and `swc_ecma_codegen::text_writer::JsWriter` - and then `swc_ecma_transforms` for, well, transforms.

I haven't been able to find a lot of docs on the whole family of swc Rust crates, maybe I've been missing some

[2021-02-26 07:26] kdy1 commented on #1432
Yes, you can do it using subcrates.

See typescript parser example at https://github.com/swc-project/swc/blob/master/ecmascript/parser/examples/typescript.rs

You can then apply `swc_ecma_transforms::typescript::strip`. See https://docs.rs/swc_ecma_transforms_typescript/0.7.0/swc_ecma_transforms_typescript/strip/fn.strip.html
You need to enabled the `typescript` feature of `swc_emca_transforms` to

[2021-02-26 07:26] #1432 closed

[2021-02-27 00:41] fasterthanlime commented on #1432
Thanks! I managed to get everything working with the subcrates 🎉

[2021-02-27 11:00] grosto commented on #1423
I found the source of the issue.

`ExportNamespaceFrom` pass moves all the imports statement in the beginning of file. So you get this after this pass
[code]

Then common js pass checks if "use strict" is the first module item and if it's not it adds the "use strict".

I am thinking about solution(should not be hard), but I am quite new to the codebase so have to see what's the best way to go arou

[2021-02-27 11:03] kdy1 commented on #1423
@grosto Thanks! I can now fix it without hard debugging :)

[2021-02-27 11:49] djalbat commented on #1423
Awesome! Thank you both. I'm really excited about using SWC going forward.

One thing I should mention. You get this error for another module kind, not just CommonJS. I can't remember the other off hand but it should be easy to check. Please let me know if you need more on this.

[2021-02-27 19:26] ldiqual commented on #1279
This is causing issues with typeorm when using relations by name instead of entity classes:

[code]

Note the `Company1` instead of `Company`.

[2021-02-28 06:55] #1403 closed

[2021-02-28 12:25] Nerixyz opened #1438 "Spack doesn't include sourcemaps"
**Describe the bug**
When bundling with `sourceMaps` enabled, spack does't emit sourcemaps.

**Input code**
[code]
**Config**

[code]

**Expected behavior**

Spack should emit sourcemaps

**Version**
The version of @swc/core: 1.2.46

**Additional context**
I also noticed, spack doesn't take the `output.name` into consideration.

[2021-02-28 17:16] grosto commented on #1206
This seems to be fixed on 1.2.49. At least with default config

[2021-03-01 08:19] #1279 closed

[2021-03-01 08:19] #1415 closed

[2021-03-01 10:34] kdy1 commented on #1206
Thanks!

[2021-03-01 10:34] #1206 closed

[2021-03-01 12:04] chengluyu commented on #1415
Thanks!

[2021-03-01 14:05] marchaos opened #1446 "Some HTML entities in JSX are removed (e.g &nbsp;)"
I noticed that some of our code includes `&nbsp;` in JSX, but these seem to be removed when we moved over to SWC.

e.g `<span>with&nbsp</span>`

**Config**

[code]

**Expected behavior**
These should be retained

The version of @swc/core: 1.2.47

[2021-03-01 15:48] fasterthanlime opened #1447 "No sourcemap mapping emitted on throw in a single line"
I was looking at the `Vec<(BytePos, LineCol)>` that's filled in by `JsWriter`, and with the following input code:

[code]

..there's no mappings generated for the `throw e;` line. If one were to use those sourcemap
mappings to show the line/col of the original source, they wouldn't be able to map back where
the actual exception was thrown.

I tried to follow the code and ended up in `impl JsWriter

[2021-03-01 15:57] fasterthanlime commented on #1447
Well that was an easy one - `LineCol`'s `line` field is 0-based (unlike the code editor I was looking at), so there *were* mappings emitted, I was just reading it wrong.

[2021-03-01 15:58] #1447 closed

[2021-03-01 19:21] Austaras opened #1448 "Typescript commonjs default import is removed"
**Input code**
[code]
**Describe the bug**
only generate
[code]
**Config**

[code]

**Expected behavior**
import something from `yaml`
**Version**
The version of @swc/core: latest

[2021-03-02 06:50] #1209 closed

[2021-03-02 11:28] mewhhaha commented on #1351
I was helping a coworker (also using Windows) with this issue recently, and he was using

node 14.15.4
npm 7.5.x

We resolved it by downgrading npm to the version shipping with node 14 (6.14.11). Maybe some of these problems are caused by this?

[2021-03-02 14:09] Brooooooklyn commented on #1351
I will check the npm@7 tomorrow

[2021-03-02 14:11] mewhhaha commented on #1351
I didn't look further into it, but I have other coworkers using the node 15 + npm 7 with swc so I think it's a mismatch issue if anything.

[2021-03-02 17:07] cspotcode opened #1449 "Cannot transform nested object destructuring with default value"
**Describe the bug**

Panics parsing the following destructuring assignment with default value within an async function.

When compiling the code example using the following swc CLI invocation, I get this error:

[code]

**Input code**

This is the most minimal reproduction I could create.  It appears to only happen within an async function, when the destructuring is nested, *and* when the nested

[2021-03-03 00:24] newtack commented on #1432
Deno also uses Rust API for transpilation, see here

https://github.com/denoland/deno/blob/4f80587d26891f783b1a7a46b0f3273def49cd6e/cli/ast.rs

[2021-03-03 03:33] kdy1 commented on #1432
I know.

[2021-03-03 08:21] kdy1 commented on #1449
Postponing as it a not a parsing issue.

[2021-03-03 11:05] kdy1 commented on #1446
I tested it and I found that swc emits

[code]

for

[code]

and

[code]

for

[code]

[2021-03-03 11:08] kdy1 commented on #1377
This is because ie 11 is not supported anymore.
This is same as babel.

See: https://github.com/babel/babel/blob/b12a4de45703156246fddf562a751b72005501d4/packages/babel-compat-data/data/plugins.json#L159-L169

[2021-03-03 11:08] #1377 closed

[2021-03-03 11:39] #1421 closed

[2021-03-03 11:39] #1423 closed

[2021-03-04 04:49] cspotcode opened #1451 "`async foo => 0` minifies to `asyncfoo=>0`"
**Describe the bug**

Swc's minifier appears to omit the space after the `async` keyword of an arrow function.

**Input code**

Here is my reproduction using the @swc/core JS API on node:

[code]

**Config**

Run without an `.swcrc`

**Expected behavior**

Minified output has the necessary space:

`async foo=>0`

**Version**
The version of @swc/core: 1.2.50

**Additional context**

[2021-03-04 10:50] kdy1 commented on #1160
I have questions regarding the issue.

For the context, I want to implement this for the next version but this is fairly complex, mainly due to circular imports.
Also, as it is also used by deno, there are some restrictions in the APIs.

To support it correctly, loader abstraction and a caching layer are required.

So my first question is

 - Are you guys using spack?

It already have loader abstr

[2021-03-04 13:07] Exilz commented on #1160
@kdy1 We're not using spack. Our setup is fairly simple so using only the CLI is enough for us.
I guess it would be acceptable for you to require people to use your bundler in order to achieve such things as long as it's clearly stated in the documentation.

The deps flag / includeDeps option would be awesome. I'm just wondering if it should be enabled by default.

[2021-03-04 15:05] sunnylqm commented on #1160
Is `includeDeps` equivalent to `isolatedModules`?

[2021-03-04 15:12] kdy1 commented on #1160
@sunnylqm No. The purpose of the option is to prevent breaking things.
e.g. `npx swc src/` should work identically.
But with `includeDeps: true`, the invocation can be changed to `npx swc src/index.ts`.

[2021-03-04 15:33] kdy1 commented on #1160
I think the option is enough for `tsc` mode (or project mode) vs `babel` mode.

Eventually, I'll add the ability to run babel plugins without modification. (See https://github.com/swc-project/swc/pull/1416)

[2021-03-05 16:48] ruscon opened #1454 "bug: can't parse abstract class"
**Input code**
[code]

**Describe the bug**
[code]

**Config**

[code]

**Expected behavior**
Should be parsed without error

**Version**
The version of @swc/core: 1.2.50
The version of @swc/cli: 0.1.35

[2021-03-07 16:36] noaione opened #1455 "bug: "this" context are not passed properly if the function is async"
**Describe the bug**

`this` context are not passed properly to statics while using ts-mongoose.
ts-mongoose passed the Model (as `this`) object to the statics arguments/parameters, but the compiled code doesn't pass the Model object making it undefined.

This only happens if the function is asynchronous.

**Input code**

[code]

**Config**

[code]

**Expected behavior**
`this` is passed properly

[2021-03-08 01:25] wan2land opened #1456 "Parameter decorator with modifier in the constructor does not work (typescript)"
**Describe the bug**

Parameter decorator with modifier in the constructor does not work properly. If at least one modifier is missing, it works fine.

**Input code**

[code]

**Config**

[code]

**Expected behavior**

The decorator needs to be parsed.

swc output:

[code]

**Version**

[code]

**Additional context**

Add any other context about the problem here.

[2021-03-08 02:33] wxs77577 opened #1457 "How to keep the order of `import`?"
I need to import a `setGlobalOptions` function and run it, and import `./schemas` after that.

But it changes the order of code.
[code]
becomes
[code]

[2021-03-08 13:44] Aeolun opened #1458 "export '_extends' (imported as 'swcHelpers') was not found in '@swc/helpers'"
**Describe the bug**

When building I get an unexpected error. I think it happens in any file that uses the `typeof` function.

[code]

I seem to be able to 'fix' it by turning externalHelpers off, but it seems like there is some discrepancy there somewhere.

**Input code**

**Config**

[code]

**Expected behavior**
I expect no output errors

**Version**
The version of @swc/core: 1.2.43 & 1.2.50 (

[2021-03-09 03:48] #1063 closed

[2021-03-09 14:20] wessberg opened #1461 "Feature request: regenerator-runtime should be inlined when externalHelpers is false (or offer the functionality to do so)"
**Describe the feature**

`swc` comes with a set of helper functions, all of which are inlined by default. However, it leverages `regenerator-runtime` for transforming async- and generator functions. However, even when `externalHelpers` are false (the default option), `regenerator-runtime` is included via a `require("regenerator-runtime")` call.

To my knowledge, there is no way to configure swc t

[2021-03-09 15:12] wessberg commented on #1227
This issue has been marked as closed, but the issue haven't been resolved. Please reopen this issue and see the updated repro.

It is correct that the example from the my original repro now produce the correct output, but the following code snippet will still produce invalid code:

For the following input:
[code]

swc will now produce the following output:
[code]

[2021-03-09 16:16] nino-vrijman commented on #1461
Note that I didn't test this thoroughly in anyway but by code would run successfully after installing `regenerator-runtime` as a dependency manually.

[2021-03-09 17:38] wessberg commented on #1461
Yes,
- If the code is executed in an environment that the developer has control over (they may not)
- if the executing runtime supports CommonJS modules (e.g. node)

For example, for my usecase, swc is embedded in a webservice that performs JIT-transpilation per API call of a bundle of polyfills, so I must ensure that the output generated by swc is in fact free of external dependencies.

Currently

[2021-03-10 03:15] kdy1 commented on #1348
@tbillington I know it worth, but I don't have time. I will happy to accept pr.

And please use +1 feature of github instead of spamming watchers.

[2021-03-10 08:32] learnwy opened #1462 "use arguments in `for loop` body; output generate a func to hold body, but not rename `arguments`"
**Describe the bug**
function scope implicit value `arguments` not rename for a new function body with `for loop` output.

**Input code**
the code of `https://github.com/swc-project/helpers/blob/master/src/_object_spread.js`
[code]

Output Code:
[code]

**Config**

[code]

**Expected behavior**

convert for loop code to a loop function body,
also rename the function scope implicit value like argum

[2021-03-11 07:37] Djaler opened #1466 "Expose JS API for parse/generate"
**Describe the feature**
This can be used in many cases as a replacement for @babel/parser and @babel/generator and improve performance of frontend tooling

[2021-03-11 07:41] kdy1 commented on #1466
There are apis for it.

[2021-03-11 07:41] #1466 closed

[2021-03-11 07:44] Djaler commented on #1466
Can you link me for it, please? I didn't found it in the docs.

[2021-03-11 07:46] kdy1 commented on #1466
https://github.com/swc-project/swc/blob/06cb4b89cba109e8bae8739a8509c5be569d1da1/node-swc/src/index.ts#L45

There's no doc on the website currently.

[2021-03-11 07:47] Djaler commented on #1466
Thanks!

[2021-03-13 11:29] andersekdahl commented on #571
We have a compilation step implemented as a TypeScript transformer that evaluates CSS in JS into static css.

Basically takes code like this:
[code]
And turns it into:
[code]
[code]

It uses the TS type checker to go through great lengths to evaluate styles at compile time, and it would be really great if the type checker in swc would allow us to achieve the same results.

Important aspects of the

[2021-03-14 09:29] nemonemi opened #1469 "No output when running npx swc /index.ts"
Hello,
I'm trying out this tool, which, btw. looks very promising, with a super simple setup.
[code]

**Describe the bug**
When I run the `npx swc /index.ts`, the command gets executed, but no output in the terminal and no bundle being produced.
When I run the `npx spack` the following error gets shown:
[code]
**Input code**
[code]

**Config**
.swcrc
[code]
spack.config.js
[code]

**Expected behav

[2021-03-15 16:34] pruhstal opened #1471 "Next.js example integration."
**Describe the feature**
A basic example of integrating swc with [next.js](https://github.com/vercel/next.js)

[2021-03-16 09:30] kdy1 commented on #1469
I think you need to run `npx swc index.ts`

[2021-03-16 09:58] nemanjamilosavljevic-newtron commented on #1469
@kdy1, I've tried it. Please check the **Additional context** section above.

[2021-03-17 02:36] nayeemrmn opened #1472 "strip: Define class fields in constructor by default"
Example input:
[code]
TSC actually only preserves class fields under specific conditions:
1) `"target": "ESNext", "useDefineForClassFields": true` - Preserve class fields. Current default behaviour (roughly) of swc.

[code]
2) `"target": "ESNext", "useDefineForClassFields": false` - Define class fields in constructor. Current behaviour of swc with `typescript_class_properties()` pass. Proposed def

[2021-03-17 02:57] kdy1 commented on #1472
Seems reasonable about the api but I have a question.
Is changing default behavior correct?

[2021-03-17 03:09] nayeemrmn commented on #1472
Yes, the example is copy-pasted from tsc output. Additionally it's strictly more compatible and non-breaking.

[2021-03-17 03:13] kdy1 commented on #1472
@nayeemrmn Thanks for the clarification! I will implement it soon.

[2021-03-17 06:24] #1472 closed

[2021-03-18 12:36] mirek opened #1477 "panic: async function"
1. Source code
[code]
or:
[code]

2. `.swcrc` file
`--no-swcrc`

3. Error message
[code]

4. Backtrace
[code]

[2021-03-18 12:37] mirek commented on #1477
Btw. dropping `async` from function seems to work just fine.

[2021-03-20 06:30] #1451 closed

[2021-03-20 10:09] Yaojian commented on #1309
Still no sourcemap generated on node.js for the given `.swcrc`:

[code]
    "@swc/cli": "^0.1.35",
    "@swc/core": "^1.2.50",
[code]

[2021-03-20 19:57] #1471 closed

[2021-03-20 23:05] zen0wu opened #1480 "dynamicImport does not respect noInterop"
**Describe the bug**

When compiling with esModuleInterop: true, typescript will emit `__importStar` to the following import,
but swc does not.

**Input code**

[code]

[code]

**Config**

[code]

**Expected behavior**
The emitted code should run just fine.

**Version**
The version of @swc/core: 1.2.50

**Additional context**
Add any other context about the problem here.

[2021-03-21 10:47] s-kris commented on #571
I literally decided to do this and landed here via my search journey. The discord link is dead, can you please share it again?
Thank you!

[2021-03-21 10:49] kdy1 commented on #571
@s-kris It will be developed as a propriety software.

[2021-03-21 10:56] s-kris commented on #571
Ah! I just read [this](https://github.com/swc-project/swc/issues/571#issuecomment-752933785)
But it is an excellent business case. Enterprises would love to pay, it'll save them a load of programmer-hours.
Wish you the best :)

[2021-03-21 15:11] nayeemrmn opened #1483 "strip: Static class fields should be transformed by default"
Tracking issue for TODO: https://github.com/swc-project/swc/blob/9bc074ed469a7b3e85a0ef23df27ff857fe44b84/ecmascript/transforms/typescript/src/strip.rs#L232-L234 This  only applies when `use_define_for_class_fields` is `false`. When it's `true`, the current behaviour of preserving all class fields is correct.

Input:
[code]

Actual output:
[code]

Expected output:
[code]

This can be achieved by a

[2021-03-21 16:09] dsherret commented on #1403
It seems these deno tests still don't work. For example, I noticed that the bundler creates a class with multiple constructors in `exec_deno_exec__deno_8959__entry_ts`:

[code]

[code]

Are these tests running under deno 1.8?

[2021-03-21 16:36] kdy1 commented on #1403
It seems like a bug of typescript::strip pass rather than a bug of deno execution test...
The tests simply uses installed version of deno.

[2021-03-21 16:38] dsherret commented on #1403
Yeah, I'm just wondering how they pass on your machine and thought it might pass in an old version of Deno for some reason.

[2021-03-21 16:43] kdy1 commented on #1403
Do you use windows?
While debugging a stack overflow issue, I found that the bundler emits some duplicated contents.

[2021-03-21 16:46] dsherret commented on #1403
@kdy1 I'm using WSL. Perhaps I need to also increase the stack? I don't see a stack overflow error.

[2021-03-21 16:48] kdy1 commented on #1403
The stack overflow issue is unrelated to the bundler issue.

See: https://github.com/swc-project/swc/pull/1464/checks?check_run_id=2160416962

[code]

In the output above, `function f1` is duplicated, only on windows.

[2021-03-22 14:50] Hoishin opened #1484 "`"target": "es201n"` actually targets the version before that"
**Describe the bug**

`const` and `let` are converted to `var` with es2015 target. Arrow functions are converted to function expression with es2015 target. Both are added in ES2015. They are not converted with es2016 target.

Exponential operator is converted to `Math.pow` with es2016 target. It's added in ES2016. It's not converted with es2017 target.

**Input code**

[code]

**Config**

[code]

[2021-03-22 14:52] kdy1 commented on #1484
Closing in favor of https://github.com/swc-project/swc/issues/1108

[2021-03-22 14:52] #1484 closed

[2021-03-22 14:53] Hoishin commented on #1484
Couldn't find that issue by searching, my bad

[2021-03-22 22:52] ruscon commented on #1362
@DanielRamosAcosta can you check if it works with the latest version?

[2021-03-23 08:53] DanielRamosAcosta commented on #1362
I've updated the dependencies of [the example repo](https://github.com/DanielRamosAcosta/nest-class-validator-swc), but it still failing, don't know exactly why, but it still seems to be a problem with decorators.

# Running Unitary tests

## Without SWC

[code]

## With SWC

[code]

# Running E2E tests

## Without SWC

[code]

## With SWC

[code]

[2021-03-23 19:10] djalbat opened #1488 "Backticks are not being escaped properly in template literals"
The following code...

[code]

...should be transpiled to:

[code]

However, although the backslash correctly escapes the backtick in the sense that the latter correctly does not close the template literal, the backslash is still present in the transpiled string literal:

[code]

The version is `1.2.50`.

Many thanks.

[2021-03-23 20:12] leon2k2k2k opened #1489 "swc_ecma_codegen missing parentheses for ArrowExpr"
The JavaScript that `swc_ecma_codegen` emits for applying an ArrowExpr is missing a pair of parentheses.

I am trying to generate the JavaScript corresponding to the `swc_ecma_ast::Expr` consisting of
```Call(Arrow("foo", "bar"), "baz")```

I am current getting the output
 ```(foo)=>bar\n(baz);\n```

This current parses as `(foo) => (bar(baz))`.

I am expecting something like
```((foo)=>bar)(baz);

[2021-03-23 20:39] djalbat opened #1490 "Invoking a method using `super` results in an undefined `this` object."
The example may seem convoluted but it is taken from an example in the following project:

https://github.com/djalbat/xgl

The classes are taken directly from that project with nearly all of the extraneous functionality removed. What is left is the folloiwng:

[code]

If you run this you will find that the `this` object in the `createFacets(hidden)` method of the `CanvasElement` class is undefined

[2021-03-24 08:05] kdy1 commented on #1489
This is already fixed it master by https://github.com/swc-project/swc/pull/1452

[2021-03-24 08:05] #1489 closed

[2021-03-24 10:18] unbyte opened #1493 "wrongly removed parentheses for nullish coalescing"
**Describe the bug**

wrongly removed parentheses for nullish coalescing

**Input code**

[code]

**Config**

[code]

**Expected behavior**

[code]

**Actual behavior**

[code]

**Version**
The version of @swc/core: 1.2.50

[2021-03-25 05:33] garretteklof commented on #1430
I'm running into this same issue on MacOS 11.2.3 and node:14 -- there are no binaries installed in @swc/core

[2021-03-25 05:33] garretteklof commented on #1430
I'm running into this same issue on MacOS `11.2.3` and `node:14` -- there are no binaries installed in `@swc/core`

[2021-03-25 05:51] Brooooooklyn commented on #1430
- Check if `node_modules/@swc/core-darwin-x64/swc.darwin-x64.node` existed
- Check the ***System preferences*** -> ***Security & Privacy*** -> ***General*** tab, if `swc..darwin-x64.node` blocked by system.

@garretteklof

[2021-03-26 02:20] garretteklof commented on #1430
@Brooooooklyn sorry, I should've clarified. I'm running in Docker `swc...darwin-x64.node` existed (both host / container). The error inside of the Docker container was like the OP `TypeError: Can not find node binding files from @swc/core-linux-x64-gnu, @swc/core-linux-x64-gnux32, @swc/core-linux-x64-musl`

I realized it was because I was binding `node_modules` in docker-compose `volumes` 🤦 did no

[2021-03-26 04:48] #1483 closed

[2021-03-26 07:07] #1309 closed

[2021-03-26 15:45] #1493 closed

[2021-03-26 21:49] nayeemrmn opened #1497 "strip: Class field keys are not precomputed"
Note that `class_properties()` already has the correct behaviour, but I didn't transfer this to `strip()` properly.

Input:
[code]

Actual output:
[code]

Expected:
[code]
This would correctly output `1` on class declaration, rather than once per construction.

[2021-03-27 07:41] ije opened #1499 "ecmascript print error"
`P((h = (f.forEach(L), true)) => h` -> ` P((h = f.forEach(L), true) => h)`

in browser an error will be thrown:

[code]

[2021-03-27 16:18] nayeemrmn opened #1502 "strip: Sequence expressions in class field initialisers missing parentheses"
Input:
[code]

Actual output:
[code]

Expected output: Same as input.

[2021-03-27 22:19] Skalman opened #1503 "TypeScript: "private declare property" doesn't work"
**Describe the bug**

The keyword order for `private declare` should be allowed. Currently only `declare private` is supported.

**Input code**

`class Class { private declare prop }`

**Config**

`--no-swcrc -C jsc.target=es2016`

**Expected behavior**
It should compile to
`class Class {}`

**Version**
The version of @swc/core: 1.2.50

**Additional context**
Both keyword orders are supported by `

[2021-03-27 23:56] mikob opened #1504 "dynamicImport error should be a warning"
error: import(...) expressions requires `jsc.parser.dynamicImport` to be true

But I would like to ignore the dynamicImport (let it happen at runtime). Perhaps this would make more sense as a warning, about the dynamic import being unresolved because dynamicImport is false?

[2021-03-28 01:50] kdy1 commented on #1504
It's option for the parser, though.

[2021-03-28 02:06] alxu-sentry opened #1505 "Incorrect parsing of nested <> generics in fat arrow functions in tsx mode"
**Describe the bug**
I tried running swc on https://github.com/getsentry/sentry, and while ~3800 files successfully compiled, about a dozen failed. One issue is on our end: https://github.com/getsentry/sentry/pull/24773. The main issue however is the following edge case in tsx parsing:

**Input code**

[code]

[code]

**Config**

[code]

**Expected behavior**
JavaScript is output.

**Actual behavi

[2021-03-28 03:04] mikob commented on #1504
@kdy1 sorry, I'm new to this. I thought that turning that option on would make it resolve and bundle the dynamic import. But I now see I was wrong!

[2021-03-28 03:04] #1504 closed

[2021-03-28 03:15] #1497 closed

[2021-03-28 05:26] kdy1 commented on #1505
I tried to fix this, and I found that it works if you set `.swcrc` as

[code]

See: https://swc.rs/docs/configuring-swc/#multiple-entries

I'll change default value of `tsx` to determined by extension, though.

[2021-03-28 06:00] kdy1 commented on #1499
Please add some more details

[2021-03-28 06:12] ldiqual opened #1507 "`Location` class gets compiled to `Location1` even though `keepClassNames == true`"
**Describe the bug**

When compiling a `Location` class with annotation, it is named `Location1` even though `keepClassNames = true`

**Input code**

[code]

**Output code**

[code]

**Config**

[code]

**Expected behavior**

Swc should respect `keepClassNames` and the class should be named `Location`.

**Version**
The version of @swc/core: 1.2.51

[2021-03-28 09:58] gaeulbyul opened #1508 "swc produces an invalid syntax file (`export const txt`)"
## Description

When I compile this code with `swc`, It emits `const txt;` but that's an invalid syntax.

## Expected behavior

I tested same code with [Sucrase](https://sucrase.io/#code=declare%20namespace%20twttr%20%7B%0A%20%20export%20const%20txt%3A%20typeof%20import('twitter-text')%0A%7D), [Babel](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&built

[2021-03-28 11:13] nayeemrmn opened #1509 "strip: Use sequence expressions for class expression expansion"
For TODO: https://github.com/swc-project/swc/blob/8eae00900f88b09cf04dc1a991f815124a07d08f/ecmascript/transforms/typescript/src/strip.rs#L450-L454

TSC uses sequence expressions here. We can as well.

[2021-03-28 12:24] alxu-sentry commented on #1505
Hi, are you saying this is invalid in TSX? I think this should be parsed as a generic, not as a tag. I'm not sure how tsc handles this but it is allowed in both TS and TSX mode.

[2021-03-28 12:27] kdy1 commented on #1505
Yes. It's invalid in tsx.

https://www.typescriptlang.org/play?#code/MYGwhgzhAECyCeBhcUA8AVAfNA3gXwG4AoAF3gAcBTOedC6gXl0KMoA9yB7AJxOmE4A7CHwBmg6EwyYAFAEpJ2UJBjsSlQQBMYCZCtS6UEadhzQRYEgEtg0NpOgBWAtBZA

https://www.typescriptlang.org/play?#code/FAYwNghgzlAECyBPAwpGAeAKgPlgbwF8BuYAF0QAcBTBRTSmgXn2OCoA8KB7AJ1NhBcAdlH4AzIbGZZsACgCUU3OGhwOpKkIAmcJKlXoA8gFsAlqXRJ61ADSwA5O3u4AZLBwsiQA

In both examples, t

[2021-03-28 12:39] alxu-sentry commented on #1505
Sorry, I didn't check that my reduced example works in TSC. This example is working in TSC but not SWC:

Full code: https://github.com/getsentry/sentry/blob/37ca88539ecfd98ccc61513c179704f31689afe1/src/sentry/static/sentry/app/utils/withTeamsForUser.tsx#L27

Reduced example:

[code]

TSC OK: https://www.typescriptlang.org/play?#code/C4TwDgpgBAkgdgKwgY2BAJgFQgQwLYDOACgE4D2YBUAvFAN4C+A3AFDIA2OBVAwmX

[2021-03-28 15:22] dsherret opened #1512 "`assert` identifier in call expression with type arguments fails to parse"
**Describe the bug**

Code fails to parse.

**Input code**

[code]

[code]

**Expected behavior**

It would parse.

**Version**

swc_ecmascript 0.27.0 (I'm assuming this hasn't been fixed in 0.28... my bad if so)

[2021-03-28 15:27] kdy1 commented on #1512
I'll fix this with https://github.com/swc-project/swc/pull/1506. (I need to fix parser anyway)

[2021-03-29 00:33] dsherret opened #1514 "Property name "readonly" in class declaration raises diagnostic"
**Describe the bug**

**Input code**

[code]

[code]

**Expected behavior**

Should not error: https://www.typescriptlang.org/play?#code/LAKApgHgDg9gTgFwAQGMA2BDAzlpBhTHABThiiQG9Qkk4wMATGAOzQE8BCALiQCMYYaes1ABfIA

**Version**

Tested in second latest version. Sorry if this is fixed already.

[2021-03-29 02:30] #1512 closed

[2021-03-29 08:39] iamakulov opened #1515 "swc generates incorrect code when it encounters a class and a namespace with the same name"
Hey, thank you for a great project!

**Describe the bug**

On some files in a codebase I’m working in, swc generates code that crashes with `SyntaxError: Identifier has already been declared`. These files have a TS class and namespace with the same name, which is allowed in TypeScript.

**Input code**

[code]

[code]

**Config**

[code]

**Expected behavior**
I expected swc to generate correct cod

[2021-03-29 10:26] pbadenski commented on #571
Could you perhaps add a "X tests out of Y tests" to the status? To give a rough idea of how close you are to the finish line :D

[2021-03-29 10:35] remorses commented on #571
It would also be cool to have a newsletter with new updates and progress made

[2021-03-29 11:02] Nerixyz commented on #571
There's already a blog with news on [swc.rs/blog](https://swc.rs/blog/).

[2021-03-29 11:05] kdy1 commented on #571
@pbadenski I'll do so :).

@remorses It seems good, but sometimes I don't have enough time to work on stc, so the mailing period might be strange.

[2021-03-29 11:48] #1503 closed

[2021-03-29 11:48] #1505 closed

[2021-03-29 11:48] #1507 closed

[2021-03-29 11:48] #1514 closed

[2021-03-29 11:48] #1515 closed

[2021-03-29 16:12] kdy1 commented on #1469
I found that your .swcrc is invalid.

[code]

[2021-03-29 21:51] RyanCavanaugh opened #1517 "Support new TypeScript syntax - getters/setters in non-class scopes"
Title speaks for itself but here's an example of what's now legal in TS 4.3:

[code]

See microsoft/TypeScript#43420 for more details and to discuss further

[2021-03-30 03:09] #1502 closed

[2021-03-30 03:09] #1509 closed

[2021-03-30 07:47] #1480 closed

[2021-03-30 07:47] #1488 closed

[2021-03-30 07:47] #1490 closed

[2021-03-30 07:47] #1508 closed

[2021-03-30 07:47] #1517 closed

[2021-03-31 02:29] pbadenski opened #1525 "Combining import and default import transpiles wrong output"
**Describe the bug**

When using this syntax in TypeScript code:
[code]

My output looks like this:

[code]

and that results with error: ```Class extends value undefined is not a constructor or null``` because `_react.Component` doesn't exist (it needs to be rather `_react.default.Component`).

**Config**

[code]

**Version**
1.2.51

[2021-03-31 02:34] pbadenski opened #1526 "Error when parsing generators combined with generics"
**Describe the bug**

[code]

Parsing this code with swc gives following error:
[code]

**Config**

[code]

**Version**
1.2.51

[2021-03-31 02:57] pbadenski commented on #246
@kdy1 I'm a bit confused about the status of this, hope you can clarify. (As you might be guessing I'm also super excited about swc use with eslint because of speed).

A comment above (https://github.com/swc-project/swc/issues/246#issuecomment-465403756) is mentioning this having been blocked by #230. That issue is closed and merged. Considering the comment above "AST is missing the tokens array."

[2021-03-31 03:12] kdy1 commented on #246
It still requires lots of work

[2021-03-31 13:37] kdy1 commented on #588
Will be fixed with next version

[2021-03-31 13:37] #588 closed

[2021-03-31 16:02] jsilveira commented on #1461
I also second this! I'm only using `swc` for the es6 -> es5 conversion for an existing bundle and it would be very useful to have a "browser usable" output from `swc`

[2021-04-01 22:24] dsherret opened #1530 "Comment map key positions are incorrect in some cases in swc_ecmascript 0.29.0"
**Describe the bug**

Had a lot of tests fail. Probably related to this statement: https://github.com/swc-project/swc/pull/1527/files#diff-ff99e374b96f1bc47fba4a477800d8f6e78d43ddb8d4899afb6b7d9073e7139cR281

Given the following code:

[code]

swc now has the following leading and trailing comment maps:

[code]

Byte position 23 is after the close brace token and not before it.

**Expected behavio

[2021-04-01 22:34] dsherret commented on #1012
Implemented.

[2021-04-01 22:34] #1012 closed

[2021-04-02 01:04] cdaringe commented on #1165
@kdy1 , i see some recent PRs have been working on comments. should this be a target for milestone v1.2.52 as well?

[2021-04-02 03:43] kdy1 commented on #1165
@cdaringe No it's not

[2021-04-02 06:48] kdy1 commented on #1530
I'll implement a test system for comments.

[2021-04-02 09:22] grimly opened #1532 "Error message for invalid config is misleading"
**Describe the bug**

I am using swc with rollup, therefore I am using the API, not the CLI.

I tracked down my issue to the use of the `transform` function from `@swc/core`.
I've removed all the code I could to narrow down the source of my problem.

Here is the code to run with `node` directly :

[code]

The following error prints immediately:

[code]

The returned promises emits an error which p

[2021-04-02 09:25] kdy1 commented on #1532
`target: 'esnext'` is wrong. You should use `target: 'es2020'` instead.
Error message seems misleading, though.

[2021-04-02 09:27] grimly commented on #1532
Indeed this fixed my problem. Thank you very much.

Should I leave this issue open until the error message is clearer or not ?

[2021-04-02 09:29] kdy1 commented on #1532
Please leave it. I'll change the title.

[2021-04-02 09:47] #1449 closed

[2021-04-02 09:47] #1455 closed

[2021-04-02 09:47] #1477 closed

[2021-04-02 09:47] #1530 closed

[2021-04-02 09:47] #1448 closed

[2021-04-02 10:06] kdy1 commented on #1530
Fixed and published a new version :)

[2021-04-02 15:10] dsherret commented on #1530
Thanks @kdy1! It is working perfectly now 😊

[2021-04-02 20:17] Skalman opened #1533 "[spack] Variable disappears when there are multiple circular references"
**Describe the bug**

When attempting to bundle [this version of ReactDOM](https://cdn.skypack.dev/-/react-dom@v17.0.1-oZ1BXZ5opQ1DbTh7nu9r/dist=es2020,mode=imports/optimized/react-dom.js), a variable disappears. I spent quite some time coming up with a reduced test case :smile:

**Input code**

[code]

**Output code**

<details>

[code]

</details>

**Config**

[code]

**Expected behavior**
The i

[2021-04-03 10:40] wavesheep opened #1534 "type `Argument.spread` should be optional"
**Describe the bug**
When we wirte a plugin to transform some code to CallExpresstion or NewExpression with arguments that without spread operator like `fn(a, b)`, we could have done it by ignore `spread` property in `Argument` type but `Argument` type definition required a spread property with `Span` Type.

**Version**
The version of @swc/core: 1.2.51

[2021-04-03 16:18] Austaras commented on #545
@kdy1 seems like `import.meta` is only available in typescript? But this is a [js proposal](https://github.com/tc39/proposal-import-meta#proposed-solution) and has already landed in browsers

[2021-04-04 08:25] #1534 closed

[2021-04-04 09:16] mischnic commented on #1321
Are there plans to support plugins written in Rust?

[2021-04-04 11:11] kdy1 commented on #1321
@mischnic No. Managing two plugin APIs is too much for now.

[2021-04-04 11:12] #1251 closed

[2021-04-05 18:46] arendjr opened #1543 "Type mismatch in tagged template expression"
**Describe the bug**

I'm trying to write an SWC plugin. Unfortunately, it seems the default `Visitor` implementation in TypeScript doesn't match the structure of the AST it receives, resulting in an exception on `TaggedTemplateExpression` nodes:

[code]

It seems `Visitor.ts` expects `TaggedTemplateExpression` nodes to have an `expressions` array, whereas upon inspection it appears this array is

[2021-04-05 18:53] arendjr commented on #1543
I have published the full project, if you want a fully reproducible playground: https://github.com/arendjr/linaria-swc

[2021-04-05 19:09] arendjr commented on #1543
It seems this would be the offending commit that broke it:

https://github.com/swc-project/swc/commit/da62c732391f3445a67bc2fb1c4753068df77676#diff-268f8129226f6c92648f320467648cd42f3cc43e6f42c1d255ab0e418e999663

[2021-04-05 21:50] matiosfree opened #1545 "Problems with Crypto"
**Describe the bug**

I'm getting an error in the project that uses crypto-browserify:
[code]

if I'm going into createHash.js and changing (just for the test)
`this.hash.update(data, inputEncoding);`
to
`this.hash.update(data + '', inputEncoding);`
The error disappears.

**Input code**

[code]

**Config**

[code]

**Expected behavior**
No error happen

**Version**
The version of @swc/core: v1.2.5

[2021-04-05 21:56] matiosfree opened #1546 "Please verify that the package.json has a valid "main" entry"
**Describe the bug**
When I'm trying to use it on some project React+Webpack+TypeScript, I'm getting an error:
[code]

**Input code**

webpack config:
[code]

**Config**

[code]

**Expected behavior**
no error happens

**Version**
The version of @swc/core: v1.2.52 (master branch)

[2021-04-05 22:02] matiosfree commented on #1546
ah, sorry for that. seems I installed sources from master but not the builded package

[2021-04-06 04:31] irfan-maulana-tkp opened #1547 "Use alternative config file in .js"
**Describe the feature**

Currently we support `.swcrc` file as a configuration, this issue is to request config on the `.js` file like `swc.config.js`.
With the `.js` file, we can dinamically add more function in the configuration, like: generating includes files, ignore files, etc.

**Babel plugin or link to the feature description**

Babel config as reference: https://babeljs.io/docs/en/config-

[2021-04-06 06:22] #1543 closed

[2021-04-06 06:59] #1546 closed

[2021-04-06 13:34] grimly opened #1549 "Template strings with carriage return fails transformation to es2015"
**Describe the bug**

This bug happen only with es2015 as the target. Even targeting es3 and es5 works fine.

When a carriage return is present in a template string, the expected output before this carriage return is removed.

[code]

Maybe related to #204 as the string value is the same.

**Expected behavior**
Anything that would make sense. As a workaround I simply remove any carriage returns be

[2021-04-07 00:39] brielov commented on #1250
@kdy1 Any news on this?

[2021-04-07 04:07] kdy1 commented on #1525
Is this really bug?
I'm not sure, but using `_react.default` where _react is default-exported seems wrong to me.

[2021-04-07 04:11] kdy1 commented on #1545
Are you using swc-loader?
And are you transpiling `webpack\lib\util\createHash` with swc?

[2021-04-07 07:09] g-plane commented on #1148
Closing, because this check requires a type checker and it's hard to do it when parsing.

[2021-04-07 07:09] #1148 closed

[2021-04-07 07:38] kdy1 commented on #1250
It's implemented. I forgot documenting it, though.

[2021-04-07 10:54] ycjcl868 commented on #1430
+1 same problem

[2021-04-07 11:11] Brooooooklyn commented on #1430
Please provide your OS version, node version, and the stdout of `ls -R node_modules/@swc`

[2021-04-07 12:13] brielov commented on #1250
@kdy1 Can you share how to use it here until it gets documented? I have a react template that depends on factories and fast-refresh.

[2021-04-07 12:24] kdy1 commented on #1250
@brielov I added some docs at https://swc.rs/docs/configuring-swc/#jsctransformreact
But fast refresh isn't released yet. I'll release a new version within a week.

[2021-04-07 19:06] matiosfree commented on #1545
yes, I do

no, I'm transpiling **createHash**  and **createHmac**  from  `crypto-browserify\index.js`

[2021-04-07 22:06] Skalman opened #1553 "panic: [spack] Cannot export namespace with the same name as a function or a class"
This panic appears only with spack, not swc.

1. Source code

[code]
or
[code]

2. `spack.config.js` file

[code]

3. Error message gained from `spack`
(the `--sync` option doesn't seem to be supported)

[code]

4. Backtrace

The backtrace doesn't seem too useful :smile:

[code]

---

[code]

[2021-04-08 03:27] kdy1 commented on #1553
Closing as already fixed on master.
The new version will be released soon, after fixing some more bugs.

[2021-04-08 03:27] #1553 closed

[2021-04-08 10:37] Austaras opened #1556 "Transform esmodule without break `this`"
**Describe the bug**
As we have discussed in #1524, when swc transform esmodule to `commonjs|amd|umd` it will generate code like
[code]
However, that will make `this` in `foo` points to module `a` instead of `globalThis`. Although few people still use commjs target today and even fewer people use `this` to refer global, this still should be fixed. swc should instead generate code like
[code]
**Ver

[2021-04-08 12:06] grimly commented on #1555
Hello,

I am tracking down a similar bug (I caught it on `wrapNativeSuper`) but **it did not come from `@swc/core`**.
@kdy1 , can you remove the closing keyword from #1550 ? There is effectively something wrong around these helper functions and I would need more time to investigate it.

And so far, the solution I would have in mind so far is to refactor this way:

[code]

[2021-04-08 12:16] kdy1 commented on #1555
@grimly I removed it.

[2021-04-08 12:33] grimly opened #1557 "Wrong helper function names used"
**Describe the bug**

When using the `externalHelpers` option, the emitted code uses functions with their internal name (ie: `_typeof`) instead of their exported name from `@swc/helpers` (ie: `typeof`) making the exported code invalid.

**Input code**

[code]

**Config**

The 3 below has this flaw. I am myself the most interested with the last.

[code]

[code]

[code]

**Observed code**

[code]

*

[2021-04-08 12:55] #1404 closed

[2021-04-08 12:55] #1526 closed

[2021-04-08 12:55] #1532 closed

[2021-04-08 12:55] #1549 closed

[2021-04-08 13:13] grimly commented on #1557
After further searches, it looks like this is a duplicate of #1458

[2021-04-08 13:41] grimly commented on #1555
Hello again,

I now got my hand on it.

**Describe the bug**

This happen when the code from `@swc/helpers` gets though `swc` itself. Any code that exports a function that edits itself has the same issue

I've annotated the code below with numbers on all occurrence of the `test` name.

`swc` groups 1 and 2 as the first instance of `test` and 3 and 4 as the other. But in fact, the 4th occurrence sh

[2021-04-08 13:42] kdy1 commented on #1555
Thank you for investigation!

[2021-04-08 14:07] grimly commented on #1555
Given the commit `1841168`, I think #1550 fixes (or at least verify) this issue.

[2021-04-08 14:38] kdy1 commented on #1555
@grimly Thanks! Closing as verified by https://github.com/swc-project/swc/pull/1550

(This is actually fixed by recent resolver bugfix)

[2021-04-08 14:38] #1555 closed

[2021-04-08 15:19] Skalman commented on #1553
Oh, okay. Thanks!

[2021-04-08 16:19] sabberworm commented on #1555
Thanks @kdy1 for verifying this as fixed in swc/core. But I originally opened this issue on swc/helpers precisely because I wanted it fixed there. Will there a follow-up story to publish a new swc/helpers package on NPM built with a recent swc/core that has the correct output?

[2021-04-08 17:15] pbadenski commented on #1525
I do believe this is a bug. Let me try to explain a bit better.

`import { Component, default as React } from "react";` is a valid syntax in ES Module and it's also supported by Babel.

If I create 2 files test.mjs and test.js with identical content:
[code]

Output:
[code]

Output:
[code]

I would expect `swc-node` to return the same output as node's ES module example.

[2021-04-08 17:31] kdy1 commented on #1525
Ah, sorry. I misread it. I only considered `_react.default.Component` this part.

[2021-04-09 00:58] dsherret opened #1558 "Should support `async override` in addition to `override async`"
**Describe the bug**

Right now doing `async override` will throw an error.

**Input code**

It seems TypeScript supports both ways, but right now swc errors.

[code]

https://www.typescriptlang.org/play?ts=4.3.0-beta#code/MYGwhgzhAEBCkFNoG8CwAoaXoFsEBcALAewBMBGACgEoUBfDbXAk0gJhvowfQ1EhgAVBBHzQEAD3wIAdqRjwISNJmwAHAK4AjEAEtg0YgDcEAJ1O7SSSAE8ZBvETJVaKpk1MENpmdAAKpsQ4ukoAdJ4QxCAmlOTUANyM2DxJWJo6+tC29

[2021-04-09 02:48] Austaras commented on #1525
For reference, [this](https://babeljs.io/repl#?browsers=chrome%2088&build=&builtIns=false&spec=false&loose=false&code_lz=JYWwDg9gTgLgBAbzgYQuCA7AphmAaOAEywDMBDAVwBt4yBnOAJSzIGN4BfOEqNOAIigt2_ANwAoSayr0GADThYAHjByEGqdNlyJxHcUA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=env%2Creact%2

[2021-04-09 05:42] Skalman commented on #1558
The TypeScript compiler often requires a specific modifier order. I've filed an issue with them to see if this behavior is on purpose or not: https://github.com/microsoft/TypeScript/issues/43606.

[2021-04-09 07:00] kdy1 commented on #1555
@sabberworm Of course. I'll publish a new version once v1.2.52 is released.

[2021-04-09 08:27] Austaras commented on #1556
Seems like this bug runs down to [this line](https://github.com/swc-project/swc/blob/2211a9908a9a1c2e01d5f483ad91ac396336dc08/ecmascript/transforms/base/src/fixer.rs#L667). What is the purpose of this line @kdy1? There are many cases where I believe it would cause bug, e.g.
[code]
or
[code]

[2021-04-09 08:31] kdy1 commented on #1556
It's a known issue and it should be changed to preserve one useless value.