[2019-12-28 00:26] dsherret commented on #536
Would it be a big inconvenience to current users? The library isn't 1.0 yet so shouldn't it not be a big deal to do any breaking change?

[2019-12-28 00:42] kdy1 commented on #536
@dsherret You are right, but updating swc_ecma_transforms would require lots of work.

[2019-12-28 02:25] #104 closed

[2019-12-28 02:25] #397 closed

[2019-12-28 03:19] #535 closed

[2019-12-28 03:19] #538 closed

[2019-12-28 04:46] dsherret commented on #538
@kdy1 Thanks! It works now.

[2019-12-28 13:02] #532 closed

[2019-12-29 05:03] leafo opened #542 "whitespace removed after inner JSX tag"
Input code:

[code]

swc output:

[code]

expected output:

[code]

A space should appear at the beginning of the string `' listen to a randomly generated melody'`. Currently swc renders without a space, breaking how the text appears on the page.

<details>
<summary>Babel output for reference</summary>

[code]

</details>

[2019-12-29 12:43] #111 closed

[2019-12-29 15:05] #542 closed

[2019-12-30 21:30] marisasrida01 commented on #364
good

[2019-12-30 23:37] dsherret opened #545 "Meta property parsing for `import.meta`"
Expressions such as `import.meta` in the following...

[code]

...should be parsed as a `MetaPropExpr`.

Right now this import meta proposal is supported in TypeScript.

References:

* https://github.com/tc39/proposal-import-meta#proposed-solution
* https://astexplorer.net/#/gist/85d9c7560b8a9e00beab91dede16f5df/adbeb94ef5440c5e79a61e81b8b6c926f073252b
* https://ts-ast-viewer.com/#code/MYewdgzgLgB

[2019-12-31 09:33] Eraden opened #546 "Invalid multiple import transform"
In my project I have multiple imports with following syntax:

[code]

There is `default` import and then all as named import. Babel is accepting this without any issue but swc is generating following output:

[code]

[2019-12-31 19:50] dsherret opened #548 "TsExprWithTypeArgs should have type_args property instead of type_params"
This library is very good at distinguishing type parameters from type arguments ([unlike babel](https://github.com/babel/babel/issues/9418)), but the declaration for `TsExprWithTypeArgs` should have a `type_args` property rather than `type_params` at it currently does:

[code]

This is a breaking change of course... looks like it was done on `NewExpr` in the past:

[code]

[2019-12-31 20:52] kdy1 commented on #548
Although this is breaking change, I fixed it as it is a correctness issue.

[2019-12-31 21:32] dsherret commented on #548
Awesome! Happy new year, btw!

[2019-12-31 21:57] #545 closed

[2019-12-31 21:57] #546 closed

[2019-12-31 21:57] #548 closed

[2019-12-31 21:58] kdy1 commented on #548
@dsherret I fixed it. Happy new year!

[2020-01-02 04:44] kdy1 commented on #491
Removing milestone as the authors of the table did not answer to my questions.

[2020-01-03 02:58] dsherret opened #555 "Expected byte position of comments in CommentMap at end of file"
Given the following code:

[code]

It has the following comment maps:

[code]

Should something be changed here so this makes more sense? I'm not sure what the solution should be. FWIW, Babel includes these as trailing comments of the if statement.

[2020-01-03 03:00] kdy1 commented on #555
Thank you for reporting a bug related to an edge case.

Do you think marking the last comment as trailing comment of if statement makes sense?

[2020-01-03 03:02] dsherret commented on #555
@kdy1 just updated my original comment. Yeah, that makes sense and it's what babel does.

[2020-01-03 03:19] #555 closed

[2020-01-03 03:20] kdy1 commented on #555
@dsherret Fixed it

[2020-01-03 03:42] dsherret commented on #555
@kdy1 wow that was super fast. It works! Thanks! :)

[2020-01-04 18:49] dsherret opened #564 "Question: type_ann sometimes TsTypeAnn and other times Box<TsType>"
I'm wondering why some nodes use `type_ann: TsTypeAnn` and others use `type_ann: Box<TsType>`?

For example:

[code]

Thanks!

[2020-01-04 23:57] kdy1 commented on #564
I don't know why. I just copied it from babel.

[2020-01-05 19:25] dsherret opened #568 "Issue parsing arrow function in conditional expression"
Here's some code from the TypeScript compiler in [checker.ts](https://raw.githubusercontent.com/microsoft/TypeScript/master/src/compiler/checker.ts):

[code]

The following error occurs:

This also fails with babel, but is fine with the TS compiler: https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBAZgSwDZQKYCcBiYBcMAUUeAKgJ4AOqAlDALwB8MARiCEqgIZh0w

[2020-01-05 20:19] dsherret commented on #568
Also, I'm not sure if I'm doing something wrong, but with an optimized build it seems to take swc 17.1s to parse [checker.ts](https://raw.githubusercontent.com/microsoft/TypeScript/master/src/compiler/checker.ts)... but if I use `@typescript-eslint/typescript-estree` it takes 1.3s... why is swc so slow in this scenario?

[2020-01-05 21:11] dsherret opened #569 "swc very slow when capturing tokens"
It seems to take swc 17.1s to parse [checker.ts](https://raw.githubusercontent.com/microsoft/TypeScript/master/src/compiler/checker.ts) (after I remove the offending line from #568)... but if I use `@typescript-eslint/typescript-estree` it takes 1.3s (babel's parser takes 4.5s). My code looks like this (I do the global thing at a higher level because otherwise the comments don't work outside this

[2020-01-05 21:29] dsherret commented on #569
Ok, I figured it out! The problem is just that it's building up an array of tokens that ends up being 233,548 items in the end.

[code]

I think I'm going to have to get around this by not storing the tokens and instead creating a very simple scanner that I can use to find them instead.

[2020-01-05 21:30] dsherret commented on #569
I think this issue can be closed. It might be good to warn people about how capturing tokens is super slow though.

[2020-01-06 00:07] kdy1 commented on #569
Did you compiled with the release mode??

[2020-01-06 00:09] dsherret commented on #569
@kdy1 yup. I was trying with `--release`

[2020-01-06 00:11] kdy1 commented on #569
I'll investigate this. I think this is slow because parser copied input while backtracking. And those copies can be removed with rc and refcell.

[2020-01-06 00:28] #564 closed

[2020-01-06 01:16] kdy1 commented on #569
Fixed it. (I made a mistake in the commit message, but it's not very important).

[2020-01-06 01:16] #569 closed

[2020-01-06 01:18] kdy1 commented on #533
I closed this by mistake

[2020-01-06 01:54] nicksrandall commented on #533
@roman01la, I’m working on a similar tool. You can get this by generating an AST of the file and then searching for import declarations and then recursively searching those files for more imports.

[2020-01-06 08:21] kdy1 opened #571 "TypeScript type checker"
See https://github.com/dudykr/stc

[2020-01-06 21:26] elsassph opened #572 "Test failing on Mac?"
One test is failing on Mac OS 10.14.6 for master branch:
[code]

PS: `CONTRIBUTING.MD` is missing a few commands to install the dev environment. Based on `travis.yml` I did the following as well:
[code]

[2020-01-06 22:00] kdy1 commented on #572
You have to set core.autoxrlf to inpur.

[2020-01-06 22:00] #572 closed

[2020-01-07 11:29] dragonofdeath opened #573 "Typscript parsing error in function type parrameter"
When tsx enabled in `.swcrc` i get this syntax error for:
[code]
swc version
[code]
Config file content:
[code]

[2020-01-07 12:12] kdy1 commented on #573
The parser is crazy. It parses the code correctly if a reference file does not exist but it fails if not. Investigating it...

[2020-01-07 12:49] #573 closed

[2020-01-08 19:25] dsherret commented on #571
I'm just looking at this: https://github.com/kdy1/swc/tree/e88e5e4c824926e5f3a5240986c33bb30f7508b5/typescript/checker

Won't re-writing the TS type checker in rust be a lot of work? There's so many edge cases! Why not just do what babel does and tell people to run the typescript type checker over the code with emitting? Alternatively, you could build something into the swc JS package that uses th

[2020-01-08 19:27] dsherret commented on #571
What might be neat is something that converts swc AST nodes to TypeScript compiler api nodes. So you could parse the nodes with swc, send them over to JS, convert them to typescript compiler api nodes, then it could do the type checking.

[2020-01-08 23:15] kdy1 commented on #571
@dsherret I'm porting tsc because it is wall-clock grade slow.

[2020-01-09 02:45] dsherret commented on #571
True, it could be faster, but there's a whole team of developers working on TypeScript daily. It will be very hard to get all the edge cases, but perhaps you could repurpose the tests the typescript team uses in the typescript repo.

Anyway, you have a long and continually expanding road ahead of you :)

[2020-01-09 03:29] kdy1 commented on #571
I'm already using tests in typescript repository :)
I know that it's a very hard task, but it's fun for me.

[2020-01-09 05:53] dsherret commented on #571
That’s awesome. Well, you’ve done an excellent job with the library and you’re very fast at programming so good luck! 😀

[2020-01-09 06:00] dsherret opened #576 "Type and type predicate start position is sometimes too early"
From https://github.com/swc-project/swc/pull/567#discussion_r364507397

I could fix this on the weekend? Just opening an issue so we don’t forget.

[2020-01-10 17:55] chinedufn opened #578 "Imported functions improperly scoped"
## The Problem

Say we have a file that looks like this

[code]

If you compile this script with babel everything works as expected.

If you compile and run with SWC - you'll see whatever was in `dep.js`

It seems like functions that are `import`ed are not properly scoped with functions of the same name that are closer in scope to where they're being called.

## To Reproduce

[code]

[2020-01-11 04:29] #578 closed

[2020-01-11 23:38] #576 closed

[2020-01-12 18:33] dsherret commented on #569
@kdy1 it's much much faster now. Almost no difference between capturing the tokens and not capturing them in that 37K line file. Thanks!

[2020-01-14 01:48] dsherret opened #583 "Add test for node text?"
There have been a decent amount of bugs related to the AST node start and end being incorrect. I think we could help prevent regressions and make future node positions a little more testable if we develop a new test for this.

Perhaps beyond the current test that uses numbers it would be useful to create two typescript files (one jsx, one non-jsx) that hold all the different possible AST node comb

[2020-01-14 03:40] kdy1 commented on #583
It seems like a good idea. I'll implement it after doing another project which will be done I guess before the weekend.

[2020-01-14 04:07] dsherret opened #584 "JSXAttr - Cannot access child JSXExpressionContainer node (it doesn't exist)"
In the following code:

[code]

There exists a JSX expression container (`{4}`).

See how babel does it here: https://astexplorer.net/#/gist/2d0719965754c06060a1df22226b25c8/58256bfb6f00f76351f71be3e1908744d98f395b

However, that is not accessible in the AST. It goes straight from the attribute to the number literal instead.

Should it instead go from attribute -> expression container -> number li

[2020-01-15 07:20] xxoojs opened #585 "cannot use webpack's resolve.alias"
cannot use webpack's resolve.alias

resolve: {
  '@': resolve('source')
}

**Error:**
**failed to parse config file: data did not match any variant of untagged enum Rc @ multi**

[2020-01-15 07:22] kdy1 commented on #585
Can you share your config code related to swc-loader?

[2020-01-15 07:58] xxoojs commented on #585
**webpack config:**
{
        test: /\.[t|j]sx?$/,
        exclude: /(node_modules|bower_components)/,
        loader: 'swc-loader',
        include: [resolve('src'), resolve('source'), resolve('test')],
}

**.swcrc:**
{
  "jsc": {
    "transform": {
      "react": {
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": true,
        "developm

[2020-01-15 07:59] xxoojs commented on #585
**webpack config:**
`
{
        test: /\.[t|j]sx?$/,
        exclude: /(node_modules|bower_components)/,
        loader: 'swc-loader',
        include: [resolve('src'), resolve('source'), resolve('test')]
}
`

**.swcrc:**
`
{
  "jsc": {
    "transform": {
      "react": {
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": true,
        "dev

[2020-01-15 08:01] xxoojs commented on #585
**webpack config:**
[code]

**.swcrc:**
[code]

[2020-01-16 04:21] dsherret opened #587 "Use of undeclared type or module `proc_macro`"
Does the `from_variant` package need an `extern crate proc_macro;` statement to work with rust stable?

https://github.com/swc-project/swc/blob/11d056c7777fbb06a866b0e91f02876939579911/macros/from_variant/src/lib.rs

I'm trying to compile a project that uses this by using rust stable, but it's not working unless I compile with `rust +nightly build`:

[code]

Also, in another project I'm trying to

[2020-01-16 04:52] #587 closed

[2020-01-16 04:54] kdy1 commented on #587
I published `from_variant@0.1.2`. Sorry for the inconvenience.

[2020-01-16 05:20] dsherret commented on #587
Thanks! That's no problem :)

By the way, do you foresee there being other problems building swc as a dependency or will I also have to build using rust nightly? I'm not sure how Rust works in that regard. Thanks so much for the help!

[2020-01-16 05:23] kdy1 commented on #587
@dsherret swc_ecma_parser, swc_ecma_codegen and their dependencies will be compilable with stable rust.

[2020-01-16 05:25] dsherret commented on #587
@kdy1 awesome! Thanks! 😀

[2020-01-16 12:50] 3cp commented on #106
I would love to see a swc wasm release. Even a separated npm package name is fine.

I am using babel and tsc in both nodejs and browser env. But they are both too slow and consume too much memory for my taste.

Very interested on swc!

[2020-01-16 15:30] IronSean opened #588 "Support for React Fast Refresh"
I took a look and couldn't find any mention of this anywhere. React has replaced `react-hot-loader` with with a new Fast Refresh system, which can be integrated with watch builds, babel, and webpack in order to do Hot Module Reloading.

I'm still working out exactly where the boundaries are myself in terms of what work to support this belongs in swc and what belongs in react or an external webpack

[2020-01-16 15:33] IronSean commented on #571
The other approach you can use with babel is do just do compilation, and run the type checker without emitting in a separate thread so even if it's slower, your build still finishes fast. That might currently work with swc? But the idea of a much faster type checker is also very exciting!

[2020-01-16 20:03] IronSean opened #589 "@swc\core\native\index.node is not a valid Win32 application."
I'm attempting to use swc with a project on windows 10 and getting the following error:

[code]

I'm using windows 10 cmd prompt (not WSL).
node v2.13.1, x64 version.
webpack 4.41.4

The binary is `win32-x64`, should I be using 32-bit node? Or downloading rust myself to build it for x64? The installation instructions are a little unclear there, I interpret it to mean "the npm install command will

[2020-01-17 00:56] 3cp opened #590 "Question on parser generated AST tree"
I try to evaluate swc parser to replace my usage of `@babel/parser`.

Is the AST compatible with `@babel/parser` result?

Also, `@babel/parser` has an `estree` plugin (which I use) to generate estree compatible AST tree. Does swc have something equivalent to produce `estree` output?

[2020-01-17 01:06] kdy1 commented on #590
It's similar, but not same. For example, swc's does not have LogicalExpression and it's part of BinaryExpression.
Note that typings for the ast are provided.

It does not currently. I'm not sure about roadmap here, but I think I would implement the feature.

[2020-01-17 01:18] madbook opened #591 "Compiled output broken when multiple typescript decorators are used."
I noticed when playing around with this in an existing project that my typescript decorators weren't working as expected.  Digging into the compiled js code, I noticed that two `_decorator` variables are defined, like this:

[code]

But the the second one is never referenced – the second use of the decorator in my code seems to be overwriting the first.  I've made a simple test case that exhibits

[2020-01-17 02:32] kdy1 commented on #583
Postponing as it requires lots of work. I'll do this when I have an idea to reduce work.
(Adding a field to nested json is really hard in rust)

[2020-01-17 03:42] kdy1 commented on #585
@xxoojs Can you share your config file realated to resolve?
I'm trying to reproduce it, but I don't know where I should put `"@": path.resolve("source")`.

[2020-01-17 05:58] #584 closed

[2020-01-17 05:58] #591 closed

[2020-01-17 10:15] kdy1 commented on #584
Fixed it and published a new version

[2020-01-17 16:14] IronSean commented on #589
node v2.13.1, x64 version.

[2020-01-18 03:54] dsherret opened #594 "Expression statement with dynamic import is parsed as expression statement and empty statement"
An expression statement with a dynamic import like the following:

[code]

Is incorrectly parsed as an expression statement and an empty statement:

[code]

[2020-01-18 03:55] dsherret commented on #594
That identifier's span looks like it needs to be fixed too:

[code]

[2020-01-18 04:04] dsherret commented on #594
@kdy1 oh, I just realized the fix for this. Would it be ok if I started on this? Sorry! I should have spent a few minutes looking before filing.

[2020-01-18 04:05] kdy1 commented on #594
@dsherret Of course. Thanks!

[2020-01-18 05:10] #594 closed

[2020-01-20 02:00] kdy1 opened #597 "Correct ast types"
## Correctness (of span)
 - [ ] Key of an interface member should be `ComputedProperty`

## Convention
 - [ ] import / export specifier names (#536)

I'll update this as necessary, and change all at once (with a version bump).

[2020-01-21 06:33] #590 closed

[2020-01-21 12:39] cauthmann opened #598 "Mixup in tagged template literals in exported function"
Hello,

swc+webpack got our compilation times for debug builds down to ~3s from ~7s, which makes hitting F5 after a change much less frustrating! Thanks!

However, it breaks our use of tagged template literals for i18n. Setting target: "es2019" avoids the broken transformation, but there's still a bug somewhere.

`cat test.js`:
[code]
`npx swc --no-swcrc test.js`
[code]
Note the last line, where i

[2020-01-21 12:43] kdy1 commented on #598
I think the problem is `export function`. Can you try removing export from it?

Btw, I need to add a better test suite.

[2020-01-21 12:46] cauthmann commented on #598
Yes, the bug only appears in `export`ed functions. When mixing exported functions with non-exported ones, only the exported ones break. Removing the export fixes it.

[2020-01-21 14:05] cauthmann opened #600 "Panic on 'for .. of' loop in async function"
Thanks for your quick work on 598. I tried to run swc over our test-suite to get you some real-world testcases, but got consistent panics on several files. I reduced it to a minimal testcase which consistently panics, both with the official binaries and with `npm_config_build_from_source=1`, on x64 linux.

The minimal testcase is this:
[code]
Removing the async fixes it, removing the loop (or usin

[2020-01-22 01:43] #598 closed

[2020-01-22 07:23] Tarnadas commented on #431
Hey @kdy1,
please take a look at the feature request I made in the wasm-bindgen project.
I cannot seem to find swc/core on crates.io.
Do I need to use it as a git dependency?

[2020-01-22 07:39] kdy1 commented on #431
@Tarnadas I didn't publish it because I think there's no need to depend on swc itself.
Can you tell me which crate you need?

 If you really need all of swc, I'll publish swc to crates.io

[2020-01-22 07:40] kdy1 commented on #431
@Tarnadas Besides, if you need any help using swc, please feel free to ping me on github or slack

[2020-01-22 07:54] Tarnadas commented on #431
I have not yet looked deep into it. I assume I would need all the functionalities of swc to implement the feature request, so that basically the example you provided can be implemented.

I will let you know when it gets accepted or rejected.

[2020-01-23 01:22] #600 closed

[2020-01-23 08:03] kdy1 commented on #600
I've published a new version

[2020-01-23 11:58] cauthmann commented on #600
Confirmed fixed in 1.1.14, thank you!

[2020-01-23 13:22] cauthmann opened #602 "ReferenceError: undefined1 is not defined"
With `1.1.14` no longer panicking, I ran swc over our complete codebase and ran the testsuite. >80% of our tests passed, the remaining tests failed for just two reasons:
  * `Cannot find module '@babel/runtime/regenerator'`, so maybe it should be a dependency? Manually installing it fixed the affected tests.
  * `ReferenceError: undefined1 is not defined`

Minimal testcase for the second:
[code]

[2020-01-23 14:43] #602 closed

[2020-01-23 17:09] cauthmann opened #604 "Invalid handling of captured block scoped variables"
I was hoping that my previous bug report would be my last, but I found more testcases in a hobby project. They revealed a huge bug in swc.

Block level scoped variables (those declared with `let` or `const`) have special behaviour in loops for the purpose of capturing. Each time the loop is executed, a new scope is created, so you can safely do this:
[code]
As `i` is a new variable each time, this

[2020-01-23 17:21] cauthmann commented on #604
Somewhat related, `let` and `const` variables have a temporal dead zone, and they must not be accessed before initialization. Both of these should throw:
[code]
[code]
`ReferenceError: Cannot access 'i' before initialization`

Even babel gets these two wrong. The first one should be easy enough to catch at compile time, the second would require runtime checks.

[2020-01-23 17:40] duncanbeevers opened #605 "export * from 'bar' not supported"
**Input code**

a.js
[code]

b.js
[code]

c.js
[code]

**Config**
[code]

**Expected behavior**
All consts from `c` should be reflected out of `b`.
https://tc39.es/ecma262/#table-42

**Version**
The version of @swc/core:

[code]

[2020-01-23 18:11] duncanbeevers opened #606 "Won't build under node 13.x"
I tried using `@swc/core` in a project pinned to a new-ish node version 13.6.0.
When I try to build I get a gnarly gyp error

[code]

The same @swc/core version builds fine under node 10.14.1

[2020-01-24 04:15] L-as opened #607 "Dead code elimination doesn't remove unused variables"
E.g. a file with just `{let a}` is kept as-is when optimization is enabled, even though it is not used anywhere. This is useful in conjunction with removing dead branches.

I took a look at the dce module, but am not sure how hard it would be to add, though it would be a nice feature in any case.

Thanks for making swc, seems like a herculean effort

[2020-01-24 04:19] kdy1 commented on #607
@Laaas It's a known issue. I've been working on it for a while, but it requires some more work and I forgot it. Thank you for reporting it.

[2020-01-24 06:14] #604 closed

[2020-01-24 08:10] kdy1 commented on #604
I published a new version.

[2020-01-24 10:26] cauthmann opened #609 "Invalid handling of captured block scoped variables in for..of"
I can confirm that version `1.1.15` has fixed #604 for `for` and `for..in` loops, thanks!

Unfortunately the bug is still present in `for..of`. Modified testcase:

[code]
`npx swc --no-swcrc test5c.js`
[code]
The replacement of `let` with `var` causes the transpiled code to output `9 9` instead of `0 7`.

[2020-01-24 10:40] kdy1 commented on #609
Oh.. I forgot to verify it with `es2015::for_of` pass. I tested naive for of loops, but not for of loops transformed by for_of pass.

[2020-01-24 12:48] #609 closed

[2020-01-24 15:39] duncanbeevers commented on #605
@kdy1 This doesn't appear to have changed the behavior I was seeing.

[code]

[code]

[2020-01-25 13:54] Laaas commented on #602
@kdy1 I don't this is a proper fix. This will happen with all non-declared variables, no? I recently had this happen to me with `console` which was turned into `console1`. You can detect whether a variable is a global by checking whether it is declared explicitly anywhere. Maybe I should try fixing this myself.

[2020-01-25 13:55] Laaas commented on #602
nevermind, it seems like you fixed this already

[2020-01-25 15:04] kdy1 commented on #606
Are you sure that this is an issue of swc? I failed to reproduce the issue on ubuntu 18.04 with node 13.6.0

[2020-01-25 15:08] kdy1 commented on #605
It seems like swc is not invoked for b.js

[2020-01-26 02:13] hallya opened #611 "Fails to build Module with dynamic imports set as true"
When setting `"dynamicImport": true` all Module containing dynamic imports fails to be builded.

`webpack.config.js`
[code]

`.srwcrc`
[code]

The version of @swc/core: "^1.1.15"
node version: v10.16.0

[2020-01-26 02:23] hallya commented on #611
my bad...
jsc.parser.syntax -> "ecmascript"

[2020-01-26 02:23] #611 closed

[2020-01-27 19:01] duncanbeevers commented on #605
I see what you're saying about swc not being invoked for b.js

In the real-world project from which example was extracted, a statement of the same form causes swc to panic (error code 134).

So maybe it's parsing correctly, but something else is broken further down the toolchain. I'll see about creating a small webpack project that reproduces the error, but likely not until next week.

[2020-01-28 15:03] chrismcv commented on #589
Seeing the same thing with v12.14.1 on x64 node.

[2020-01-29 02:36] dsherret opened #612 "Parsing an async generator function returns a syntax error"
**Input code**

[code]

**Expected behavior**

Ability to parse this.

ECMAScript 2018 proposal: https://github.com/tc39/proposal-async-iteration#async-generator-functions

**Version**

Latest

**Additional context**

The code that causes this in swc is here: https://github.com/swc-project/swc/blob/480015d407c74f12f8454e553dd8e65e131ab0ce/ecmascript/parser/src/parser/class_and_fn.rs#L764

[2020-01-29 02:38] dsherret commented on #612
Sorry, maybe this is not a bug, but just a feature to implement :)

Is this a lot of work to implement? Perhaps it could be parseable, but just an error during transformation? I'd like to be able to parse this at least for my use case.

Thanks!

[2020-01-29 03:20] #612 closed

[2020-01-29 03:24] kdy1 commented on #612
@dsherret I fixed it and published a new version of swc_ecma_parser

[2020-01-29 03:25] dsherret commented on #612
Amazing! Thanks so much @kdy1!! 😄

[2020-01-29 03:55] dsherret opened #614 "Panic with jsx element containing many spaces between attributes"
**Describe the bug**

The following panic occurs:

[code]

**Input code**

[code]

**Expected behavior**

No panic even though this code is weird :)

**Version**

Latest.

**Additional context**

I see this is in jsx.rs `parse_jsx_attr_value`, but I don't see anything wrong in there so I gave up.

[2020-01-29 04:04] dsherret opened #615 "Strings in jsx attribute values are incorrectly parsed as JSXExprContainer"
**Describe the bug**

In the following code...

[code]

...no JSXExprContainer exists, yet the string is parsed as a JSXExprContainer with an empty span.

[2020-01-29 04:04] dsherret commented on #615
Oh! This is what's causing #614! I can submit a fix.

[2020-01-29 04:05] kdy1 commented on #615
@dsherret Nice catch!

[2020-01-29 04:06] dsherret commented on #615
@kdy1 actually, I'm not sure what the best fix for this is. Might be best for you to do it.

[2020-01-29 04:07] kdy1 commented on #615
I'll fix it soon.

[2020-01-29 06:46] #614 closed

[2020-01-29 06:46] #615 closed

[2020-01-29 06:49] kdy1 commented on #615
@dsherret Fixed and published a new verison.

[2020-01-29 13:04] dsherret commented on #615
Amazing once again. Thanks @kdy1!

[2020-01-29 21:21] duncanbeevers commented on #606
It looks like this issue may be with `weak`. https://github.com/TooTallNate/node-weak/issues/99

[2020-01-29 21:24] duncanbeevers commented on #606
This appears to be unrelated to `swc`. Mea culpa.

[2020-01-29 21:24] #606 closed

[2020-01-31 15:49] mmhand123 opened #618 "Optional Chaining with Ecmascript"
**Describe the bug**
Wasn't quite sure if this should be a bug or feature request, but it seemed like it might have been worked on in #529 so thought it might fall under bug. Trying to add the `optionalChaining` property when the parser is `ecmascript` results in a `Failed to parse config file` error.

**Input code**
Anything with optional chaining fails with the default ecmascript parser -
`someO

[2020-01-31 15:58] kdy1 commented on #618
Oh.. I forgot adding it to ecmascript config.

[2020-01-31 16:00] mmhand123 commented on #618
Awesome, thank you!

[2020-01-31 16:21] #618 closed

[2020-01-31 17:17] Austaras commented on #585
@kdy1 maybe this?
[code]

[2020-01-31 18:51] ajacksified opened #620 "Stable Rust"
swc looks awesome; in my tests, it compiles our app in about 1/4 the time! Do you plan on maintaining compilation with stable rust? There was an issue about a year ago (#117), but since then it seems to have broken again:

[code]

I'm on rustc 1.41.0 and stay regularly up to date.

[2020-01-31 22:54] kdy1 commented on #585
@Austaras I'll try to fix it.

[2020-01-31 22:58] kdy1 commented on #620
Glad to hear that. :)

Currently swc uses specialization heavily for visitor pattern. It can be removed, but it will be really lots of work. So only parser / codegen / ast is supported on stable rust.

[2020-01-31 23:15] ajacksified commented on #620
Understandable - it'll prevent us from using swc, but I'll watch for when specialization lands in stable!

[2020-01-31 23:27] kdy1 commented on #620
@ajacksified I'm curious, are you using swc from rust?
If not, do you mean that you do not trust nightly ruatc?

[2020-01-31 23:37] ajacksified commented on #620
I only have access to libc 2.12, so I can't use the precompiled swc in npm, and was hoping to use my own precompiled swc. I do not trust nightlies for production work, and even if I did, the rest of my team doesn't, which is a fair stance to take, IMO.

[2020-01-31 23:40] kdy1 commented on #620
@ajacksified I got it. It's understandable
.

[2020-02-03 00:33] Zerowalker commented on #589
same on 13.7.0 x64

[2020-02-03 06:00] alubbe commented on #106
Came here to further express my interest in a wasm release. If the performance is roughly similar, then I believe going wasm would be a tremendous boost to the reach and usage of swc because it suddenly works on every modern browser, every modern version of node and on every operating system that v8 supports - without needing to configure a build system or pre-building binaries.

Personally, I thi

[2020-02-03 07:25] anurbol commented on #106
@alubbe I have already contributed a very simple [PR](https://github.com/swc-project/swc/pull/495) that restored Wasm support for SWC Parser. Yes, SWC is WASM-ready, mostly, just some configuration files should be [fixed](https://github.com/swc-project/swc/issues/106#issuecomment-564411519). Regarding performance impact, in my case WASM was 2 to 3 times slower than native binary, but still this is

[2020-02-03 07:37] alubbe commented on #106
Ah awesome, I hadn't seen that! So the next step would be a for a second PR to rename the dependencies and then possibly a third PR to introduce wasm building to the CI process, so that it doesn't get broken going forward?

[2020-02-03 07:54] anurbol commented on #106
@alubbe Yep, seems so! Currently I don't have time for this, but this is simple enough so if you have time you could try.

[2020-02-03 09:49] kdy1 commented on #589
Do you use arm?

[2020-02-03 15:56] Zerowalker commented on #589
Not that i know of, i just install swc with npm, and the node i use is x64.
Perhaps the one set for x64 isn't x64?

[2020-02-03 22:02] #605 closed

[2020-02-03 22:07] duncanbeevers opened #622 "Bad source map generated for generator function"
**Describe the bug**
A bad source map column value causes compilation to halt

[code]

**Input code**
[code]

**Config**
[code]

**Expected behavior**
Valid sourcemap values.

**Version**
[code]

[2020-02-04 01:09] dsherret opened #623 "Ability to get if a nested namespace does not have a declare keyword"
**Describe the feature**

A TsModuleDecl has `declare: true` when within a nested namespace.

[code]

So this means there's no way to tell if there's a `declare` keyword on the nested namespace.

[code]

Would it be possible to change the parser to only have `declare` on nodes that have a declare keyword?

[2020-02-04 01:16] kdy1 commented on #623
@dsherret As `declare` is invalid in ambient context, all children of a `declare` module should not be `declare`.

[code]

Results in error

[2020-02-04 01:18] dsherret commented on #623
Yeah, I guess I could keep track of whether it's in a declare context or not.

[2020-02-04 01:20] kdy1 commented on #623
@dsherret I found a way to fix the issue. I'll fix it soon.

[2020-02-04 01:22] dsherret commented on #623
Sweet. Thanks! No rush!

Yeah, it seems like babel and typescript both don't mark those nodes as "declare". TypeScript does use some flags to say the node is in an ambient context though.

[2020-02-04 03:39] #623 closed

[2020-02-04 08:27] aelbore commented on #589
im seeing the same issue. i got simple code only
![swc-error](https://user-images.githubusercontent.com/18069807/73726801-24a3aa80-476b-11ea-9d85-1c19ce165fdf.png)

[2020-02-04 13:47] kdy1 commented on #589
I hit this on my windows vm. I'll investigate this.

[2020-02-04 15:15] dsherret opened #626 "Support top level await"
**Describe the feature**

Would be nice to now support top level await:

[code]

I believe this would be a feature that isn't compiled and is only supported when targeting `es2017`.

https://devblogs.microsoft.com/typescript/announcing-typescript-3-8-beta/#top-level-await

[2020-02-04 18:27] Zerowalker commented on #589
Is it deploying the wrong build?

[2020-02-04 23:14] kdy1 commented on #589
@Zerowalker Yeah, I guess it's generating a binary fir x86 (32bit). According to log, irs target is i686.

[2020-02-05 01:20] Zerowalker commented on #589
Ah that explains it, hope it's easy to fix!

[2020-02-05 02:03] #626 closed

[2020-02-05 19:18] dsherret commented on #626
@kdy1 I think there is a slight bug in that code. Looks like it shift the class declaration position. It should be 0: https://github.com/swc-project/swc/pull/627/files#diff-8216cd047b4ca3e65cb89734b4697652

https://github.com/kdy1/swc/blob/24af0df8109a7eeea0bef7baa138e38200171ed4/ecmascript/parser/tests/typescript/class/decorators/input.ts

[2020-02-05 19:23] dsherret commented on #626
I'll submit a fix.

[2020-02-07 02:03] dsherret opened #632 "Some comments are missing in swc_ecma_parser 0.18.0"
**Describe the bug**

It was strange, but I only noticed this after clearing out my cargo.lock file, so I think this might be a problem with a downstream dependency.

**Input code**

[code]

**Expected behavior**

Both comments.

**Actual behaviour**

Only one comment:

[code]

Using this code on a `swc_common::comments::Comments`:

[code]

Full file is [here](https://github.com/dsherret/dprint/bl

[2020-02-07 02:11] dsherret commented on #632
Also, dashmap did a minor bump about 3 hours ago. Perhaps it might have been because of that.

[2020-02-07 05:32] #632 closed

[2020-02-07 11:52] kdy1 commented on #589
I think I fixed it with v1.1.19

[2020-02-07 15:58] dsherret commented on #632
@kdy1 thanks for fixing this! This is interesting though as the problem did seem to occur because of DashMap.

It makes me wonder though why swc is using a concurrent map for the comments. Is this because swc is being optimized for a single file's compilation or is this actually faster when compiling many files?

Most people will be compiling many files at the same time, so won't it be faster to i

[2020-02-07 16:24] kdy1 commented on #632
I was very confused by the result. (It works on my computer ™).

Concurrent hashmap is for easier development and performance. If I use one hashmap per input file, I have to somehow manage the comments. I could add it to `SourceFile`, but I didn't want to create lots of `RefCell<FxHashMap<BytePos, Vec<Comment>>>`-s.

The second reason is the design of syntax_pos from rustc. If I store comments in

[2020-02-07 20:51] dsherret opened #635 "Support top level await in more than just expression statements"
**Describe the feature**

Top level await can appear in any expression. Currently this fails to parse properly:

[code]

Parses as:

[code]

Sorry, I missed this earlier. I should have noticed that in the original PR for top level await. I think the code just needs to be changed to not have special handing for when something is top level or not? I'm not sure, but would be good to find and read the

[2020-02-08 02:08] #635 closed

[2020-02-08 02:12] dsherret commented on #635
Awesome. Thanks @kdy1! Any chance for a release if you have the time?

[2020-02-08 02:14] kdy1 commented on #635
@dsherret I published it.

[2020-02-08 19:32] simnalamburt opened #637 "Wrong transform of template string with escaped newlines"
**Describe the bug**
Escaped newlines in template string literal is badly transformed.

**Input code**
[code]

**Config**
[code]

**Expected behavior**
[code]

**Actual behavior**
[code]

**Version**
The version of @swc/core: 1.1.19

**Additional context**
I'd like to fix it myself but I don't know where to start.

[2020-02-08 20:29] simnalamburt opened #638 "Add `cargo test` of subpackages to the CI"
Looks like `cargo test` of swc_ecma_parser, swc_ecma_transform, etc have been broken for a long time. Let's manage it with CI!

[2020-02-08 20:50] simnalamburt commented on #637
I just manually executed swc_ecma_parser and looks like the parsing itself is OK.

[code]

[2020-02-08 21:02] simnalamburt opened #639 "Wrong transform of string with hexadecimals"
**Describe the bug**
Wrong transform of template string with hexadecimals. Similar to #637

**Input code**
[code]

**Config**
[code]

**Expected behavior**
[code]

**Actual behavior**
[code]

**Version**
The version of @swc/core: 1.1.19

[2020-02-08 22:01] kdy1 commented on #638
It's tested with cargo test ---all

[2020-02-08 22:16] simnalamburt commented on #638
Then you should add swc_ecma_parser, swc_ecma_transform, etc as a member of workspace member of root crate. Currently, `cargo test` of swc_ecma_parser and swc_ecma_transform do fail and they're not covered by `cargo test --all`

parser:

![image](https://user-images.githubusercontent.com/4435445/74092773-13142700-4b0c-11ea-8366-0da2707d2196.png)

transformer:

![image](https://user-images.githubus

[2020-02-08 23:42] kdy1 commented on #638
You need to invoke with --all-features

[2020-02-08 23:46] simnalamburt commented on #638
I'm afraid it still do not cover the errornous tests of swc_ecma_parser, swc_ecma_transform.

[2020-02-08 23:50] kdy1 commented on #638
I think parser test is gailing be ause of crlf. It should be lf. Also, you should initialize submodule.

swc_ecma_transforms require jest to be installed globally and you need to invoke npm i from the /ecmascript/transforms

[2020-02-09 01:02] Zerowalker commented on #589
I still seem to have the issue, anyone else?

[2020-02-09 01:18] kdy1 commented on #589
@Zerowalker Did you installed v1.1.19?

[2020-02-09 10:44] Zerowalker commented on #589
Yeah, i installed the latest (v1.1.19),
then i tried running "npx swc", and it fails complaining it's not a win32 application.

What did you change in appveyor?

[2020-02-09 10:51] kdy1 commented on #589
@Zerowalker I switched from appveyor to github actions. I thought it's fixed because logs from the actions do not print target-related messages. So I assumed that it was successfully built for win32-x64 nodejs.

[2020-02-09 11:16] kdy1 opened #640 "Typescript is not properly stripped out"
**Input code**
[code]

**Config**
[code]

**Expected behavior**

Types should be stripped out.

[2020-02-09 11:55] #640 closed

[2020-02-09 15:34] Zerowalker commented on #589
How does it know what to build, isn't it set somewhere, maybe that's where it's wrong?
The command to build it, the script i guess. Though i guess you already looked at that:s

[2020-02-09 15:54] simnalamburt commented on #639
It turns out that this issue shares the same cause with #637

[2020-02-09 16:03] simnalamburt commented on #637
https://github.com/swc-project/swc/blob/add63826bdc6e4417a3a0fa522806b7177edc92f/ecmascript/codegen/src/lib.rs#L343-L386

Escape codes of plane string literals (`'yo'` or `"yo"`) are partially handled by multiple `replace()` call. It partial since escaped hexadecimal values (e.g. `\x1b`) are not being handled.

But escape codes of template string literals are not handled at all as you can see belo

[2020-02-09 17:03] simnalamburt commented on #638
I just followed [CONTRIBUTING.md#getting-your-development-environment-set-up](https://github.com/swc-project/swc/blob/f8c358c/CONTRIBUTING.md#getting-your-development-environment-set-up) and confirmed that `RUST_BACKTRACE=full cargo test --color always --all --all-features` does not invoke [`ecmascript/parser/src/lexer/tests.rs`](https://github.com/swc-project/swc/blob/f8c358c9ac4d36c33a8ead390e42

[2020-02-09 17:09] simnalamburt commented on #638
Wow sorry it is are being invoked, it was my mistake. Sorry to bother

[2020-02-09 17:09] #638 closed

[2020-02-09 17:11] kdy1 commented on #638
It's ok :)

[2020-02-09 20:02] simnalamburt opened #648 "Less frightening error message when "browserslist" is not found."
If a beginner runs SWC for the first time, the first error message they see is that "browserslist" is not installed. However, most users will not notice that swc has a "browserslist" dependency, and will misunderstand that swc has crashed because it is unstable.

Therefore, I suggest that swc print a more friendly error message when there are no browserslist dependencies.

[2020-02-09 20:02] dsherret opened #649 "Support type only imports and exports (TS 3.8)"
**Describe the feature**

The TS 3.8 release will happen in a couple of weeks. It has a new type only imports and exports feature:

https://devblogs.microsoft.com/typescript/announcing-typescript-3-8-rc/#type-only-imports-exports

Probably:

* For parsing, the only trouble might be differentiating between a type alias and a type-only export (ex. `export type `). I think it should be fairly straigh

[2020-02-09 20:48] simnalamburt commented on #637
I took a look at [`TplElement`](https://swc-project.github.io/rustdoc/swc_ecma_ast/struct.TplElement.html) and I failed to find out how to print the raw input as-is.

[2020-02-10 02:53] kdy1 commented on #637
I noticed that `TplElement.raw` stores

[code]
as
[code]

And printing with `TplElement.raw` should require lots of replacing anyway.

Maybe fixing

https://github.com/swc-project/swc/blob/4b7222cbfeec94b4826558928cb5d72edaad188e/ecmascript/parser/src/lexer/mod.rs#L57-L80

might work

[2020-02-10 10:23] kdy1 commented on #589
![image](https://user-images.githubusercontent.com/29931815/74141650-aba8c500-4c3a-11ea-9f54-64bb67694982.png)

swc@v1.1.19 works on windows.

[code]

[2020-02-10 10:23] #589 closed

[2020-02-10 10:27] #648 closed

[2020-02-10 16:32] Zerowalker commented on #589
It indeed works, it i never really updated and had to uninstall and stuff until i could get it to work.
Sorry for wasting your time:(

Thanks!

[2020-02-10 17:29] simnalamburt commented on #637
I managed to make a test cases for this issue but need more time to fix it.

https://github.com/simnalamburt/swc/commit/7e15a09e236c8da44fa3047f488051f6f6f57944

[2020-02-11 04:33] #637 closed

[2020-02-11 04:33] #639 closed

[2020-02-11 08:41] kdy1 commented on #649
@dsherret I've agonized it for a while. What should we do on old type-only imports?

Should we add a field to `.swcrc`?

[2020-02-11 19:12] samjmckenzie opened #653 "Installation failing with error code 404"
Trying to install swc with `npm i -D @swc/core @swc/cli` on macOS 10.15.3, node v11.7.0 and npm v6.13.7.

This is the console log.

[code]

Am I running the wrong version of something?

[2020-02-11 19:14] kdy1 commented on #653
I'm sorry, but currently node js 11 is not supported.

Supported versions are 8, 10, 12, and 13. I'll update the doc.

[2020-02-11 19:15] samjmckenzie commented on #653
Ah right, no problem. The doc page where it said node 11 was supported is here: https://swc-project.github.io/docs/installation

[2020-02-11 19:19] kdy1 commented on #653
@samjmckenzie I've updated the documentation.

[2020-02-11 19:19] #653 closed

[2020-02-12 00:44] dsherret commented on #649
I'm not sure. Maybe that part of it could be deferred and moved into a separate issue?

[2020-02-12 01:24] aelbore opened #654 "Transform Error when function have types (typescript code)"
**Describe the bug**
Transform Error when function have types

![swc-error-typescript](https://user-images.githubusercontent.com/18069807/74294607-63dc8780-4d79-11ea-8402-ffee82b0bb8c.png)

**Expected behavior**
It should have no error

**Version**
The version of @swc/core: 1.1.20

[2020-02-12 02:41] kdy1 commented on #654
Can you share your swcrc file?

[2020-02-12 02:49] kdy1 opened #655 "Automatic typescript detection"

[2020-02-12 13:02] cschroeter opened #656 "panic: not implemented: emit_ts_const_assertion"
Source code
[code]

.swcrc
[code]

Panic message
[code]

[2020-02-12 13:07] kdy1 commented on #656
Oh... I forgot stripping out const from the assertion expression. I'll fix it soon.

[2020-02-12 13:16] cschroeter commented on #656
Thanks for the quick reply. Awesome tool by the way. We've managed to decrease build time from 56 seconds to 0.9 seconds .lmfa0

[2020-02-12 13:25] cschroeter opened #657 "Generates corresponding .d.ts file"
It would be great if we could specify (like source maps) an option to also generate declaration files.

[2020-02-12 13:26] kdy1 commented on #656
@cschroeter

Cool. Great news to me.

[2020-02-12 14:10] cschroeter opened #658 "Can not exclude other tsx files"
**Describe the bug**
`swc` failes to compiles my source code with the given regex to exclude spec files. I've double checked that the regex is correct on https://rustexp.lpil.uk/

**Input code**
$ swc --sync -s true src/ -d dist/
Error: unmatched

**Config**
[code]

**Expected behavior**
I would expect that the compile transpiles everything that is not a test file

**Version**
The version of @swc/

[2020-02-12 15:27] #656 closed

[2020-02-12 15:27] #655 closed

[2020-02-12 15:53] kdy1 commented on #657
I've been agonized if it is possible without fully blown typescript parser. I thinks it's not possible yet.

(I'm working on a fully-blown typescript compiler, but It would take some time.)

[2020-02-12 16:10] kdy1 commented on #654
Closing as automatic typescript detection is implemented.

[2020-02-12 16:10] #654 closed

[2020-02-13 00:19] #658 closed

[2020-02-13 00:20] kdy1 commented on #658
Fixed and published new version of swc/core and swc/cli

[2020-02-13 02:45] #607 closed

[2020-02-13 07:35] kdy1 commented on #43
I used (and tried) many build tools, but I doubt that there is a clear winner. So I want to hear various opinions about the bundlers.

I want to determine the plugin api. Interop with javascript from rust is a very hard task, so I want to write it once.

---

Can anyone here help me determining api related to the plugins? Any opinion is welcome.

I think important parts of plugin api are

 - When

[2020-02-13 07:54] cschroeter commented on #657
Okay, I get it. Unfortunately the advantage of swc is kind of lost when you need the declaration files, since you have to run `tsc --emitOnlyDeclaration` anyway

[2020-02-13 10:15] kdy1 commented on #657
Reopening as I checked an output from tsc and I noticed that it's possible without a full type checker.
My ts checker branch contains enough code to emit types of **correct** typescript files.

[2020-02-13 13:56] #649 closed

[2020-02-13 21:21] cztomsik commented on #620
@ajacksified maybe just wait for https://github.com/swc-project/swc/issues/106 that would solve it.

[2020-02-13 22:05] cztomsik opened #664 "Excessive number of dependencies"
**Question**
I'm bit puzzled by the number of dependencies, here's what I got after `npm i -D @swc/core`

[code]

Lot of them go from neon, so maybe the right project would be neon but still, why do I need 155 extra packages just to use native addon?

BTW: Maybe I could help, I have my own js <-> rust project and I was using neon originally too but I don't know details of this project, my case mig

[2020-02-14 00:17] kdy1 commented on #664
I'll fix it soon (today)

[2020-02-14 00:40] kdy1 commented on #664
I moved neon-cli to optional dependencies

[2020-02-14 07:54] 95th opened #665 "Build is not working"
Getting error while building:

[code]

commit: 1fc09caa2fb0bc04d1ee7eeea5db8ccb10902583

[2020-02-14 07:55] kdy1 commented on #665
Are you using latest nightly?

[2020-02-14 07:57] 95th commented on #665
Not the very latest but:

[code]

[2020-02-14 08:24] 95th commented on #665
I just updated to latest nightly and it builds now. Thanks

[2020-02-14 08:24] #665 closed

[2020-02-14 09:56] cschroeter commented on #657
If this were to work, that would be wonderful

[2020-02-14 15:44] techvlad opened #666 "Cannot run Nest.js app after compiling"
**Describe the bug**
swc successful compile [Nest.js](https://github.com/nestjs/nest), but cannot run after compiling

[code]
**.swcrc**
[code]

[Example repo](https://github.com/techvlad/nestjs-swc-build)

[2020-02-14 15:46] techvlad commented on #666
Nest.js project was created via default [nest-cli](https://github.com/nestjs/nest-cli)

[2020-02-15 02:27] kdy1 opened #668 "Parser regression"
**Describe the bug**

swc_ecma_parser has a bug related to exports

[2020-02-15 02:35] kdy1 commented on #668
Well, I was dump. Closing.

[2020-02-15 02:35] #668 closed

[2020-02-15 06:37] kdy1 commented on #666
@techvlad I did some investigation. It seems like the behavior of the swc almost matches it of babel.

swc generates
[code]

while babel generates

[code]

When I changed the output of swc to
[code]
, it's behavior become exactly same as babel's one. But the same error occurs anyway.

Thus, I'm not sure if this is issue of the swc.  Is this really a bug of swc?

[2020-02-15 06:37] kdy1 commented on #666
Note: tsc generates
[code]

which reduces to a call to `Reflect.decorate()`. I'm not sure if this is correct behavior for legacy decorators.

[2020-02-16 07:51] #622 closed

[2020-02-16 11:58] cztomsik commented on #664
Much better but there's still a lot of extra baggage:
[code]

Some of them go from `npmlog` which seems to be used just for some progress bar (and I don't know I personally don't need that) and some of them go from `request` which could be replaced with `axios` (supports both redirects and streams)

I know it's not a big deal but these deps accumulate and then suddenly we're at point where create-

[2020-02-16 12:05] kdy1 commented on #664
I didn't know that axios does not have any dependency. I'll switch to it.

[2020-02-16 13:01] cztomsik commented on #664
just checked it, it's zero-dependency for browser but it has 3 deps for node
[code]

there's also `node-fetch` which is truly zero-dep (I've checked it now), it has streams also (https://github.com/node-fetch/node-fetch#streams) & follows redirects too

[2020-02-17 01:42] kdy1 opened #671 "Crash related to sourcemap"
# Steps to reproduce

1. git clone git@github.com:evanw/esbuild.git && cd esbuild
2. make bench/three
3. npm i @swc/core@1.1.24 @swc/cli@0.1.23
4. npx swc bench/three -d dist -s

Note: commands below work
 - npx swc bench/three -d dist
(wiithout sourcemap)
 - npx swc bench/three -d dist -s --sync
(with sync option)

[2020-02-17 05:24] moltar opened #673 "watch is not working on macOS"
**Describe the bug**

Running the command in watch mode results in error being thrown:

[code]

**Input code**

[code]

**Config**

No added config.

**Expected behavior**

Watch mode to work.

**Version**

[code]

**Additional context**

macOS Catalina
10.15.3 (19D76)

[2020-02-17 05:29] moltar commented on #673
Simple fix:

[code]

So I am not even sure if this qualifies as bug. Maybe a documentation bug?

[2020-02-17 05:29] kdy1 commented on #673
I think so. I'll document it soon.

[2020-02-17 07:36] #664 closed

[2020-02-17 07:41] #673 closed

[2020-02-17 23:09] nhumrich opened #675 "panic: swc on typescript directory"
I can run `npx swc src/somefile.ts` just fine, but when I run it with my directory `npx swc src -d dist`, all I get is:

[code]

1. Cant include all source code, have no idea which file is causing things to fail

2. `.swcrc` file. Dont have one. I have tried adding one based on docs, and that doesn't change anything.

3. Error message gained from `swc --sync <input.js>`
(--sync is required to get

[2020-02-17 23:34] nhumrich commented on #675
After more research, looks like it might actually be breaking on this line. If I run npx swc on a completely different file I get a panic, the --sync shows similar output as about about for-of. I think it might be this line of code:
[code]

[2020-02-18 01:44] kdy1 commented on #675
I think there are two bugs. Seems like a concurrency bug (I though I fixed it...,) .and await-for being not implemneted. I'll fix it soon.

[2020-02-18 02:23] kdy1 commented on #675
@nhumrich Which version of swc are you using? I failed to reproduce concurrency issue

[2020-02-19 06:18] duncanbeevers opened #678 "panic: recursive function reference within shorthand function object property"
1. Source code
[code]
2. `.swcrc` file
[code]
3. Error message gained from `swc --sync <input.js>`
(--sync is required to get panic message)

[code]
4. swc version
[code]

[2020-02-19 10:49] #678 closed

[2020-02-19 14:59] nicksrandall opened #681 "Implement a javascript bundler similar to Rollup"
I'd like to take on the work to implement a Javascript bundler (similar to Rollup ) based on SWC's AST. I'm documenting this here in case anybody else would like to get involved or has feedback on how such a thing should be implemented. I'm admittedly new to Rust and I think this could be a good project to help me learn.

One of the problems that I see with current bundlers is that they do not sha

[2020-02-19 15:04] nick-at-hawkfish commented on #681
Looks like this work has recently been resurrected in #43. I'm also open to helping out there if that would be better.

[2020-02-19 15:09] nick-at-hawkfish commented on #43
In my opinion, Rollup's plugin architecture and ease-of-use is much better than Webpack. I'd suggest using Rollup as inspiration on how to write a solid plugin system. See https://rollupjs.org/guide/en/#plugins-overview

[2020-02-19 15:49] kdy1 commented on #681
I'm alteady working on a bundler. I've made some success, and tree shaking and module merging are implemented.

The remaining tasks are handling js interop / chunking / dynamic import / cjs imports.

To see the working code, please refer to https://github.com/kdy1/swc/tree/spack/spack

I'm currently working on a .d.ts generater, and I'll build a bundler.

[2020-02-19 15:50] kdy1 commented on #681
Sorry for late response. Github was down.

[2020-02-19 16:33] duncanbeevers opened #682 "Invalid output for nested loops"
**Input code**
[code]

**Config**
[code]

**Expected behavior**

Loops should nest cleanly with `break` statements escaping terminating loop at appropriate level.

**Version**
The version of @swc/core:
[code]

**Additional context**
Output
[code]

The second `break` occurs outside the context of a `for` loop, resulting in an invalid syntactic construct.

[code]

[2020-02-19 22:47] nhumrich commented on #675
+ @swc/cli@0.1.23
+ @swc/core@1.1.26

[2020-02-19 22:49] nhumrich commented on #675
Oddly, I just reinstalled, and now `--sync` and without `--sync` have the same error. So maybe the concurrency bug is fixed, i just wasn't installing latest somehow?

[2020-02-20 04:06] #675 closed

[2020-02-20 04:06] #682 closed

[2020-02-20 05:53] wldcordeiro commented on #43
I like this suggestion as well! I do think the two serve slightly different usecases (basically libraries vs apps) primarily so perhaps building a tool that is able to work in the two modes maybe hard. I do find rollup to be an easier tool to configure and use though with its architecture so totally a better inspiration there!

[2020-02-20 05:56] kdy1 commented on #43
@nick-at-hawkfish @wldcordeiro Thank you guys for opinions. I really need some, but it is very hard to hear from real users.

[2020-02-20 06:02] wldcordeiro commented on #43
This could be a fun learning opportunity contributing for Rust. Thanks for the responsiveness. I'm testing this tool out with some projects and see lots of potential. 😄

[2020-02-21 05:33] kdy1 opened #685 "Should strip out types in `export default`"
[code]

should be compiled to an empty string

[2020-02-21 08:17] kapouer opened #686 "for optimized with a loop keeps "continue""
swc wraps the body of the for loop in a function, but does not change the `continue;` statement to a `return` statement.

[code]

[code]

Using @swc/core: 1.1.27

[2020-02-21 08:19] kdy1 commented on #686
This seems like a bug of block_scoping pas. I'll fix it soon.

[2020-02-22 05:49] #685 closed

[2020-02-22 05:49] #686 closed

[2020-02-23 09:04] kapouer opened #688 "hoisting bug"
In @swc/core 1.1.28,
[code]

is compiled as

[code]

But this is what is expected:
[code]

Or this, which is better style:
[code]

[2020-02-24 07:50] thecotne commented on #688
@kapouer this example functions don't demonstrate any actual problem since all 4 of them print "missing" in console (i have only tested in chrome)

in the example below `before` is printing `missing` and `after` will throw `Uncaught ReferenceError: EXTENDS is not defined`

[code]

[2020-02-24 08:46] kapouer commented on #688
@thecotne indeed the first function does not print anything useful, it's just an example that is not compiled according to spec (the variable shouldn't be renamed).

[2020-02-25 12:28] ptman opened #690 "Preserve copyright comments on minify"
**Describe the feature**

/*! Copyright (c) 2020 Foo */ should not be removed when minifying

**Babel plugin or link to the feature description**

https://stackoverflow.com/questions/11248363/the-purpose-of-starting-an-initial-comment-with-in-javascript-and-css-files

[2020-02-25 12:29] #688 closed

[2020-02-26 07:34] kdy1 commented on #106
I've implemented transformSync and transformFileSync. It seems like wasm is 3 ~ 4 times slower than native binary.

Please tell me if is it ok. If it's ok, I'll implement other methods for wasm and make it fallback for the swc.

I uploaded the benchmark result at:: https://github.com/swc-project/swc/pull/691

[2020-02-26 09:01] alubbe commented on #106
Out of interest, could you include babel or other pure JS alternatives in your benchmark?

[2020-02-26 09:07] kdy1 commented on #106
@alubbe I included babel, but I didn't benchmark tsc because it does much more work than swc. It will be very slow, but it's expected as it does much more work.
For the same reason, I didn't include sucrase because it cannot compile to es3 / es2015.

[2020-02-26 09:13] alubbe commented on #106
Ah you're right, it's at the end of the benchmark. So for es2015, the WASM version is around 4-5 times faster and the native one is around 9 times faster than babel, right?

[2020-02-26 10:09] kdy1 commented on #106
@alubbe Oh. I made a mistake. es2015 in swc is equivalent with es5 because there's no es2015 -> es5 pass.

So the native version is 17 times faster than babel.

[2020-02-29 18:48] connor4312 opened #695 "swc code generation is slower than other implementations"
**Context**

I am looking for ways to transform/beautify large minified scripts for some new functionality in the VS Code JavaScript debugger. Right now we use js-beautify, but it doesn't generate sourcemaps and we have a rather naive, somewhat buggy way to create them after the fact.

I wanted to look into swc as an alternative, ideally writing a super fast sourcemap-aware beautifier I could thro

[2020-03-01 03:37] kdy1 commented on #695
# Previous

[code]

# After https://github.com/kdy1/swc/commit/0e30f3b499b87c147319ae870b148e72767d25c8

[code]

# After https://github.com/kdy1/swc/commit/6c5cc5da4709d6f8d6aa2e8a2065a783a8340ad5

[code]

As swc's code generator is designed to

 - support rich error reporting
 - allow emitting merged modules (for the bundler I'll write)

it has some performance drop. However, I think I can make i

[2020-03-01 04:13] connor4312 commented on #695
I was running the binary here normally--not in wasm.

[2020-03-01 04:42] kdy1 commented on #695
Oh.. I got it.

Possible candidates for bottleneck would be

 - source code analysis for multibyte char and line information (`cm.new_source_file`)
 - parser (`parser.parse_module()`)
 - codegen

My guess is the parser. There are some low-hanging fruits.

[2020-03-01 05:24] connor4312 commented on #695
For my case I'm not sure the parser was the issue--passing `Some(&mut src_map_builder)` versus `None` to the `JsWriter` made the difference between a 3.5 second runtime and 25 second runtime.

[2020-03-01 14:03] kdy1 commented on #695
@connor4312 This is fixed in `swc_ecma_parser@0.20.0` and `swc_ecma_codegen@0.17.0`.  (and I verified on my linux device)

[2020-03-02 11:49] #695 closed

[2020-03-02 12:02] kdy1 commented on #695
I've published `swc_ecma_codegen@v0.18.0`, which fixes this issue.

[2020-03-03 03:34] connor4312 commented on #695
Wow, that made a huge difference! 25 seconds down to 2100ms on my machine. Fantastic work, responsiveness 👏

[2020-03-03 15:43] kapouer opened #698 "for loop optimization: keep "this""
**Input code**
Same example as in https://github.com/swc-project/swc/issues/686.

**Config**
Same config as in https://github.com/swc-project/swc/issues/686.

**Output code**
[code]

**Expected behavior**
[code]

**Version**
The version of @swc/core: 1.1.31

[2020-03-04 01:03] duncanbeevers opened #699 "Function renaming bug"
**Describe the bug**
Named function is mis-referenced.
[code]

**Input code**
[code]

**Config**
[code]

**Expected behavior**
`Bar.qux` should be set
`function Bar` should not be renamed, if avoidable
`function Bar` should be referenced correctly

**Version**
The version of @swc/core: `1.1.31`

Add any other context about the problem here.

[2020-03-04 07:07] #698 closed

[2020-03-04 07:07] #699 closed

[2020-03-05 20:18] AuburnWeiss opened #701 "Build fails when "quote" dependency resolves to "1.0.3" (Fix available, publish to crates.io)"
EDIT: This appears to be fixed with 88d3062 Would it be possible to publish this fix to crates.io?

Here is what cargo is outputting:

[code]

This occurs on both stable and nightly toolchains, and started happening after I ran `cargo update` on my crate. My crate depends on the most recent version of swc that's published on crates.io.

My guess is that the associated code was relying on undocumen

[2020-03-06 04:39] AuburnWeiss commented on #701
The fixed version has been published. Thanks!

[2020-03-06 04:39] #701 closed

[2020-03-06 09:58] lostpebble opened #702 "Module resolver / path rewrites / aliases"
**Describe the feature**

Making use of `babel-plugin-module-resolver`, babel currently allows me to do something like this:

[code]

**Babel plugin or link to the feature description**

https://github.com/tleunen/babel-plugin-module-resolver

**Additional context**

This is exceptionally useful to me because I use a monorepo for my projects, and split up parts of my projects into different module

[2020-03-06 18:46] ry opened #703 "swc_common depends on two versions of ahash"
swc_common 0.5.8 depends on dashmap and hashbrown each depend on different versions of ahash.

[2020-03-06 18:47] kdy1 commented on #703
Hmm.. I'll consider sending a pr.

[2020-03-06 18:51] kapouer opened #704 "minify + compression improvement ?"
I understand the idea that gzip should do the heavy lifting of compressing js files.
However the end result is still kind of "too heavy":
- concatenated bundle: > 500ko
- uglified and gzipped: 73ko
- uglified and brotli: 61ko
- swc+minify and gzipped: 130ko
- swc+minify and brotli: 100ko

I suppose it's not a high priority to improve on this, hence the request ;)

[2020-03-07 01:38] kdy1 commented on #704
Currentlyswc does not do anything smart to minify bundle.
I'm busy working on a type inference engine to generate .d.ts files and I'll write a bundler and optimizer after it.

[2020-03-07 14:30] PSeitz opened #705 "Source Map issues: Swc with mocha+ts and debugging"
**Question**

I created a small example project as a showcase using swc with mocha and typescript (https://github.com/PSeitz/swc-typescript-mocha). Running mocha standalone works fine, but when I run it from within vs code to debug the tests, the breakpoints don't work correctly and step over doesn't work.

I suppose it's related to enabling sourcemaps, but I'm not sure. Debugging with the babel v

[2020-03-07 19:15] PSeitz commented on #705
Maybe related issue regarding invalid source map format: https://github.com/swc-project/cli/issues/12

[2020-03-08 07:41] PSeitz opened #706 ""inline" option for source maps not working"
"inline" is documented, but not working.

**Input code**
test_swc_core.ts
[code]

`ts-node test_swc_core.ts`

**Output**
var x = 3;

The source map is still in output.map
`{"version":3,"sources":["let x = 3;"],"names":[],"mappings":"I,C,G,C"}`

[2020-03-08 08:17] PSeitz opened #707 "Source Map Format invalid"
### Sourcemap Format
Example Output
[code]

According to https://docs.google.com/document/d/1U1RGAehQwRypUTovF1KRlpiOFze0b-_2gc6fAH0KY0k/edit
[code]
_sources_ should not contain the content, but the path to the original files

### Probable root cause
here the file content is added
https://github.com/swc-project/swc/blob/ffbb5163aa6a4acb46c0618b4b3605e268a5532c/common/src/source_map.rs#L1024

Shoul

[2020-03-09 01:30] dsherret opened #708 "Negative numbers in types are not parsed as unary expressions"
**Describe the bug**

Given the following code:

[code]

It parses like so:

[code]

**Expected behavior**

I would expect both numbers to parse within unary expressions. So:

[code]

**Version**

0.19.2 of parser

[2020-03-09 02:22] dsherret commented on #50
Is it possible to do this now? I think so, right? I am using swc in a playground for dprint.

[2020-03-09 02:27] dsherret opened #709 "Error parsing optional binding pattern parameter in an ambient context"
**Input code**

[code]

**Expected behavior**

No error, as this is not an implementation signature since this is an ambient context.

**Actual behavior**

Has diagnostic: `A binding pattern parameter cannot be optional in an implementation signature.`

**Version**
The version of @swc/core: latest

[2020-03-09 05:32] kdy1 commented on #50
@dsherret It's possible. But I'm not sure about the roadmap. I was too busy due to corona 19. And now, I have lots of bugs to fix.

[2020-03-09 09:18] kdy1 commented on #708
@dsherret Currently `TsLitType` cannot store `UnaryExpr` or its siblings like `BinExpr` and I'm not sure if allowing usage of arbitrary expression in a `TsLit` is a good idea.

Anyway, I verified (and added a test) that `type test = -1;` is parsed as `TsList` with -1 as a value.

[2020-03-09 09:52] kdy1 commented on #707
You are right. Thank you very much!

[2020-03-09 12:18] #705 closed

[2020-03-09 12:18] #707 closed

[2020-03-09 14:10] dsherret commented on #708
Hmmm... yeah I wasn't thinking too much when I opened this 😅 -- I was only thinking about what TypeScript does...

![image](https://user-images.githubusercontent.com/1609021/76219780-c136ed80-61ec-11ea-838c-63ec83b2b6f9.png)

...but Babel does the following:

![image](https://user-images.githubusercontent.com/1609021/76219839-dca1f880-61ec-11ea-8e28-bcd107703864.png)

Yup, arbitrary expressions in

[2020-03-09 14:10] #708 closed

[2020-03-10 00:21] dsherret opened #713 "Cannot compile swc_ecma_parser 0.21.0"
Not sure what's going on here. Am I doing something wrong?

This is running this command in my crate:

[code]

My cargo.toml has:

[code]

[2020-03-10 01:28] kdy1 commented on #713
You meed to upgradeswc_ecma_p
arser_macros too

[2020-03-10 01:29] kdy1 commented on #713
Btw, I'll specify the full version at the future. Sorry for inconvinience.

[2020-03-10 01:30] dsherret commented on #713
That's ok. I just haven't had to depend on swc_ecma_parser_macros in the past. I'll try it out soon! No need the specify the full versions of everything 🙂

[2020-03-10 01:30] #713 closed

[2020-03-10 03:24] dsherret commented on #713
Looks like I just needed to delete my lock file actually and that bumped it up to 0.4.1. Now it works!

So now I see what you mean by specifying the full versions of everything—I think the dependency in `swc_ecma_parser` might need to be 0.4.1 instead of 0.4.

[2020-03-10 03:52] dsherret commented on #709
I noticed the following scenarios do not work in a non-declaration file:

[code]

[2020-03-10 03:53] dsherret commented on #709
@kdy1 could we reopen this? I tried to fix this myself, but it is getting late here so I think this will be for another day unless you get around to it 😅

[2020-03-10 04:59] #709 closed

[2020-03-11 00:34] dsherret opened #716 "Sufficiently deeply nested code causes stack overflow error"
**Describe the bug**

Rust code (I think you could probably reproduce this without this and by just using the input code):

[code]

**Input code**

I'm running this in a test case:

[code]

Error is:

[code]

**Version**
swc_ecma_parser: 0.21.3

[2020-03-11 01:16] dsherret opened #717 "Syntax error for async identifier in conditional expression in parenthesized expression"
This issue is super low priority.

**Input code**

I found some code that looked like this:

[code]

Gives syntax error:

[code]

Doesn't happen with the TS compiler.

**Version**
swc_ecma_parser: 0.21.3

[2020-03-13 12:37] kdy1 commented on #716
The test success with increated `RUST_MIN_STACK` or on a release build.
On linux, the default stack size is 1MB and it's not sufficient in debug mode.

Also, you can set the stack size for a thread except the main thread.
[code]

Can you increase the stack size? (It's required only on debug mode)

[2020-03-13 14:18] dsherret commented on #716
@kdy1 ah awesome! I did not know all this. Yup, I was running in debug mode 😅

I'm going to close this.

[2020-03-13 14:18] #716 closed

[2020-03-13 14:34] #706 closed

[2020-03-13 14:34] #717 closed

[2020-03-14 16:03] dsherret commented on #716
@kdy1 running the test suite on windows now throws this. What can we do so that when people run the test suite they don't have to change any configuration?

![image](https://user-images.githubusercontent.com/1609021/76685652-ce3c4e00-65eb-11ea-8146-18f8321e0a59.png)

[2020-03-14 16:12] dsherret opened #720 "Support await expression in yield expression"
**Input code**

[code]

**Expected behavior**

Parses.

**Actual behaviour**

[code]

**Version**

master

I looked into this a bit, but I wasn't sure why it was parsing an assignment expression for a yield expression's expression (I'm not too familiar with this).

[2020-03-16 01:27] aelbore opened #722 "Error for typescript code"
**Describe the bug**

**Input code**
Please see attached file
**Config**
Please see attached file

**Expected behavior**
It should compile the typescript code

**Version**
The version of @swc/core:  1.1.35

![swc-error](https://user-images.githubusercontent.com/18069807/76715687-5f383400-6768-11ea-82df-4c4f63304e5e.png)

[2020-03-18 02:12] duncanbeevers opened #723 "Block-scoped variable / arrow-function / for-loop interaction"
**Describe the bug**
for-loop incorrectly compacted to function body.

**Input code**
[code]

**Config**
[code]

**Expected behavior**
Running this code through `node` directly and invoking `foo` I get the expected output `false`, thanks to the early-return in the for-loop.

[code]

Running through `swc` first, I see the `true` fallback, due to the function-wrapping of the for-loop body.
[code]

T

[2020-03-21 12:14] remorses opened #724 "Imports get transpiled with `require1` instead of `require`"
**Describe the bug**
imports are transpiled with `require1`

**Input code**
[code]

**Config**
[code]

**Expected behavior**
import should tranpile to `require` not `require1`, it happens only with this code in particular

**Version**
{
        "@swc/cli": "^0.1.23",
        "@swc/core": "^1.1.35",
}

[2020-03-21 12:15] remorses commented on #724
This is the output code
[code]

[2020-03-22 18:46] dsherret opened #726 "Duplicate tokens captured while parsing. Is that expected?"
**Describe the question**

I'm getting duplicate tokens in the output. Is that expected?

I think I'm going to sort and de-duplicate the items.

**Input code**

[code]

Code being parsed:

[code]

**Expected behavior**

No duplicate tokens.

**Actual behaviour**

[code]

**Version**

master

[2020-03-23 03:15] kdy1 commented on #726
No. It's not intended and seems like a bug related to backtracing.

[2020-03-25 08:40] #720 closed

[2020-03-25 08:40] #726 closed

[2020-03-25 08:43] kdy1 commented on #726
I fixed and published a new version

[2020-03-25 15:25] dsherret opened #728 "Missing tokens in 0.21.7"
**Describe the bug**

Tokens are missing in the output and are not captured.

**Input code**

[code]

**Expected behavior**

Five tokens.

**Actual behaviour**

Only two:

[code]

**Version**

parser 0.21.7

**Additional context**

Related to fix for #726. I was thinking that perhaps instead of doing a "revert" it could instead only capture a token if the lo position is greater than the previous t

[2020-03-25 15:29] kdy1 commented on #728
@dsherret Oh.. It seems like a great idea. I'll do it tommorow (as it's time to go bed in my country)

[2020-03-25 15:31] dsherret commented on #728
@kdy1 sounds good! I pegged the swc version to 0.21.6 on my side in the meantime, so no rush.

Thanks and have a good sleep!

[2020-03-25 19:28] leebenson opened #729 "Enum literal key/vals need flipping"
Enums with literal values have keys/values the wrong way around.

**Example:**

[code]

**Via the Typescript playground, this compiles to:**

[code]

**swc:**

[code]

Thanks for a great lib!

[2020-03-26 01:53] #729 closed

[2020-03-26 05:56] #728 closed

[2020-03-26 13:30] leebenson opened #732 "Optional chaining bug"
Optional chaining doesn't catch the scenario where a parent key is optional, but child keys are required.

**Example:**

[code]

**Expected output**

This is what Typescript 3.8 produces (based on a default config with no specific target):

[code]

**But `swc` produces:**

[code]

Running the output, I'd expect to see:

[code]

Instead, `swc`, produces:

[code]

[2020-03-26 20:18] leebenson opened #733 "Source map support within the Webpack loader?"
I note there's a `sourceMaps: true` option in the API, but I'm not clear on whether this extends to the Webpack loader? Couldn't find any mention of it in the docs.

Would really appreciate an example of enabling full sourcemaps in Webpack. The closest I've been able to get is Webpack showing the sourcemap of the _compiled_ code, and not the original Typescript source.

Thank you!

[2020-03-26 20:29] leebenson commented on #585
`resolve` is a top-level key in Webpack; the config above should be something like:

[code]

FWIW, it works locally when putting `resolve` at the correct level.

[2020-03-26 23:37] dsherret commented on #728
@kdy1 it works well. Thanks 🙂

[2020-03-27 05:40] #733 closed

[2020-03-28 02:22] kdy1 commented on #722
@aelbore It seems like a bad error reporting.
Syntax should be "typescript", not "typescipt"

[2020-03-28 02:22] #722 closed

[2020-03-28 02:59] #732 closed

[2020-03-29 12:45] leebenson opened #737 "swc-loader won't compile with v1.1.37"
Aftering bumping to v1.1.37, and compilation no longer works with `swc-loader` in Webpack.

**Webpack config (snippet)**:

[code]

**Error:**

[2020-03-29 13:31] kdy1 commented on #737
@leebenson Fixed it with swc-loader@0.1.9

[2020-03-29 13:31] #737 closed

[2020-03-29 15:26] trivikr opened #738 "The labels E-easy and E-mentor don't exist"
**Describe the bug**
* The labels E-easy and E-mentor don't exist ([link](https://github.com/swc-project/swc/labels))
* They're documented in [CONTRIBUTING.md](https://github.com/swc-project/swc/blob/master/CONTRIBUTING.md#working-on-issues)

**Expected behavior**
* If it's a miss, the labels **E-easy** and **E-mentor** are created for the project, so that they can be assigned to relevant issues.

[2020-03-30 01:39] #738 closed

[2020-03-30 02:35] pickfire commented on #16
We could use https://lib.rs/crates/sass-rs or wait for https://github.com/kaj/rsass or https://github.com/connorskees/grass.

[2020-03-30 07:10] wilsson commented on #724
Try these versions that worked for me

[code]

[2020-03-31 12:56] JakeChampion opened #740 "Exponentiation operations not compiled to Math.pow on property assignment of an already existing object."
**Describe the bug**
Exponentiation operations not compiled to Math.pow on property assignment of an already existing object.
**Input code**
self is a global object.
[code]

obj is a local object.
[code]

**Config**
[code]

**Expected behavior**
I would expect all exponentiation operations to be compiled to their `Math.pow` counterparts.

`self.a = 10 ** 2;` Should compile to `self.a = Math.pow(10

[2020-04-01 01:29] DusterTheFirst opened #742 "Expose swc as a crate"
**Describe the feature**
It would be useful to be able to access and extend the compiler api of swc from rust and crates.io. From lib.rs it shows that the core swc module has not been published to crates.io but a few of the sub-crates have
![image](https://user-images.githubusercontent.com/14093962/78089809-6e3cfa00-7396-11ea-8764-a0ef4129e36b.png)

I feel like this could be useful in build script

[2020-04-01 01:34] kdy1 commented on #742
@DusterTheFirst I think managing version will be too hard.
If it is absolutely required, I will publish it, but if not, I don't want to manage it

[2020-04-01 01:39] DusterTheFirst commented on #742
Understandable

[2020-04-01 01:39] #742 closed

[2020-04-02 03:10] Delilas56 commented on #703
#554

[2020-04-02 13:48] ry commented on #703
I haven’t looked into how these are being used but they both seem to provide hashmap implementations. Is this really necessary? Why not use std’s HashMap to reduce complexity?

[2020-04-02 13:53] kdy1 commented on #703
Hmm... I initially did it in the name of the performance, but this can be reverted as HashMap from std is same as one from hashbrown (I mean SwissTable,  if I remember correctly).

[2020-04-03 01:33] #703 closed

[2020-04-04 16:06] anurbol opened #745 "error: no rules expected the token ***"
**Describe the bug**
When trying to build my Wasm project with `swc_ecma_parser 0.16` and higher, I get these errors:
[code]

It seems like that the errors have been introduced by this commit: https://github.com/swc-project/swc/commit/fea4c5bd63ef11a63e05335f41586f54c884b51f

I tried to solve the problem on my own to make a pull request, but I don't have a lot of experience with macros. I will try

[2020-04-04 16:12] kdy1 commented on #745
I think ou can solve this issue by updating swc_atoms. Can you try cargo update?

[2020-04-04 16:18] anurbol commented on #745
@kdy1 Hi! I don't have a direct dependency of `swc_atoms`, only `swc_ecma_parser`, `swc_ecma_ast` and `swc_common`. But I have just run `cargo update` and for some reason `swc_atoms` has updated! But why? Shouldn't it auto-update as a sub-dependency when I update my direct swc dependencies?

The project is currently building now, I think it will build! I hope.

[2020-04-04 16:21] kdy1 commented on #745
@anurbol Sorry. I forgot updating the version of dependency on swc_aomts while publishing swc_ecma_parser.
It is the root cause.

[2020-04-04 16:21] anurbol commented on #745
The problem solved! Thank you! I got now another one, but it's something related to wasm-bindgen, I am investigating it...

[2020-04-04 16:24] anurbol commented on #745
No worries, thank you again! I will report the wasm error or will suggest a fix later...

[2020-04-04 16:24] #745 closed

[2020-04-04 18:06] anurbol commented on #745
The error with wasm-binding has been also fixed, by installing the latest `wasm-binding-cli`

[2020-04-05 11:45] #740 closed

[2020-04-13 22:02] kyegupov commented on #571
@kdy1 what's the current status? What's the most up-to-date branch in your fork? I have a feeling you won't be able to pull this alone. Maybe we can create a plan to "move Mount Fuji" and get more people involved?

[2020-04-14 01:33] kdy1 commented on #571
@kyegupov

As for the current state of affairs, type reasoning is somewhat implemented. Just look at my fork's dts Branch. To create a dts file, you need to know the type of exported function and variables, so type reasoning is required. There are many functions that have been implemented, but there is still a long way to go.

But I'm so busy these days that I don't have time to invest in SWC.

I

[2020-04-18 13:41] bartlomieju opened #748 "request: release newer version of swc_ecma_transforms"
Currently latest version of `swc_ecma_transforms` available at [`crates.io` is 0.7.0](https://crates.io/crates/swc_ecma_transforms).

Unfortunately I'm unable to use it with latest version of `swc_common` because of conflict with `dashmap` version.

Thanks in advance!

[2020-04-18 14:12] kdy1 commented on #748
I published it

[2020-04-18 14:12] #748 closed

[2020-04-18 14:24] bartlomieju commented on #748
Thank you @kdy1!

[2020-04-18 21:47] dsherret opened #750 "Support decorators on method parameters"
It seems like swc does not support decorators on parameters in methods and I forgot about this as well.

The following is valid TypeScript code:

[code]

But the following error happens:

[code]

Perhaps it's time for a `Parameter` AST node? https://ts-ast-viewer.com/#code/MYGwhgzhAECyCeBhcVoG8BQ1vQLb1gFMAXACwHsATACgAF8ARQ4cgJzGLb3gAUx3cJQqwBc0CMVYBLAHYBzAJToAvhmVA

[2020-04-19 11:02] kdy1 commented on #750
Is this valid in ecmascript? I failed to find any reference... It seems like valid only in typescript.

[2020-04-19 14:02] dsherret commented on #750
It’s only valid TypeScript at the moment.

[2020-04-19 21:59] dsherret opened #751 "ZeroFillRShift tokenized as Gt"
**Describe the bug**

There is a scenario where a zero fill right shift (`>>>`) gets tokenized as greater than.

**Input code**

[code]

**Tokens**

Notice the second last line:

[code]

**Version**
swc_ecma_parser: 0.21.9

[2020-04-22 00:09] ecraig12345 opened #754 "@swc/register fails with "Source map must be true, false or inline""
**Describe the bug**

When I try to use `@swc/register` on TypeScript code, even extremely simple code, it fails with the error:
[code]

With some other config variants (besides the one shown below), I get a different error:
[code]

(Filed here instead of https://github.com/swc-project/register because it seems like issue tracking is centralized to this main repo right now?)

**Input code**
`file.

[2020-04-22 02:35] moyy opened #755 "support dynamic import in amd module like tsc"
swc version:

"@swc/cli": "^0.1.24",
"@swc/core": "^1.1.39",

====================== new feature

if translate to amd module with tsc, dynamic import now is support by require function. please consider support the feature in swc?

====================== tsc example

such test.ts show as below:

[code]

and use tsc with version 3.8.3 in cmd line: "tsc -m 'amd' -t 'es2015' test.ts"

now get the outp

[2020-04-22 02:38] moyy commented on #755
and if i config the parser "dynamicImport" to false, and run the script, and get the except:

Error: failed to parse module
    at Compiler.transformFileSync (node_modules\_@swc_core@1.1.39@@swc\core\index.js:155:22)
    at Object.transformFileSync (node_modules\_@swc_core@1.1.39@@swc\core\index.js:197:21)
    at Object.<anonymous> (index.js:7:18)
    at Module._compile (internal/modules/cjs/loade

[2020-04-22 02:59] moyy opened #756 "support remove type only import like tsc"
# support remove type only import like tsc

## tsc example

[code]

now use tsc with cmd:  tsc -m "amd" -t "es2015" src/test.ts

we get the code:

[code]

## swc example

[code]

run swc, we get code as follow, note the a module already exist.

[code]

## typescript reference, Module side-effects

https://github.com/microsoft/TypeScript/wiki/FAQ#Modules

https://www.typescriptlang.org/docs/handboo

[2020-04-22 03:00] moyy commented on #756
swc version:

"@swc/cli": "^0.1.24",
"@swc/core": "^1.1.39",

[2020-04-22 03:36] #690 closed

[2020-04-23 06:27] pyrocat101 opened #757 "TypeScript enum default export are elided by SWC"
**Describe the bug**

TypeScript enums are not default exported

**Input code**

Source file:

[code]

SWC output:

[code]

**Config**
[code]

**Expected behavior**
I expect `Foo` to be the default export of the module.

**Version**
The version of @swc/core: 1.1.39

**Additional context**

[2020-04-29 13:09] #751 closed

[2020-04-30 08:43] kdy1 commented on #756
How can we know if funcA is type-only import?
In javascript, an import statement can have side effects.

If you use funcA only in type position, swc treat the import as type-only import and will remove it.

[2020-04-30 14:48] #724 closed

[2020-04-30 14:48] #757 closed

[2020-05-01 03:09] #756 closed

[2020-05-01 08:11] kdy1 commented on #755
@moyy Hmm... It seems like a breaking change. Bundlers typically depend on the dynamic import expressions.
Is the change of tsc enabled by default?

[2020-05-01 08:22] #754 closed

[2020-05-01 08:22] kdy1 commented on #754
Fixed with `@swc/register` v0.1.7

[2020-05-03 00:36] moyy commented on #755
AS I kown,it's default feature in tsc with amd module, because I dont configure anymore. Hmm, can you confider that add  configure item: support tsc mode If user configure it, cant impl almost like tsc. that can avaoid affected old user? ------------------ 原始邮件 ------------------
发件人: "&#xAC15;&#xB3D9;&#xC724;"<notifications@github.com>
发送时间: 2020年5月1日(星期五) 下午4:11
收件人: "swc-project/swc"<swc@norepl

[2020-05-03 17:39] vovaguguiev opened #759 "Writing custom transform plugins in Rust?"
Is it currently possible to write a custom transform plugin and use swc from Rust code? My planned use-case is a Rusty program that compiles to WASM, accepts Uint8Array containing the data of the file to transform (custom transformation) and returning Uint8Array back to JS

[2020-05-03 19:36] jansedlon commented on #588
This is really important feature!

[2020-05-04 10:40] jansedlon opened #760 "Optional chaining is not compiled correctly"
I tried to use SWC for a quite big project... Around 130k LOC. In a code, there an attempt to use optional chaining to window object and its key. However when I try to compile it, it throws an error that `ref1 is undefined`. Rust probably tries to use some variable that it did not created.

**Source code**
`const Auth = window?.['aws-amplify']?.Auth`

**Compiled code**
`var Auth = window === null

[2020-05-04 10:44] jansedlon commented on #760
Can I help somehow to speed up this fix? I'm not even intermediate in Rust however :/

[2020-05-04 12:06] kdy1 commented on #760
I'm working on this, but I failed to reproduce the issue.
Can you share some more code?

[code]

[code]

[code]

[2020-05-04 13:18] jansedlon commented on #760
So.. One thing is that I have this `aws-amplify` defined in webpack `resolve` and `externals` like this..

[code]

I also have aws-amplify defined in `ProvidePlugin` in webpack
[code]

[2020-05-04 13:19] jansedlon commented on #760
I removed the last question mark and it works.. However ran into another problem with legacy decorators.. You don't support these, right?

[2020-05-04 13:31] kdy1 commented on #760
@jansedlon It's supported, but not documented yet. I verified that the legacy decorator works with the config below. I'll update the documentation.

[code]

`

[2020-05-04 13:36] jansedlon commented on #760
That's awesome, thank you! Let me know if you try it with that babel config and if you need more code.

[2020-05-04 13:39] kdy1 commented on #760
@jansedlon Thanks! Please feel free to file an issue when you encounter a bug.

[2020-05-05 09:00] jansedlon commented on #760
@kdy1 Hello, I've got update. Looks like that this happens in more places and might not be specifically optional-chaining issue..
While use Redux reducer in React, default value for function parameter throws the same error..

**Original code**
[code]

**Compiled code**
![image](https://user-images.githubusercontent.com/13948180/81049927-6efa0c00-8ebf-11ea-8724-1a4cc502de22.png)

[2020-05-05 09:05] kdy1 commented on #760
At first glance, it seems like a bug of the resolver pass.
Currently, the resolver pass does not have special logic for references in parameter defaults, while it should.

I'll fix it asap.

[2020-05-05 09:05] jansedlon commented on #760
In a file where this reducer is defined are also some consts.. Which I can't find in the compiled source.. Looks like it has been just thrown out.

[2020-05-05 09:06] jansedlon commented on #760
Thank you! Is there any way I can buy you https://www.buymeacoffee.com/ ?

[2020-05-05 09:13] kdy1 commented on #760
@jansedlon I created an account :)
https://www.buymeacoffee.com/kdy1
Thank you very much!

[2020-05-05 09:37] jansedlon commented on #760
@kdy1 You have to setup payment method so I can send you something 😅

[2020-05-05 09:43] kdy1 commented on #760
@jansedlon I configured it. Thanks :)

[2020-05-05 11:10] #760 closed

[2020-05-05 12:21] kdy1 commented on #760
Published swc/core@v1.1.41

[2020-05-05 16:24] jansedlon commented on #760
@kdy1 Great job! Looks like that previous problem is eliminated. However! 😅 Another problem with "dead code elimination"

**Original code**
[code]

**Compiled code**
[code]

[2020-05-05 16:28] jansedlon commented on #760
I found that the variables are declared in the compiled code like this
[code]

However it looks like that `RESOURCE_WEBSITE` and `RESOURCE_FACEBOOK` are not imported in a way that `RESOURCE_INSTAGRAM` is

[2020-05-05 16:37] jansedlon opened #763 "Invalid import of variables in compiled code"
SWC incorrectly imports consts from file. That's interesting because one of them is imported and other two are not.

**Input code**
[code]

**Compiled code**
[code]

**Definition of constants in compiled code**
[code]

**Config**
[code]

**Expected behavior**
Import every variable in a same way. Or correct one.

**Version**
The version of @swc/core: v1.1.41

[2020-05-05 16:37] jansedlon commented on #760
Moved to #763

[2020-05-06 08:19] phaistonian commented on #588
What I did, until this is supported, is to chain babel (`babel-loader`) as the last loader to _only_ hook the `page-refresh/babel` plugin.

It works like a charm.

[2020-05-07 09:55] kdy1 commented on #763
I've tested it, and it seems like the dead code elimination pass considers `RESOURCE_WEBSITE ` as *dead*. Can you share your code which uses the variable `resources `?

[2020-05-07 10:08] jansedlon commented on #763
Sure. What I see here is that `RESOURCE_INSTAGRAM` is used in `const resources` as well in the component `Contacts` directly.. However `RESOURCE_WEBSITE` and `RESOURCE_FACEBOOK` are used in `const resources` and `{resource.map(...)}` so these two constants are not used directly

**consts.js**
[code]

**websites.jsx**
[code]

[2020-05-07 10:15] jansedlon commented on #763
If you need anything else, tell me. However I don't want to share any implementation details since it's a company's closed source application

[2020-05-07 10:30] jansedlon commented on #588
@phaistonian Are you sure that u used it as a **last** loader? If use it as a last loader i get
[code]

If I use it as a first, I get
[code]

😅

[2020-05-07 10:35] kdy1 commented on #763
@jansedlon It's enough. Thanks!

[2020-05-07 10:40] phaistonian commented on #588
Here's the loaders chain I use.

[code]

[2020-05-07 11:26] kdy1 commented on #763
I've failed to reproduce it.

<details>
<summary>Log</summary>

[code]
</details>

I'll investigate further

[2020-05-07 13:07] kdy1 commented on #588
Where can I find information about it?

I'm going to implement it soon.

[2020-05-07 13:15] phaistonian commented on #588
@kdy1

- [React package](https://github.com/facebook/react/tree/5b89d353e27a7ef07b40929f7343ebcc43bdaa58/packages/react-refresh) - contains the babel plugin
- [webpack loader](https://github.com/pmmmwh/react-refresh-webpack-plugin)
- A [blog post](https://mariosfakiolas.com/blog/what-the-heck-is-react-fast-refresh) on what this is about

[2020-05-07 13:18] jansedlon commented on #763
I'll try to reproduce it as well.

[2020-05-07 16:00] jansedlon commented on #763
@kdy1 I was able to reproduce it. You can find it here
https://github.com/jansedlon/swc-bug

[2020-05-07 16:02] jansedlon commented on #763
It's happening only if I import those constants. If I declare them in a same file, it's okay.

[2020-05-08 08:25] kdy1 commented on #763
@jansedlon Thanks a lot!!

In my experience, finding a bug and creating minimal reproduction for it is really hard.

[2020-05-08 08:28] jansedlon commented on #763
@kdy1  Haha, yeah, that's, true. I feel bad for just issuing a bug and let you do all the work so I try to help you as much as I can 😅

[2020-05-08 08:42] jansedlon commented on #763
I forgot to add there a `.swcrc` file, it's now fixed.

[2020-05-09 03:22] #763 closed

[2020-05-09 03:25] kdy1 commented on #759
If you guys need any help while doing so, please feel free to ping me on github / slack. I'll help as mich I can

[2020-05-10 19:27] vovaguguiev commented on #759
I've just started, but I think I got it so far. I'll ping you on Slack if I will have other questions thanks!

[2020-05-10 19:27] #759 closed

[2020-05-10 19:34] dsherret opened #766 "Support no-substitution template literals in types"
**Describe the bug**

No-substitution template literals are not supported in types at the moment.

[code]

**Input code**

[code]

**Expected behavior**
No error.

**Version**
parser 0.21.10

[2020-05-11 12:32] phaistonian commented on #588
@jansedlon Encountered this issue on a different repo.

Turns out babel expected an object and the swc-loader sends JSON string.

[This PR](https://github.com/swc-project/swc-loader/pull/13) introduces the `parseMap` option needed to make sure the callback from transformations passes an object not a JSON string.

[code]

[2020-05-11 12:50] jansedlon commented on #588
@phaistonian I'll try that, thanks!

[2020-05-11 16:02] max107 opened #768 "support nullishCoalescing for typescript?"
**Describe the feature**
nullishCoalescing for typescript is supported?

**Babel plugin or link to the feature description**
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html

**Additional context**
-

[2020-05-13 06:19] kdy1 commented on #768
It is supported, and it's enabled by default as it's supported by official tsc

[2020-05-13 06:19] #768 closed

[2020-05-13 22:26] dancespiele commented on #620
Is there any news about this?

[2020-05-13 23:18] nayeemrmn commented on #571
https://deno.land/v1#tsc-bottleneck

[2020-05-14 03:01] kdy1 commented on #106
#691 Is merged. Closing. Please comment or file a new issue if it's not enough.

[2020-05-14 03:01] #106 closed

[2020-05-14 03:02] kdy1 commented on #620
@dancespiele swc now provides visitors which work on stable rust.
It's mainly for rust users and swc will **not** change to it.

[2020-05-14 15:18] bartlomieju opened #769 "Folder for stable Rust"
**Describe the feature**
With amazing work done in https://github.com/swc-project/swc/pull/743 it's now possible to use `Visitor` in stable Rust - I use it extensively in both `deno` and `deno_lint` and it works like a charm! It would unlock a lot more possibilities if `Folder` could be made to work on stable Rust as well. @kdy1 I'm not that familiar with SWC code, but with some guidance I think I

[2020-05-14 16:52] kdy1 commented on #769
I'll write one at the weekend.

[2020-05-14 23:12] Plecra opened #770 "Soundness issue"
https://github.com/swc-project/swc/blob/14f5212d3d3401401cbb571feb427342dc411daa/src/lib.rs#L223

I'm not particularly versed in the intricacies of safety in Rust, but I don't believe this is safe. From the `String` docs:

So long as any calls are made into `std`, UB could potentially be triggered. The value being returned as a `String` in a public api is even more likely to be dangerous.

[2020-05-14 23:12] #770 closed

[2020-05-15 07:27] kdy1 opened #771 "TypeScript meta issue"
The issue will be updated (quite frequently) as required.

 - [ ] .d.ts generator
 - [ ] type inference

[2020-05-15 17:51] gasinvein commented on #587
Hello. Seems like I ran into the same error, but raised from `swc_ecma_visit_macros-0.1.0`:
[code]
Using rustc 1.40.0

[2020-05-15 22:41] dancespiele commented on #620
ok great however I don't see documentation in https://crates.io/crates/swc_ecma_visit . Where can I find it?

[2020-05-16 05:54] kdy1 commented on #587
@gasinvein It will be fixed by https://github.com/swc-project/swc/pull/773

[2020-05-16 06:11] #769 closed

[2020-05-16 06:17] kdy1 commented on #769
I implemented it and published swc_ecma_visit@0.2.0

[2020-05-16 06:17] kdy1 commented on #769
cc @ry

[2020-05-16 06:33] kdy1 commented on #771
Closing in favor of editing https://github.com/swc-project/swc/issues/571

[2020-05-16 06:33] #771 closed

[2020-05-16 06:38] kdy1 commented on #620
@dancespiele You can see it at https://docs.rs/swc_ecma_visit/0.2.0/swc_ecma_visit/ .
I'll modify ci script to upload it on github.

[2020-05-16 08:19] #766 closed

[2020-05-16 09:30] bartlomieju commented on #769
@kdy1 thank you! I will try it out this weekend

[2020-05-16 11:42] #750 closed

[2020-05-16 17:02] dsherret commented on #769
Thanks a lot @kdy1!

@bartlomieju FYI, I am updating deno doc to use the latest swc right now.

[2020-05-16 23:03] trivikr commented on #571
FYI: TypeScript team doesn't have any plan to port TSC to Rust for reasons explained in tweet thread https://twitter.com/drosenwasser/status/1260722414012358657

[2020-05-17 10:15] #536 closed

[2020-05-18 06:48] rvhelden opened #778 "Support decorator on method"
When using a decorator on a method, give the following error.

error: Unexpected token Some(At)

Here is the following AST

https://ts-ast-viewer.com/#code/MYGwhgzhAECyCeBhcVoG8BQ1vQAJmABcBLAewDsscBbeWAU0IAtSATACloAUwAnMao3q8AXNAiFexcgHMAlOgC+GZRnoAPAA6lehaK3qg+9aADMAruSJly0AiQrtCfGYzEB5AEYArQ4QA00ILMbAByAvRiElKygZq8pJrChPAAIvQQwMSahDpiXAlJumkZwFI5OnL5hcklmeW5vADcQA

Here is the documentation desc

[2020-05-18 09:03] kdy1 commented on #778
Did you enable decorators?

See: https://swc-project.github.io/docs/configuring-swc.html#jscparser

[2020-05-18 09:15] chenyulun opened #779 "why did require become require1"
**Describe the bug**
core-js+asyncFunction+module.type=commonjs

**Input code**
`./src/testcorejs.js`
[code]
**Config**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
[code]
[code]
`./lib/testcorejs.js`
[code]

**Version**
The version of @swc/core:
"@swc/cli": "^0.1.24",
    "@swc/core": "^1.1.43",
    "@swc/register": "^0.1.7",
**Additional context**

[2020-05-18 09:20] chenyulun commented on #779
The following code compiles normally
[code]
output
[code]
But `core-js+asyncFunction` reported an error

[2020-05-18 09:28] kdy1 commented on #779
It seems like a bug of env preset. I'll fix it soon.

[2020-05-18 10:48] chenyulun commented on #779
#724 Is the issues the same problem?

[2020-05-18 11:13] kdy1 commented on #779
@chenyulun I don't think so. Although it's quite similar and I guess a similar change would fix the issue, it's a bit different.

[2020-05-18 14:25] #779 closed

[2020-05-18 16:57] p7g opened #781 "Better config file parse error reporting"
**Describe the feature**

When there is an issue with the config file provided, the error is simply "Failed to parse config file". It would be helpful if it would report what and where the error was.

**Additional context**

It seems like `serde_json::ErrorImpl` has a sensible [implementation of `Display`][1], so maybe it would suffice to simply propagate the result [here][2] and [here][3] rather

[2020-05-19 01:47] chenyulun commented on #779
@kdy1
`npm info @swc/core`
output
`latest: 1.1.43`
update npm package to '1.1.44'?

[2020-05-19 02:23] kdy1 commented on #779
@chenyulun  Publised v1.1.44

[2020-05-19 06:38] rvhelden commented on #778
I didn't, and it works correctly now, thank you

[2020-05-19 06:38] #778 closed

[2020-05-19 07:08] chenyulun commented on #779
@kdy1
Update to 1.1.44, same configuration and command as yesterday, build 0 files without any error
[code]
`package.json`
[code]
`.swcrc`
[code]

[2020-05-19 07:21] kdy1 commented on #779
I failed to reproduce it.

[2020-05-19 08:03] chenyulun commented on #779
After removing all dependencies, it's ok to reinstall the dependencies, but the following code runs as if core-js won't parse it
[code]
Core-js parsing failed

[2020-05-19 09:01] kdy1 commented on #779
Oh.. I got it. Let's move to the new issue.

[2020-05-19 09:04] kdy1 opened #783 "preset-env does not convert import of core-js"
After removing all dependencies, it's ok to reinstall the dependencies, but the following code runs as if core-js won't parse it
[code]
Core-js parsing failed

_Originally posted by @chenyulun in https://github.com/swc-project/swc/issues/779#issuecomment-630655975_

[2020-05-19 09:15] kdy1 commented on #783
It works with

 - .swcrc
 - transformSync + filename

but it does not work with

 - transformSync without filename

[2020-05-19 09:19] chenyulun commented on #783
I only tested this scenario. There may be problems with other scenarios. You should test them all, thank you

[2020-05-19 10:25] kdy1 commented on #781
@p7g Well, serde_json only provides error message like `data did not match any variant of untagged enum Rc` for untagged enums.

[2020-05-19 11:03] kdy1 commented on #781
By the way, I optimized error message for single-item cases, as I think it would be most frequently used

[2020-05-19 11:24] #781 closed

[2020-05-19 11:24] #783 closed

[2020-05-20 02:28] ws456999 commented on #755
i have same problem

[2020-05-20 03:56] chenyulun opened #785 "Plugin is broken"
**Describe the bug**
The plugin doesn't seem to be working
https://swc-project.github.io/docs/usage-plugin
**Input code**
[code]
run shell
[code]
**Version**
The version of @swc/core:
`"@swc/core": "^1.1.44"`
**Additional context**
Add any other context about the problem here.
The breakpoint in  `Visitor.visitModule`
[code]
The object M here can see that it has been modified successfully
[code]

[2020-05-20 23:55] opiation commented on #487
@Algram, is this different than the older #379?   If not, might I suggest closing this issue in favor of #379 to consolidate upvotes and discussion?  @kdy1, would you agree?

[2020-05-21 02:12] kdy1 commented on #487
Oh... You are right

[2020-05-21 02:12] #487 closed

[2020-05-21 02:20] aelbore opened #786 "Remove unused types on transform output"
**Describe the bug**
when transform the code if types is unused will not remove in output (Please see screenshot)

**Input code**
[code]
**Config**
Please input code

**Expected behavior**
it should remove the import of the types since it is not use in the output code

**Version**
The version of @swc/core:
1.1.42

**Additional context**
Add any other context about the problem here.

[2020-05-21 02:23] aelbore commented on #786
for the meantime this is my code to make work as expected
[code]

[2020-05-21 05:40] #786 closed

[2020-05-21 09:19] notlee opened #788 "Bug: Parameter renaming given a try/catch block with the same parameter name"
**Describe the bug**

Given:
- an event listener with a function that has a parameter `e`
- a try/catch block which wraps the body of the function
- where the catch block also has a parameter `e`
- `swc` renames the function parameter `e1`

**Input code**
[code]

**Output code**
[code]

**Config**
None. Used `--no-swcrc`.

**Expected behavior**
`swc` does not rename the event listener function par

[2020-05-21 10:24] #788 closed

[2020-05-21 10:34] notlee commented on #788
Great work @kdy1! Thanks for closing this so quickly

[2020-05-21 10:37] kdy1 commented on #788
@notlee Thanks! I'm currently deploying v1.1.46. Note that it would take some time as swc provides prebuilt binaries for 5 x 3 use cases.

[2020-05-21 11:21] kdy1 commented on #788
Published v1.1.46

[2020-05-21 11:21] kdy1 commented on #786
Published v1.1.46

[2020-05-21 12:37] aelbore commented on #786
@kdy1 theres another 1 when you extends interface please see updated code above

[2020-05-21 12:39] kdy1 commented on #786
@aelbore I think another issue would be better. Can you open one?

[2020-05-21 12:40] aelbore commented on #786
@kdy1 noted thanks

[2020-05-21 12:46] aelbore opened #791 "Remove unused types or import types on transform output (extends and type assign)"
**Describe the bug**
 when you extends interface or assign to a type please see  #786
 import types is not remove.
**Input code**
[code]
**Config**
[code]

**Expected behavior**
[code]

**Version**
The version of @swc/core: 1. 1.46

**Additional context**
Add any other context about the problem here.

[2020-05-21 13:57] Zzzen commented on #343
[code]

Shouldn't [SingleLineComment](https://www.ecma-international.org/ecma-262/9.0/index.html#prod-SingleLineComment) have higher priority such that it's never recognized as regex?

[2020-05-21 13:59] #791 closed

[2020-05-21 14:25] aelbore commented on #791
@kdy1 nice thanks :)

[2020-05-22 05:04] moyy commented on #755
AS I kown,it's default feature in tsc with amd module, because I dont configure anymore. Hmm, can you confider that add  configure item: support tsc mode If user configure it, cant impl almost like tsc. that can avaoid affected old user?

[2020-05-22 05:32] kdy1 commented on #755
Oh... I didn't know that it's the default behavior.
I'll implement this as an enabled-by-default feature.

[2020-05-22 11:36] #785 closed

[2020-05-23 04:11] aelbore opened #793 "Unused types still not remove when casting value in typescript"
**Describe the bug**
Casting value in typescript doesnt remove the types in transform
**Input code**
[code]

**Config**
Please see code above

**Expected behavior**
it should remove the import of the types since it is not use in the output code

**Version**
The version of @swc/core:
1.1.47

**Additional context**
Add any other context about the problem here.

[2020-05-23 04:15] kdy1 commented on #793
Hmm... I thought I fixed it but it seems like there's a bug.
Sorry for inconvenience.

[2020-05-23 04:19] aelbore commented on #793
@kdy1 no worries, the difference of this bug is you only used it as casting the object inside function. other other cases is you use it as parameters.
by the way good work, im currently using swc in my own project as bundler in javascript (zero config)

[2020-05-23 04:29] aelbore commented on #793
if you use interface as type parameter it works fine which is you already fixed.
but this bug is i just only use it as casting type inside function.
heres another code for this case
[code]

[2020-05-23 04:30] kdy1 commented on #793
@aelbore I fixed it. :) Thanks for reporting!

[2020-05-23 04:31] aelbore commented on #793
@kdy1 thats so quick. thanks ^^

[2020-05-23 05:03] #793 closed

[2020-05-24 09:56] fahrradflucht commented on #620
@kdy1 I'm interested in your general thoughts around the use of `specialization`. Reading through https://github.com/rust-lang/rust/issues/31844 it doesn't sound like it will be stabilized in its current form and people even talk about de-implementing it, which is kind of understandable given how scary some examples in https://github.com/rust-lang/rust/issues/33017 look.

What do you think is the

[2020-05-24 10:09] kdy1 commented on #620
@fahrradflucht Hmm... I'll switch to min-specialization if min-specialization is going to be stabilized or current specialization is going to be de-implemented. However, if not, I don't want to do it at the moment because I'm too busy.

If it's really required, I can even make swc compilable with stable rustic. I don't want to do it just because It's really time-consuming and it makes organizing c

[2020-05-25 22:18] luveti opened #798 "jsc.transform.react.pragma doesn't work"
**Describe the bug**
Setting `jsc.transform.react.pragma` doesn't override the default of `React.createElement`

**Input code**
[code]

**Output code**
[code]

**Config**
[code]

**Expected behavior**
It should use the provided `pragma` value.

**Version**
The version of @swc/core: 1.1.48

**Additional context**
The following command was used:
`swc --out-file test.compiled.js test.js`

[2020-05-26 14:55] kdy1 commented on #798
You have to remove `"test": "test.js",`

[2020-05-26 14:55] #798 closed

[2020-05-27 08:48] piaoger commented on #468
I remember I mentioned three.js as a real world example for validation.

Today, I found it's used for benchmark in another project [esbuild](https://github.com/evanw/esbuild)similar to swc but written in golang:

[code]

[2020-05-27 09:32] kdy1 commented on #468
@piaoger I've heard about it, but it's bit different from swc. It's rather similar to spack, the bundler I'll going to write, but spack will have more features related to ffi. spack will support plugin and loader written in javascript. (It is main cause why development of spack is delayed)

[2020-05-27 09:43] piaoger commented on #468
@kdy1
thanks for you response.  I just want to let you know that maybe three.js can be a real world case for validation. It seems that there are many test cases.

[2020-05-27 09:49] kdy1 commented on #468
@piaoger Oh.. Great idea. It seems like test suite of three.js is easy to run (while being many), so I'll find a way to test it on ci without making forking swc slower.

[2020-05-27 21:07] iamakulov opened #800 "Swc doesn’t strip TS class generics when targeting `es2016`"
**Describe the bug**

Hey, thanks for working on `swc` – it’s incredibly fast! Love it so much.

My issue is: `swc` doesn’t strip TS class generics when targeting `es2016`. This produces invalid JS code. (See code snippets below.)

**Input code**
[code]

**Config**
[code]

**Expected behavior**
I’ve expected `swc` to produce the following code:

[code]

**Actual result**

I’ve got the following co

[2020-05-27 21:17] iamakulov opened #801 "Swc produces an invalid function name"
**Describe the bug**

When a class has a member with a name `delete`, `swc` transforms that member into `function delete() { ... }`.

However, `delete` in that context is recognized as a keyword and produces a syntax error:

<img src="https://user-images.githubusercontent.com/2953267/83072824-1c53e000-a078-11ea-80de-2ffd6b3d7ac0.png" width="300">

**Input code**
[code]

**Config**
[code]

**Expect

[2020-05-28 03:00] #800 closed

[2020-05-28 04:08] #723 closed

[2020-05-28 05:01] kdy1 commented on #723
Fixed with `swc@1.1.49`. Sorry for delay.

[2020-05-28 05:02] kdy1 commented on #801
Fixed with swc@1.1.49

[2020-05-28 05:02] kdy1 commented on #800
Fixed with swc@1.1.49

[2020-05-28 07:36] kyle-mccarthy opened #804 "Object property default renamed to _default"
**Describe the bug**

If an item has a property named default, it is renamed to _default when code is compiled.

**Input code**
repo with example https://github.com/kyle-mccarthy/swc-default-rename

[code]

**Config**
[code]

**Output code**

[code]

**Expected behavior**

Object property/key with name default should not be renamed

**Version**
The version of @swc/core: latest

[2020-05-28 07:42] kyle-mccarthy commented on #804
I should have also noted that if the property is named using a string the output is correct (although pretty different).

**Input code**
[code]

**Output code**

[code]

[2020-05-28 07:46] kdy1 commented on #804
Oh.. I did some stupid thing. I'll fix this right now and publish a hotfix.

[2020-05-28 08:01] #804 closed

[2020-05-28 13:23] #468 closed

[2020-05-28 13:23] #801 closed

[2020-05-28 13:43] #405 closed

[2020-05-28 19:49] jansedlon opened #807 "It's trying to output something to console (probably whole compiled code)"
**Describe the bug**
When I type `npm start`, bundling process is started and then it looks like that my console is trying to blow. If I switch one line from `swc-loader` to `babel-loader`, it's okay. **The problem is that it never stops**

I've record a video of the behaviour.
https://streamable.com/qbl4lm

**Config**
[code]

**Expected behavior**
Just compile it

**Version**
The version of @swc/

[2020-05-30 07:04] kdy1 commented on #807
Fixed it with swc-loader@0.1.12

[2020-05-30 07:04] #807 closed

[2020-05-30 11:27] bartlomieju opened #808 "swc_ecma_visit skips class body"
**Describe the bug**
`swc_ecma_visit` doesn't visit class body

**Input code**
[code]

[code]

**Expected behavior**
[code]

**Version**
`swc_ecma_visit` 0.5.0

[2020-05-30 11:28] kdy1 commented on #808
Hmm... it's quite interesting. I'll try to fix it asap.

[2020-05-30 11:30] bartlomieju commented on #808
@kdy1 thanks, I was surprised as well - when I print out AST node of class I can see body containing method, but `visit_class_method()` is never called.

[2020-05-30 11:31] kdy1 commented on #808
@bartlomieju Can you share your input code?

[2020-05-30 11:32] bartlomieju commented on #808
@kdy1 full repro in this PR: https://github.com/denoland/deno_lint/pull/56

You can run problematic test by: `cargo test require_yield`

[2020-05-30 12:06] #808 closed

[2020-05-30 12:09] kdy1 commented on #808
Published `swc_ecma_visit@0.5.1`

[2020-05-30 12:09] bartlomieju commented on #808
@kdy1 thank you!

[2020-06-01 18:16] Pangoraw opened #812 "declare member of class in JS throws TS1031"
**Describe the bug**
When parsing a Javascript file in which a class has a `declare` function, swc returns an error refering to TS1031. This is problematic because some class have methods called declare (see https://github.com/denoland/deno/issues/5978).

**Input code** `test.js`
[code]

**Expected behavior**
The function should be parsed since the code is in a `.js` file.

**Version**
The version

[2020-06-01 18:18] kdy1 commented on #812
Sorry for inconvenience.

The parser has some bugs. It will be all fixed by https://github.com/swc-project/swc/pull/811 and the new version will be published tomorrow.

[2020-06-02 11:21] kdy1 commented on #812
Published a new version of `swc_ecma_parser`.

[2020-06-02 12:35] kdy1 opened #813 "Coverage sucks"
I don't know why, but I added tests, and coverages went down.
I think it's a bug of llvm profile.

[2020-06-02 15:51] karim10 commented on #421
Having the same issue with `lodash-decorators`

[2020-06-02 16:46] dsherret opened #814 "Cannot parse return type on next line in arrow function after upgrade to swc_ecma_parser 0.24.0"
**Describe the bug**

**Input code**

[code]

Has error: "Parenthized expression cannot be empty"

Additionally...

[code]

Has error: "Expected Arrow, got Some(Colon)"

The second example is a common scenario for how prettier and dprint format union types in arrow functions.

**Expected behavior**

No error.

**Version**
0.24.0 of swc_ecma_parser

[2020-06-03 03:19] #814 closed

[2020-06-03 03:26] kdy1 commented on #814
Published a new version

[2020-06-03 03:45] dsherret commented on #814
Thanks @kdy1! This is fixed now.

Sorry! I noticed one small issue I didn't notice last time and opened #817 to fix. Please feel free to edit that PR in case I didn't implement the fix properly.

[2020-06-03 13:42] strobelm opened #818 "Leading pipe before types and new line emits error"
**Describe the bug**
A leading pipe in combination with a newline causes `error: Expected Arrow, got Some(Colon)`
**Input code**
[code]

while without the newline the code compiles:
[code]
**Config**
[code]

**Expected behavior**
The code should compile, it does for both versions on TS playground.

**Version**
The version of @swc/core:
+ @swc/cli@0.1.24
+ @swc/core@1.1.52

**Additional context**
A

[2020-06-03 13:53] kdy1 commented on #818
It seems like it's already fixed by https://github.com/swc-project/swc/pull/816.
Anyway, I added some tests and I'm going to publish a new version.

[2020-06-03 14:36] strobelm opened #820 "Computed properties in enum are undefined"
**Describe the bug**
Computed properties in enum are undefined.

**Input code**
[code]
yields
[code]
and executing this leads to
[code]

the same code from typescript playground:
[code]
runs fine.

**Config**
[code]

**Expected behavior**
The code should compile correctly.

**Version**
The version of @swc/core:
+ @swc/core@1.1.52
+ @swc/cli@0.1.24

[2020-06-03 14:37] #818 closed

[2020-06-03 16:13] dsherret commented on #812
@kdy1 is this completely fixed? I tried it out on the minified code and get:

[code]

[2020-06-03 16:17] kdy1 commented on #812
@dsherret I don't think so. Reopening...

[2020-06-03 16:18] kdy1 commented on #812
I thought being able to parse all test files from tsc was enough, but it was not

[2020-06-03 16:45] #820 closed

[2020-06-03 17:52] #812 closed

[2020-06-03 18:35] dsherret commented on #812
Thanks @kdy1! It's fixed now. 😀

[2020-06-03 19:09] strobelm commented on #820
Great! Thank you!

[2020-06-05 14:03] strobelm opened #823 "Decorators using static class variables are undefined"
**Describe the bug**
If I use a decorator in combination with a static class variable a TypeError is raised.

**Input code**
[code]
**Config**
[code]

TSC emits:
[code]
that outputs "Hello World!" with node.js.

while SWC emits (truncated):
[code]

which leads to
[code]

**Expected behavior**
The code should be functionally equivalent to TSC.

**Version**
The version of @swc/core:
+ @swc/cli@0.1.2

[2020-06-06 06:30] #823 closed

[2020-06-08 16:11] dsherret opened #827 "JSDoc Parser"
It would be useful if swc could be used to parse JSDocs similarly to how the TS compiler parses them.

Use cases:

1. Type checking
2. Automatically formatting JS docs.
3. Analyzing JS docs for information.

I think it should be lazily parsed as parsing and storing this information is not so useful when compiling.

[2020-06-08 16:22] kdy1 commented on #827
I'll implement it tomorrow.

[2020-06-08 16:24] dsherret commented on #827
@kdy1 oh, there is no rush on this!! Hope you have a relaxing sleep 😄

[2020-06-08 16:41] mattd3v commented on #827
@dsherret I've been working on the Deno doc generation command, and am currently working on [moving it to its own crate](https://github.com/denoland/deno/issues/6123). There may be a lot in common with this and what I've been doing, so I'd love to help!

[2020-06-09 02:38] duncanbeevers opened #828 "Sourcemaps not generated/usable"
**Describe the bug**
Sourcemaps are not generated when `inputSourceMap` is specified.

**Input code**
[code]

**Config**
webpack+swc config
[code]

**Expected behavior**
Sourcemaps should allow debugging the original source. Instead, only the transformed source is visible.
![2020-06-08 at 7 36 PM](https://user-images.githubusercontent.com/7367/84099853-636a9b00-a9bf-11ea-8205-28f376e628a5.png)

**

[2020-06-09 06:13] kdy1 commented on #827
Is there any reference about ast types of jsdoc?

[2020-06-09 07:24] ws456999 commented on #702
Is there any progress?

[2020-06-09 07:48] kdy1 commented on #702
@ws456999 Sadly, not yet.

I recently got an idea about such api, but it's blocked by https://github.com/neon-bindings/neon/issues/73 / https://github.com/infinyon/node-bindgen/issues/37 (I'll switch to node-bindgen if required)

[2020-06-09 09:21] kdy1 commented on #828
Sorry, after chatting on slack, I forgot about it.
Thanks for the reminder. The fix will be trivial.

[2020-06-09 14:01] dsherret commented on #827
@kdy1 yeah, it's probably a lot of work. The AST nodes used in the TS compiler are outlined here:

https://github.com/microsoft/TypeScript/blob/master/src/compiler/types.ts

Also, they can be viewed by going to https://ts-ast-viewer.com and in the "Options" area enabling "Show internals". Then it will show the `jsDoc` property on nodes.

[2020-06-09 14:09] kdy1 commented on #827
@dsherret Thanks! I'll take a look.

[2020-06-09 19:06] dragonofdeath opened #831 "panic: Crashing on 'yield*' in generator"
1. Source code
[code]
2. `.swcrc` file
none
3. Error message gained from `swc --sync <input.js>`
[code]
Version
[code]
(About yield* https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/yield*)

[2020-06-10 10:39] #831 closed

[2020-06-10 20:53] radioman09 opened #834 "BigInt literals, nullishCoalescing, numericSeparator breaks"
**Describe the bug**
When passing code like
**Input code**
[code]
[code]

**Config**
[code]

**Expected behavior**
The code should transform and compile all code without errors.

**Version**
The version of @swc/core:
"@swc/core": "^1.1.56"

[2020-06-11 00:58] kdy1 commented on #828
Oh... Sorry, I thought I fixed it.
I tested it within swc-loader/exmaple bit I failed to verify source map because of codes related to debugging.

[2020-06-11 01:49] duncanbeevers commented on #828
I'm also not clear on when to use the `sourceMap` directive versus `inputSourceMap` and how the `[true, false, `inline`]` values affect the option.

I see `sourceMap` in the `swc-loader` example and `inputSourceMap` elsewhere. I've tried a bunch of combinations without success, but it would be nice to understand what the directives mean and which I should be using.

[2020-06-11 07:07] kdy1 commented on #828
`inputSourceMap` is related to source map generated by previous pass (e.g. loader).

`sourceMap` is related to how swc put the generated source map with file.
Also `sourceMap: false` make swc not emit source map.

[2020-06-11 07:26] #828 closed

[2020-06-11 07:51] kdy1 commented on #834
To use code like

[code]

 you need optional changing (not bullish coalescing)

[2020-06-11 07:52] kdy1 opened #836 "Numeric separators"

[2020-06-11 09:23] JonathanCallewaert opened #838 "JSX pragma not working Typescript"
I'm working on a React App (Typescript) that is compiled using SWC. To style components, I use the ***emotion*** package (https://github.com/emotion-js/emotion). With this package, you can add a css prop to an element but this requires a JSX pragma. The example React code looks like this:
[code]

**Config**
My .swcrc file looks like this:
[code]

**Expected behavior**
The emotion package should co

[2020-06-11 09:24] kdy1 commented on #838
I'll add support for pragma after #829 is merged.
See: #107.

[2020-06-11 09:26] JonathanCa97 commented on #838
Okay thank you for the quick response :) !!

[2020-06-11 16:16] radioman09 commented on #834
I should have been more clear. These two broke independently. I tried to compile with optional chaning first and that failed. After that, I removed the optional chaining code and added nullish coalescing code. That also failed.
[code]
[code]

[2020-06-11 16:18] radioman09 commented on #834
I should have been more clear. These two broke independently. I tried to compile with optional chaining first and that failed. After that, I removed the optional chaining code and added nullish coalescing code. That also failed.
[code]
[code]

[2020-06-11 16:20] kdy1 commented on #834
Hmm... Do you mean that you used

[code]

for

[code]

? Then it is a bug..

[2020-06-11 16:33] radioman09 commented on #834
I just tried it again, by itself.

error: Nullish coalescing operator(??) requires jsc.parser.Coalescing
      --> <anon>:155455:12
       |
155455 | var some = "sdf" ?? "thing"
       |            ^^^^^

Error: failed to process js file

Caused by:
    failed to parse module

[2020-06-11 16:35] kdy1 commented on #834
I'll investigate this further.

[2020-06-11 17:49] radioman09 opened #839 "setting script to true crashes swc"
**Describe the bug**
When setting script: true, swc will crash.
**Input code**
var foo = 9;
**Config**
[code]

**Expected behavior**
 file should be parsed as a script instead of module.

**Version**
The version of @swc/core:
v1.1.56

[2020-06-11 18:27] jrop commented on #43
@kdy1 You really should take @TheLarkInn up on his offer to share learnings 😄 He is on the Webpack core team, after all!

[2020-06-12 03:46] kdy1 commented on #839
You can use `isModule: false` instead of `script: true`. I'll close the issue from swc-website commit.

[2020-06-12 03:51] #839 closed

[2020-06-12 04:12] kdy1 commented on #834
I found that

[code]

works.

[2020-06-12 17:05] #834 closed

[2020-06-13 04:16] kdy1 opened #841 "spack: Issues"
# Tasks

 - [ ] Handle require
 - [ ] Handle dynamic import

 - [ ] Provide webpack-like plugin / loader /resolver api

This is really a show-stopper. I'm going to publish first version without support for plugins. This requires one of the below, as spack uses all cpu cores.

 - https://github.com/neon-bindings/neon/issues/73
 - https://github.com/infinyon/node-bindgen/issues/37

 - [ ] Implement

[2020-06-13 14:09] #681 closed

[2020-06-13 14:09] #43 closed

[2020-06-14 20:56] Pangoraw opened #843 "declare span is not stored for functions"
**Describe the bug**
When using `declare` before a function declaration in a typescript file, the `span` field of the `Function` struct in `FunctionDecl` only starts at the start of the word `function`. Compared to the class declaration where the span field starts at the beginning of the `declare` keyword. It is problematic to find the start of the declaration (see [this issue](https://github.com/

[2020-06-16 00:47] ryuhhnn opened #846 "Decorators break code with es2019 target"
**Describe the bug**

If you have a class that extends a base class such as the following:

[code]

You will get the following error: `super is only allowed in object methods and classes` because the compiler will output `OtherClass` as a returned object thus inhibiting the ability to use the `this` keyword.

This is similar to an issue that Babel was experiencing a few years ago: https://github.c

[2020-06-16 00:58] ryuhhnn opened #847 "Option to preserve ?? operator"
**Describe the bug**

When using the nullish coalescing operator, the swc compiler will transpile it down to be compatible with previous versions of ECMAScript even when the `"nullishCoalescing": true` option in the config file is set. This is problematic because if nullish coalescing is used on object properties where the parent object may not exist, you'll get a reference error: `ReferenceError:

[2020-06-16 15:19] kdy1 commented on #847
I'll fix this and #846 when my final exam is over. I guess I'll fix it this weekend.

[2020-06-17 12:33] dragonofdeath opened #849 "Transpiled generator error "ReferenceError: _marked is not defined""
When in the same file we have generator and generator factory functions then the traspilation of simple generator gets broken. Running it throws `"ReferenceError: _marked is not defined"` error
**Input code**
[code]
**Config**
no config

**Version**
[code]
**Additional context**
I noticed that without the `genFactory` the file works and output has this line at the top
[code]
And with generator fac

[2020-06-17 15:01] #836 closed

[2020-06-18 00:20] kdy1 opened #850 "Rename spack"
- [ ] New name
 - [ ] Rename module
 - [ ] Alias (to prevent breaking change)
   - [ ] Warning on import
 - [ ] Update cli

[2020-06-18 07:17] kdy1 commented on #847
`nullishCoalescing: true` is an option to enable transcompiling, and swc is working as intended.

Why do.you want to preserve `??` in output? I may add support for printing it as-is if there's a use case.

Also,

ReferenceError is correct behavior for the code

[2020-06-18 07:29] kdy1 commented on #846
This part is problematic. Because you told swc that you target es2019, swc does **not** transcompile classes, so it's just emitted as-is.
I have added some tests anyway.

[2020-06-18 08:04] #849 closed

[2020-06-18 08:45] Brooooooklyn opened #852 "Migrate neon to napi-rs"
Started at https://github.com/napi-rs/node-rs/pull/34

## Benefits

- Minimal overhead
- Stable native API, easy to release [Releases](https://github.com/napi-rs/node-rs/releases)

First benchmark in my local machine

[code]

[2020-06-18 08:51] kdy1 commented on #852
@Brooooooklyn Does it support invoking javascript function from rust (in a thread created by rayon) and awaiting promise from rust (again, within any thread)?

I was considering switching to node-bindegen, but I'm open with other options, if the features above are implemented in a easy-to-use manner.

[2020-06-18 09:01] Brooooooklyn commented on #852
`ThreadSafeFunction` has not been implemented yet, I'm planning to finish it in this month.

But you can spawn task to `libuv` thread via [napi_create_async_work](https://nodejs.org/api/n-api.html#n_api_napi_create_async_work), see https://github.com/napi-rs/node-rs/pull/34/files#diff-ec133f03d8eaec6d1f6e2e0bffee7e50R64

`node-bindegen` is a great library, but the overhead is still too large if yo

[2020-06-18 09:16] kdy1 commented on #852
@Brooooooklyn I think the benchmark does not fit for swc. The benchmark is about adding two numbers, but swc does lots of things in the background task.

I didn't update the README.md because I'm too lazy to do it, swc is 20+ faster than babel even with neon. Clearly, ffi overhead is a bottleneck in swc, but I'm not sure if it worths migration.

[2020-06-18 10:23] Brooooooklyn commented on #852
The benchmark I mentioned above is produced in my machine right now... and it's over two times faster `@node-rs/swc (es2018) x 5,538 ops/sec ±1.04% (86 runs sampled)` vs `swc (es2018) x 2,177 ops/sec ±1.63% (88 runs sampled)` if my implement is not wrong. I think this gain of performance is really worth to consider about. Especially `napi-rs` won't bring more effort in native side.

I agree with t

[2020-06-18 10:27] kdy1 commented on #852
@Brooooooklyn Wow, it's cool. I'll see how much performance differs in the case of almost all work being done on native.

[2020-06-18 11:34] dragonofdeath opened #853 "Catch block in transpiled generator function doesn't get error variable"
The transpiled code throws ReferenceError when generator has catch block with error parameter
**Input code**
[code]
**Config**
none

**Version**
[code]

**Additional context**

It looks that the variable name is not replaced correctly when transpiling. SWC gives this block
[code]
And babels output for catch case is this:
[code]

[2020-06-18 14:11] #853 closed

[2020-06-18 15:21] ryuhhnn commented on #846
Not sure why this issue was closed, I provided a valid case where this breaks and it wasn't fixed. I understand that swc does not transpile classes when the target is es2019, but if that is the case, then the decorator transpilation needs to be modified to not return an object and instead return a class. Is this something I can help with? I really want to start using swc, but this is a critical bu

[2020-06-18 15:21] ryuhhnn commented on #847
Thank you so much!

[2020-06-18 15:22] kdy1 commented on #846
I missed the decorator part as it was not in example. I'm Sorry for it.

[2020-06-18 15:23] #850 closed

[2020-06-19 23:55] erikdesjardins commented on #385
@kdy1 can you publish again? swc_ecma_transforms is 0.9.0 on crates.io and 0.11.0 in the repo

[2020-06-20 04:14] kdy1 commented on #385
I'll publish it after landing https://github.com/swc-project/swc/pull/855

[2020-06-20 06:09] #847 closed

[2020-06-21 12:28] bartlomieju opened #856 "Duplicate comment entries in CommentMap"
**Describe the bug**
Disclaimer: I'm not sure if that's a bug, but this behavior is surprising.

**Input code**
[code]

After parsing module using default `Syntax::TypeScript` and taking the comments I'm printing them all:
[code]

Here's the output:
[code]

The comment is duplicated in resulting `CommentMap`. As stated before I'm not sure if that's desired behavior - if so, no problem, it's trivia

[2020-06-22 13:07] kdy1 commented on #856
Fixed and published a new version

[2020-06-22 13:14] bartlomieju commented on #856
Thanks @kdy1!

[2020-06-24 17:26] magurotuna opened #858 "Question: how to compare a AST with another one as tokens?"
**Question**

Hi.
I'm using this library to port ESLint rules to deno_lint.
When I was working on the `no-dupe-else-if` rule, I found we need to compare an `Expr` with another one as tokens.
For example, given the following code:

[code]

In this code, two `if` statements have the same conditions, `a > 1`.
I want to make sure that the two conditions are identical by comparing `swc_ecma_ast::Expr`.

[2020-06-25 03:22] kdy1 commented on #858
I think it can be done by capturing tokens and comparing the position of the token with the one from ast.

Other way is to remove span using `swc_ecma_visit`. Just create a folder which returns `DUMMY_SP` from `fold_span` and fold a cloned node with it. In my experience, it's fast enough.

[2020-06-25 14:35] kaushalyap opened #859 "Setup benchmarks between Spack, ESBuild"
Consider setting up a benchmark between Spack and [ESBuild](https://github.com/evanw/esbuild)

[2020-06-25 14:52] magurotuna commented on #858
@kdy1
Thanks for the answer!
The second way looks simple and practical way to me, but if my understanding is not wrong, we should use nightly compiler to use `fold` features, right?
To be honest I hesitate to use nightly, so I think I have to take the first way.
Thank you again :)

[2020-06-25 14:52] #858 closed

[2020-06-25 14:58] kdy1 commented on #858
swc_ecma_visit is a stable-rust variant of fold

[2020-06-25 15:00] magurotuna commented on #858
Oh I missed that. I'll check it.

[2020-06-25 15:38] dsherret opened #861 "Should swc parse paren expressions on the left hand side of an assignment?"
**Question**

Given the following code:

[code]

TS compiler does:

![image](https://user-images.githubusercontent.com/1609021/85750621-db330800-b6d7-11ea-9d1e-1f5139ecaf5e.png)

SWC however, does not have a parenthesized expression on the left hand side:

[code]

Should it?

Note that once I access a property on the parentheses (ex. like `(x).test = (6);`), then swc parses it.

[2020-06-25 15:59] kdy1 commented on #861
I think it should on ts parser mode

[2020-06-25 17:17] magurotuna commented on #858
By using `swc_ecma_visit::Fold` trait, I've succeeded in removing spans, and now comparing `expr1 == expr2` as tokens works as expected.
Thanks a lot!!!

[2020-06-25 18:59] LXSMNSYC opened #862 "classes with both class and method decorators only emits class decorators"
Library used is `typeorm`.

Example code:

[code]

TSC Emits:
[code]

SWC:
[code]

.swcrc:
[code]

tsconfig.json
[code]

[2020-06-26 13:43] bajtos opened #863 "Incorrect handling of parameter-level TypeScript decorators"
**Describe the bug**

Decorators applied on method arguments (parameters) are not processed by swc.

**Input code**

[code]
**Config**
[code]

**Expected behavior**

swc emits valid JavaScript code calling `foo(ProductController.prototype, 'findById`, 0)`.

At the moment, swc emits code that's not a valid JavaScript:

[code]

Please note that class-level decorators (`@foo` applied on `ProductContr

[2020-06-26 13:44] bajtos commented on #863
Possibly related: https://github.com/swc-project/swc/issues/862

[2020-06-26 17:24] dsherret opened #864 "TS 4.0: Remove "A rest element must be last in a tuple type." diagnostic"
**Describe the feature**

TS 4.0 is currently in beta and removes the "A rest element must be last in a tuple type:

[code]

**Additional context**

https://devblogs.microsoft.com/typescript/announcing-typescript-4-0-beta/

[2020-06-26 17:25] dsherret opened #865 "TS 4.0: Support labels in tuple types"
**Describe the feature**

[code]

**Additional context**

https://devblogs.microsoft.com/typescript/announcing-typescript-4-0-beta/

[2020-06-26 17:27] dsherret opened #866 "TS 4.0: Support new assignment operators"
**Describe the feature**

[code]

**Additional context**

https://devblogs.microsoft.com/typescript/announcing-typescript-4-0-beta/

[2020-06-26 17:30] dsherret commented on #866
By the way, I can help out with some of this work (we should probably wait for 4.0 to hit RC though).

[2020-06-27 19:43] evanw commented on #859
I looked into this briefly but I can't get it to run. Here's what I tried:

[code]

This is on macOS 10.14.6. Am I doing this right?

[2020-06-28 09:00] kdy1 commented on #866
Oh... it requires a major version bump.
I'll just do it. I don't think they will withdraw something written in the announcing post.

[2020-06-29 07:23] #864 closed

[2020-06-29 07:23] #865 closed

[2020-06-29 07:23] #866 closed

[2020-06-30 08:16] kdy1 opened #872 "swc_common has a bug related to new_source_file"
It should be thread-safe but it's not...

[2020-06-30 18:53] dsherret commented on #861
I was thinking about this more. Since swc parses paren expressions as their own ast node (I prefer this, by the way 😀) then I think it should do it regardless of whether its  on the left or right side of an expression and regardless of parsing ts or not.

I didn't try out what babel does when its configured to parse paren expressions, but I would be surprised if it didn't include a paren expressio

[2020-06-30 19:04] bartlomieju commented on #856
@kdy1 unfortunately I'm seeing the same problem using `swc_ecma_parser 0.26.0`

Following code snippets produce duplicate entries in leading comments:
[code]

(I believe this one is used as a test case, but I'm still getting duplicates :( )
[code]

**Only the first comment is duplicated** (I guess it has to do something with `(` or `{` token preceding comments)
[code]

[2020-07-01 05:05] kdy1 commented on #861
Hmm... Good point. I'll go with it.

[2020-07-01 05:19] kdy1 commented on #859
@evanw I think it's related with #872.

[2020-07-01 05:35] kdy1 commented on #856
@bartlomieju I added some tests, but I failed to reproduce it.
Does it run in parallel? If it is, it's related to #872.

[2020-07-01 07:31] #861 closed

[2020-07-01 07:31] #872 closed

[2020-07-01 07:50] kdy1 commented on #861
Published a new version

[2020-07-01 10:09] bartlomieju commented on #856
@kdy1 I also tried adding tests but they indeed pass.

That's correct, linter is run on multiple threads. I tried upgrading to `swc_common 0.6.1` and `swc_ecma_parser 0.26.1` but the problem persists. I'll try to isolate it better and get back to you.

[2020-07-01 10:17] kdy1 commented on #856
@bartlomieju Can you share the steps to reproduce?
Building whole deno is an acceptable solution to me, because I need to fix it anyway as spack sometimes aborts due to the concurrency issue

[2020-07-01 10:19] magurotuna opened #874 "Question: Is there any way to detect a semicolon in a class body?"
**Question**

I'm attempting to port the [no-extra-semi - ESLint](https://eslint.org/docs/rules/no-extra-semi#top) rule to `deno_lint`.
According to the ESlint's test [here](https://github.com/eslint/eslint/blob/master/tests/lib/rules/no-extra-semi.js#L116), the following code violates this rule:

[code]

To handle this code as an error, I tried parsing it by `swc`, and the result looks like:

[co

[2020-07-01 10:23] kdy1 commented on #874
@magurotuna I'll add a variant to `ClassMember`

[2020-07-01 10:25] magurotuna commented on #874
@kdy1 Thanks!

[2020-07-01 10:31] bartlomieju commented on #856
@kdy1 the easiest way to reproduce:
- checkout `deno` branch from this PR: https://github.com/denoland/deno/pull/6592 (uses relative path to `deno_lint` crate!)
- checkout `deno_lint` branch from this PR: https://github.com/denoland/deno_lint/pull/207
- in `deno` repo run: `cargo test lint`

You should see following errors:
[code]

Keep in mind that not applying `deno_lint` PR described above make

[2020-07-01 14:32] kdy1 commented on #856
I tried it, but I got compilation failure

[code]

I tried `npm i` in all of deno / dlint / `deno/deno_typscript`

[2020-07-01 14:34] bartlomieju commented on #856
@kdy1 sorry, I forgot to mention you should check out git submodules: ` git submodule update --init --recursive`

[2020-07-01 14:46] dsherret commented on #861
Thanks @kdy1! Also, thanks for your work on the TS 4.0 support :)

[2020-07-02 05:06] kdy1 commented on #856
It turns out that it's not related to concurrency issue.
Hence it's a bug of lexer or parser.

I'll investigate further.

[2020-07-05 11:10] #874 closed

[2020-07-06 22:41] vovaguguiev opened #878 "Publish the latest ast_node to crates.io"
**Describe the feature**

`ast_node` crate was updated last time 6 months ago. The currently published version is missing some important functionality, e.g. implementation of `VisitMutWith` for AST nodes.

It would be great to publish the version that's currently on master

[2020-07-07 02:55] kdy1 commented on #878
I published a new version.

[2020-07-07 02:55] #878 closed

[2020-07-09 07:50] JonathanCa97 commented on #838
@kdy1 any progress on this ?

[2020-07-09 09:29] kdy1 commented on #838
@JonathanCa97 It's still blocked by #829. I'm too bust these days. Sorry for it.

[2020-07-09 12:08] wyozi opened #879 "Property decorators shouldn't duplicate class"
**Describe the bug**

Using a property decorator causes the class definition to be duplicated in generated code. This makes it impossible to edit the prototype itself in the decorator, since the given target object refers to a duplicate of the class.

I didn't test with non-legacy decorators, since I need Typescript anyway.

**Input code**

[code]

**Config**

(I'm using Rust directly)
[code]

**S

[2020-07-15 13:22] jakajancar commented on #841
Hey, is spack on crates.io yet?
All I'm seeing is the `spack` crate, but the docs just point to https://swc-project.github.io/rustdoc/swc/.

(And on the side note, is there an actual crate that exposes `swc::` that is documented on the above link, or do you need to include individual components?)

[2020-07-16 15:23] wyozi commented on #879
Okay, so this seems to be a bug in the inliner instead. Setting `optimization: None` makes it work closer to how TSC works.

[2020-07-17 08:38] anshulrgoyal opened #882 "Move docs website to docusaurus version 2"
**Describe the feature**
Docusaursus version 2 supports better docs handling and a good theme.

[2020-07-17 13:42] kdy1 opened #883 "Migrate to stable rustc"
# Tasks

 - [x] `Visit` / `Fold` for stable rustc
 - [x] `VisitWith` / `FoldWth` for stable rustc
   - [x] visit_with / fold_with
   - [x] visit_children / fold_children
 - [x] `Visit` / `Fold` for `Either`
 - [x] `Fold` for `Repeat`
 - [x] chain!
 - [x] Migrattion
   - [x] swc_visit

   - [x] swc_ecma_transforms
     - [x] 1. specialization
     - [x] 2. fix regressions
     - [x] 3. box_syntax

[2020-07-18 09:11] anshulrgoyal opened #884 "Does spack support JSX"
**Question**
Does spack support JSX and React.

[2020-07-18 09:11] kdy1 commented on #884
Of course. You can enable it by using [.swcrc](https://swc-project.github.io/docs/configuring-swc.html)

[2020-07-18 12:00] anshulrgoyal commented on #884
I tried it doesn't even import React stating conditional import not supported.

[2020-07-18 13:12] anshulrgoyal commented on #884
So something wrong with my config or it's unsupported at this time.

[2020-07-18 16:12] wongjiahau opened #885 "How to retrieve parsing error ?"
**Question**
Based on the examples given at https://github.com/swc-project/swc/blob/master/examples/usage.rs, the parse error is directly piped into the stderr instead of being returned as a value, so are there any ways to return the error messages as value instead?

[2020-07-18 16:17] kdy1 commented on #885
You can create a custom Emitter to get diagnostics.

https://swc-project.github.io/rustdoc/swc_common/errors/emitter/trait.Emitter.html

Is this enough?

[2020-07-18 16:20] bartlomieju commented on #885
Real world example:
https://github.com/denoland/deno_lint/blob/2701f07a51d86a3e158f9c3f0307eab08e4018e6/src/swc_util.rs#L72-L117

[2020-07-19 08:46] Brooooooklyn commented on #852
`napi@0.4` support it now

[2020-07-19 14:27] #885 closed

[2020-07-19 16:18] kdy1 commented on #883
@ry @bartlomieju I can add a feature to visitor generator which creates a special visitor that visits children a provided visitor. Will it help deno_lint?

[2020-07-19 16:21] bartlomieju commented on #883
It's not really required at the moment but it surely be useful

[2020-07-20 02:20] wongjiahau commented on #571
We need to recruit a few developers to achieve this.

[2020-07-20 14:58] divy-work commented on #883
Thanks! Migrating to stable rust might fix https://github.com/nestdotland/deno_swc/pull/14

[2020-07-23 04:03] littledivy opened #888 "Add a Dependency Analyzer in node-swc"
**Describe the feature**

[code]
Get local dependencies by reading the imports/dynamic import statements.

Example:
https://github.com/nestdotland/deno_swc/blob/master/swc_core/src/analyzer.rs

**Babel plugin or link to the feature description**
N/A

**Additional context**
Useful for hot reloading, dependencies analysis, tree shaking.
I'd be happy to open a PR!

[2020-07-23 04:05] kdy1 commented on #888
Oh... I never thought about those usecases.
I can do it soon. There exists a dependency analysi in spack.

[2020-07-23 05:28] divy-work commented on #888
@kdy1 Will it be recursive? Analyzing sub dependencies would be very cool, just need to take care of circular deps!

[2020-07-23 05:53] kdy1 commented on #888
Of course. Bundlers should fetch all dependencies.

[2020-07-23 10:58] Brooooooklyn opened #890 "Hygiene error in class constructor"
see https://github.com/Brooooooklyn/swc-node

- `yarn`
- `cargo build --release && yarn build-release`
- `yarn test`

[code]

to

[code]

[2020-07-23 17:18] #620 closed

[2020-07-23 17:18] #883 closed

[2020-07-23 17:18] kdy1 commented on #620
Migrated to stable rustc
:)

[2020-07-24 02:58] sciepsilon commented on #571
I'm interested! I don't know if I'm up to the task, but I'll at least spend the next couple days poking around the code and getting up to speed.

[2020-07-24 03:03] divy-work commented on #571
@sciepsilon I've formed a little team together with @wongjiahau to help @kdy1 work on this.

Fell free to email!

[2020-07-24 10:03] kdy1 commented on #841
@jakajancar  Sorry for late response.
I don't think spack as a crate is mature enough to be published. It's api will be changed frequently, just like the swc crate.

Managing multi crate repository is a big pain if some of those are published...

[2020-07-24 13:02] #890 closed

[2020-07-25 14:25] unlight commented on #666
NestJS requires `emitDecoratorMetadata: true` setting.
This metadata is used by NestJS's dependency injection system.

I think swc should mimic behavior [babel-plugin-decorator-metadata](https://github.com/stephanos/babel-plugin-decorator-metadata) or [babel-plugin-transform-typescript-metadata](https://github.com/leonardfactory/babel-plugin-transform-typescript-metadata)

Is there are any plans t

[2020-07-25 14:39] kdy1 commented on #666
@unlight Of course. Some decorator fixes are wip.

[2020-07-25 15:37] dsherret opened #894 "Support declare modifier on class properties"
The declare modifier is valid on class properties as of TS 3.7: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html

Right now, the following parses as if it didn't have the `declare` or `public` modifiers.

[code]

https://www.typescriptlang.org/play?ts=4.0.0-beta#code/MYGwhgzhAEAqCmEAu0DeBYAUNH0Am8oYATvNAA4CuARiAJbAXED25AjAFzTLF0B2AcwDcWXPkLhSTVgCYuPfsKwBfIA

It's impo

[2020-07-25 15:47] dsherret commented on #894
I'm working on the parsing for this right now.

[2020-07-25 16:17] Brooooooklyn opened #895 "Module name shadowed with local variable"
See https://github.com/Brooooooklyn/swc-node/blob/master/packages/integrate/__tests__/name-shadowed/shadowed.ts

- `yarn`
- `cargo build --release && yarn build-release`
- `yarn test`

Input

[code]

Output

[code]

Error

[code]

[2020-07-25 16:23] Brooooooklyn opened #896 "Does not support type only import/export syntax"
**Describe the feature**

https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#type-only-imports-and-export

**Behavior in current version**

[code]

[2020-07-25 19:23] wyozi opened #898 "DCE eliminates local variable erroneously when there exists a decorator"
**Describe the bug**

Requires a bit complex setup but anyway. If there is a decorator on a property of the class, DCE (`transforms::optimization::simplify::dce::dce(Default::default())`) eliminates a local variable in a method completely unrelated to the property.

**Input code**

[code]

resulting code (ignoring helpers etc) is

[code]

**Config**

Using Rust directly with
[code]
[code]

**Expec

[2020-07-26 08:07] #862 closed

[2020-07-26 08:07] #863 closed

[2020-07-26 14:49] Brooooooklyn commented on #846
Decorator should always be transpiled. Now it would only be transpiled under target <= `es2015`

[2020-07-27 02:21] 756445638 opened #900 "how to maka a javascript ast visitor ？ is there a example?"
**Question**
how to maka a javascript ast visitor ？  is there a example?

[2020-07-27 06:22] kdy1 commented on #900
There is, but type annotation is bit outdated. I'll update the types and I'll ping you after publising correct types

[2020-07-27 07:08] kdy1 commented on #896
`export type * from '../typings'` seems like an invalid syntax.

Error message from tsc: `TS1383: Only named exports may use 'export type'.`

[2020-07-27 07:15] Brooooooklyn commented on #896
Oh, interesting
But TypeScript can handle this case with:

[code]

[2020-07-27 08:05] 756445638 commented on #900
ok thanks

[2020-07-27 10:04] kdy1 commented on #364
For samsung open source project contributors:

This can be done by changing https://github.com/swc-project/swc/blob/53b09aa35652a84f731a765cbb23ee272c157376/ecmascript/parser/src/lexer/jsx.rs#L61-L112 to use faster library.

[2020-07-27 11:21] #896 closed

[2020-07-27 11:27] kdy1 commented on #846
@Brooooooklyn It's transpiled iff syntax.decorators is true, but it seems like transpiled code crashes for some reason

[2020-07-27 12:52] kdy1 commented on #895
I added some tests and I concluded swc is working properly.
You have to run resolver before applying module transforms. Also, you have to provide same global mark to each of them.

[2020-07-27 12:52] #895 closed

[2020-07-27 13:18] bartlomieju opened #903 "panic: not implemented: emit_private_prop"
Occurred when working on this PR: https://github.com/denoland/deno/pull/6895

Using `swc_ecma_codegen 0.28.0`

[code]

File causing panic: https://github.com/denoland/deno/blob/c8fc679/std/examples/chat/server_test.ts

[2020-07-27 13:30] kdy1 commented on #903
Fixed it. I will merge it if check passes

[2020-07-27 13:31] bartlomieju commented on #903
@kdy1 thanks! Just tried uploading AST dump, but it seems it's not needed

[2020-07-27 13:34] kdy1 commented on #903
@bartlomieju It's quite simple to implement.
It was unimplemented! just because no one used swc to print private properties as-is - swc transforms it to a special hidden variable.

[2020-07-27 13:41] bartlomieju commented on #903
Thanks for explanation. Just to be clear, should something like this work without additional transforms?
[code]

[2020-07-27 13:48] kdy1 commented on #903
I think it will work, even without `HELPERS` or `HANDLER`.

 - Helpers are not required for typescript stripper (permanently, as ts syntax is designed after js syntax)
 - Handler is **currently** not required (and I think it will not in the future, but it's not 100%)

[2020-07-27 13:51] bartlomieju commented on #903
Sounds great, thanks for quick response on this issue!

[2020-07-27 13:58] #903 closed

[2020-07-27 14:03] kdy1 commented on #903
@bartlomieju Published a new version

[2020-07-27 14:10] #894 closed

[2020-07-27 14:20] #119 closed

[2020-07-27 14:44] kdy1 commented on #852
@Brooooooklyn Is there any documentation?
I want to improve swc and spack.

[2020-07-27 14:50] Brooooooklyn commented on #852
I will write a simple guide in this week, and you can also find the api use cases in this project: https://github.com/napi-rs/node-rs

[2020-07-27 14:50] bartlomieju opened #904 "typescript::strip() breaks try/catch, missing pass step?"
**Question**

Folding following snippet with `typescript::strip()` breaks try/catch:
[code]

I'm pretty sure I need to apply another step in a pass, unfortunately I'm not sure which one - I tried with `swc_ecma_transforms::fixer` but no luck.

[2020-07-27 14:54] kdy1 commented on #904
For a workaround while new version is published, you can fold with `swc_ecma_transforms::es2018::optional_catch_binding` pass to inject catch parameter. The pass does not require HANDLER nor HELPERS

[2020-07-27 15:09] Brooooooklyn commented on #895
Reproduce this issue with `disable_hygiene = true`

[2020-07-27 15:10] kdy1 commented on #895
@Brooooooklyn This behavior is expected if you disable hygiene.

[2020-07-27 15:14] bartlomieju commented on #904
Thanks @kdy1 I used `optional_catch_binding` and it fixes the problem, however I think I found a bug in it:
[code]

[2020-07-27 15:23] kdy1 commented on #904
Oh... Thanks for finding another bug. It's a bug in optional catch binding pass.

[code]

Although I'm going to publish it asap, this will work for you.

[2020-07-27 15:55] #904 closed

[2020-07-27 16:02] kdy1 commented on #904
Published a new version of swc_ecma_codegen and swc_ecma_tranforms.

[2020-07-27 16:21] adamuso opened #906 "Visitor plugin - visitObjectPatternProperties throws an error when walking through AST"
**Summary:**
Object destructuring throws an error when plugin is provided in transform options.

**I tried this:**
[code]

**I expected to see this happen:** successful, transformed output from swc

**Instead, this happened:**
[code]

**I'm using:**
[code]

**Tip**:
Changing: `n.props` in `this.visitObjectPatternProperties(n.props)` to `this.visitObjectPatternProperties(n.properties)` solves the i

[2020-07-27 17:29] kdy1 opened #908 "ExportDecl.type_only"
This is required for deno linter

[2020-07-28 08:07] jungwookim commented on #364
@kdy1 why don't you do PR with your changes?

[2020-07-28 09:06] kdy1 commented on #364
@jungwookim I didn't do it because there was many tasks with higher priority, but I decided to do this now to remove dependency on regex crate.

[2020-07-28 09:17] jungwookim commented on #364
@kdy1 Ahhh I see. I came across `swc` last week when I was looking for fast typescript compiler and also came across sos-masters this week. Your project looks interesting and hope I would contribute it later. Cheers.

[2020-07-28 10:12] bartlomieju commented on #908
I'll tackle that!

[2020-07-28 10:17] kdy1 commented on #908
@bartlomieju Thanks!

[2020-07-28 10:19] bartlomieju commented on #908
@kdy1 I just took a look at it and does it make sense to add `type_only` to `ExportDecl`?

I don't think it is valid to do:
[code]

It seems `type_only` is already handled on `NamedExport`.

[2020-07-28 10:27] kdy1 commented on #908
@bartlomieju You are correct. I added type_only to `NamedExport` because `export type` can be used only with named exports.

[2020-07-28 10:27] #908 closed

[2020-07-28 10:38] bartlomieju opened #910 "swc_ecma_codegen doesn't preserve quotes"
**Describe the feature**

Running type stripping and code generation on a super small example changes quotes.

[code]

I'd expect that output would be identical to input, but it turns out SWC defaults to single quotes. I think this is caused by this method:

https://github.com/swc-project/swc/blob/de1f967d327dd20e47ad2efd78d28968800f1cb2/ecmascript/codegen/src/lib.rs#L385-L410

Ref https://github.

[2020-07-28 12:56] #910 closed

[2020-07-28 12:58] kdy1 commented on #910
Published a new version

[2020-07-28 13:39] kdy1 commented on #856
I found the root cause. It's related to backtracing. I'll fix it soon.

[2020-07-28 14:55] Brooooooklyn opened #912 "super() in construstor should always be first line"
**Input code**

[code]

**Output code**

[code]

**Error**

[code]

[2020-07-29 09:07] JonathanCa97 commented on #838
Hi @kdy1 , sorry to insist but do you have any idea when you would have time? I would like to use SWC in a new product but I really need a Fix for this

[2020-07-29 09:13] kdy1 commented on #838
@JonathanCa97 I'll try implementing jsdoc parser now. First try was delayed by my mistake (trying to use same token system), but I'll use nom at this time, and it will not take lots of time.

Also, I think I will have spare time everyday mainly due to time difference. (Currently I'm in it)

[2020-07-29 11:11] iykekings commented on #827
@kdy1 what is the status of this? I don't know my way around swc yet, but let me know if there is any way I can help. 🎉

[2020-07-29 11:59] kdy1 commented on #827
@iykekings Currently it's almost wild land and WIP on https://github.com/kdy1/swc/tree/jsdoc. I got some spare time and working on it.

I recently decided to use nom because it does not require complex parsing algorithm. I think I should do some groundwork to split works. I'll write a comment on the issue after doing such groundwork.

[2020-07-29 13:01] kdy1 commented on #827
@iykekings I think I can accept prs from now on. It's still wild but it contains basics of jsdoc parsing.

[2020-07-29 15:21] bartlomieju opened #913 "panic: decorator cause panic in parser"
**NOTE** This was working properly with
[code]

But panics using
[code]

Parser code:
https://github.com/denoland/deno_lint/blob/c3a51caa9ec6e8086c81cbfec780a3c3ca0cba64/src/swc_util.rs#L153-L189

Syntax config:
https://github.com/denoland/deno_lint/blob/c3a51caa9ec6e8086c81cbfec780a3c3ca0cba64/src/swc_util.rs#L51-L57

Source code causing crash:
https://github.com/drashland/deno-drash/blob/master/

[2020-07-29 15:55] #913 closed

[2020-07-29 16:00] kdy1 commented on #913
Fixed it

[2020-07-29 19:09] bartlomieju opened #915 "typescript::strip() leaves "readonly" modifier on private props"
**Describe the bug**
Using `typescript::strip()` pass leaves "readonly" TS modifiers on private props (`#prop`).

**Input code**
https://github.com/denoland/deno/blob/cde4dbb3/std/log/logger.ts

Output:
[code]

**Please notice that all but one `readonly` modifier is removed.**
Namely:
[code]

Fails to remove `readonly`, but following class is properly stripped:

[code]

**Expected behavior**
All `

[2020-07-30 13:40] #915 closed

[2020-07-31 06:06] trivikr opened #917 "Coverage is not updated at CodeCov"
**Describe the bug**
Coverage is not updated at CodeCov https://codecov.io/gh/swc-project/swc
The latest commit for which coverage is updated is 291251e2dfa6480c86a32ae1d7fe0b3ec3fcffae from Jun 2, 2020.

<details>
<summary>Screenshot</summary>

![Screenshot from 2020-07-30 23-01-51](https://user-images.githubusercontent.com/16024985/89005251-d3f3b100-d2b8-11ea-9d67-569a3a0d6781.png)

</details>

[2020-07-31 06:10] kdy1 commented on #917
It's killed due to OOM / timeout.
To run coverage, you need a device with 20+ GB ram.

Splitting `swc_ecma_transforms` can be a solution, but it will make tests much more complex.

[2020-07-31 09:49] #583 closed

[2020-07-31 09:49] #856 closed

[2020-07-31 10:23] Brooooooklyn opened #919 "TypeScript emitDecoratorMetadata support"
Relate issue: https://github.com/swc-project/swc/issues/666

I will try to implement this feature.

[2020-07-31 15:55] #912 closed

[2020-08-01 07:57] #917 closed

[2020-08-01 12:01] bartlomieju opened #921 "[key: string]: any is not stripped properly"
**Input code**

[code]

** Output code**
[code]

I guess it should be removed altogether.

<s>Also it seems that `abstract` is not emitted.</s> Nvm, obviously `abstract` is TS-only construct

[2020-08-01 12:32] #921 closed

[2020-08-01 12:39] kdy1 commented on #921
Published a new version. However it seems like a critical issue for deno.

I will add a test which uses typescript files from parser test to check that typescript::strip does not generate invalid es code.

[2020-08-01 15:06] trivikr commented on #813
Coverage is now updated on CodeCov https://github.com/swc-project/swc/issues/917

@kdy1 Can you share the components of the project need improved unit test coverage in order of importance here, and add "good first issue" label?

That way, fans of swc who are new to rust may help add tests.

[2020-08-02 06:39] kdy1 commented on #852
@Brooooooklyn Can you help migration?
How can I expose a class from rust code?

[2020-08-02 09:10] kdy1 commented on #852
@Brooooooklyn Also, do you have a plan to provide an alternative `neon_serde`? `swc` requires passing object from each side to the other side

[2020-08-02 10:32] kdy1 commented on #813
Order by importance:

 - swc_ecma_parser => lexer
 - swc_ecma_parser => parser (accepting correct input)
 - swc_ecma_codegen
 - swc_ecma_parser => parser (correctness of span)
 - swc_ecma_transforms => typescript
 - swc_ecma_transforms => compat
 - swc_ecma_transforms => proposal
 - swc_ecma_parser => parser (error recovery)

[2020-08-02 15:11] nayeemrmn opened #926 "strip: Parameter properties assignments are written before super()"
**Input code**

[code]

**Output code**
[code]

The constructor at runtime:
[code]

Seen in https://github.com/denoland/deno/blob/v1.2.2/std/io/bufio.ts.

cc @bartlomieju

[2020-08-02 15:12] Brooooooklyn commented on #852
I will write an example tonight.

BTW. I don't think we need define class in rust side. `OnceCell` is enough for `swc` like this: https://github.com/Brooooooklyn/swc-node/blob/master/src/lib.rs#L63

Yes. I will implement it in next week.

[2020-08-02 15:33] Brooooooklyn commented on #852
https://github.com/napi-rs/napi-rs/blob/master/test_module/src/class.rs
here is an minimal example that show how to implement `JsClass` in `Rust`. The API is verbose than `neon` now, but I will reduce the noise in `napi-derive` crate soon.

[2020-08-02 15:40] kdy1 commented on #852
It's right, but I want to reduce semantic changes.

Good to hear. Thanks!

[2020-08-02 15:47] #926 closed

[2020-08-02 15:50] kdy1 commented on #926
Fixed by publising new version of `swc_ecma_utils`.

[2020-08-03 07:46] tom-sherman opened #929 "Running smoke tests against npm packages"
In order to test correctness of changes and prevent regressions it can be good to run smoke tests on real life projects in the wild.

## Prior art

- Node.js [citgm](https://github.com/nodejs/citgm)
- Typescript user tests. [Example](https://github.com/microsoft/TypeScript/pull/39336#issuecomment-652065275)
- Rust's [crater](https://github.com/rust-lang/crater)

[2020-08-03 15:31] nayeemrmn opened #930 "strip: Class fields should be assigned after parameter properties"
**Input code**

TypeScript allows regular class fields to depend on parameter properties:
[code]

**Output code (actual)**
The regular class field `b` is incorrectly initialised before the parameter property `a`:
[code]

**Output code (expected)**
The correct ordering is, parameter property assignment -> class field initialisation -> rest of the constructor. So if there are parameter properties pr

[2020-08-03 15:50] nayeemrmn opened #931 "strip: Parentheses around computed constructors are not preserved"
**Input code**
[code]

**Output code**
[code]
[code]

---

Seen in https://github.com/denoland/deno/blob/v1.2.2/std/node/_util/_util_types_test.ts#L197

cc @bartlomieju

[2020-08-03 21:05] jasikpark opened #932 "https://swc-project.github.io/ has a broken link in the footer"
<img width="869" alt="Screen Shot 2020-08-03 at 4 03 43 PM" src="https://user-images.githubusercontent.com/10626596/89227255-f4668880-d5a2-11ea-9beb-f7ec293bf3b7.png">

the link "Usage" links to https://swc-project.github.io/docs/usage-cli.html

instead of https://swc-project.github.io/docs/usage-swc-cli

[2020-08-03 21:37] cakekindel commented on #571
Hi! 👋 I'm also very interested in helping with a rust port of TSC 😄, is this project public?

[2020-08-04 02:24] wongjiahau commented on #571
@cakekindel Hi if you're interested you can join us at https://discord.gg/AN7QZs

[2020-08-04 02:57] kdy1 commented on #930
This is handled by class properties pass.

[2020-08-04 03:15] #931 closed

[2020-08-04 03:17] #932 closed

[2020-08-04 03:17] kdy1 commented on #932
Thanks!

[2020-08-04 14:45] Brooooooklyn commented on #930
Seems like `TypeScript` default behavior is different between the ECMA class field proposal: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#the-usedefineforclassfields-flag-and-the-declare-property-modifier.

So  I think:

is a better way to handler this situation. And because `class properties` need to be handled with `parameter properties`

[2020-08-05 05:04] kdy1 commented on #930
I think modifying class_properties pass to accept mode is better than modifying typescript_strip pass because typescript also supports `useDefineForClassFields `. If I modify typescript_strip pass, I have to do same work twice

[2020-08-06 05:11] 756445638 opened #938 "what is the JsWord mean? can I set a value of this type?"
**Question**

pub struct Ident {
    pub span: Span,
    #[serde(rename = "value")]
    #[cfg_attr(feature = "fold", fold(ignore))]
    pub sym: JsWord,
    #[serde(default, rename = "typeAnnotation")]
    pub type_ann: Option<TsTypeAnn>,
    /// TypeScript only. Used in case of an optional parameter.
    #[serde(default)]
    pub optional: bool,
}
I want to rewrite the Ident's field sym ,how can

[2020-08-06 05:13] kdy1 commented on #938
It's a read-only and reference-counted symbol. You have to treat it as `Box<str>`. I mean, you should do something like `i.sym = "foo".into();`. (JsWord implements From<&str>)

[2020-08-06 05:13] #938 closed

[2020-08-06 05:21] 756445638 commented on #938
ok thank you very much

[2020-08-06 05:55] #884 closed

[2020-08-06 09:36] kdy1 commented on #919
Oh.. I missed your comment and I implemented it. Sorry.

[2020-08-06 09:38] Brooooooklyn commented on #919
@kdy1 oh doesn't matter, I have not started this yet 🌚

[2020-08-06 09:45] kdy1 commented on #666
I've implemented this, but I want some execution test suite. How did you configured nest-cli to use swc?

[2020-08-06 09:57] techvlad commented on #666
nest-cli does not have any compiler options.
Just compile via swc: `npx swc src -s -d ./dist && node dist/main.js`

[2020-08-06 09:59] kdy1 commented on #666
@techvlad Thanks!

[2020-08-06 10:25] Brooooooklyn opened #940 "const enum compile time evaluate"
https://www.typescriptlang.org/docs/handbook/enums.html#const-enums

[2020-08-06 10:26] kdy1 commented on #940
It's not possible at the moment, as swc process file by file. babel also has same restriction.

[2020-08-06 10:28] Brooooooklyn commented on #940
I'm trying replace `ts-jest` in [vue-next](https://github.com/vuejs/vue-next) with `@swc-node/jest`, and I found that `const enum` would cause runtime error in test specs.

[2020-08-06 12:23] #666 closed

[2020-08-06 12:23] #919 closed

[2020-08-07 02:41] dsherret opened #941 "TypeScript 4.0: Support type on catch clause bindings"
**Describe the feature**

TypeScript 4.0 allows an unknown type on catch clause bindings:

[code]

**Babel plugin or link to the feature description**

https://devblogs.microsoft.com/typescript/announcing-typescript-4-0-rc/#unknown-on-catch

[2020-08-07 02:48] kdy1 commented on #941
I think it's already supported by swc.

https://github.com/swc-project/swc/blob/0989e73a99d1fbd123c0da76e40f033963176ce9/ecmascript/parser/src/parser/stmt.rs#L576-L594

[2020-08-07 02:50] kdy1 commented on #941
Oh.. there was wrong error.

[2020-08-07 02:50] dsherret commented on #941
Could the type be stored in the AST?

[2020-08-07 02:51] kdy1 commented on #941
I'll do so

[2020-08-07 02:52] dsherret commented on #941
Awesome. Thanks a lot! 🙂

[2020-08-07 04:04] #941 closed

[2020-08-07 07:52] joel-duolingo opened #944 "Error parsing `in` operator inside fat arrow expression body as a class method"
**Describe the bug**
swc fails to parse the following code, even though it is standard JavaScript. This error is triggered regardless of what type of expression is used for the object (e.g. `"key" in myObj`, `"key" in this.myProp`, etc. all fail), but wrapping parenthesis around the entire `in`-expression will cause it to parse correctly.

**Input code**
[code]

**Config**
[code]

**Expected behav

[2020-08-07 20:07] joel-duolingo opened #947 "Error when compiling `delete` operator with optional chain argument in TypeScript"
**Describe the bug**
In TypeScript, swc will fail to compile the code where the argument of the `delete` operator is an optional chain with the following error:
[code]
However, even with this error, the correct output is generated:
[code]

**Input code**
[code]

**Config**
[code]

**Expected behavior**
The given code should compile without error.

**Version**
The version of @swc/core: 1.2.12

**Ad

[2020-08-09 07:45] #944 closed

[2020-08-09 07:45] #930 closed

[2020-08-09 07:45] #947 closed

[2020-08-09 08:56] kdy1 commented on #930
Now there exists a `typescript_class_properties` pass for it.

[2020-08-09 09:06] #514 closed

[2020-08-09 09:06] kdy1 commented on #514
Closed because there's nothing doable

[2020-08-10 04:45] 756445638 opened #952 "what is Pat"
**Question**

[2020-08-10 04:46] kdy1 commented on #952
It's Pattern

[2020-08-10 04:46] #952 closed

[2020-08-10 04:46] 756445638 commented on #952
[code]
what  is the enum stand for?I donot understand.

[2020-08-10 04:47] kdy1 commented on #952
See estree. https://github.com/estree/estree

[2020-08-10 04:49] 756445638 commented on #952
ok

[2020-08-10 07:44] anshulrgoyal opened #953 "Spack doesn't use `.swcrc` file"
# Description
I tried using spack but it doesn't read `.swcrc` file

[2020-08-10 09:30] anshulrgoyal commented on #953
Test is even not working
![image](https://user-images.githubusercontent.com/32068075/89769074-31d69300-db1a-11ea-8c3c-82c29f0853a8.png)

[2020-08-10 09:39] kdy1 commented on #953
Nice catch. I never thought test was failing silently.

[2020-08-10 11:45] 756445638 opened #955 "how can i get a contains line and column error message from DiagnosticBuilder?"
**Question**

[2020-08-10 11:52] kdy1 commented on #955
`db.span` returns [MultSpan](https://swc-project.github.io/rustdoc/swc_common/struct.MultiSpan.html)

[2020-08-10 11:52] #955 closed

[2020-08-12 10:25] DreierF opened #958 "Fails to compile Typescript optional parameter properties"
**Describe the bug**
SWC fails to transform optional parameter properties in Typescript.
https://www.typescriptlang.org/docs/handbook/classes.html#parameter-properties

Webpack reports after replacing babel-loader with swc-loader:
[code]

**Input code**
[code]

**Config**
[code]

**Expected behavior**
I expect the transpilation to just work :)

**Version**
The version of @swc/core: 1.2.18

[2020-08-12 14:31] kdy1 commented on #841
@jakajancar Bundler is now on crates.io
See: https://crates.io/crates/swc_bundler

[2020-08-13 02:47] #958 closed

[2020-08-13 03:54] wongjiahau commented on #571
Sorry the link above was temporary, I just update it with a permanent one.

[2020-08-13 06:14] Brooooooklyn commented on #852
I may not have time in this month. I'm busy to push `@swc-node/jest` landing in my company projects and community projects. There are a lot of codes could not work as `ts-jest` (test failed or syntax error), I will continue to fix them in next period of time.

[2020-08-13 06:34] kdy1 commented on #852
Thanks for the notice. And it's okay, I can do it.

Currently I'm working on a jsdoc parser and jsx pragma support, and I'll implement css support quickly after it.
Then, I'll switch to napi. If I manage to start working on it before you do it, I'll implement `napi-serde`.

Btw, I'm really happy to see swc used in company projects :)
If migration is successful, may I list your company on the swc u

[2020-08-13 06:36] kdy1 commented on #940
I think using spack's system can be a solution.

Something like
[code]
?

Do you think it's acceptable?

(I'll provide better api)

[2020-08-13 06:47] Brooooooklyn commented on #940
I don't think spack satisfy with the `vue-next` use case.

And there are some other way to make `swc` working fine with `jest` in vue-next, I will do more research in future.

Note: `TypeScript` meet the same problem with the `preserveConstEnums` flag, so I think maybe I could try to fix it in `jest-runtime`.

[2020-08-13 07:11] kdy1 commented on #940
I can modify spack act like tsc

a.ts -> a.js
b.ts -> b.ts

while handling const enums

[2020-08-13 07:12] Brooooooklyn commented on #852
Sure, and you can do it now, we have tons of code repos, and some of it has migrated successfully yet.

Site: https://www.bytedance.com

[2020-08-13 07:33] kdy1 commented on #852
Thanks! I updated the site :)

[2020-08-13 08:17] Brooooooklyn commented on #940
I've not dig into `spack` yet... it's a bundle tool right?

`jest` transformer must transform files one by one, so I guess spack not suitable to use in `jest`

[2020-08-13 08:27] kdy1 commented on #940
Hmm...

If ts-jest handles custom enum by using typescript compiler, it can be done.

Inlining only const enum in a file-by-file manner is also possible, but it requires reading dependency file anyway. (tsc will also do it, because logically it is required)

[2020-08-13 11:06] Brooooooklyn opened #960 "Property decorator break class inherent behavior"
[code]

Seems caused by `defineProperty` in constructor in Child Class

[2020-08-13 11:24] kdy1 commented on #960
How should this be hsndled?
Does babel works for the case?

[2020-08-13 11:37] Brooooooklyn commented on #960
TypeScript works fine，action should be Subject here

[2020-08-13 11:55] Brooooooklyn commented on #960
https://www.typescriptlang.org/play?#code/GYVwdgxgLglg9mABAEQKbBmVBBa8wAUAlIgN6IBOqUIFSoksCBA+gIYA0iLARlxCXJUadRBEQBfSQChpEADZsAzksQAhZajLTEYhEqgUQ0OBWLbduqAAsYSgHRs8CRAF5EARh0yJshctUAYVt5ABNEVAAPKFQwUNUNJS1SbwABNAwsXCZCEiccgC5EMBAAWx5UCh1vCDZ5eWwABxhzFMs9MCU4eVR7eTgAcwIbO0dnMBIAeknEcFD0TFRQ719fOX0oMTdi1AB3RGCYMOI-e1r6ppaiIA

Click run and output **1** in Logs tab

[2020-08-13 12:13] kdy1 commented on #960
Thanks for the example!

[2020-08-13 13:06] Brooooooklyn opened #962 "Mixed commonjs and esm module code could not be transformed right"
Code from `lodash-es/isBuffer`

[code]

Output:

[code]

[Babel repl](https://babeljs.io/en/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=JYWwDg9gTgLgBFCF4DNEjgcgHQHoD6iy2AVgM6YDcAUKJLHGTAK4BGAYgIYA2ZApnDQQMOXEzZdefUhRrUAbpyiCofPgFEAHvRhk4AXjgwAnmD4QUcPtui6DhzBFYk-AYxiY4AMi9WbsPR84AEJrHTJsADsIABM-ABVTASCw2zIaRWU0NQBZWOZuAUNsj

[2020-08-13 13:11] kdy1 commented on #962
I'll modify code to allow using exports as a *reference*.
I mean, I'll rename function / var / class named `exports` while preserving reference.

[2020-08-13 14:13] #960 closed

[2020-08-13 15:03] Brooooooklyn commented on #962
`Babel` only rename the `var` named `exports`, and report error when `class/function` named exports: `Identifier 'exports' has already been declared`

`TypeScript` does nothing with `var/function/class` named exports, just preserved it.

[2020-08-14 06:08] #962 closed

[2020-08-14 09:20] #827 closed

[2020-08-14 10:21] kdy1 opened #965 "Spack should use cache properly"
Currently, a file is loaded multiple times when the bundler is in concurrent mode and multiple file depends on it.
I think the best solution is to prefetch all dependencies.

I will try to fix this at next version

[2020-08-14 10:39] HealGaren opened #966 "Typescript 'Namespace' not works"
**Describe the bug**
If I write code using the `namespace` spec in typescript, it is removed after transpiling.

[handbook document link](https://www.typescriptlang.org/docs/handbook/namespaces.html)

Namespace should be able to have `export function` or `export const variable`, and etc..
And it can have runtime behavior.

**Input code**
[code]

**Config**
[code]

**Expected behavior**

Output of

[2020-08-14 12:02] #953 closed

[2020-08-14 12:35] anshulrgoyal opened #967 "Spack: bad interop with common js modules"
**Describe the bug**
Spack bundles only first import.
**Input code**
[code]
**Config**
[code]

**Expected behavior**
It should import ReactDom,React and App.

**Version**
The version of @swc/core: 1.2.19

[2020-08-14 12:52] kdy1 commented on #967
Oh... Importing common js module seems buggy.

[2020-08-14 13:57] HealGaren opened #968 "In tsx with generic, delete<T> or new<T> method makes "Unexpected token Some(JSXTagStart)" Error"
**Describe the bug**
I have written code that uses generics, but swc seems to recognize it as a jsx tag.

**Input code**
[code]
or
[code]

**Config**
[code]

**Expected behavior**
expected successful compilation like babel or ts-loader
[babel example](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAE

[2020-08-15 08:19] #967 closed

[2020-08-17 06:04] #965 closed

[2020-08-17 11:42] kdy1 opened #975 "Spack does not handle complex reexports properly"
Some `import` statements are remaining even after invoking bundler

[2020-08-18 12:41] kdy1 opened #976 "Improve performance"
# Tasks

## spack
 - [ ] Don't clone module

Postponed because of the profiling result I got.

## swc

Parser is slow

---

Profiling result:

[code]

[2020-08-19 21:43] PatrickMcLennan opened #977 "Dynamic Imports + wasm-pack imports don't seem to be working"
**Describe the bug**
Trying to use wasm in a TypeScript + React project and being told that dynamic imports must be set to true, even when they already are.  As well it seems unable to parse the wasm module itself.

**Input code**
Error Message
[code]
TSX calling the wasm
[code]
**Config**
[code]
**Expected behavior**
I was expecting to dynamically import + use the Wasm module.

**Version**
1.2.20

[2020-08-20 06:33] Brooooooklyn commented on #976
Is there a goal to improve performance over `esbuild`?
From my latest benchmark, `swc` is about `2~4x` slower than `esbuild`:

[code]

`esbuild` is using `child_process` to implement `Node API` so it even has more overhead. Benchmark code: https://github.com/Brooooooklyn/swc-node/blob/master/bench/index.js#L89

[2020-08-20 06:35] kdy1 commented on #976
Of course. Current implementation is really inefficient - all module are copied at least once, all modules are folded with same visitor n times where n is number of dependency.
I'll fix the issue within a month.

[2020-08-20 06:39] kdy1 commented on #976
Those things are easy to fix. For the first one, using mutex to take module itself will be sufficient.
For the second one, it can be done by injecting a single variable.

Second one is just like the below

[code]

instead of

[code]

for
[code]

[2020-08-20 20:20] dsherret opened #978 "Support optional named tuple elements"
TS 4.0 supports syntax like the following:

[code]

https://devblogs.microsoft.com/typescript/announcing-typescript-4-0/

[2020-08-22 12:55] GHNewbiee opened #983 "Common options in case of multiple entries"
When **multiple entries** are specified:
- can **options** exist **out** of the entries' objects?
- if yes, do these options apply (get added/merged) to the them or not?

For example, I have the following config file:

**.swcrc**
[code]

There are 2 entries, and an `env` object which is out of them. Are `env` options applied (get added/merged) to the entries or not? *Tia*

[2020-08-22 13:20] GHNewbiee opened #984 "Syntax error"
**Describe the bug**
A syntax error in `types.d.ts`. *(I think so.)*

**Input code**

**types.d.ts**
[code]

**Version**
The version of @swc/core: 1.2.20

**Additional context**
None

[2020-08-22 14:25] GHNewbiee opened #985 "interface Config misses options"
**types.d.ts**
[code]

As per **doc**, two more options should be included: `test` and `exclude`, both of `Regex` / `Regex[]` type.

Do I miss something? *Tia*

[2020-08-22 17:41] #984 closed, assigned to kdy1

[2020-08-22 17:41] #985 closed, assigned to kdy1

[2020-08-22 18:22] bartlomieju opened #987 "typescript_class_properties breaks output"
Adding `typescript_class_properties` pass before `typescript::strip()` breaks following code:

https://github.com/denoland/deno/blob/v1.3.1/std/hash/sha1.ts

[code]

Without `typescript_class_fields`:
[code]

With `typescript_class_properties`:
[code]

My compiler pass:
[code]

Ref https://github.com/denoland/deno/pull/7158

[2020-08-24 01:42] #976 closed

[2020-08-24 03:11] HealGaren commented on #966
Isn't this a bug? Or is this spec not going to be implemented soon?

I'm looking forward to applying this awesome library to my project.

[2020-08-24 03:23] kdy1 commented on #966
It a feature which can't be supported by swc, but can be by spack.
However, I'm not sure if I have to implement this, mainly because modules are preferred over namespaces.

Side note: Implementation will be easy

[2020-08-24 03:36] Brooooooklyn commented on #976
After upgrade to latest `master` branch:

Almost 15% performance improvement, but still `2x` slower than `esbuild`

## `transformSync`

[code]

## `transform` parallel
[code]

[2020-08-24 03:42] kdy1 commented on #976
There are many codes that can be optimized (and I know how can I patch it). The most critical thing is `memmove`.
Switching from Fold to VisitMut will remove memmove and heavy operations related to recreation of vertor.
I decided to split performance optimizations over multiple prs because it's way easier.

[2020-08-24 03:46] HealGaren commented on #966
Thank you for your answer 👍

May I ask why swc can't support this?

In my opinion, swc is a typescript compiler,
so I think it should support the syntax supported by typescript as much as possible...

Is it a design issue of swc? Or doesn't it fit the purpose of swc?

[2020-08-24 03:53] kdy1 commented on #966
swc (and babel) works by file-by-file manner and namespace support (and const enums) requires reading multiple files.

Hmm... I noticed that it can supported if swc accepts a list of files or directory names.
But I'm not sure about it because namespace is not recommended.

There is a lint about it. https://palantir.github.io/tslint/rules/no-namespace/

[2020-08-25 11:46] GHNewbiee opened #997 "interface OptimizerConfig misses option"
`interface OptimizerConfig` misses `jsonify` option as per doc.

**types.d.ts**
[code]
As per doc, `"jsonify": { "minCost": 1024 }` option should be included, too.

The version of @swc/core: 1.2.21

[2020-08-25 18:45] GHNewbiee commented on #997
Sorry, this is for `interface OptimizerConfig`. I have corrected the initial post and later I will delete this one.

[2020-08-25 18:59] GHNewbiee opened #998 "Inconsistencies between interface TransformConfig and doc"
The following inconsistencies are found between `interface TransformConfig` and doc.

From doc:
[code]
In **types.d.ts**
[code]
- `legacyDecorator` is not included in `TransformConfig`
- `decoratorMetadata` is not included in  `TransformConfig`, too
- ` constModules` is not mentioned in doc

**Version**
The version of @swc/core: 1.2.21

[2020-08-26 07:52] GHNewbiee opened #999 "Inconsistencies between interface EsParserConfig and doc"
The following inconsistencies are found between `interface EsParserConfig` and doc.

From doc:

`ecmascript`:
[code]

In **types.d.ts**
[code]

- `exportDefaultFrom`, `exportNamespaceFrom` and `importMeta` are not included in `export interface EsParserConfig`
- `classPrivateProperty`, `classProperty` and `nullishCoalescing` are not mentioned in doc.

**Version**
The version of @swc/core: 1.2.21

[2020-08-26 07:53] GHNewbiee opened #1000 "Inconsistencies between interface JscConfig and doc"
The following inconsistency is found between `interface JscConfig` and doc.

From doc:

`ecmascript`:
[code]

In **types.d.ts**
[code]

- `externalHelpers` is not mentioned in doc.

**Version**
The version of @swc/core: 1.2.21

[2020-08-26 07:54] GHNewbiee opened #1001 "Inconsistencies between interface EnvConfig and doc"
The following inconsistency is found between `interface JscConfig` and doc.

From doc:

`ecmascript`:
[code]

In **types.d.ts**
[code]

- `skip` is not mentioned in doc.

**Version**
The version of @swc/core: 1.2.21

[2020-08-26 11:01] benmerckx opened #1002 "Omits parentheses in new statement"
**Describe the bug**

https://github.com/microsoft/tslib/blob/a64b24a1fb618c892809c38861aa55b4c161e632/tslib.es6.js#L70

Gets compiled to:

[code]

Resulting in: `TypeError: P is not a constructor`

**Input code**

https://github.com/microsoft/tslib/blob/a64b24a1fb618c892809c38861aa55b4c161e632/tslib.es6.js#L70

**Config**
[code]

**Expected behavior**

Include parentheses:

[code]

**Version**
Th

[2020-08-26 12:09] kdy1 opened #1003 "Known performance issues"
### Node binding overhead

es2016 benchmark from node:
[code]
(1 / 345) = 0.00289855072 sec/op = 2,898,550 ns / op

es2016 benchmark from rust:
[code]

(1 / 2,149,721*1,000,000,000) = 465 op/s

So, node overhead is (2,898,550 ns/iter - 2,149,721 ns/iter) = (748,829ns/iter)

---

### Spack call resolve multiple time for a same file.

And resolve is slow because of canonicalization.

---

### Spack

[2020-08-27 00:48] HealGaren commented on #966
I don't think all use of namespaces is discouraged.
Most namespaces used for module purposes can be replaced with es module.

But like Java's inner class,
When designing code using namespaces, it is good to specify the contextual meaning.
[example comment](https://github.com/babel/babel/issues/8244#issuecomment-483914539)

The namespace is not deprecated.

It's also because typescript doesn't want

[2020-08-27 14:08] Brooooooklyn opened #1007 "@swc/core@1.2.21 broken in macOS10.15, node12.18.3"
[code]

[2020-08-27 14:11] Brooooooklyn commented on #1007
Works fine after reinstalled, weird

[2020-08-27 14:11] #1007 closed

[2020-08-27 15:38] kdy1 commented on #852
@Brooooooklyn How can I send JsFunction to another thread?
I want js function to return `Promise<string> | string` and rust thread to wait for it.

[2020-08-28 02:46] Brooooooklyn commented on #852
There is `Task` trait: https://github.com/Brooooooklyn/swc-node/blob/master/src/lib.rs#L70
And the `Env.spawn` take a `Task` and return `Promise` object.
`napi-rs` spawn the task to `libuv thread pool` under the hood.

See https://github.com/Brooooooklyn/swc-node/blob/master/src/lib.rs#L124 for example

[2020-08-28 03:24] kdy1 commented on #852
Thanks but I want to call javascript functions from rust and wait for it if it returns a promise.
Can I do it?

[2020-08-28 03:32] Brooooooklyn commented on #852
`TheadsafeFunction` can let you call javascript functions in any thread. But the exposed API is `callback` not `Promise` because you can call the javascript  function any times.

See [rust](https://github.com/napi-rs/napi-rs/blob/master/test_module/src/napi4/tsfn.rs#L18) and [javascript](https://github.com/napi-rs/napi-rs/blob/master/test_module/__test__/napi4/threadsafe_function.spec.ts#L16) for

[2020-08-28 11:35] GHNewbiee opened #1008 "swcPlugin for Reboost"
I am trying to "write" (in fact, I have copied/modified [`babelPlugin`](https://github.com/sarsamurmu/reboost/tree/primary/packages/plugin-babel)) a swcPlugin for [`Reboost`](https://github.com/sarsamurmu/reboost) dev server.

- Please, confirm/correct the `compatibleTypes`.
- Which function should be used, `transfrom` or `transformFile`?

*Tia*

PS:
- More info about `Reboost` Plugin API [here](h

[2020-08-28 12:27] kdy1 commented on #852
@Brooooooklyn
How can I cast `JsObject` / `JsUnknown` to other js types? I looked at the tests, but I failed to find one. I'm currently trying to write deserializer

[2020-08-28 12:30] kdy1 commented on #1008
I think it should be

[code]

Note: You can configure it using `.swcrc`

If your function accepts source code, use transform. If your plugin get path to the file, use transformFile.

[2020-08-28 12:56] #1008 closed

[2020-08-28 13:16] kdy1 commented on #852
Nevermind, I'll go with JsBuffer + serde_json

[2020-08-28 15:49] Brooooooklyn commented on #852
haha,accord to my test, the performance is close between (Buffer + serde) and (serde serialize)

[2020-08-28 15:51] kdy1 commented on #852
Sounds great! Thank you very much for a good library.

[2020-08-29 19:01] dsherret opened #1012 "Suggestion: TaggedTpl should have Tpl?"
The tagged template expression has the following structure:

[code]

Would it make more sense to have a `tpl` property like so?

[code]

Right now, the template of the tagged template is not really represented in the AST as it's skipped in order to go to the contents of the template.

[2020-08-30 00:47] kdy1 commented on #1012
Seems reasonable to me.

[2020-08-30 06:29] #852 closed

[2020-08-30 11:32] #107 closed

[2020-08-30 11:32] #838 closed

[2020-08-31 05:05] Brooooooklyn commented on #852
Maybe you should rerun benchmark and update the result on README. I see great improvement after upgrading to `@swc/core@1.2.22`

[2020-08-31 12:35] PatrickMcLennan commented on #977
Closing this out -- it was an error on my end.

[2020-08-31 12:35] #977 closed

[2020-09-02 03:18] Brooooooklyn opened #1018 "dynamic import should be transformed if module is not es6"
config:

[code]

Source code:

[code]

swc output:

[code]

TypeScript output:

[code]

BTW, I don't think using `regenerator-runtime` is a good idea, the `TypeScript` async/await helper is smaller and faster. Maybe use `tslib` is better?

[2020-09-02 03:22] kdy1 commented on #1018
I'll try to fix this issue within this week.

I didn't know about tslib. I'll see how much work I need to do to transform to tslib.

[2020-09-02 16:26] marijnh opened #1019 "Compiling for/of to a plain index loop"
**Describe the feature**

Bublé has a [`dangerousForOf`](https://buble.surge.sh/guide/#dangerous-transforms) switch that you can use when you know all `for`/`of` loops in a codebase are iterating over arrays. It'll compile such loops to a regular `for` that runs an index over the array, when possible. This can, for code where it is valid, obviously help generate a lot better output.

Would such an

[2020-09-02 16:49] marijnh opened #1021 "Incorrect `this` reference in block-scope-simulating functions"
**Describe the bug**

A `this` reference in a scope that's wrapped in a function by swc to simulate block scoping will change meaning and refer to that function's `this` instead of the `this` in the original scope.

**Input code**

[code]

This compiles to:

[code]

Note how the `this` is wrapped in an inner function, and thus won't refer to the thing it referred to in the original code.

**Config

[2020-09-02 16:54] marijnh opened #1022 "Mutated index variables in a block-scoped loop are compiled incorrectly"
**Describe the bug**

When a loop is wrapped in a function to simulate block scope, but its body mutates the block-scoped variable, those mutations are dropped at the end of the body because they only happen to the argument value, not the outer loop variable.

**Input code**

[code]

The result is:

[code]

Which, unlike the original, doesn't skip odd loop indices.

**Config**

`--no-swcrc`

**Exp

[2020-09-03 13:45] #898 closed

[2020-09-03 13:45] #975 closed

[2020-09-04 05:21] kdy1 opened #1027 "Migrate to tslib if it's better"

[2020-09-04 07:18] #1018 closed

[2020-09-04 07:47] #1021 closed

[2020-09-04 07:47] #1022 closed

[2020-09-04 08:31] #1002 closed

[2020-09-06 12:16] sod opened #1036 "regenerator scoping issue"
**Input code**

[code]

Transpiled with swc to es2015, this yields `[6, 6, 6]`, but I'd expect `[2, 4, 6]`. The `[a]` is handled in a way, that all calls of `() => a * 2` only see the last value.

The generated code looks like this:

[code]

**Config**
[code]

**Expected behavior**

Expected output `[2, 4, 6]`, just like if you paste that in chrome:

![image](https://user-images.githubusercontent.

[2020-09-06 15:25] Brooooooklyn opened #1038 "Thread panic while running jest tests in strapi project"
strapi with latest `@swc-node/jest`: https://github.com/Brooooooklyn/strapi/pull/1

the `@swc-node/core@0.7.1` was built from `swc#57112fc4`.

The weird thing is I can run `yarn build && yarn test:front` on my `macOS` machine.
But while running tests in `Travis CI/node-10-slim Docker container`,  thread panic happened.

### Step to reproduce:

- Linux operation system
- clone `https://github.com/B

[2020-09-06 19:42] jonsecchis opened #1039 "Clean install fails to run on MacOS 10.13.6"
A clean install of `swc` through npm fails to run on **MacOS 10.13.6**

# Reproducing

## Step 1:
[code]

## Step 2:
[code]

## Result:
[code]

## Expected behavior:

A clean install should work properly.

Also, following the steps described in the installation guide about setting up the rust toolchain in order to compile `swc` for unsupported platforms did not work and npm keeps downloading the p

[2020-09-07 03:45] #1039 closed

[2020-09-07 10:25] #1038 closed

[2020-09-07 10:25] kdy1 commented on #1038
Fixed it.

[2020-09-07 12:14] Brooooooklyn opened #1043 "TypeScript allowSyntheticDefaultImports: false + esModuleInterop:false compatible"
## Library bar

[code]
## TS allowSyntheticDefaultImports: false

[code]

## TS allowSyntheticDefaultImports: true

Behavior is the same with babel/swc

[code]

Many existed projects haven't set the `allowSyntheticDefaultImports: true`.

So codes like: https://github.com/nestjs/nest/blob/01dfe29458a2851e42efe8d5b4d614caf9935742/packages/common/services/logger.service.ts#L1 running will throw error

[2020-09-07 12:32] Brooooooklyn commented on #1043
I'm trying to replace `ts-node` to `@swc-node/register` in `nest` project, but meet many `import * as xx from 'yyy'` issues.

[2020-09-07 13:56] Brooooooklyn opened #1045 "Fix publish issue"
I have published a new version of `napi-rs`: https://github.com/napi-rs/napi-rs/commit/51f71fbd92b1578a5a4f555d2925c9fdf91b1b98

Please rerun this job: https://github.com/swc-project/swc/actions/runs/243051722 to verify I have fixed publish issue.

[2020-09-07 13:57] kdy1 commented on #1045
Did it, thanks a lot!

[2020-09-07 13:59] Brooooooklyn commented on #1045
My bad, I have not tested all corner cases with `nap-rs` cli usage... I will write some tests and documents for it in next week.

[2020-09-07 14:16] kdy1 commented on #1045
It's ok, I re-runned it.

[2020-09-07 14:24] Brooooooklyn commented on #1045
Please rerun again...

[2020-09-07 17:01] kdy1 commented on #1045
It worked!

[2020-09-07 17:01] #1045 closed

[2020-09-08 05:57] JonathanCallewaert opened #1047 "panic: SyntaxError: Unexpected token '.' in @swc/core 1.2.23"
2. `.swcrc` file
[code]

3. Error message
[code]
I think something is wrong with the build or am I wrong?

[2020-09-08 06:05] kdy1 commented on #1047
I think you cannot have space between `?` and `.`

[2020-09-08 06:08] JonathanCallewaert commented on #1047
Yes I think the same, but this is the result of the compiled code of @swc/core. So I think there is maybe a bug in the build of the `index.js` file ?

[2020-09-08 06:11] kdy1 commented on #1047
Hmm... It seems like swc treats it as a conditional expression. ( a ? b : c)

Can you share your input?

[2020-09-08 06:13] Brooooooklyn commented on #1047
`index.js` from `@swc/core@1.2.23`

[code]

[2020-09-08 06:15] kdy1 commented on #1047
Ah. I published it manually, and it seems like global tsc is used.
I'll publish a new version.

[2020-09-08 06:16] JonathanCallewaert commented on #1047
Okay super, thank you for the quick support :) !!

[2020-09-08 06:52] kdy1 commented on #1047
Closing as new version is published, thanks for reporting!

[2020-09-08 06:52] #1047 closed

[2020-09-08 09:16] sod commented on #1036
As a sidenote. Do you even need to downlevel destructoring in `"target": "es2015"`? As far as I can tell this feature was introduced in es2015 - see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment

[2020-09-08 10:10] kdy1 commented on #1036
@sod I'm not sure about it. I did it because babel's 2015 preset does it.

[2020-09-08 10:17] kdy1 opened #1048 "Extension packages with hidden option."
`@swc-node/jest` seems like a good idea and I think such support for some libraries worth it.

But supporting library means a maintenance hazard. What should happen if version of a library is bumped, or abandoned?
It will require bumping major version of swc, which is not a good idea.

So I think the hidden option, intended to be used only by packages in the `@swc` namespace, can be a solution.

[2020-09-08 15:26] Brooooooklyn opened #1050 "Unexpected remove parenthesis"
[code]

[code]

[2020-09-08 16:03] Brooooooklyn opened #1052 "Do not rename when `new` is not in declare statement"
[code]

[code]

[2020-09-08 16:06] kdy1 commented on #1052
Which target are you using?
es3 does not support `new.target` (it's syntax error), so it's renamed if you target es3.

[2020-09-08 16:06] Brooooooklyn commented on #1052
target is `es2018`

[2020-09-09 03:26] #1050 closed

[2020-09-09 06:16] #1052 closed

[2020-09-09 09:41] jonsecchis commented on #1039
Thanks **a lot** for the quick fix! It is working as expected now.

[2020-09-09 14:45] kdy1 commented on #1043
I thought about the api, but I couldn't think of one. Any suggestion will be appreciated.

According to the doc, it should not affect the emitted code. But is it not the case?

https://www.typescriptlang.org/docs/handbook/compiler-options.html#compiler-options

[2020-09-09 15:11] Brooooooklyn commented on #1043
I think this option is used with `esModuleInterop: true`, `esModuleInterop` allow typescript `import` npm module in `babel` style, and `allowSyntheticDefaultImports` option make it type compatible.

[2020-09-09 15:26] kdy1 commented on #1043
I tested it locally and I found that `"noInterop": true` makes

[code]

work exactly same as tsc with `"esModuleInterop": false`

See: https://swc-project.github.io/docs/configuring-swc.html#common-js

[2020-09-09 15:57] Brooooooklyn commented on #1043
let me have a try

[2020-09-10 11:25] joebnb opened #1055 "angular support"
![image](https://user-images.githubusercontent.com/1646883/92723076-1c63bb80-f39b-11ea-953f-a7bc56eea611.png)

line is :
![image](https://user-images.githubusercontent.com/1646883/92723271-706ea000-f39b-11ea-82c2-fef3bc6d83e7.png)

run with angular project need more configruation,could implement it？

this is angular ts config has alternative angularCompilerOptions
[code]

[2020-09-10 12:41] kdy1 commented on #1055
You can enable decorator support. See https://swc-project.github.io/docs/configuring-swc.html#jscparser and https://swc-project.github.io/docs/configuring-swc.html#jsctransformdecoratormetadata

[2020-09-10 14:48] Brooooooklyn commented on #1043
It works, but I found another problem: there are some **circular require ** codes in `nestjs`, its work fine with `TypeScript` but break with `swc`. I think it might because the `export order is not strictly defined as code source` in swc:

With swc, the codes:

[code]
transform to:

[code]

The `Scope` was exported after `http` in source code but exported before `http` in transpiled code.

[2020-09-10 16:04] kdy1 commented on #1043
Will this work?

[code]

[2020-09-10 16:15] Brooooooklyn commented on #1043
Yes its behavior the same with Babel and ts.

[2020-09-10 17:51] iykekings opened #1058 "Jsdoc fails to parse all tags"
**Describe the bug**
When I use jsdoc 0.5.0 to parse jsdoc comments, some jsdoc tags are left out in the AST returned.

**Input code**
[code]

NB: AstParser used above is from
https://github.com/denoland/deno/blob/master/cli/swc_util.rs#L186-L207

I passed this string to the function defined above:

[code]

and got this AST:
[code]

**Config**
No config: using jsdoc 0.5.0 crate in Rust

**Expected