[2021-08-14 05:52] kdy1 commented on #1461
I found non-breaking solution. I'll try fixing this soon.

[2021-08-14 06:08] kdy1 commented on #1113
I found that `spack.config.js` cannot be renamed without a breaking change.
I think about a solution, and it can be renamed if `@swc/core` should accept two config file names while it's v1.

[2021-08-14 06:31] wessberg commented on #1461
Very good news, thanks! ♥️

[2021-08-14 12:59] mischnic opened #2075 "Parser error for object literal with `function` property inside JSX"
**Describe the bug**

An object literal with a property named `function` inside JSX causes a parser error.

[code]

**Input code**

[code]
or
[code]

**Config**

[code]

**Expected behavior**
Should be parser & transpiled successfully.

**Version**
The version of @swc/core: 1.2.77

**Additional context**
https://github.com/parcel-bundler/parcel/issues/6719

[2021-08-14 15:12] #2075 closed

[2021-08-14 19:03] marvinhagemeister opened #2078 "Minification inside loop changes program behaviour"
**Describe the bug**

With minification a variable inside a loop is incorrectly hoisted, which changes the program's behaviour in unexpected ways.

**Input code**

[code]

**Config**

[code]

**Expected behavior**

I expect the minifer not to change the program's behaviour. In the input code `rerenderQueue` is initialized to an array of length 1 and I'd expect the `console.log` statement to be cal

[2021-08-15 02:37] #1963 closed

[2021-08-15 04:08] kdy1 opened #2081 "swc should not allow using undefined as decorator"
I made a mistake while fixing #1362
But it's not urgent, because it is about reporting no error for wrong code, not breaking correct code.

[2021-08-15 08:49] mischnic opened #2083 ""`#![feature]` may not be used on the stable release channel" when consuming crate"
[code]

[2021-08-15 08:51] kdy1 commented on #2083
Oh, seems like I made a mistake while migrating tests

[2021-08-15 10:01] #2083 closed

[2021-08-15 13:09] #2072 closed

[2021-08-15 13:09] #2078 closed

[2021-08-15 13:09] #1294 closed

[2021-08-15 13:44] idan-at opened #2085 "Provide a statically linked binary"
Hi, I'm trying to replace `babel` with `swc`. I use a docker image which disallows dynamic linking of `.so` files.

I might be wrong with my assumption (that a statically linked binary will work), and will appreciate your help.

When I try to `require("@swc/core")`, I get:
[code]

Any idea?

Thanks in advanced.

[2021-08-15 13:48] kdy1 commented on #2085
You can install [`@swc/core-linux-x64-musl`](https://www.npmjs.com/package/@swc/core-linux-x64-musl)

[2021-08-15 13:49] Brooooooklyn commented on #2085
What base image are you using

[2021-08-15 13:50] kdy1 commented on #2085
Oh, I missed the error message.

[2021-08-15 13:51] idan-at commented on #2085
I've tried requiring `core-linux-x64-musl` too, and I get the same error:

[code]

I'm using a custom docker image only contains node (no `bash` or anything)

[2021-08-15 14:33] Brooooooklyn commented on #2085
But you must have a base image, does it node:lts-alpine?

[2021-08-15 14:34] idan-at commented on #2085
It’s from scratch

basically we copy the node executable and thats it

[2021-08-15 14:35] mischnic commented on #2085
Not sure if libgcc and libc are meant to be statically linked (or if that causes other problems):
[code]

[2021-08-15 15:39] Lodin opened #2086 "Bad emit for mangled private fields/methods"
**Describe the bug**
When I run mangling for private fields or methods, the declaration is mangled while the usage is not. It leads to the unknown field/method usage.

**Input code**
[code]

**Config**

[code]

**Expected behavior**
Usage of the private field/method should be the same as the declaration.

**Version**
The version of @swc/core: `1.2.77`

**Additional context**
Result code:
[code]

[2021-08-16 02:07] tmpfs opened #2087 "Support environment variables that map to globals (spack)"
Support passing environment variables using a command line option that are transformed into global variables when building with **spack**.

This is typically used to switch backend API but has many uses beyond that. I suggest adding the `--env` option to spack which would take:

[code]

When compiling spack would define a `const` declaration for each environment variable at the top-level scope of

[2021-08-16 02:55] Brooooooklyn commented on #2085
Node.js addon is actually a `dynamic link file`, see https://napi.rs/introduction/native-module

So I think it's not possible using it without `libc libraries`. For `Node.js` program, if you want a Docker image with smallest size, I recommend using the `node:lts-alpine` image, `swc` should be compatible with this ***Official*** Docker image.

[2021-08-16 05:35] kdy1 commented on #2087
Yes, I think this is super useful, especially if someone can configure this from javascript.

[2021-08-16 05:39] kdy1 opened #2088 "swc_common: Add FileName::Internal"
I'll do this when I have to make a breaking change of `swc_common`.

[2021-08-16 10:33] #1554 closed

[2021-08-16 10:33] #2086 closed

[2021-08-16 15:51] kapouer opened #2091 "minifier: syntax error after condition with ~"
Using swc@1.2.78
[code]
with .swcrc:
[code]

results in
[code]

[2021-08-16 20:55] ShivamJoker opened #2092 "How to compile all the files in a directory"
I am using tsc in AWS CDK and it's really slow, it compiles all the TS files into JS in the same directory from the root folder so Is there any way we can compile multiple files in the same directory ?

If I can get some configuration for that, it would be great to move from tsc compiler.

[2021-08-17 00:15] tmpfs commented on #2092
I believe `swc src -d lib` will do what you want, you can configure `.swcrc` too for various compiler options.

[2021-08-17 06:32] idan-at commented on #2085
I found out that we have `libgcc_s.so.1`, but missing `libc.musl-x86_x64.so.1`.

I know it's not official and you might change things in the future and it's fine.

Thanks for your help, I will try adding `libc.musl` manually

[2021-08-17 21:50] jdalton commented on #1366
Ran into this issue too trying to make an adapter for estree AST.

[2021-08-17 22:42] jdalton commented on #1392
Just tying this issue to #1366 as any adapter will need valid span/range/start/end values *(which are lacking at the moment)*

[2021-08-18 00:30] RyannGalea commented on #1600
Was this added to v1.2.79 ?

[2021-08-18 04:37] kdy1 commented on #1366
@jdalton I want to remove `parse` and `print` with v2 of swc.
I'm going to provide a rust-based plugin API instead.

[2021-08-18 04:38] kdy1 commented on #1600
Yes, because this requires some work. I decided to postpone this when I'm releasing `v1.2.78`

[2021-08-18 07:07] donaldpipowitch opened #2099 "Keyword as method name with generic not working for TSX"
**Describe the bug**

It looks like using keywords as method names with a generic does not work with TSX.

**Input code**

[code]

**Config**

[code]

**Expected behavior**
Should parse without errors.

**Version**
The version of @swc/core: 1.2.78

**Additional context**
Tested via swc-loader.

Thank you for this project!

[2021-08-18 12:37] mischnic opened #2100 "unresolved import `swc_ecma_utils::collect_decls` in `swc_ecma_transforms_optimization`"
**Describe the bug**

[code]

Cargo.toml:
[code]

[2021-08-18 12:39] kdy1 commented on #2100
I forgot updating the requirements.
`cargo update -p swc_ecma_utils` will fix it.

[2021-08-18 12:39] mischnic commented on #2100
Indeed, recreating the lockfile did fix it 👍

[2021-08-18 12:39] #2100 closed

[2021-08-18 13:00] lexanth commented on #1714
@kdy1 Can you reopen this, or would you like a new issue?

[2021-08-18 13:01] kdy1 commented on #1714
I prefer a new issue, would you open one?

[2021-08-18 13:09] lexanth opened #2101 "Runtime issue with named export overrides"
**Describe the bug**
Based on https://github.com/swc-project/swc/issues/1714

Valid JS is generated, but at runtime if the override is not the same (identity-wise) as the export from `*` the code won't load.

**Input code**
[code]

**Config**

[code]

**Expected behavior**
The transpilation should respect the behaviour that the named exports can override the wildcard exports.
e.g. [Babel REPL](htt

[2021-08-18 13:09] lexanth commented on #1714
Raised https://github.com/swc-project/swc/issues/2101 for this

[2021-08-18 13:35] bostondv opened #2102 "panic: unknown key "ff""
The below build script panics when adding the `env` option. Our browserslist is configured with custom stats (below). It appears that the `ff` alias for `firefox` as a browserslist key is causing the failure. Changing `"ff"` to `"firefox"` in our browserslist stats fixes the panic, however `ff` is a valid browserslist key https://github.com/browserslist/browserslist#browsers

1. Source code

Using

[2021-08-19 06:26] kdy1 commented on #1202
Postponing as I couldn't decide the correct value.
There's no 'correct' value for this.

[2021-08-19 06:32] #755 closed

[2021-08-19 07:24] troy351 opened #2108 "optimizer: inline code error when not using Object Literal Shorthand"
**Describe the bug**

**Input code**
[code]

**Config**

[code]

**Expected behavior**
output error
[code]
**Version**
The version of @swc/wasm: 1.2.78

**Additional context**
Add any other context about the problem here.

[2021-08-19 07:28] kdy1 commented on #2108
You can use minify option instead.

[2021-08-19 07:32] troy351 commented on #2108
You mean optimizer option was deprecated? But I do want to use `globals.vars`

[2021-08-19 07:38] kdy1 commented on #2108
`optimizer` is not deprecated, but the `optimizer` option has nothing to do with shorthand syntax.
Also, minify option supports replacing global variables.
https://swc.rs/docs/config-js-minify#global_defs

[2021-08-19 07:45] troy351 commented on #2108
Yeah, I mean I can use minify instead, but it still a bug didn't it?

[2021-08-19 07:48] kdy1 commented on #2108
No, it's not a bug. Again, `optimizer` option is not related to shorthand syntax.

[2021-08-19 08:01] troy351 commented on #2108
Sorry, maybe it's not related to shorthand syntax, but the output code does change the behavior of the original code

[2021-08-19 08:03] kdy1 commented on #2108
Oh, I misread because of the title. This is definitely a bug.

[2021-08-19 08:04] troy351 commented on #2108
Sorry for the misleading

[2021-08-19 08:21] #2091 closed

[2021-08-19 09:15] #2085 closed

[2021-08-19 12:12] #1807 closed

[2021-08-19 12:37] kdy1 commented on #2099
Closing as duplicate of #968.

[2021-08-19 12:37] #2099 closed

[2021-08-19 12:40] #1337 closed

[2021-08-19 12:42] #1410 closed

[2021-08-19 13:35] StJohn3D commented on #1392
Hi there, just heard of SWC today and I'm not sure if this is the right place to ask but - I'm curious how one would go about migrating their babel macros to work with SWC ?? I see some documentation on plugins but doesn't quite look like the same thing.
Most common problem trying to solve is reading in values from package.json or environment variables at compile time. But the @emotion/styled/macr

[2021-08-19 13:37] kdy1 commented on #1392
I'm going to provide a rust plugin api and deprecate node apis.

Babel plugins are not supported.

[2021-08-19 18:28] jdalton commented on #1366
@kdy1

Ah cool. Will there still be a way to expose the AST? I currently have been able workaround this issue using an adapter to track the offset of the start of the root AST and smooth over the other differences with estree.

[2021-08-20 03:08] kdy1 commented on #1366
You mean, you want to get actual offset from `Span` of node side?
I think I can provide an API to get line-col span from lo-hi span.

This API, if added, will be removed along with `parse`/`print` on v2, but it will work for now.

[2021-08-20 04:03] xiluo58 opened #2114 "tsx in typescript `module` is not transpiled"
**Describe the bug**

**Input code**
[code]

**Config**

[code]

**Expected behavior**
Similar to result compiled by tsc, tsx should be compiled to React.CreateElement
https://www.typescriptlang.org/play?ssl=5&ssc=2&pln=1&pc=1#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgIilQ3wG4AocpAD0ljhAgBMBXAGyTgBUkBneAN7k4IuDTrw0EAHb84U6TCSK4AXjgAeJsABuAPgDCMpYo0B6bfooBfIA
[code]

**Version**
The version of @swc/core: T

[2021-08-20 05:25] jdalton commented on #1366
@kdy1 I've noticed some confusion around this from another user. Folks use the AST from parsers, in formats like babylon and estree to perform source transforms. The AST usually has properties such as `start`, `end` or maybe a `.range` array of `[start, end]` values. In your case you have a `.span` object with `.start` and `.end` properties. These coordinates allow for source to be modified in sub

[2021-08-20 05:29] kdy1 commented on #1366
Most ast nodes already have `span`. What swc is lacking is an api to convert `span` to line-col coordinates.
Do you mean there should be line-col coordinates?

[2021-08-20 05:48] jdalton commented on #1366
Are we talking past each other? Maybe an example would help. In [ast-explorer](https://astexplorer.net/#/gist/bf0d25aacccd3c61ecebdcc4104fc034/f3328d63fdb19a161259111648673fe911923a3a) using acorn with an example of `export * as ns from 'a';` the `ExportAllDeclaration` node has a `start` of `0` and an `end` of `24`. swc provides these as a `span` property (almost identical to the values of acorn's

[2021-08-20 06:08] kdy1 commented on #1366
Now I understand it. But I'm not sure about the change.
Plugin api / parse / print is misdesigned and going to be removed in v2.
In other words, AST will not be exposed to js world.

[2021-08-20 08:07] TomasHubelbauer commented on #1202
@kdy1 what do you think about `"file:///" + __filename`? I wrote a patching script to convert ESM to CJS and I used this there, curious about possible issues or shortcomings.

[2021-08-20 12:38] #16 closed

[2021-08-20 13:06] DanielRamosAcosta opened #2117 "Class transformer not working with swc"
**Describe the bug**

When applying the `plainToClass` function to a class defined with `class-validator`, it returns the class with no attributes

**Input code**

[Here is a repo with a test reproducing the error](https://github.com/DanielRamosAcosta/swc-class-transformer-bug)

[code]

**Config**

You can also find the config at the [repo reproducing the error](https://github.com/DanielRamosAcost

[2021-08-20 13:10] kapouer opened #2118 "transpiler: es3 needs brackets for __proto__ ?"
i'm surprised that

[code]
is transpiled to
[code]
using
[code]

[2021-08-20 13:39] Songkeys commented on #1348
I'm also looking for this but can't find any. So I just wrote a config-mapping node module [tsconfig-to-swcconfig](https://github.com/Songkeys/tsconfig-to-swcconfig) which maps configs in `tsconfig.json` to configs in `.swcrc`. (Only a subgroup of features of tsconfig is supported by swc currently, however.)

I also wrote some other libraries based on this:

- [tswc](https://github.com/Songkeys/ts

[2021-08-20 14:40] jdalton commented on #1366
If it could still be exposed to JS by a rust plugin or some such way that would be great too.

[2021-08-21 00:43] ozanmuyes opened #2120 "sourceMap config won't be respected when set to true in the config file"
**Describe the bug**
`sourceMaps` config entry when set to `true` in `.swcrc` has no effect. Whereas `-s true` flag emits sourcemap files.

**Input code**
Irrelevant

**Config**

[code]

**Expected behavior**
I'm expecting corresponding sourcemap files to be emitted in the build directory.

**Version**
@swc/cli: 0.1.49
@swc/core: 1.2.80

**Additional context**
Currently in my pet project the targe

[2021-08-21 01:45] tmpfs commented on #2087
It is possible to do this using `jsc.transform.optimizer.globals.envs`, see #2093 and #2121.

[2021-08-21 01:45] #2087 closed

[2021-08-21 02:06] aldonline opened #2122 "Allow defining external modules dynamically (Bundler)"
Currently, external modules must be determined statically before executing the bundler.

Determining this list exhaustively is not trivial in the following scenarios:

* imports that "reach into" modules, like `import bar from "foo/bar"`
* external modules that are aliased to some other name via an import map

The current workaround is to add a custom "pre-bundle" phase where the complete codebase

[2021-08-21 04:14] sosukesuzuki opened #2123 "ESTree compatible AST"
**Describe the feature**

Support [ESTree](https://github.com/estree/estree) compatible AST.

Some options:

- SWC output ESTree compatible AST directly.
- New tool like `swc-to-estree`

**Babel plugin or link to the feature description**

Nothing.

**Additional context**
Add any other context about the problem here.

I'm a maintainer of Prettier Code Formatter and I'm developing to use SWC as a p

[2021-08-21 05:20] tmpfs opened #2124 "Imported function is not bundled using spack"
**Describe the bug**

An imported function is not being included in the bundle leading to a runtime `ReferenceError`.

**Input code**

MVP: https://github.com/tmpfs/spack-tree-shaking

**Config**

https://github.com/tmpfs/spack-tree-shaking/blob/main/spack.config.js

**Expected behavior**

I expect the code for the `memoize` function to be included in the generated bundle.

The bundle output in `d

[2021-08-21 06:29] sosukesuzuki opened #2125 "Support stage-3 class static blocks"
**Describe the feature**

Support Stage-3 proposal class static blocks.

**Babel plugin or link to the feature description**

https://babeljs.io/docs/en/babel-plugin-proposal-class-static-block

**Additional context**
Add any other context about the problem here.

TypeScript 4.4 supports class static blocks (https://devblogs.microsoft.com/typescript/announcing-typescript-4-4-rc/#static-blocks)

[2021-08-21 06:29] sosukesuzuki commented on #2125
@kdy1 If this feature is needed, can I work on this?

[2021-08-21 06:35] kdy1 commented on #2125
Of course. Thank you a lot!

[2021-08-21 07:04] aelbore opened #2126 "jsc.paths didnt work when file is not on root"
**Describe the bug**
jsc.paths didnt work when file is not on root folder

**Input code**
File => `packages/a/src/index.ts`
code =>
[code]

File => `src/index.ts`
[code]

File => `package.json`
[code]

Error
![image](https://user-images.githubusercontent.com/18069807/130313711-f1052416-f753-46fe-a77c-c59a2778eb83.png)

**Config**

[code]

**Expected behavior**
A clear and concise description of wh

[2021-08-21 07:05] kdy1 commented on #2126
Seems like duplicate of https://github.com/swc-project/swc/issues/2050

[2021-08-21 07:08] aelbore commented on #2126
@kdy1 sure thanks apologies i didnt see it,
by the way if you put the `src/index.ts` to root folder `index.ts` in your package.json `swc-node index.ts` >>> it works as expected

[2021-08-21 07:38] dwoznicki commented on #1339
@kdy1 How do you feel about this feature now? I know before you wanted to support Babel/Webpack plugins, but it sounds like you're thinking of having the AST plugin system in Rust land (which I assume means swc won't support Babel plugins). How do you feel about doing the same for the bundler (formerly known as spack)?

[2021-08-21 07:40] kdy1 commented on #2037
Can you try configuring [swc_ecma_utils::HANDLER](https://docs.rs/swc_ecma_utils/0.41.0/swc_ecma_utils/static.HANDLER.html)?

[2021-08-21 07:42] kdy1 commented on #1339
@dwoznicki I'm considering something similar for the bundler, too. Node js api does not provide a good way to get results of js function from native side.

[2021-08-21 07:58] dwoznicki commented on #1339
Cool. For what it's worth, I think a Rust plugin system for the bundler is a better way to go for a number of reasons beyond speed. I'm going to close this issue for now then.

[2021-08-21 07:58] #1339 closed

[2021-08-21 12:19] ShivamJoker commented on #2092
@tmpfs I think I tried but it didn't do anything

I tried looking into the docs, but not sure what would be the config to compile all the ts files into commonjs

[2021-08-21 13:08] InsOpDe opened #2127 "Setting a getter with Object.defineProperty not working within decorator"
**Describe the bug**
If I set a getter for a property with `Object.defineProperty` within a decorator it returns `undefined` instead of the variable

**Input code**
[code]

**Config**

[code]

**Expected behavior**
All tests should not fail

`expect(instance.testProperty).toBe(returnValue)` should return `true`

it works, when changing the `transformer` to `ts-jest` or `esbuild-runner/jest` or `es

[2021-08-21 18:25] jdalton opened #2128 "Node span incorrect when iterating over source containing characters over ASCII range (0-127)"
[code]
Will produce a node of:
[code]
   The substring of the coordinates 16 29 is `xport { a };` and not `export { a };`.
   If I swap the `'¤'` for `'a'` then the correct coordinates are populated.

   ~~In this case `'¤'` is 1 character totaling 2 bytes.~~

[2021-08-21 19:50] jdalton commented on #2128
Hmm the char code for `'¤'` is only 164.  I'm at a loss as to why the parser is messing up there.

[2021-08-21 19:52] jdalton commented on #2128
The character of `""` which is a char code of 128 also causes a problem if present in the source.

[2021-08-21 19:55] jdalton commented on #2128
Looks like it's only accepting code with an ASCII range of 0-127 without causing the coordinates to get off.

[2021-08-22 05:03] jdb8 commented on #1392
Just to confirm, does this mean that we should avoid writing plugins similar to the example here: https://swc.rs/docs/usage-plugin? Will this kind of js plugin be deprecated in the future in favour of rust-only plugins?

[2021-08-22 05:04] kdy1 commented on #1392
@jdb8 Correct. It's simply misdesigned.

[2021-08-22 05:08] jdb8 commented on #1392
@kdy1 good to know, thanks - I wonder if it would be worth updating that page with a deprecation warning? I was briefly considering porting some plugins from Babel to swc, but I'll definitely now wait until the Rust api is finalised.

[2021-08-22 05:11] kdy1 commented on #1392
I added it. Thanks!

[2021-08-22 06:56] #1179 closed

[2021-08-22 11:35] peterp opened #2132 "Nested for of loop with continue statement in child will skip parent iteration."
When using `continue`, to skip an iteration, in a nested for-loop the child **and the parent** are skipped. The expectation is that only the child is skipped.

**Input code**

[code]

Outputs:
[code]

**Config**

[code]

**Expected behavior**
The output should be the following:
[code]

**Version**
The version of :
@swc/core: 1.2.80
@swc/jest: 0.2.2

**Additional context**

I notice this error in J

[2021-08-22 11:58] #2132 closed

[2021-08-22 11:59] peterp commented on #2132
My simple test case is not reproducing, I'm going to dive deeper to figure out exactly what's going on here.

[2021-08-22 17:48] LeonardSSH commented on #940
Any updates? 😅🙄

[2021-08-23 03:15] tmpfs commented on #2124
It appears that the issue is to do with loading CJS via an ESM `import` and indirection across a module boundary.

If we import the mock `lodash.js` file directly in `index.js` then the code is included in the bundle (see https://github.com/tmpfs/spack-tree-shaking/blob/main/src/index.js#L3-L5) but when we add a level of indirection via `util.js` then the code for `lodash.js` is **not** included i

[2021-08-23 03:19] tmpfs commented on #2124
Note also that commenting out these lines: https://github.com/tmpfs/spack-tree-shaking/blob/main/src/lodash.js#L16-L17 and using indirection of `exports` like this: https://github.com/tmpfs/spack-tree-shaking/blob/main/src/lodash.js#L20-L21 will also cause the code to be included even with the extra indirection via `util.js`.

[2021-08-23 03:21] kumavis commented on #2124
spooky 👻

[2021-08-23 03:26] sosukesuzuki commented on #2123
@kdy1 What do you think about this?

[2021-08-23 03:35] kitsonk opened #2137 "some classes get renamed, breaking code"
**Describe the bug**

Some classes exported from modules get renamed for no apparent reason, breaking code.

**Input code**

[code]

**Expected behavior**

[code]

**Actual behavior**

[code]

**Version**

swc_common 0.11.4
swc_ecmascript 0.52.1

**Additional context**

This is off of Deno CLI main, using something like:

[code]

[2021-08-23 03:56] jdalton commented on #2123
@sosukesuzuki Just a heads up, the `parse` APIs [are being deprecated](https://github.com/swc-project/swc/pull/1893#issuecomment-903359692). But [I've asked](https://github.com/swc-project/swc/pull/1893#issuecomment-903359692) if there'll be a way to support this scenario in the future as I've seen some perf improvements on my end _(replacing `acorn` with `swc`+ little AST adapters)_.

[2021-08-23 04:24] kitsonk commented on #2037
I am trying to, but we have never used `HANDLER.set()` anywhere in Deno before.  I think I have figured out what I need to do to create a handler, but I am not exactly sure where it needs to be scoped in our code.

Specifically when we bundle, we first create a `swc_bundler::Bundler` and then take the `.bundle()` and run it through a `swc_ecmascript::codegen::Emitter`.  Where does the scoping of t

[2021-08-23 04:45] RyannGalea commented on #2137
Believe this is related, fix coming in the next version hopefully.

https://github.com/swc-project/swc/issues/1600

[2021-08-23 04:54] kitsonk commented on #2137
Maybe related, but there is no other class named `Response` in scope.  I have found also that `Request` gets renamed, so there seems to be some sort of "cache" of global symbols, but things shouldn't be renamed.  The example you linked to specifically had two functions with the same name in the same scope.

[2021-08-23 04:57] RyannGalea commented on #2137
It was further discussed here which is more the reason why I linked back to #1600

https://github.com/swc-project/swc/discussions/1920

[2021-08-23 05:03] kdy1 commented on #2123
I made a mistake. `parse` will be preserved to help some tools like ast explorer.

[2021-08-23 05:10] sosukesuzuki commented on #2123
Is it expected that third party libraries will only use the swc parser?

[2021-08-23 05:13] kdy1 commented on #2123
No, but rust <-> js is very slow and it overwhelms time used for actual work.

[2021-08-23 05:25] sosukesuzuki commented on #2123
I see. Out of curiosity, you are doing integration SWC and Next.js at vercel? At there, how to integrate Rust land and JS land?

[2021-08-23 05:28] kdy1 commented on #2123
Yes. We are working on it. We are going to reimplement all transforms in rust, and call `transform()` from js.

[2021-08-23 05:39] sosukesuzuki commented on #2123
I found https://github.com/vercel/next.js/tree/canary/packages/next/build/swc. It looks good, thanks

[2021-08-23 13:32] kdy1 commented on #2037
I think scope should be the invokation of`jsx` transform.
I'm not sure if it will fix the issue. I asked trying it because I can't guess a cause of panic.

[2021-08-24 00:07] StJohn3D commented on #1392
@kdy1 would this rust plugin api allow us to build macros similar to babel macros?

[2021-08-24 00:09] cecchi opened #2139 "Class constructor generated with undefined arguments spread"
**Describe the bug**

**Input code**

https://gist.github.com/cecchi/8e3c0de02171dcccec0ab9c20294120e

**Config**

[code]

**Expected behavior**

We have some legacy React components that use the class component format. One of those components which doesn't have a constructor defined is generating code like the following:

[code]

Where `args` is undefined. I would expect, instead:

[code]

I've i

[2021-08-24 02:47] sosukesuzuki commented on #2123
@kdy1 What do you think about making swc's AST consistent with ESTree, which is the de facto standard?

[2021-08-24 04:18] kdy1 commented on #1392
Yes it will.

[2021-08-24 04:19] kdy1 commented on #2123
What's the advantage if I make it compatible with estree? rust does not have GC, so estree-like ast will degrade performance.

[2021-08-24 04:49] sosukesuzuki commented on #2123
I did not know about the performance drawbacks. The advantage is that it is much easier for existing tools such as ESLint and Prettier to use swc as a parser.

[2021-08-24 04:51] kdy1 commented on #2123
I see. But actually, passing ast to javascript from rust is very slow. Parser itself is fast, but json serialization/deserialization is the problematic part, and I'm not sure about the way to make it fast.
Maybe lazy accessors can be a solution, but I didn't try it.

[2021-08-24 04:53] jdalton commented on #2123
If you provide the string the user can do things like [fast-json](https://github.com/alemures/fast-json#readme). This allows for them to choose which serializer (`JSON.parse` or otherwise) to use.

[2021-08-24 05:29] kdy1 commented on #2123
@jdalton If it's fast enough, I think we can support babel plugins. So I think it is worth benchmarking.

[2021-08-24 06:13] kdy1 commented on #2137
What's the pass did you use, and what's the full input?
`export { a as b}` will not be generated from normal class definitions.

[2021-08-24 06:16] jdalton commented on #2123
As a test are raw parse power I tried parsing [babylon.max.js](https://cdn.babylonjs.com/babylon.max.js) which s 10.6MB of JS. It takes `acorn` 706ms and `swc` ~2 seconds so I can see what you mean about the Rust->JS transition.

[2021-08-24 06:18] tmpfs commented on #2124
Hi @kdy1, we have reduced this as far as we think possible, it would be great if you could take a look and confirm the issue we are seeing, thanks :+1:

This is blocking our journey trying to get `spack` bundling our code so very much looking forward to moving past this issue, anything I can do to help please let me know :pray:

[2021-08-24 06:20] kdy1 commented on #2124
Thanks for reducing!
I'll take a look.

Btw, do you use spack from js? I'm asking this to know if I should publish a new version after fixing this.

[2021-08-24 06:58] zheeeng commented on #657
Any progress on it?

[2021-08-24 07:01] kdy1 commented on #657
@zheeeng I'm still working on the new typescript type checker.

[2021-08-24 07:04] tmpfs commented on #2124
I was calling `spack` via `@swc/cli` which I believe goes through the node bindings, so I think the answer is yes but I am not totally sure about how the JS API is exposed, I haven't tried to use it yet!

[2021-08-24 07:06] kdy1 commented on #2124
If you use cli, it mean you are using it via node bindings.
Anyway, I fixed it.

[2021-08-24 07:07] tmpfs commented on #2092
You should add this file: https://github.com/swc-project/cli/blob/master/.swcrc to your project and then install `@swc/core` and `@swc/cli` into your project, afterwards you can use `npx` to run `spack` like I mentioned (or without `npx` if it is a `package.json` script):

[code]

Hope that works :+1:

[2021-08-24 07:10] tmpfs commented on #2124
Thanks! That's awesome :grin:

[2021-08-24 08:30] kitsonk commented on #2137
[The following](https://github.com/denoland/deno/blob/7b882cc05f02e9b09e9ec2856e37730ae947f509/cli/ast/mod.rs#L318-L333):

[code]

And `transform_jsx` and `repl_imports` would have been false.

[2021-08-24 09:18] simonireilly opened #2144 "Hidden folders are ignored for compilation when set as target"
**Describe the bug**

Not sure if this is a bug or I am doing something wrong, when folder begins with `.` it will not compile; returns no error message:

**Simple recreation here: https://github.com/simonireilly/swc-rec**
May relate to: https://github.com/swc-project/swc/pull/1748

[code]

**Input code**

**Config**

None

[code]

**Expected behavior**
A clear and concise description of what you

[2021-08-24 09:23] kdy1 commented on #2128
I tried this and I found that span api is working as intended.

![image](https://user-images.githubusercontent.com/29931815/130590922-db7016c9-500b-455e-abfd-a2b5c7c90848.png)

Note: `¤` takes two bytes in utf8. See https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=89ba841bd13990fe1598856a43bd7068

[2021-08-24 09:23] #2128 closed

[2021-08-24 14:18] jdalton commented on #2128
Hi @kdy1. Thanks for checking it out!

I can still repro this however. Try using the `parseSync` API and checking the results of the span as is pointed out in the repro.

[2021-08-24 14:19] jdalton commented on #2128
`'¤'.length` is `1` in JS.

[2021-08-24 14:20] kdy1 commented on #2128
I mean it's the correct output because the span is byte-based.
I know the length of `'¤'` is 1 in js, but it's two bytes width.

[2021-08-24 14:21] jdalton commented on #2128
Right but your coordinates need to be correct for the language consuming it. What good are coordinates that produce invalid results?

[2021-08-24 14:24] jdalton commented on #2128
There's no way beyond inspecting the source to know there could be an issue and then no way to fix it and account for the offset unless the entire string is found/replaced and then parsed. It makes working around the issue perf consuming.

[2021-08-24 20:01] kitsonk commented on #2137
@kdy1 thanks.  I was wondering though, do you think we need `hygiene()` in single module transpilation like this where we target ESNext?  Is there anything that `hygiene()` really needs to do to make sure we have a "valid" emit?

[2021-08-24 21:46] schmod commented on #2050
Also worth noting that SWC currently only appears to transform ES-style `import`s.

Paths are not resolved for CJS imports with `require('~/file.ts')`

[2021-08-25 00:49] tmpfs commented on #2124
@kdy1, this is not completely fixed it seems.

I managed to reproduce this bug again in our project and came back to the MVP and noticed that a different style of re-export causes the same problem. It works with a direct re-export (in `util.js`):

[code]

But an `import` followed by `export`:

[code]

Causes the dependency not to be included in the bundle, `dist/main.js` now looks like this:

[cod

[2021-08-25 02:21] RyannGalea commented on #1600
Hi @kdy1 ,

Trying again using this config but no changes are happening to the output, is there another setting here that is colliding with it?

[code]

[2021-08-25 03:30] RyannGalea commented on #1600
@kdy1

After updating and trying again, it does what I was originally asking but not adding the '1' to all my classes but it seems like something else is happening with decorators. as I get this error when I call the server.

[code]

[code]

[code]

[2021-08-25 06:39] JanJakes commented on #2050
@schmod I don't think that's related to this issue, you may want to create a new one, I guess. There is also https://github.com/swc-project/swc/issues/1943 but that's about emitting to ES-style imports so I guess it's not related either.

[2021-08-25 10:30] 1977474741 opened #2149 "Both minify and sourcemaps settings are invalid"
Both minify and sourcemaps settings are invalid

**Describe the bug**
I set minify to true and sourcemaps to false in the swcrc file, but it is still not compressed after packaging, and there is a map file
**Input code**

**Config**
module.exports = {
  entry: {
    'vue-custom-hooks': __dirname + "/lib/index.js",
  },
  output: {
    path: __dirname + "/dist",
  },
};
[code]

**Expected behavior*

[2021-08-25 10:53] kdy1 commented on #2149
Can you share more info?
I can't reproduce it.

[2021-08-25 10:57] 1977474741 commented on #2149
package.json
{
  "name": "swc-demo",
  "version": "1.0.0",
  "description": "",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "build": "spack.config.js"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {},
  "devDependencies": {
    "@swc/cli": "^0.1.49",
    "@swc/core": "^1.2.81"
  },
  "resolutions": {
    "terser": "npm:@swc/core"
  }
}
This is the onl

[2021-08-25 10:58] kdy1 commented on #2149
`.swcrc` does not work with `"terser": "npm:@swc/core"`.
`.swcrc` is a config file for `swc.transform`

[2021-08-25 11:12] autoxbc opened #2150 "Inferred function name"
**Input code**
[code]
**Config**
[code]

**Expected behavior**

buggy result from SWC
[code]

correct result from Babel
[code]
Some legacy browsers(like Opera 12) need this to infer the name of function.

**Version**
1.2.81

[2021-08-25 11:18] 1977474741 commented on #2149
I just deleted "terser": "NPM: @ SWC / core", and then added minify in the options of pack.config.js. The compression was successful. However, the sourcemaps configuration is still invalid.Can I remove the mapping file through configuration?
module.exports = {
  entry: {
    'vue-custom-hooks': __dirname + "/lib/index.js",
  },
  output: {
    path: __dirname + "/dist",
  },
  options:{
  	"minify

[2021-08-25 11:18] 1977474741 commented on #2149
I just deleted "terser": "NPM: @ SWC / core", and then added minify in the options of pack.config.js. The compression was successful. However, the sourcemaps configuration is still invalid.Can I remove the mapping file through configuration?
module.exports = {
entry: {
'vue-custom-hooks': __dirname + "/lib/index.js",
},
output: {
path: __dirname + "/dist",
},
options:{
"minify": true,
"sourceMaps"

[2021-08-25 13:38] danieltroger opened #2151 "SWC REPL panics"
**Describe the bug**

Steps to reproduce:
1. Go to https://swc.rs/repl/#%7B%22rawCode%22%3A%22main()%3B%5Cn%5Cnasync%20function%20main()%20%7B%5Cn%20%20let%20promise%3B%5Cn%5Cn%20%20const%20awaited_promise%20%3D%20await%20(promise%20%7C%7C%3D%20Promise.resolve(%5C%22this%20is%20a%20string%5C%22))%3B%5Cn%20%20console.log(awaited_promise.toString())%3B%5Cn%7D%22%2C%22rawConfig%22%3A%22%7B%5Cn%20%20%

[2021-08-25 14:50] vjpr commented on #702
NOTE: To get this to work you must specify a `module` option in your config or modules are left untouched:

[code]

[2021-08-25 15:07] vjpr commented on #702
I specified `baseUrl: 'src'` just like I have in `tsconfig.json`, and it doesn't have any effect.

[2021-08-25 16:14] huozhi opened #2153 "Minification failed by replacing terser with swc core in resolution"
**Describe the bug**

Use the yarn resolution to replace terser with `@swr/core` to try minification API

**Input code**

https://github.com/vercel/swr

The build process of swr is using a custom bundler (rollup + few plugins). terser part is using rollup-plugin-terser, check [details](https://github.com/TrySound/rollup-plugin-terser/blob/master/transform.js)

**Config**

Simplify added this in pa

[2021-08-25 18:10] mischnic opened #2154 "stream did not contain valid UTF-8"
**Describe the bug**

[code]

**Input code**

[code]

**Config**

[code]

**Expected behavior**
Like babel, run successfully: https://babeljs.io/repl/#?browsers=safari%2012&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=MYewdgzgLgBMMF4YAoA8BLAtgcxgQwBsoEAiYPAMwEuSYB6APgEoA6ABwCcQ2IXCoA3ACghoSCAIBTFgRDZkwJsKA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=

[2021-08-25 18:49] mischnic opened #2155 "Missing parenthesis in `await (.. || ..)`"
**Describe the bug**

The codegen should emit parenthesis when awaiting a binary expression

**Input code**

index.js:
[code]

**Config**

.swcrc
[code]

[code]

**Expected behavior**
It should still be `await (.. || ..)`, so the output should be the same as the input

**Current behavior**

[code]

**Version**
The version of @swc/core: 1.2.82

**Additional context**
https://github.com/parcel-bundl

[2021-08-26 04:19] #2155 closed, assigned to nobody

[2021-08-26 14:27] dsherret opened #2160 "Issue parsing arrow function expression return types"
**Describe the bug**

The parser seems to have issues with arrow function expression return types.

**Input code**

Examples:

[code]

[code]

https://swc.rs/repl#%7B%22rawCode%22%3A%22Array(5).fill(0).map((_%2C%20i)%3A%20(%7B%20loading%3A%20false%20%7D)%20%3D%3E%20(%7B%5Cn%20%20%20%20loading%3A%20false%2C%5Cn%7D))%3B%22%2C%22rawConfig%22%3A%22%7B%7D%22%7D

**Expected behavior**

It parses.

**Ver

[2021-08-26 14:39] dsherret opened #2161 "Issue parsing arrow function expression with type parameter and return type with type argument in tsx file"
**Describe the bug**

It seems swc does not parse arrow function expressions with a type parameter and return type with a type argument in tsx files (at least in this case).

**Input code**

[code]

**Expected behavior**

It parses as typescript is able to do:

https://ts-ast-viewer.com/#code/MYewdgzgLgBAHjAvDAPABRgUzlTYAmEMIARgFabBQB8AFAIYBcMASpvVQHQDCIAtgAdweKABUAngMzpqASmZsOUHvyFgREqehgAyGAG8YT

[2021-08-26 14:47] dsherret opened #2162 "Issue parsing JSX attribute with single back slash"
**Input code**

[code]

**Expected behavior**

Should parse because back slashes are valid like that in JSX.

Ex. https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgIilQ3wG4BYAKABMk0AbFIuNCAOwGd4BBALjhRsAnhUpVMAVzYZg7ODCRcAFAEo4Abypw4RGBKhs4SrdtMAeAHwnTNuGe5wARgF58AHXxwA9Fcq27PiYqogC+VEA (even though syntax highlighting breaks)

**Version**

swc_ecmascript 0.57.0

[2021-08-26 16:16] cspotcode opened #2163 "When arrow function body is object destructuring assignment, swc omits necessary wrapping parentheses"
**Describe the bug**

When arrow function's body is an object destructuring assignment, swc omits the necessary wrapping parentheses.

REPL reproduction:
https://swc.rs/repl#%7B%22rawCode%22%3A%22()%20%3D%3E%20(%7Bfoo%7D%20%3D%20bar())%3B%22%2C%22rawConfig%22%3A%22%7B%5C%22jsc%5C%22%3A%20%7B%5C%22target%5C%22%3A%5C%22es2020%5C%22%7D%7D%22%7D

**Input code**

[code]

**Config**

[code]

**Expected

[2021-08-26 17:25] autoxbc opened #2164 "The for...in statement in the asynchronous function generates an undeclared variable"
**Input code**
[code]
**Config**
[code]

**Expected behavior**

wrong result from SWC
[code]
The variable **key** should be declared first, or it will be leaked as a global variable.
In strict mode, this will cause serious errors.

**Version**
The version of @swc/core: 1.2.82

[2021-08-26 18:54] mischnic opened #2165 "expr_simplifier replaces ternary expression with sequence (..., 0)"
**Describe the bug**

`expr_simplifier` replaces a ternary expression `... ? 0 : 1` with `(..., 0)`

**Input code**

[code]

**Config**

<details>
<summary>Details</summary>

[code]

</details>

**Current behaviour**

[code]

**Expected behavior**
The behaviour of the code shouldn't change.

**Version**

d975a197c906ba90485b6180ddcaf230f39170e0

**Context**
https://github.com/parcel-bundler/parcel

[2021-08-27 05:20] chenrui333 opened #2167 "homebrew installation support"
👋 heads up, I have [filed an PR](https://github.com/Homebrew/homebrew-core/pull/84075) of including swc into homebrew-core.

[2021-08-27 06:03] #2161 closed, assigned to kdy1

[2021-08-27 06:03] #2163 closed, assigned to kdy1

[2021-08-27 06:03] #2165 closed, assigned to kdy1

[2021-08-27 14:50] troy351 opened #2170 "Duplicate arguments name when has default value"
**Describe the bug**

**Input code**
[code]
**Config**

using default config of repl

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version**
The version of @swc/core: 1.2.83

**Additional context**
Add any other context about the problem here.
[code]

[2021-08-27 20:42] ofext opened #2171 "Minify options: properties.keep_quoted setting is ignored"
**Describe the bug**
`properties.keep_quoted` property from minify is ignored
**Input code**
Source
[code]

**Expected behavior**
If you process this code with swc, the resulting code is as follow:
[code]
As you can see, it replaced "content-type" with "c" and it also replaced the key names `"key1"` to `a` and `"key2"` to `b` , which is incorrect since the config: ```minify.mangle.properties.keep_

[2021-08-28 09:22] daflyinbed commented on #968
this problem seems to have been fixed.

ps: I failed to reproduce #2099 ,that may be another problem

[2021-08-28 13:33] danieltroger commented on #1922
@kdy1 from here: https://github.com/mdn/browser-compat-data/blob/main/javascript/operators/optional_chaining.json#L68>

[2021-08-28 18:13] dsherret commented on #2125
@sosukesuzuki have you started working on this? I'm eager to support it given that TS 4.4 is now out. If not, I can start working on it on Monday.

[2021-08-28 18:58] mischnic opened #2173 "TS bracket casts with JSX panics: `assertion failed: (left == right)`"
**Describe the bug**

[code]

**Input code**

[code]

**Current behavior**

On some older version of swc, this resulted in (this should parse fine)
[code]

When trying to reproduce this and using the current swc, it instead panics.

**Version**
The version of @swc/core: 97514a754986eaf3a227cab95640327534aa183f

**Context**
https://github.com/parcel-bundler/parcel/issues/6719#issuecomment-907557726

[2021-08-28 21:04] dsherret opened #2174 "Cannot parse arrow fn exprs in conditional expr cons and alt in this scenario"
**Describe the bug**

The following fails to parse in TypeScript.

Getting `Expected :, got , at 4:16`.

**Input code**

[code]

**Expected behavior**

Should parse.

**Version**

swc_ecmascript 0.58

[2021-08-29 00:23] sosukesuzuki commented on #2125
I've started to work! I'll do the rest of the work today.

[2021-08-29 02:48] overlookmotel opened #2175 "AST struct transfer, serialization, deserialization performance enhancement"
As mentioned in #2123 and #1392, `parse()` is currently quite slow.

SWC's Rust parser is of course extremely fast, but the bottleneck is passing ASTs back into JS.

I've done some experiments, and believe I may have the beginnings of a solution to speed it up by 5x or more, enough so it out-performs Babel at least.

https://github.com/overlookmotel/swc-parse-test

![1000 lines](https://raw.github

[2021-08-29 02:49] overlookmotel commented on #2123
Please see #2175 if you're interested. I've done some experiments into speeding up `parse()`.

[2021-08-29 02:50] overlookmotel commented on #1392
I think #2175 is relevant to this discussion. I've done some experiments into ways to speed up `parse()`.

[2021-08-29 05:39] kdy1 commented on #968
Closing as fixed by https://github.com/swc-project/swc/pull/2076

[2021-08-29 05:39] #968 closed

[2021-08-29 05:42] kdy1 commented on #2167
Thanks. I'll close this as it's not a bug of swc

[2021-08-29 05:42] #2167 closed

[2021-08-29 05:44] kdy1 commented on #2175
Yeah, if we can improve performance of passing ast, I expect the js plugin api to be really useful.

[2021-08-29 08:03] Brooooooklyn commented on #2175
Maybe deserialize via https://github.com/rkyv/rkyv in the wasm and convert into JsObject will be more faster.

[2021-08-29 12:02] mischnic opened #2177 "Automatic JSX runtime with Fragment and single child shouldn't use array"
**Describe the bug**

A React Fragment with a single child `<><div/></>` should use `_jsx()` and not have an array as `children`.

**Input code**

[code]

**Config**

[code]

**Expected behavior**
What Babel does:
[code]

**Current swc behaviour**
This produces a "each array child should have a key prop" warning: https://codesandbox.io/s/boring-dream-fqd4z?file=/src/App.js

[code]

**Version**
The

[2021-08-29 16:18] kdy1 commented on #2173
You should specify `tsx` based on the extension of the file.

[2021-08-29 16:28] mischnic commented on #2173
Yeah, we'll need to figure that out. But it should still not panic?

[2021-08-29 16:29] kdy1 commented on #2173
Oh, you are right.

[2021-08-29 20:40] #2173 closed

[2021-08-29 20:40] #2174 closed

[2021-08-29 20:40] #2177 closed

[2021-08-30 04:08] #2071 closed

[2021-08-30 04:08] #2164 closed

[2021-08-30 09:46] danieltroger commented on #2151
Hello, thank you for the fix. The REPL link now no longer leads to a white page. However, it now says `RuntimeError: unreachable executed`. Could you solve that too?

[2021-08-30 09:56] #1705 closed

[2021-08-30 16:13] hjkcai opened #2185 "Sourcemap shifting with multiline template strings in jest"
**Describe the bug**
The sourcemap has shifting when testing in jest with multiline template strings. This problem will disappear after removing `target` option in swcrc.

See the screenshot below:

![image](https://user-images.githubusercontent.com/731326/131369457-9df5db65-7a54-407b-942d-63a81d80163b.png)

However, I cannot reproduce if I use swc cli directly. Everything seems be fine when I upl

[2021-08-30 20:39] dsherret commented on #2125
@sosukesuzuki great work. Thanks for implementing this, @sosukesuzuki! 🙂

[2021-08-30 21:10] 71 opened #2187 "Expose internal parse APIs"
Hey, and thanks for your work on swc!

I'm trying to build a parser for a superset of JavaScript. Basically, it would allow `import` and `export` statements in a function context which can `yield` (and other features).

For now, this isn't possible. `Context` fields are not exposed, and thus a parser cannot be in an `is_generator` / `module` state simultaneously. Also, for more advanced changes (f

[2021-08-30 21:58] ofext commented on #2171
Can someone confirm if this is actually a bug or am I doing something wrong?

[2021-08-31 01:03] tmpfs opened #2189 "Consider making `MapWithMut` a public API"
I am using the `MapWithMut` trait for `take()` in `Fold`. I realize it is designed for `VisitMut` but I have a use case where it makes sense to use `take()` to prevent an additional `clone()`. The comments in  the file indicate it is not for public use yet there is documentation that it can be used when implementing `VisitMut` as an optimization in preference to `Fold`.

I have some *fallible func

[2021-08-31 07:39] kdy1 commented on #2189
Yeah, I felt that I should expose it while working on a transform for `next.js`.
But I should polish it before exposing.

[2021-08-31 10:23] overlookmotel commented on #2175
@Brooooooklyn rkyv looks great, in particular the zero-cost deserialization would be very efficient for getting an AST into `print()`.

But I'm afraid I don't understand your point about WASM. Can you possibly elaborate?

[2021-08-31 10:28] Brooooooklyn commented on #2175
From benchmark results before, the performance bottleneck in this scenario is `Create JsObject` in the non-JavaScript side.
And in my experience create `JsObject` in `wasm` is faster than in `Native` side.

[2021-08-31 10:31] overlookmotel commented on #2175
Thanks for quick reply? Are you suggesting that SWC would run as WASM in NodeJS, rather than via N-API? Or that you'd have a layer of WASM sitting in between JS and N-API?

Please excuse me if I have the terminology wrong. As I mentioned above, this is my first experience of Rust or Node native module development, so I am really just feeling my way here...

[2021-08-31 10:44] 71 commented on #2187
`Parse<T>` sounds great, yep!

As for `Context`, it makes sense that it wouldn't be completely exposed as it probably needs to uphold some internal invariants. I also like the idea of having methods that return new `Context`s, since those methods could validate invariants internally and possibly return `Result<Context, E>`.

In any case, if you want I can try submitting a PR adding these features.

[2021-08-31 10:46] overlookmotel commented on #2175
And maybe this is a really stupid idea but...

Do we need to serialize at all? The AST already exists in Rust's memory in a binary format with a well-defined schema (the Rust types). Could that memory be wrapped in a JsBuffer (without copy), passed to JS, and a deserializer in JS would parse this buffer and convert it into JS objects?

The JS deserializer could be generated programmatically from t

[2021-08-31 11:39] irvile commented on #2149
same here.
spark command still create source maps even `sourceMaps: false` and more in js.map **sources** field with **absolute path**.
i guess should be relative.

[2021-08-31 13:00] Brooooooklyn commented on #2175
simd_json has similar appraoch https://github.com/luizperes/simdjson_nodejs/issues/28

[2021-08-31 14:18] kdy1 commented on #2187
Can you make a PR?
I don't know the exact feature set you need, and exposing all would take lots of time.

[2021-08-31 14:20] kdy1 commented on #2175
I expect this to slow down operations by a margin.
Visitors in plugins are expected to visit all nodes.

[2021-08-31 14:26] kdy1 commented on #2175
I think we can use binary ser/de library like protobuf, which already has js-based deserializer.

[2021-08-31 14:45] #2189 closed

[2021-08-31 15:25] overlookmotel commented on #2175
Yes, there'd be no point in lazy-deserializing AST nodes if they're all going to be visited.

What I had in mind is to modify the implementation of the plugin system so it minimizes the number of nodes accessed.

For example, the [`ConsoleStripper` plugin example in SWC docs](https://swc.rs/docs/usage-plugin) only *needs* to visit a small fraction of nodes in an AST - `CallExpression`s and a fairl

[2021-08-31 15:32] overlookmotel commented on #2175
@kdy1 I tried using serde to serialize to bincode instead of JSON, but was getting errors. I'll give protobuf a go.

Can anyone advise if my idea of using the binary representations of AST nodes in Rust's heap as the source for deserializing is (in theory at least) possible? Maybe it's a bad idea, but I'm curious as to whether it's in the realm of possibility, or whether it falls under "no, it doe

[2021-08-31 19:12] mischnic opened #2191 "Unary operator used immediately before exponentiation expression"
**Describe the bug**

If a unary operator is used as the first operand of an exponentiation, then that operand needs to be wrapped in parentheses.

**Input code**

[code]

**Config**

[code]

and `"browserslist": "Chrome 90"`

**Expected behavior**
swc output = input

**Current behaviour**
[code]

results in
[code]

**Version**
The version of @swc/core: 1.2.83

**Additional context**
Came up in ht

[2021-09-01 02:03] Brooooooklyn commented on #2175
Here is a similar discussion happened in Deno: https://github.com/denoland/deno/issues/2121

[2021-09-01 03:43] yisar commented on #2175
deno used similar techniques to optimize in the past, but their JSON structure is much simpler than the AST structure of SWC.
The tree of SWC is very deep, which will bring challenges.

[2021-09-01 07:49] mischnic opened #2194 "{ "sourceMaps": true } not working"
**Describe the bug**

It doesn't create a sourcemap file.

**Input code**

anything

**Config**

[code]

**Expected behavior**
After running `swc index.js -d dist`, there should be a `dist/index.js` and `dist/index.js.map` file.

**Current behaviour**
No sourcemap is emitted.
`"sourceMaps": "inline"` works correctly though.

**Version**
The version of @swc/core: 1.2.83

[2021-09-01 11:06] overlookmotel commented on #2175
Thanks very much for this. Really interesting. I'll dig into it.

[2021-09-01 11:08] kdy1 commented on #2175
@overlookmotel Can you make a PR if it's good enough?
I can add some patches to the PR if required. (e.g. rust code)

[2021-09-01 11:36] overlookmotel commented on #2175
@kdy1 Yes I'd be happy to. And thanks for offer of help with the Rust code.

My plan was:

1. Benchmark different serialization frameworks (protobuf, bincode, cap'n proto, rkyv) on a small set of JS syntax and see which works faster.
2. Try to get the winner working for the entire set of AST nodes (I say "try" because I might need some help with that - the errors I was getting with serde/bincode w

[2021-09-01 11:43] overlookmotel commented on #2175
Sorry, one other question: Are the Typescript type definitions in [types.ts](https://github.com/swc-project/swc/blob/master/node-swc/src/types.ts) and Visitor class in [Visitor.ts](https://github.com/swc-project/swc/blob/master/node-swc/src/Visitor.ts) written by hand, or programmatically generated somehow from the Rust type definitions? If the latter, can you point me to the code which does this

[2021-09-01 11:57] kdy1 commented on #2175
Yes, I think compatibility with babel plugin is the most important.

But I don't expect js plugins to be speedy as rust plugins, because they can't be called in threads.
It's enough I think, as I'm going to provide lots of port of babel plugins by myself.

It's written by hand. I actually tried generating it, but I stopped because rust proc macro api is limited.

[2021-09-01 12:41] kdy1 commented on #2175
I absolutely do not mind :)
Thanks!

[2021-09-01 12:54] kdy1 commented on #2137
`hygiene_optimizer` is not required anymore.
With https://github.com/swc-project/swc/pull/2193 merged, simply using `hygiene` will be enough.

[2021-09-01 13:11] #1600 closed

[2021-09-01 13:17] dsherret opened #2195 "Static block with opening brace on next line fails to parse"
**Describe the bug**

Having a static block with the opening brace on the next line fails to parse.

**Input code**

[code]

[code]

**Expected behavior**

Should parse https://ts-ast-viewer.com/#code/MYGwhgzhAEAqCmEAu0DeAoaXrLEglsJthttAL7rlA

**Version**

swc_ecmascript 0.60

[2021-09-01 22:29] dbjorge opened #2196 "typescript compilation failure on arrow function properties of objects in ternary branches"
**Describe the bug**

With typescript parser syntax enabled, swc fails to compile an object defined in a branch of a ternary expression which includes a property whose value is an arrow function with a return type annotation. (whew, what a mouthful!)

**Input code**

[code]
[code]

**Config**

no .swcrc (`-C jsc.parser.syntax=typescript` in repro command above)

**Expected behavior**

Should compi

[2021-09-02 07:46] kitsonk opened #2198 "Panic on parsing TypeScript syntax"
**Describe the bug**

The following code will cause a panic when being parsed.  It isn't valid, but it should parse and allow diagnostics to be returned.

[code]

**Input code**

[code]

**Expected behavior**

No panic.

**Version**

swc_parser 0.66

**Additional context**

Ref: denoland/deno#11898

[2021-09-02 08:09] yisar commented on #2175
There is another way, that is, we modify the fake AST in the node layer, and then generate the smallest instruction set and pass it to Rust.

This is also a basic strategy of cross thread communication in the past. Its core point is to generate the minimum instruction set, anyway.

[2021-09-02 08:11] kdy1 commented on #2175
@yisar I don't think it will work. Even if it's implemented, it will be very slow becuase such api means we have to cross language boundaries frequently.

[2021-09-02 08:17] yisar commented on #2175
@kdy1 In fact, there is another another way, that is, If we can find a way so that Rust can communicate directly with V8 and bypass JS, which is also very good.

I don't know if node can do it, but deno does it.

https://github.com/denoland/serde_v8

However, please note that the structure of deno is very simple. It is usually just a queue containing function name and arguments.

[2021-09-02 08:23] Brooooooklyn commented on #2175
If using v8 api directly, we will lost ABI-stable which provided by Node-API

[2021-09-02 09:57] troy351 commented on #2170
I think this issue still exists in 1.2.84 somehow

[2021-09-02 10:16] kdy1 commented on #2170
Can you provide a reproduction case?

[2021-09-02 13:29] troy351 commented on #2170
Just the same input with the same output as before.

I'm using `@swc/wasm-web` by the way

[code]

outputs
[code]

[2021-09-02 17:51] waterlink commented on #1653
This is also affecting the default `typescript-fetch` generator of `swagger-codegen` when there are generic models with enums inside of them. Relevant template: https://github.com/swagger-api/swagger-codegen-generators/blob/master/src/main/resources/handlebars/typescript-fetch/modelGeneric.mustache

[2021-09-03 03:26] kitsonk opened #2201 "Support `FileName::Url(Url)` enum"
**Describe the feature**

In Deno, we have always used `FileName::Custom(String)` as the enum variant for our source maps, while in fact, everywhere else we use [Url](https://crates.io/crates/url/)s.  This isn't a "big" problem, but it does mean when we serialise a source map for a JSON representation of a source map (like to a base64 encoded string, or an external `.map` file) all of our sources

[2021-09-03 04:17] kdy1 commented on #2201
I'm fine with it, but please add `FileName::Internal(String)` too.
It's required but I didn't change it because it's a breaking change.

[2021-09-03 04:46] RyannGalea opened #2206 "'this' undefined in decorator function."
@kdy1

If you remember I was having issues with my Graphql project renaming classes, I have since upgraded to the latest version & it seems to have solved the renaming issue and I am able to get the project to compile and run. But if I change my settings to below I get the same issue arises.

[code]

When I run the app without the above setting it works but I still get issues with my decorator fun

[2021-09-03 04:55] #2201 closed

[2021-09-03 05:40] RyannGalea commented on #2206
Not sure if this is related or not, but I also have this issue pop in the same scenario, the 'HasRole' middleware causes this error, this wasn't an issue with the babel implementation

[code]
[code]
[code]

I did have global middleware which was giving me the same issue but I was able to rewrite it into a class, where I decorated it with @Service() 7 solved the issue, but it seems like a transpile

[2021-09-03 05:57] #2195 closed

[2021-09-03 07:36] Khachatour commented on #1461
hey @kdy1 do we have any updates on this? Do you plan on finishing this in `1.2.86`? Thanks in advance!

[2021-09-03 07:47] kdy1 commented on #1461
@Khachatour No to both. I have lots of tasks with higher priorities.

[2021-09-03 07:55] Khachatour commented on #1461
@kdy1 got you, maybe it would be better to put some freeze or similar label to this?

[2021-09-03 07:58] kdy1 commented on #1461
I don't think so. I don't use such labels for good reasons.

[2021-09-03 14:07] wessberg commented on #1461
@kdy1, you mentioned you had found a non-breaking solution recently?

[2021-09-03 14:08] kdy1 commented on #1461
Yes, I found one.

[2021-09-03 18:52] pbadenski commented on #2008
Looks that it's fixed in 1.2.84 🎉

THANK YOU!!!

[2021-09-04 06:46] #2008 closed

[2021-09-05 05:00] threehams opened #2208 "swc collapses multiple whitespace characters in JSX expressions."
**Describe the bug**
swc collapses two or more spaces into one space in JSX expressions. This causes unexpected formatting when using `white-space: pre`.

**Input code**
[code]

**Config**

[code]

**Expected behavior**

Whitespace is preserved. Compare output from swc:
[code]

to output from babel:
[code]

**Version**
1.2.84

**Additional context**
This case for this is ASCII art rendered in Reac

[2021-09-05 09:56] pan93412 opened #2209 "core-js definitions are not fully injected with useBuiltIns: usage"
**Describe the bug**

When using `env: mode: "entry"` with TypeScript and `Promise.any`, the output file should include not only `promise.any` module but also `esnext.agregate-error` module.

For reference: https://github.com/zloirock/core-js/issues/737 https://github.com/babel/babel/issues/10910

**Input code**

[code]

**Config**

[code]

**Expected behavior**

Considering the output file:

[cod

[2021-09-05 09:58] zloirock commented on #2209
Built-ins definition should be aligned with https://github.com/babel/babel-polyfills/pull/99

[2021-09-05 10:06] pan93412 commented on #2209
So, should we wait until it got merged?

[2021-09-05 10:22] zloirock commented on #2209
Not necessary. In this PR also should be:
- Removed `*.typed-array.*` methods from instance dependencies (they are in constructors dependencies)
- Removed `es.reflect.to-string-tag` from `Symbol.toStringTag` dependencies (it's mover to global `Reflect`)
- Added `IteratorDependencies` to instance `every`, `filter`, `find `, `flatMap`, `forEach`, `map`, `reduce`, `some`.

[2021-09-05 22:23] HKalbasi commented on #2092
Same issue.

@tmpfs I think you mean `npx swc . -d .`, yes? because spack doesn't have `-d`. And `swc` works with subdirectories but it has problem with `.` and do nothing.

[2021-09-06 00:29] tmpfs commented on #2092
@HKalbasi , yes sorry I meant `swc` not `spack`.

If there is a bug with handling `.` in `swc` please raise an issue for that, a workaround could be to use `$PWD` (assuming your shell sets it):

[code]

[2021-09-06 02:01] athrunsun commented on #702
@kdy1 There's nothing in the documentation about `baseUrl`, could you provide more details on this?

[2021-09-06 07:20] HKalbasi commented on #2092
@tmpfs Thanks, it works with `$PWD`. Is it possible to ignore `node_modules` folder?

[2021-09-06 07:25] HKalbasi opened #2210 "CLI doesn't understand `.`"
**Describe the bug**
`swc $PWD -d $PWD` works but `swc . -d .` do nothing.

**Version**

@swc/cli: 0.1.49
@swc/core: 1.2.84

**Additional context**
Originally from #2092

[2021-09-06 07:31] tmpfs commented on #2092
@HKalbasi, I think the `--ignore` option is what you want:

[code]

[2021-09-06 10:39] HKalbasi commented on #2092
`--ignore` doesn't work (I tried with `node_modules/**/*`, `node_modules/*`, `node_modules`, `"node_modules/**/*"`) but `exclude` from #466 works. From that issue, seems that `node_modules` should already being ignored. After some more problems, I gave up using `swc` and return to `tsc`. I think compiling whole root folder needs an special flag and swc isn't happy with passing `$PWD` (and it do no

[2021-09-06 13:36] pbadenski opened #2211 "name conflict between imports and underscore prefixed function-scoped properties"
**Describe the bug**

This is a regression - works fine for me in 1.2.74

During transpilation imports are renamed to file name prefixed with underscore. If you define a class property with the same name, it will instead overshadow the import.

This works fine if you define simple variable with the same name - transpiler resolves the conflict by using number as a suffix.

**Input code**

bar.ts
[c

[2021-09-06 18:45] Austaras opened #2212 "Transpile arrow function like babel do"
... instead of `bind`

There're mainly two benefits:
1. Performance, especially in environments where `bind` is also not available
2. pmmmwh/react-refresh-webpack-plugin#496

[2021-09-07 00:55] tmpfs commented on #2092
Thanks for the heads up @HKalbasi, if you are able to put together an MVP reproducing the issue it would be helpful :pray:

@kdy1, this sounds like a bug to me, I think `swc` should support both `.` and `--ignore node_modules` for this use case.

[2021-09-07 01:04] zigazeljko opened #2213 "Unary minus inside multiplication produces invalid code when minified"
**Describe the bug**

If a unary minus is used as the first operand of multiplication that is used as the second operand of subtraction, there needs to be a space between the two minuses.

**Input code**

[code]

**Config**

[code]

**Expected behavior**

[code]

**Current behavior**

[code]

**Version**
The version of @swc/core: 1.2.84

[2021-09-07 01:17] zigazeljko opened #2214 "Empty return inside nested conditionals is optimized incorrectly"
**Describe the bug**

When using an empty return statement inside nested conditionals, the optimized output is incorrect.

**Input code**

[code]

**Config**

[code]

**Expected behavior**
swc output = input

**Current behavior**

[code]

**Version**
The version of @swc/core: 1.2.84

[2021-09-07 01:36] tmpfs commented on #1589
Hey @kdy1, I keep looking at the Typescript CLI entry points and wonder why they exist and it's not just straight Rust binaries using `clap` (or `structopt`).

Is there functionality that is enabled by having the command line programs exposed as node executables? Is it part of a plan for a Javascript-based plugin system maybe?

I just wanted to look into the reason why `--ignore` isn't working for

[2021-09-07 04:31] kdy1 commented on #1589
No. It's because to make managing version more convenient for the end-user

[2021-09-07 04:32] kdy1 commented on #702
@athrunsun You can refer to documentation for `baseUrl` of typescript.

[2021-09-07 08:58] JanJakes commented on #2050
@kdy1 This has no specific estimate or priority, right? Are the paths-related issues small fixes or large issues? Since decorators are fixed now I can't wait to test SWC on our backend codebase but unfortunately it's all path-aliased.

[2021-09-07 10:31] kdy1 commented on #2050
@JanJakes

It has higher priority than issues without milestone.

I don't expect it to be a large task.

[2021-09-07 12:19] gz65555 opened #2216 "Loose Mode is not Working"
**Describe the bug**

I set [jsc.loose](https://swc.rs/docs/configuring-swc#jscloose) true, but there is no difference with `jsc.loose = false`.

`jsc.loose` is not working here.

**Input code**
[code]

**Current behavior**
[code]

**Expected behavior**
While I use `babel` and `@babel/preset-typescript`, the result is:
[code]

**Version**
The version of @swc/core: 1.2.84

[2021-09-07 13:57] vjpr commented on #702
The problem with the current code is that `base_url` is not used in the `TsConfigResolver`.

[code]

If we have:

_src/foo/index.js_

[code]

It should resolve `@src/index` to absolute path `<base_url>/index`, and then determine the relative path from `src/foo/index` to `<base_url>/index`.

https://github.com/swc-project/swc/blob/427df9a979dee9f0737c3234085a52f7a79ea19a/ecmascript/loader/src/resol

[2021-09-08 02:18] kitsonk opened #2218 "Inlining sources in the source"
**Describe the feature**

`tsc` and other transpilers allow you to choose if the sources are embedded in the source map.  Prior to #2159, sources were automatically embedded in the source map, irrespective of source, and post #2159 the sources are not included if the source is "real".  While it might be a valid assumption that the sources are available in the "real" path, that is not generally the

[2021-09-08 07:25] Brooooooklyn opened #2219 "Do not generate re-export for type imports"
**Input code**

[code]

**Config**

[code]

**Expected**

[code]

**Actually**

[code]

**Version**
The version of @swc/core:

`1.2.84`

[2021-09-08 09:45] #2213 closed

[2021-09-08 09:45] #2214 closed

[2021-09-09 04:25] yisar commented on #1461
@kdy1 Any progress here? I have to use esbuild to do secondary packaging, This is not a good way.

[2021-09-09 05:06] #2219 closed

[2021-09-09 05:13] kdy1 commented on #1461
@yisar No. I have lots of tasks with higher priority.
I got paid, and issues related to the company have higher priority.

[2021-09-09 07:58] kdy1 commented on #2198
@kitsonk Is this valid syntax? If so, the AST definition of `TsImportType` is wrong.

[2021-09-09 08:39] tido64 opened #2223 "Error recursion limit exceeded"
**Describe the bug**

While evaluating whether we can use swc, I got "recursion limit exceeded" in our somewhat large codebase:

[code]

**Input code**

Unfortunately, this is proprietary code I cannot publish here.

**Config**

[code]

**Expected behavior**
No recursion limit is hit.

**Version**
The version of @swc/core: 1.2.85

**Additional context**
I realize this may be hard to reproduce with

[2021-09-09 08:40] kdy1 commented on #2223
I can't debug it without code.

[2021-09-09 08:42] kdy1 commented on #2223
If you can't reduce it, can you send the input via email?
My email is kdy1997.dev@gmail.com

[2021-09-09 08:51] kdy1 commented on #2223
Reopening as it can be fixed without input code. (It's serde error, and I can increase limit)

[2021-09-09 09:02] kdy1 commented on #2211
Where does `this._bar = ()=>(0, _bar).bar()` come from?
It's not reproducible with the input you provided.

[2021-09-09 10:42] pbadenski commented on #2211
Sorry - this error gets throw when I run `node_modules/.bin/swc-node foo.ts`:

[code]

[2021-09-09 11:11] kfirba commented on #2050
Eagerly waiting for this to be resolved :)

[2021-09-09 11:19] kdy1 commented on #1461
I'll fix this with the next version.

[2021-09-09 11:19] kdy1 commented on #2050
I'll fix this with the next version.

[2021-09-09 11:39] petrzjunior opened #2224 "Decorated class .name is broken in class properties"
Follow-up to #1279
**Describe the bug**
When decorating class, property initalizers get wrong class name.
**Input code**
[code]
**Output**
[code]
**Config**

[code]

**Expected behavior**
I expect `TestClass.name` to stay as `TestClass.name`. Instead, in case of initialized class property, I get `_class.name`, which throws error at runtime. Initializing property in constructor works as expected. N

[2021-09-09 11:45] #2198 closed

[2021-09-09 11:45] #2191 closed

[2021-09-09 11:45] #2196 closed

[2021-09-09 11:45] #2212 closed

[2021-09-09 11:45] #2223 closed

[2021-09-09 11:48] tido64 commented on #2223
Thanks for the quick fix. I wasn't able to create a minimal repro but I'm glad you figured it out.

[2021-09-09 17:48] TheMallen opened #2225 "Top level await with es2017 target still outputs generator boilerplate"
**Describe the bug**
When using `es2017`  as a target and `topLevelAwait: true`, we see top level awaits preserved (as expected), but we *also* see the actual functions being awaited transformed into regenerator-runtime functions. This seems wrong, as if the browser won't choke on the preserved top level `await` it also shouldn't need that boilerplate.

**Input code**
[code]

**output code**
[code

[2021-09-10 06:33] kdy1 commented on #1461
Seems like a huge change including the reimplementation of `regenerator` pass.
Also, I found that `regenerator-runtime` is quite big while `__generator ` of `tslib` is quite small.

I think this requires more investigation about drawbacks of `tslib.__generator`.

[2021-09-10 06:43] #2225 closed

[2021-09-10 06:44] wessberg commented on #1461
Yes, `regenerator-runtime` is doing a lot of things. The size of it, however, doesn't change depending on whether or not it is referenced via an import declaration. This is not a "one or the other" type of situation, this can be divided into two things. One, you want to replace `regenerator-runtime` with something more compact. And the other is this one. Once again swc is using `regenerator-runtim

[2021-09-10 06:49] kdy1 commented on #1461
Inlining `regenerator-runtime` is not an option. There are various reasons, and babel also does not inline `regenerator-runtime`, too.

The solution I mentioned above is about using `__generator ` of `tslib`.
Postponing as this would take really lots of time.

[2021-09-10 06:56] kdy1 commented on #1461
To be exact, reimplementing generator pass is fine, but I think I need to investigate a lot about generator helpers.
I think `regenerator-runtime` is huge because of good reasons, and I'm not aware of such reasons.

[2021-09-10 06:56] frosh-li opened #2228 "wrong this convert when use extend"
**Describe the bug**

When use a class extend

the this expression in class property has a wrong behavior.

**Input code**
[code]
**Config**

[code]

**Expected behavior**

When use babel to convert.
The core code is

[code]

But when use swc, the core code is below:
and please notice the this.data and _this.data
I expect this.data not _this.data.

[code]

**Version**
The version of @swc/core:

**

[2021-09-10 07:08] wessberg commented on #1461
To be precise, Babel only adds require calls/import statements for things like `@babel/runtime/regenerator` when you use the `runtime` transformer. Without it, it expects `regeneratorRuntime` to be available in global scope, which too is less than ideal. Of course, the concern is that a very large helper will be inlined across many files, which pollutes them quite a lot. However, I also think ther

[2021-09-10 21:53] hkd987 opened #2232 "Compile Fails When Called Method Has Deep Destructed inputs."
**Describe the bug**
When calling a method that has multiple object inputs as separate inputs. SWC fails to compile when the objects are deconstructed deeply. To give context this is a graphql resolver that is being called.
**Input code**

[code]

When changing the called method below the code compiles

[code]

**Error Message**

[code]

**Config**

[code]

**Expected behavior**
Expect that when c

[2021-09-11 09:03] mischnic opened #2233 "`@swc/core@1.2.86` is missing"
`@swc/core@1.2.86` is missing on npm.
`@swc/wasm@1.2.86` is published correctly.

The failed workflow: https://github.com/swc-project/swc/actions/runs/1223666628

[2021-09-11 09:05] mischnic opened #2234 "Typescript `import = Namespace` isn't transpiled correctly"
**Describe the bug**

https://www.typescriptlang.org/docs/handbook/namespaces.html#aliases

**Input code**

[code]

**Config**

[code]

**Current behavior**
[code]
(`polygons` is undefined)

**Version**
The version of @swc/core: 1.2.85

**Additional context**
https://github.com/parcel-bundler/parcel/issues/6902

[2021-09-11 10:31] djalbat opened #2236 "Possible bug in the sourcemap generation"
I have put together a small project on GitHub to show the bug in action:

https://github.com/djalbat/sourcemaps-bug

For the sake of brevity I will not repeat the bug description here.

One thing I would add is that I doubt the the problem actually lies with SWC, but I am not sure.

[2021-09-11 16:37] djalbat commented on #2236
I have done some more digging and it appears likely that the bug is with SWC and not with ESBuild. If I build with Babel rather than SWC...

[code]
...then both ESBuild and Browserify produce a bundle that correctly returns the `example.js` file without having to load it from the server. Here is a screen shot for a bundle created with a combination of Babel and Esbuild:

<img width="668" alt="Scre

[2021-09-11 17:10] djalbat commented on #2236
If I build with Babel as opposed to Browserify...

[code]
...then both ESBuild and browserify produce a bundle that correctly generates the `example.js` file without needing to load it from the development server, so the problem does, at first sight at least, appear to be with SWC rather than ESBuild.

[2021-09-11 17:17] djalbat commented on #2236
Here is the transpiled `example.js` file produced by SWC:

[code]

Here is the unencoded and formatted source map:

[code]

For comparison, here is the transpiled file produced by Babel:

[code]

Here is the unencoded and formatted source map:

[code]

So the obvious difference is that Babel provides the original content whereas SWC does not, which makes perfect sense.

[2021-09-11 17:18] djalbat commented on #2236
I can amend my own tool to add the original content to the sourcemap if necessary, but has it not been the case in the past that SWC has done this?

[2021-09-11 17:25] djalbat commented on #2236
This bug, referenced from one of your issues elsewhere, seems to be related:

https://github.com/getsentry/rust-sourcemap/pull/25

But it does not give me enough to go on to rectify my problem.

[2021-09-11 19:35] srmagura opened #2237 ""Unexpected token `div`. Expected jsx identifier" in .tsx file"
**Describe the bug**
swc fails to compile a React component that defines a function with a return type inside a JSX expression.

[code]

**Input code**
[code]

**Config**
Doesn't seem to matter much. Same error whether I use no config file or
[code]

**Expected behavior**
The code should compile without error. The TypeScript compiler can compile this code.

**Version**
The version of @swc/core: 1.

[2021-09-12 01:02] hyrious commented on #2236
It seems SWC did not parse input sourcemap well, which means giving swc a _transpilered_ source with sourcemap. Here's a simple reproduction:

[code]
Notice the result, it contains 2 `sourceMappingURL`, which is incorrect.
If feeding the a.js to esbuild, it will produce exactly the same output as a.ts.

[2021-09-12 08:56] djalbat commented on #2236
I see your problem, although it does not directly related to mine. @kdy1, what do you think of my issue?

[2021-09-12 09:28] hyrious commented on #2236
@djalbat Yours is caused by some bug in your `watchful-cli`, I'll point it out in your repo.

[2021-09-12 10:15] djalbat commented on #2236
Thanks! As I mentioned above, I can add the `sourxeContent` property to the sourcemap myself if necessary. But I would rather avoid this, because it will slow transpile times down considerably.

[2021-09-12 10:25] hyrious commented on #2236
@djalbat I look around the swc's config and see no option to include `sourcesContent` in result.

Without this field, browser can only get the original file by fetching it from relative path to the original file unless `sourceRoot` exists (in which case the source is related to the root).

Now let's say you have `bundle.js` in the root path (`/bundle.js`), whose sourcemap said: my source file is `

[2021-09-12 11:42] djalbat commented on #2236
I understand this already. Please read what I have written below carefully:

It is certainly the case that SWC had added a `sourceContent` property to the source map in the past. Look here:

https://github.com/djalbat/necessary/blob/master/lib/utilities/shell.js

This project is transpiled with SWC version 1.2.52.

If you un-encode and format the sourcemap in this file you will get:

[code]
You ca

[2021-09-12 15:49] srmagura opened #2240 "@swc/jest does not transform files in node_modules in CI environment"
**Describe the bug**
I am using `@swc/jest` to run my tests. There's a TypeScript library (`@interface-technologies/iti-react`) in my `node_modules` that has not been transpiled yet. I've set `transformIgnorePatterns` in `jest.config.js` so that the Jest transformer converts the library's TypeScript code to normal JavaScript using CommonJS modules.

Everything works when I run locally. But when my

[2021-09-12 17:57] stefee commented on #2233
It looks like it has still failed.

[2021-09-12 18:18] stefee commented on #2050
I am still able to reproduce this issue or a similar issue using the latest commit in this repo and building locally (since it is not published yet to npm).

---

I am building using `@swc/cli` with the following:

[code]

`server/.swcrc` contains this:

[code]

`server/index.ts` contains this:

[code]

`server/datadog/tracing/init.ts` contains this:

[code]

---

The output:

`dist/server/index.j

[2021-09-12 22:18] stefee commented on #2050
I've provided a better text fixture in https://github.com/swc-project/swc/pull/2241 - I might not be able to work on the fix though, I'm a bit rusty when it comes to rust!

[2021-09-13 01:58] clarfonthey opened #2242 "HTML parsing/minification as well?"
Right now, the program supports parsing both ECMAScript and CSS -- it seems like a logical step would be to support HTML as well? I'm not sure if this is on the roadmap or not, but I figured I'd mention it here since I didn't see anything anywhere mentioning it.

Given a full HTML DOM, it would be pretty easy to create a rudimentary version of `uncss` as well, which could potentially save space fo

[2021-09-13 04:23] onichandame commented on #657
Where are we tracking the progress on the type emitter?

[2021-09-13 05:15] tmpfs commented on #1589
Thanks, that helps! I will try to find some time to tackle this one as I think it would simplify things quite a bit - we should be able to remove out quite a bit of typescript :+1:

I assume you would prefer to use `clap` over `structopt`?

[2021-09-13 05:16] tmpfs commented on #2124
Hi @kdy1, anything I can to to help move this along? Really keen to see what the next error is :+1:

[2021-09-13 05:35] kdy1 commented on #657
@onichandame There's no one, mainly because it will not be open sourced.

[2021-09-13 08:09] kdy1 commented on #2124
@tmpfs I'm not sure, because the issue isn't fixed yet because I have lots of tasks to do.

[2021-09-13 10:42] mawart opened #2243 "swc generates incorrect code when it encounters a function and a namespace with the same name (similar issue as #1515)"
Hi guys, thank you for the great work so far!

**Describe the bug**

On some files our Typescript codebase that use declarative merging on functions and namespaces, swc generates code that crashes with SyntaxError: Identifier has already been declared. These files have a TS function and namespace with the same name, which is allowed in TypeScript.

**Input code**
[code]

**Config**

[code]

**Expe

[2021-09-13 13:02] djalbat opened #2244 "Omitting the `sourcesContent` property from the sourcemaps breaks Browserify and ESBuild"
SWC has always added a `sourcesContent` property to source maps in the past. For example:

https://github.com/djalbat/necessary/blob/master/lib/utilities/shell.js

This project is transpiled with SWC version **1.2.52**.

If you un-encode and format the source map in this file you will get:

[code]
You can clearly see the `sourcesContent` property.

If I now transpile this project with the latest v

[2021-09-13 13:03] djalbat commented on #2236
I am closing this issue and replacing it with the following issue...

https://github.com/swc-project/swc/issues/2244

...where the bug is stated more clearly and there is no need to clone another repository.

[2021-09-13 13:04] kdy1 commented on #2244
Yes, I stopped adding contents because there's `sources`

[2021-09-13 13:05] kdy1 commented on #2242
Will it be useful?
I'm mot sure.
Can you suggest some usecases?

[2021-09-13 13:10] kdy1 commented on #2244
Yes. I'm aware of it.
Why do they not use `sources`?
I think they should handle `sources`.

[2021-09-13 13:15] djalbat commented on #2244
Because, as I point out above, the source files referenced in `sources` are not necessarily available, even for project files, and almost certainly not available for package files. Both presuppose that the development server is able to serve them and in practice this is almost never the case.

[2021-09-13 13:19] kdy1 commented on #2244
So they does not handle even if it's possible to do so?
What you said can be correct for browsers, but it's not correct for bundlers.

[2021-09-13 13:22] kdy1 commented on #2244
Actually I removed `sourcesContent` because I got a request from webpack developer. Webpack handles it correctly, and there's nothing blocking browserify or esbuild from handling sources, like webpack.

[2021-09-13 13:28] djalbat commented on #2244
If you only set the `sources` property rather than provide the source file by way of the `sourceContent` property, the browser has no choice but to request the source file from the development server, unless the source file is contained in the bundle itself. This, as I understand it, is never the case for any bundler. The Webpack bundler typically runs in tandem with its own development server, in

[2021-09-13 13:32] kdy1 commented on #2244
I agree that swc should support configuring it, but it's for users who directly uses it.

[2021-09-13 13:40] djalbat commented on #2244
You write:

Does that mean you would consider putting it back? If so, I would be very grateful.

You then write:

Forgive me but I am not quite sure what you mean here. If you mean that you need to explicitly instruct SWC to include the `sourceContent` property then I have absolutely no problem with that.

With this in mind, currently I pass an options object to SWC with the following properties:

[2021-09-13 13:48] kdy1 commented on #2244
Yes, and I expect the name of option to be `inlineSourceContents`.

[2021-09-13 13:53] djalbat commented on #2244
Okay, great. Thank you very much.

By the way, it is easy for me to fix this problem anyone using SWC with my tool. See here:

https://github.com/djalbat/watchful-cli/blob/master/bin/utilities/transpile.js#L91-L127

I call your `transformFile()` API function and get an object with `code` and `map` properties back. So I could simply open the file myself, call `transform()` instead and add the sourc

[2021-09-13 14:24] srmagura opened #2246 "@swc/jest not transpiling a workspace dependency"
**Describe the bug**
From the README of the minimal repro:

exports testVariable. package-b has a single test which imports testVariable and checks that it is defined.

**Input code**
Minimal repro with instructions to reproduce the issue:
https://github.com/srmagura/swc-repro2

**Config**

[code]

**Expected behavior**
swc should transpile `package-a/index.ts` into a CommonJS module. The Jest tes

[2021-09-13 14:25] srmagura commented on #2240
Closing in favor of #2246.

[2021-09-13 14:25] #2240 closed

[2021-09-13 14:59] djalbat commented on #2244
Your option should probably be `inlineSourcesContents` to mirror `sourcesContent`.

[2021-09-13 20:12] dsherret commented on #2160
The first example seems fixed. The second example I get `Line 1, column 42: Expected ident`

[2021-09-14 02:31] #2218 closed

[2021-09-14 02:31] #2244 closed

[2021-09-14 04:48] joonseokhu opened #2248 "Unexpected behavior when there's try-catch block in async function"
**Input code**

[code]

**Expected behavior**
- Should compile successfully but makes TS Error `TS2571: Object is of type 'unknown'.`

**result**
- `Error: Can't resolve 'regenerator-runtime'` if I haven't installed `regenerator-runtime`
- Doesn't make any error if I've installed that.

**Version**
The version of @swc/core: 1.2.85

[2021-09-14 05:48] kdy1 commented on #2248
You have to install `regeneraor-runtime` if you target es5.
Maybe related to https://github.com/swc-project/swc/issues/1461

[2021-09-14 05:48] #2248 closed

[2021-09-14 06:41] kdy1 commented on #2243
Please provide more input.

https://www.typescriptlang.org/play?#code/KYDwDg9gTgLgBAMwK4DsDGMCWEVwMIQA20AzgBQC2wFARsFAFz5GkB0A0sAJ4AqXYwAJRMCxKCTgBvAFBw5cKMBhIouUWwBqAQ0JJgAMWiVqdKIIDc0gL7TpoSLDgUIAEySFgzMRJny496HgYfk9OXhC4AF44AGtuCAQ4YIEEuG1dYABZLTBLWXkAxzQcEnh0vWywKKl8vzkAJWAXJkk4ADcdPSYABlZugBo4Qi06QiYAckaXcbgrftq6gCEMlvbO4CYARj7B4dGJ5b0ZuYW-AHFFYBRVjpW4ACYdoZHgMbhxi+Ar4-m-KzgtBJiihSnk-IV4MDSml

[2021-09-14 07:30] joonseokhu commented on #2248
1. I configured target dialect as ES2018 in `tsconfig.json`, and didn't configure `.swcrc` at all. So, any plan to respect `tsconfig.json` by default?
2. It seems that it builds well when I configured target to dialect higher than ES5, however in this case, It should emit a type error nevertheless the build was successful.

[2021-09-14 07:38] kdy1 commented on #2248
1. There's a plan.
2. swc does not check types.

[2021-09-14 14:02] stefee commented on #2050
I am doing some more testing around the issue we are experiencing - the bug seems to be more nuanced than it initially appears, and it seems to be at least tangentially related to `<file ...>` and `--out-dir` on the CLI.

We have the following file structure:

[code]

If I run the following from the root dir:

[code]

Then the resultant file tree is this: ✅

[code]

However, if I set cd to server

[2021-09-14 14:50] clarfonthey commented on #2242
I mean, I already gave one. Being able to minify DOM is the other use case but I don't think that is as useful as being able to check what's used in it like in the case I mentioned.

[2021-09-14 16:38] #2233 closed

[2021-09-14 17:55] stefee commented on #2050
Just to confirm, we are still experiencing the issue(s) on v1.2.87 - I will create a GH repo with a minimal reproduction soon to share.

[2021-09-14 18:02] stefee commented on #2050
Here's our repro: https://github.com/stefee/swc-issue-repro-2050

[2021-09-14 19:17] vjpr commented on #2050
Repo not accessible.

[2021-09-14 19:19] stefee commented on #2050
@vjpr Woops! Try again now.

[2021-09-14 19:58] kdy1 commented on #2242
I'm not going to work on this near future, because there's no user actually requires this.

[2021-09-15 06:19] kdy1 commented on #2232
Are you using wasm?
I can't reproduce this using `@swc/core`

[2021-09-15 07:40] mischnic opened #2253 "Wrong sourcemap mapping for string literals"
**Describe the bug**

1. Empty strings don't get mapped at all
2. The mapping is offset by one (the first string character in the output is mapped to the `"` in the input)

<img width="1119" alt="Bildschirmfoto 2021-09-15 um 09 38 58" src="https://user-images.githubusercontent.com/4586894/133391291-85a07100-8b55-4142-a658-4f58e17acb9e.png">

**Input code**

[code]

**Config**

[code]

**Version**

[2021-09-15 07:46] #2228 closed

[2021-09-15 07:46] #1653 closed

[2021-09-15 07:46] #2234 closed

[2021-09-15 08:06] mischnic opened #2254 "minify with `module: true` should inline top level variables"
**Describe the bug**

...as the title says...

**Current behaviour**

[code]

**Expected behavior**

like terser:

[code]

**Version**
The version of @swc/core: 1.2.87

[2021-09-15 08:40] mawart commented on #2243
Hi,

I am sorry, I manually changed the code snippet as it was part of a large fragment, but did not check its correctness. The correct code should be:

[code]

[2021-09-15 10:15] stefee commented on #2050
I have had a revelation - our `.swcrc` was missing the `baseUrl` property and only using `paths`. With the fix introduced in 1.2.87 this works as expected if we add the `baseUrl`. 🎉

I have updated my repro repository to include repro-3 and repro-4 which are identical to repro-1 and repro-2 but include the `baseUrl` - you can see that this resolves the issue and now `dist` has the correct import p

[2021-09-15 13:36] hkd987 commented on #2232
@kdy1, I am not using WASM but using typescript however looks like you were able to find and resolve the issue. Thanks.

[2021-09-15 13:38] kdy1 commented on #2232
I think I closed it after testing your input, not fixing bug.

[2021-09-15 13:58] hkd987 commented on #2232
Wonder if it makes any difference that the method that was having the this issue was on an object similar to below....

[code]

[2021-09-16 03:22] kdy1 commented on #2050
@JanJakes Can we close the issue?

[2021-09-16 06:06] kdy1 commented on #2232
@hkd987 The input you provided is wrong, because there's no body.

[2021-09-16 06:13] kdy1 commented on #2232
And I verified that swc works well with your input

[2021-09-16 06:13] #2232 closed

[2021-09-16 06:53] #2088 closed

[2021-09-16 07:33] SoloJiang opened #2257 "minify throw error since 1.2.85"
![image](https://user-images.githubusercontent.com/14757289/133569741-56a4825e-6fa4-4b8e-a0ff-68ee6e9eb389.png)

[2021-09-16 08:07] stefee commented on #2050
I think the baseUrl prop is missing from the docs - shall we fix that before closing this?

[2021-09-16 08:25] kdy1 commented on #2257
Please post some input code.

[2021-09-16 08:28] kdy1 commented on #2050
@stefee I added it to the documentation.

[2021-09-16 08:29] stefee commented on #2050
👍🏻

[2021-09-16 08:31] SoloJiang commented on #2257
You can see it https://github.com/SoloJiang/minify-error

```npm run build``` and start a http-server in the build dir.

[2021-09-16 09:35] mischnic opened #2261 "Missing refresh signature for hook calls outside of assignments"
**Describe the bug**

If a React hook call isn't assigned but instead used in an expression, then the refresh transformer doesn't seem to recognize it and create a hash.

(This is a valid hook call, and the React Hooks eslint rule doesn't complain)

**Input code**

[code]

**Config**

[code]

**Current behaviour**

[code]

**Expected behavior**
With the offical `react-refresh/babel` plugin:

[code

[2021-09-16 09:57] vjpr commented on #2050
This didn't seem to fix my issue.

[code]

[code]

[code]

_lib/foo/index.js_

[code]

Actual: -
Expected: +

---

`@src/index` resolves to `<base_url>/index.js` = `src/index.js`

`src/index.js` relative from `src/foo/index.ts` = `../index.js`

I also use `rootDir: '.'` in tsconfig. Maybe this is a setting that is missing in swc.

[2021-09-16 10:08] SoloJiang opened #2262 "minify remove necessary code"
Example:

https://github.com/SoloJiang/minify-remove-necessary-code

You can start a http-server in the lib dir, and see `esm is not defined`, but you can see the source, esm is defined.

[2021-09-16 10:25] stefee commented on #2050
You could try and see if either of these work:

[code]

[code]

[2021-09-16 12:09] vjpr commented on #2050
This works:

[code]

I think the missing config option is `rootDir` if you want to have parity with `tsconfig`.

[2021-09-16 12:12] vjpr commented on #2050
Also, if I use es6 modules, the aliases don't work.

[code]

[2021-09-16 13:18] JanJakes commented on #2050
@vjpr That's https://github.com/swc-project/swc/issues/1943.

@kdy1 From a quick try it seems to work for me! Thanks! I'm not 100% sure if it behaves exactly as TypeScript does (i.e. in cases like https://github.com/swc-project/swc/issues/2050#issuecomment-920845548) but that can be covered by other issues, I guess.

[2021-09-16 13:19] #2050 closed

[2021-09-16 13:22] vjpr commented on #2050
Is there an issue to track making it behave the same as tsconfig?

[2021-09-16 13:42] JanJakes commented on #2050
@vjpr I don't think so as we don't know if/how the behavior differs at the moment. If you have a reproduction of some differences between SWC and Typescript path handling, it would be great to describe them in a new issue, I guess.

[2021-09-16 13:50] dsherret opened #2264 "JSX text that looks like a comment is collected as comments"
**Describe the bug**

Given the following JSX code:

[code]

The leading and trailing comment maps end up like so:

[code]

**Expected behavior**

This is JSX text that happens to look like a comment and should not end up in the comment maps.

[2021-09-16 15:05] hkd987 commented on #2232
I did not provide the method body for brevity sake so that we could focus on the issue at hand only.

[2021-09-16 16:04] hkd987 commented on #2232
Something around this is blocking compile, I just cant put my finger on the exact issue. This is when using https://www.npmjs.com/package/@swc/jest

[2021-09-17 08:28] dimooze commented on #1625
Hello,

I have a similar problem when using tsx and angle bracket assertion:

[code]

[code]

[2021-09-17 08:28] nayurin opened #2265 "Variable missing after compiled duplicate named enum objects on different namespace"
Hi guys, thanks a lot for these excellent efforts so far.

**Describe the bug**
Variable missing after compiled duplicate named enum objects on different namespace.
Here's a minimal re-production code and compares between tsc and swc.
In this case, it seems a ```var DUPLICATED_ENUM``` missed by swc compiling.

**Input code**
[code]
**Config**
[code]

**Expected behavior**
Same as tsc or insert the

[2021-09-17 08:34] kdy1 commented on #1625
@dimooze You can't use type casting syntax in `.tsx` files

[2021-09-17 08:38] dimooze commented on #1625
Yes ! But i'm currently working on a plugin on a project with `.tsx` and `.ts` files. Should i split files ? With a specific config for those two extensions ?

[2021-09-17 08:43] kdy1 commented on #1625
@dimooze You don't have to specify the config, but you have to split it if you want to use such syntax. It's a typescript spec.

[2021-09-17 08:53] dimooze commented on #1625
Arff yes i feel dumb 😓
Thank you for your quick answers !

[2021-09-17 14:58] bfaulk96 commented on #657
Do you mean this feature won't be available for use in other projects? Or simply that the code itself won't be open-sourced?

[2021-09-17 15:05] kdy1 commented on #657
Code will not be open sourced, and using it in/with other projects will be restricted based on the license model.

[2021-09-17 15:10] bfaulk96 commented on #657
Makes sense, that's totally fair. Nice work so far on swc!

[2021-09-17 21:46] unlight commented on #2117
Issue on `class-transformer` side https://github.com/typestack/class-transformer/issues/796 I suppose invalid, and it should be fixed in swc.

[2021-09-18 07:52] #2253 closed

[2021-09-18 07:52] #2243 closed

[2021-09-18 13:02] aaaristo opened #2267 "Pass newOptions to plugin invocation"
**Describe the feature**

In order to implement something like [babel-plugin-codegen](https://github.com/kentcdodds/babel-plugin-codegen) it would be useful to have newOptions passed down to the plugin so that it can have the filename to resolve other modules via require.

**Babel plugin or link to the feature description**
https://github.com/kentcdodds/babel-plugin-codegen
https://github.com/swc-

[2021-09-18 13:52] stewartmcgown opened #2269 "swc stripping non-file extensions from imports when using paths + commonjs"
**Describe the bug**
Compiling a NestJS project with swc leads to some imports having their trailing filenames cut if the filename uses periods. As far as I can this is only happening when using the `paths` property and the `commonjs` module type. Using paths in combination with ES modules does not result in this error. I can also replicate this when using `umd` modules.

For example:
[code]

Comp

[2021-09-18 14:16] aelbore commented on #2126
@kdy1 this works if you set `baseUrl` to `src` then adjust the paths
Maybe its a matter of adjusting the `baseUrl`

This does not work
[code]

This will works
[code]

[2021-09-18 14:20] aelbore commented on #2126
@kdy1 another thing is if you set the `type` to `module` in the `package.json`  it will not work

[2021-09-18 14:22] aelbore commented on #2050
you check this also #2126

[2021-09-18 15:51] aelbore commented on #2126
@kdy1 I know now, the `baseUrl` should be where the code will use, then the `paths` should adjust to the baseUrl <strong>`dynamically`</strong>

for example
if i add a folder in the `src/folder-b` the `baseUrl` should be `src/folder-b`

[2021-09-19 11:46] kdy1 commented on #2126
@aelbore Current implementation uses `baseUrl`, and `paths` is adjusted based on it.
It sounds like the current implementation is correct, but I don't think it's the case.

[2021-09-20 10:14] IWANABETHATGUY commented on #2151
I guess this is because env option rely on `browserslist` npm module , https://swc.rs/docs/preset-env,  which wasm doesn't have, this cause runtime error

[code]

[2021-09-20 17:45] schontz opened #2275 "failed to resolve fs when using electron or node targets"
**Describe the bug**

When attempting to run `npx spack` on an electron project, the following error is encountered:

[code]

**Config**

**.swcrc**

[code]

**spack.config.js**

[code]

I have also tried `"targets": { "node": 14 }`, but it produces the same error.

**Expected behavior**

Expect swc to ignore node native modules.

**Version**
The version of @swc/core: 1.2.88

[2021-09-20 22:26] andersk opened #2276 "Segmentation fault on require("@swc/core") in a Node.js worker thread"
Running `require("@swc/core")` inside a Node.js [worker thread](https://nodejs.org/api/worker_threads.html) causes a segfault. (This causes problems with terser-webpack-plugin’s new [`swcMinify`](https://github.com/webpack-contrib/terser-webpack-plugin#swc) function.)

[code]

[code]

I’m running Node 14.17.6 on Linux x86-64 (NixOS 21.11). In case this is system-dependent, here’s a Dockerfile that

[2021-09-21 01:32] andersk opened #2277 "Build failure with Rust nightly 2021-09-11: error: field is never read"
Rust nightly 2021-09-11 or later detects more unused fields as dead code (rust-lang/rust#85200), including some in swc that cause `#[deny(unused)]` errors.

[code]

[2021-09-21 07:29] kdy1 commented on #2276
Native node bindings are expected to

 - Call async operations from js thread

or

 - Call synchronous function from worker thread

It's the limitation of node js itself.

cc @Brooooooklyn
Am I right?

[2021-09-21 07:45] #2262 closed

[2021-09-21 10:47] UsamaHameed opened #2281 "swc produces wrong output when destructuring and using default value"
**Describe the bug**
The output swc produces is wrong when a parameter in an inner scope has the same name as an imported module.

NOTE:

Only happens when I have destructing combined with a default value like
`function something({ func = 0 })`

**Input code**

[code]

[code]

**Config**

[code]

**Current behavior**
It produces:

[code]

**Expected behavior**
The var `_func` inside the function `

[2021-09-21 12:09] UsamaHameed commented on #2194
For me, this works

[code]

[2021-09-21 13:00] UsamaHameed commented on #2281
may be related: #2211

[2021-09-21 15:24] #2281 closed

[2021-09-21 16:31] pbadenski commented on #2211
Still a problem if a function is defined within scope, but no exported. It will generate name conflict if `foo.ts` is changed to below:

[code]

Should I submit as a separate issue?

[2021-09-21 19:51] andersk commented on #2276
I don’t know of any such limitation. Perhaps you’re confusing [worker threads](https://nodejs.org/api/worker_threads.html) (JS threads created using the `worker_threads` API) with threads in the [worker pool](https://nodejs.org/api/n-api.html#n_api_napi_create_async_work) (native threads created from addons to perform synchronous operations that are exposed to JS via a custom asynchronous JS API)?

[2021-09-21 21:40] stephane-arista opened #3854 "Incorrect Jest coverage"
When using @swc/jest to transpile ts to commonjs and running `jest --coverage` certain branches are shown as not covered (console logging in these branches show that tests do run the code path). Using babel to transpile and run the tests shows the correct coverage.

[2021-09-22 03:07] Brooooooklyn commented on #2276
Yes. I will dig into this issue today.

[2021-09-22 04:15] SoloJiang commented on #2257
A simple example: https://github.com/SoloJiang/minify-error

[2021-09-22 06:56] #2211 closed

[2021-09-22 07:47] kdy1 opened #2284 "Migrate to tracing"
It's too hard to debug edge cases like #2257 using `log`.

[2021-09-22 09:14] troy351 commented on #2170
Any update on this one?

[2021-09-22 10:06] kdy1 commented on #2170
Should be fixed by https://github.com/swc-project/swc/pull/2279

[2021-09-22 10:06] #2170 closed

[2021-09-22 11:30] RyannGalea commented on #2206
🙏

[2021-09-22 11:32] kdy1 commented on #2206
Sorry for the delay.
I have to many tasks.

[2021-09-22 18:19] rrichardson opened #2289 "line and file directives/macros"
**Describe the feature**

Special keywords for supplying the filename and line number that are replaced by the appropriate value during the compilation step.
Similar to the `line` and `file` macros in Rust.

e.g.
[code]

**Additional context**

The lack of line/file annotations has long been a thorn in the side of JS devs. Since SWC is a compiler, it should be fairly trivial to add these keywords

[2021-09-22 18:31] kdy1 commented on #2289
It's not in scope of swc.
First of all, it's not a standard.

[2021-09-22 18:31] #2289 closed

[2021-09-23 05:13] Brooooooklyn commented on #2276
This issue only occurs on Linux GNU platform with `napi-rs`. I've tried Linux musl / macOS / Windows, all these platform is fine.
And I've also tried this example https://github.com/nodejs/node-addon-examples/tree/main/async_pi_estimate/node-addon-api  on Linux GNU, also works fine.

I need more time to dig into it.

[2021-09-23 06:32] lukeed commented on #1725
This happens with named imports too (using v1.2.90)

Just started playing with swc, but it appears that `__spack_require__` only appears with a non-relative import, so here's a minimal reproduction using `worktop@0.8.0-next.3`

[code]

Search for `finalize` and `STATUS_CODES` in the output. They're nowhere in the source.

In larger builds, the source/definitions do exist in the output but are neve

[2021-09-23 08:10] #2154 closed

[2021-09-23 08:10] #2194 closed

[2021-09-23 11:18] vedmalex opened #2294 "faulty number minification"
Hi guys

Number minification works faulty

this code
[code]
is minified to
[code]
**Expected behavior**
which is not the same as calculated value expected to be 6048e5

**Version**
The version of @swc/core: v1.2.90

[2021-09-23 11:32] #2237 closed

[2021-09-23 11:32] #2264 closed

[2021-09-23 15:52] haydnhkim opened #2297 "name conflict between imports and underscore prefixed function-scoped properties"
**Describe the bug**
This issue is related to #2211
This is an additional case where the same problem occurs.
When an imported name is used in a function within a function, it seems that the problem that the variable name is not changed occurs.

**Input code**
[code]

**Output**

[code]

**Config**

[code]

**Expected behavior**
Generated import names should not conflict with function variables.

[2021-09-23 18:07] farfromrefug commented on #1099
We use transformer in uour project. Any chance of seeing it available in swc ?

[2021-09-24 10:26] #2297 closed

[2021-09-24 11:55] tonivj5 commented on #2117
@unlight if class-validator works perfect with tsc and fail with swc. I think it's a problem of swc handling decorators...

[2021-09-24 11:57] kdy1 commented on #2117
@tonivj5 Did you try importing `reflect-metadata`?

[2021-09-24 12:11] tonivj5 commented on #2117
@kdy1 yep! It doesn't work.

This code does not work:
[code]

This code does work:
[code]

I did a deeper research here https://github.com/swc-project/swc/issues/2117#issuecomment-906681274

[2021-09-24 12:14] not-rusty commented on #2144
Can confirm that happens to me aswell when compiling the `.fable` dependency. This is a show stopper if I can't get around :(

[2021-09-24 19:09] wuyudi commented on #1090
Here is a demo svelte project with swc, swc is blazing fast :+1:
https://github.com/wuyudi/svelte-swc

[2021-09-25 11:32] blixt opened #2303 "JSX attributes with HTML entities don't always escape correctly."
**Describe the bug**

When compiling JSX with an attribute containing an HTML entity that would be an escapable character in JavaScript, the character gets double escaped.

**Input code**

[code]

**Config**

[code]

**Expected output**

[code]

**Actual output**

[code]

(note the double escaping of the backslashes/quotes)

**Version**

In our case we compile swc ourselves with the dependency ver

[2021-09-25 17:14] sosukesuzuki commented on #2064
Note; Ergonomic brand checks will be landed in TypeScript 4.5 :smile:
(Sorry if you know about this.)

- ref: https://github.com/microsoft/TypeScript/pull/44648

[2021-09-26 07:25] kdy1 commented on #2064
I didn't finish it because of time. It's stage-4, so support of `tsc` does not matter.

[2021-09-26 14:47] JJJYY opened #2305 "async function error"
**Describe the bug**
async/await error

**Input code**
[code]

**Config**
none

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
[code]

**Version**
The version of @swc/core:
v1.2.91

**Additional context**
Add any other context about the problem here.
no

[2021-09-26 20:44] wessberg commented on #1179
This still doesn't work if the class is declared within a nested lexical environment, such as within a self-invoking function.
[Please see this repro](https://replit.com/@wessberg/swc-newtarget-2#output.js) where I've copied the exact same code from my original repro but placed it inside a self-invoking function.

`swc` produces the following output:

[code]
Which leads to syntax errors in browser

[2021-09-26 21:48] dwoznicki commented on #2305
I take it you're getting output like

[code]

?

[2021-09-27 01:31] yskszk63 opened #2306 "The nested AsyncGenerator<T> item expects T, but becomes {value: T, done: false}."
**Describe the bug**

The nested `AsyncGenerator<T>` item expects `T`, but becomes `{value: T, done: false}`.

**Input code**

[code]

**Config**

[code]

**Expected behavior**

Expected

[code]
But

[code]
NOTE: target=ES2018 and beyond will be as expected.

**Version**

[code]

**My Environment**

[code]

[2021-09-27 04:01] JJJYY commented on #2305
yeah, I got this error in chrome

[2021-09-27 06:37] kdy1 commented on #1179
@wessberg Can you file a new issue?

[2021-09-27 06:58] dwoznicki commented on #2305
@kdy1 It looks like the problem is that swc binds `this` to the output function declaration.

[code]

Note that babel gets this right and correctly does not add `.bind(this)` to the `_asyncToGenerator` function.

My intuition is that the solution is to not bind `this` for async functions defined on the `prototype` object, but I don't see an easy way in `ecmascript/transforms/compat/src/es2017/asyn

[2021-09-27 07:04] kdy1 commented on #2305
I think injecting a variable like `var _this = this` will fix the issue.

[2021-09-27 08:03] #2064 closed

[2021-09-27 09:19] #2284 closed

[2021-09-27 09:42] wessberg opened #2308 "new.target syntax is not transformed when used inside a nested scope"
**Describe the bug**

Support for transpiling [`new.target`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/new.target) to ES5-compatible syntax when `es5` is the target was recently added to swc in https://github.com/swc-project/swc/commit/c78baef2ccecaca76ca973f57c834e00a25154bb after being reported in https://github.com/swc-project/swc/issues/1179.

However, if `new

[2021-09-27 09:42] wessberg commented on #1179
Alright, here it is: https://github.com/swc-project/swc/issues/2308

[2021-09-27 10:32] giovannibenussi commented on #2120
I can confirm this is happening. I'll start working to fix it!

[2021-09-27 10:37] kdy1 commented on #2120
I think it will be fixed by https://github.com/swc-project/cli/pull/68

[2021-09-27 10:39] giovannibenussi commented on #2120
Ok, thanks for letting me know!

[2021-09-27 12:05] #2257 closed

[2021-09-28 02:33] declanvong opened #2310 "JSX inside a namespace isn't transformed"
**Describe the bug**
JSX inside a namespace isn't transformed

**Input code**
[code]

**Config**
preset-env / defaults

**Expected output**
[code]

**Actual output**
[code]

Note the presence of the `<div ></div>` still remaining in the output js.

**Version**
The version of @swc/core: 1.2.91

[2021-09-28 08:24] Danue1 opened #2311 "ES private field check"
**Describe the bug**
ES private field check failed.

**Input code**
[code]

**Config**
default

**Expected behavior**
When lhs of "in" operator is a private identifier.

If there is a corresponding private field in the class definition, there is no error and it should be transpiled as it is.
If the corresponding private field does not exist in the class definition, an error should be raised that t

[2021-09-28 08:25] Danue1 commented on #2311
I know the maintainers are busy.
If I get a guide on how to approach it, I'll try PR. Is it possible?
Although I am making a small financial support to swc, I also wanted to make a technical contribution.

[2021-09-28 08:26] kdy1 commented on #2311
This is already implemented by https://github.com/swc-project/swc/pull/2079, but not published yet.

[2021-09-28 08:27] Danue1 commented on #2311
good.
It's already been done...
I respect that speed.

[2021-09-28 08:28] Danue1 commented on #2311
It's almost resolved, so I'll close the issue now.

[2021-09-28 08:28] #2311 closed

[2021-09-28 10:59] giovannibenussi commented on #2120
The issue is still present @kdy1. I investigated more about it and I think I found the issue.

The third argument to `outputFile` expects a boolean indicating if a source map file should be generated or not:
https://github.com/swc-project/cli/blob/c0f78ad545a5f99c96971078ab93957d57ddf352/src/swc/util.ts#L71

However, we're proving that flag from `swcOptions.sourceMaps` that is provided solely on t

[2021-09-28 12:42] kdy1 commented on #2120
@giovannibenussi
Ah, I see. Then I know the fix. Thank you for investigating!

[2021-09-28 12:47] giovannibenussi commented on #2120
You're welcome! If you want, you can let me know when you have a PR so I can take a look at it and get more used to the codebase.

[2021-09-28 12:49] kdy1 commented on #2120
Thanks!
For cli, I verified that it's working by doing `yarn build && node ./bin/swc.js src -d lib`

[2021-09-28 13:04] #2120 closed

[2021-09-29 11:09] #2294 closed

[2021-09-29 16:48] dispalt opened #2319 "panic: two variables with the same name and same span hygiene is invalid"
This is on 1.2.92, but it's been happening for a while while I've periodically checked on replacing terser.  I couldn't really get much further based on infinite loop detection but those seem have gone away and this is the last thing.

1. Source code

I can't really provide the source as the project is private. I would be happy to email you the file though.

2. `.swcrc` file

[code]

3. Error mess

[2021-09-29 17:20] kdy1 commented on #2319
I can't debug minifier without input.

[2021-09-29 18:46] dispalt commented on #2319
Can you email you the code as it's private?

[2021-09-29 18:46] kdy1 commented on #2319
Yes

[2021-09-29 18:47] kdy1 commented on #2319
Oh, sorry, don't send the email please.
I need to write a test for it.

[2021-09-30 01:52] vjpr commented on #1366
Here is the location of the issue.

Every time `transform_sync` is called, `SourceMap#new_source_file` is called and the `start_pos` is set.

If you are using `transformSync` and transforming one file at at time, there seems to be no way to reset the start pos.

[code]

[code]

[2021-09-30 04:57] xyyjk opened #2321 "`drop_console ` option is invalid"
**Describe the bug**
The last one was not discarded

**Input code**
[code]

**Config**

[code]

**Version**
The version of @swc/core: 1.2.92

![image](https://user-images.githubusercontent.com/2508421/135389412-b7c9aaa1-3395-49ff-b14e-88a27a7d6700.png)

https://swc.rs/repl#%7B%22rawCode%22%3A%22console.log('discarded')%3B%5Cnconsole.log('Not%20discarded')%3B%5Cn%22%2C%22rawConfig%22%3A%22%7B%5Cn%2

[2021-09-30 05:59] kdy1 commented on #2319
Closing as not debuggable.

[2021-09-30 08:48] kdy1 commented on #2319
Can you try adding file as `input.js` to https://github.com/swc-project/swc/tree/dad73926e6572b2395cabbe50668d149363e763b/ecmascript/minifier/tests/compress/fixture/issues and run `./scripts/apply.sh` from the minifier directory?

If so, this can be fixed without exposing your source code.

[2021-09-30 10:11] jackyef opened #5448 "Variables with names starting with `mock` are not considered when hoisting `jest.mock()` calls"
With `babel-jest` it seems like `jest.mock()` calls are hoisted to the top of the file. `swc` seems to have this transformation as well, so no issue with that.

The problem occurs when the `jest.mock()` calls depends on other variable, for instance:
[code]

With `babel`, this code works fine because [`jest` makes an exception for variables with names starting with `mock`](https://github.com/facebo

[2021-09-30 15:58] dispalt commented on #2319
Yeah Ill give that a go, maybe I can even hand obfuscate some of it.

[2021-09-30 17:38] dispalt commented on #2319
So it looks like the following code is the problem

particularly it's barfing on the first `var niCoverages` occurrence and bytePos surrounding the `$j_java$002elang$002eObject.$m_sci_Nil$()` .  I know the code looks funny it comes from scala.js, so I can't really control what it emits (it definitely emits valid code though).

Is that enough to go on?

[code]

[2021-10-01 05:26] jiroler opened #2328 "Spack wrong handles dead branches of switch block"
If you have any `switch(true){}` block with `default:` branch, spack removes all branches except `default:`

**Input code** (check.js)
[code]

**Config** (spack.config.js)

[code]

**Expected behavior**
[code]

**Current behavior**
[code]

**Version**
[code]

[2021-10-01 09:01] vbfox opened #2330 "Nested for loop doesn't work"
**Describe the bug**

The following code using nested for loops exits after the first iteration of the parent loop instead of iterating the full array.

**Input code**

[code]

Commands:

[code]

Output:

[code]

**Config**

Default one.

**Expected behavior**

I expect the same behavior as the typescript compiler:

Commands:

[code]

Output:

[code]

**Version**
[code]

**Additional context**
Add

[2021-10-01 12:14] kdy1 commented on #2277
Closing as fixed by https://github.com/swc-project/swc/pull/2332

[2021-10-01 12:14] #2277 closed

[2021-10-01 16:09] dispalt commented on #2319
Okay I think I am able to reproduce it with basically this code

[code]

So if you moved `lightGreeting = greeting.substr(0, 2)` outside the if statement it won't bomb.

[2021-10-01 16:11] dispalt commented on #2319
Should I push the test and make a PR for that? Thanks for the help!

[2021-10-01 21:51] zebp opened #2333 "Parent node always first node visited"
I'm using the `swc_ecmascript` crate to do some get some data out of a script and I need to check the parent of a certain node, but it seems that the parent provided is always the parent provided when calling the first visit function. I don't know if this is intentional, I don't see a use case for it or is the parent provided as a param meant to be the parent node?

(Wasn't quite sure if this is a

[2021-10-02 03:32] lemueldls opened #2334 "swc_bundler: Disable time logger for WASM"
**Describe the bug**

Because the time API is not implemented for WASM, When compiling and running `swc_bundler` in the browser, it produces the following error:

[code]

<details>
<summary>Additional context</summary>

Tested working when commented out `Instant::now()` timer loggers
- https://github.com/swc-project/swc/blob/a7357ab51730322a55bde7161de629f9d6da118e/bundler/src/bundler/chunk/mod.rs

[2021-10-03 12:16] FezVrasta commented on #256
That doesn't mean external projects can't use it. There are a lot of projects that still use Flow.

[2021-10-03 12:17] kdy1 commented on #256
@FezVrasta If you send a PR, I'll happily accept it and maintain it.

[2021-10-03 12:22] kdy1 commented on #256
@FezVrasta Maybe it's unrelated question, can you show me some projects using flow?
I've been working on swc for few years and I didn't have time to look at the source code of other js/ts projects.

[2021-10-03 12:40] FezVrasta commented on #256
I maintain Popper, which is used by approximately a couple million websites around the world, and it's entirely wrote with Flow.

https://popper.js.org

[2021-10-03 12:43] FezVrasta commented on #256
The best way to implement it would be to use [`flow-remove-types`](https://flow.org/en/docs/tools/flow-remove-types/) since it's a standalone binary (no Babel involved) and it's maintained by the Flow core team.

I'd be happy to send a PR, I just need to understand if integrating flow-remove-types would be an acceptable approach, and some guidance on where to start.

[2021-10-03 12:50] kdy1 commented on #256
Hmm... I don't think using js module is acceptable.
I'll just try implementing it in rust when I have some free time. (Hopefully tomorrow, as it's holiday)

[2021-10-03 12:51] FezVrasta commented on #256
Thanks that'd be awesome! The whole Flow community will be grateful for this 🤗

[2021-10-03 13:17] tannera opened #2336 ""Module parse failed: Duplicate export 'ref" when exporting multiple destructured assignments"
**Describe the bug**

`Module parse failed: Duplicate export 'ref'` when exporting multiple destructured assignments.

**Input code**
[code]

**Output code**
[code]

**Config**

[code]

**Expected behavior**
The compiler shouldn't output duplicate ref exports

**Version**
swc/core@1.2.92 with swc-loader@0.1.15 and webpack@4.46.0

Repl link to reproduce: https://swc.rs/repl/#%7B%22rawCode%22%3A%22e

[2021-10-03 17:34] dsherret opened #2339 "Comments are missing in JSX expressions within arrow function with type parameter"
**Describe the bug**

Given the following code:

[code]

The comment maps are empty:

[code]

Remove the type parameter and it will work as expected.

**Expected behavior**

It should have the three comments in a comment map.

**Version**

swc_ecmascript 0.68.0

[2021-10-03 20:53] sanchezweezer commented on #571
May just ignore this cases in your compiler (or do it at first time)? I this this limitations isn't block main work flow... but missing this feature really block me to migrate all my projects to your compiler...

[2021-10-04 01:05] kdy1 commented on #571
@sanchezweezer Yeah, I'm going to do it, but it's kinda hard to skip some of tests. I have to skip one by one.

[2021-10-04 01:42] kdy1 commented on #256
I found that I have a task with higher priority, so I'm postponing this.

[2021-10-04 04:00] akshayr20 commented on #940
Hey, thanks for the great work on above package.
I am facing similar issue with enums, any update on this?

[2021-10-04 11:17] kdy1 commented on #256
I looked at the source code of `flow-remove-types`, and it depends on `flow-parser`, which means lots of job.

[2021-10-04 11:20] FezVrasta commented on #256
Yes it depends on the JS-compiled OCaml compiler. Considering how fast the OCamls compiler it is I wonder if swc could directly interface with it?

TBH a simple plugin-like approach where each file is feeded through the Flow parser would be all it's needed to address this.

[2021-10-04 11:25] kdy1 commented on #256
Is there a way to see the size of the compiled flow stripper?
I don't want to bloat the binary size.

[2021-10-04 11:29] FezVrasta commented on #256
It's between 30-40 MB depending by the target platform, but I'd suggest to keep this as an external dependency so that only who needs Flow support needs to download it, especially because if it gets embedded in SWC you would need to cut a new release anytime the Flow compiler is updated.

![CleanShot 2021-10-04 at 13 27 18@2x](https://user-images.githubusercontent.com/5382443/135843850-45f8381a-7e

[2021-10-04 11:32] kdy1 commented on #256
Yes. But it means lots of work. It's really enormous amount of work.

[2021-10-04 11:32] FezVrasta commented on #256
What about the approach I described above?

[2021-10-04 11:35] kdy1 commented on #256
I'm fine with it.
But currently, there's no plugin api for parser, so we need to make some decisions about the api.

[2021-10-04 11:38] FezVrasta commented on #256
Ok that sounds great, this way the Flow support will be implementable at plugin level and the core is not tied to it.

Is there anything else I can do to help to move this effort forward? Do you have an RFC or other kind of documentation where the API is being designed?

[2021-10-04 11:41] kdy1 commented on #256
Can you join discord server at https://discord.gg/GnHbXTdZz6 ?

I'm not sure about the RFC, but I think people in discord server may provide some ideas about the api.

[2021-10-04 11:46] kitsonk opened #2343 "TypeScript parser panics on `declare declare` syntax"
**Describe the bug**

the swc_ecma_parser panics when trying to parse (but syntatically invalid) TypeScript.  This is occurring in certain situations in Deno Language Server where people are editing documents.

**Input code**

[code]

Panics with something like:

[code]

And points to this code in typescript.rs:

[code]

Which would normally be valid except when the next keyword is also declare. 😄

[2021-10-04 11:50] FezVrasta commented on #256
For anyone interested, I started a conversation here https://discord.com/channels/889779439272075314/889780921002246154/894551464410763314

[2021-10-04 11:54] noppa commented on #256
Facebook's Hermes project also [has parsers for both TypeScript and Flow](https://github.com/facebook/hermes/tree/main/lib/Parser), written in C++, if that's any help.

[2021-10-04 11:58] FezVrasta commented on #256
That's great! It also seems to expose a Rust API?

[2021-10-04 12:44] kirovboris opened #2344 "The wrong transpilation of arrow function in the class fields"
Hi team, first, thanks for the awesome work!

I struggle with an issue when `swc` doesn't transpile correctly an arrow funciton when it used as a value of a class field (no matter JS or TS).
It's quite typical way for React users to avoid an explicit handler binding - https://reactjs.org/docs/handling-events.html.
The regular class fields `name=value` works as expected.

[code]
transpiles to `(voi

[2021-10-04 14:42] findmet opened #2345 "utils@1.8.0"
https://github.com/swc-project/swc/blob/840305726875f250babe254d16e9f01e36305477/bundler/assets/a.js#L1

[2021-10-05 09:17] vbfox commented on #2330
I don't know the code enough but from what I understand hygiene is doing something logical here.

The problem (In my limited understanding) is that transforms like the for-of one need an ability that doesn't exists in normal JS: creating variables with a "suggested" name but that should inhabit a separate namespace and never ever colision with user code or with one another.

This is the kind of th

[2021-10-05 16:30] benjie opened #2351 "JSX attribute parsing applies incorrect escapes"
**Describe the bug**

JSX attributes should be parsed as HTML (i.e. escapes are HTML entities), however SWC seems to parse them as JS strings (i.e. backslashes escape characters).

**Input code**

[code]

[See in REPL](https://swc.rs/repl#%7B%22rawCode%22%3A%22const%20a%20%3D%20%3Cabbr%20title%3D%5C%22%5C%5Cd%5C%22%3E%5C%5Cd%3C%2Fabbr%3E%3B%22%2C%22rawConfig%22%3A%22%7B%5Cn%20%20%5C%22jsc%5C%22%3A

[2021-10-05 20:10] phiresky opened #2352 "Broken code output: Variable is renamed and shadows correct variable"
**Describe the bug**

**Input code**

[code]

**Config**

`swc -C jsc.target=es2021 foo.ts`

**Output**
[code]

**Version**
The version of @swc/core: @swc/core@1.2.93

**Additional context**
The outputted code is broken, it uses a variable name that already exists and thus causes shadowing. Thankfully in my case it throws an error `ReferenceError: Cannot access 'listing1' before initialization` bu

[2021-10-06 15:29] cyjake commented on #470
@matzeeable @kdy1 Probably a bit too late for this experiment since the js api will be deprecated in swc v2, anyway here it goes https://github.com/cyjake/swc-plugin-import/blob/master/src/import.ts#L32

How do I replace one `ImportDeclaration` with multiple ones? For example,

[code]

should be replaced with,

[code]

I think I'll give it a try no matter the stable API is in JavaScript or in Rust

[2021-10-06 17:32] alexander-akait commented on #2125
@kdy1 What we should finish here?

[2021-10-06 17:47] pbadenski opened #2362 "Source maps aren't loaded correctly in Chrome Node DevTools"
I ran `node --inspect-brk -r @swc/register some_script.ts` and then opened `chrome://inspect` - DevTools for Node. Source maps weren't loaded properly (was showing a transpiled JS content under a TS filename). I checked with babel and it works fine. There seems to be a difference between babel and swc that makes it break -  I used debugger to dynamically modify swc source maps and managed to see i

[2021-10-07 10:29] kdy1 commented on #2125
We should implement transforms for static blocks so the code can be used while targeting old browsers.

[2021-10-07 14:01] kdy1 opened #2370 "Performance bugs with known fixes"
## Known fixes

### general

 - [ ] Dynamic linking of iconv

 - [ ] Dynamic linking of libresolv

 - [x] Use `ahash` #2384()

### `swc_atoms`

 - [x] Switch to parking_lot (https://github.com/swc-project/swc/pull/2411)

Related: https://github.com/servo/string-cache/issues/242

 - [ ] Thread-local interning, in cost of more memory use while `LocalInterner` is alive.

### `swc_common`

 - [ ] Glob

[2021-10-07 17:47] sambeller opened #2372 "swc names modules _ when there are variables with that name"
**Describe the bug**
`swc` improperly imports modules as `_` when there is a local variable with that name.

**Input code**
test.ts
[code]

index.ts
[code]

test.test.ts
[code]

**Config**

[code]

**Expected behavior**
`swc` should not name imported modules `_` when there exists a variable with that name.

**Version**
The version of @swc/core: `"@swc/core": "^1.2.93"`

[2021-10-07 17:59] sambeller commented on #2372
Sure thing:

[code]

[2021-10-07 21:56] tarngerine opened #2374 "@swc/core install warning: platform "darwin" is incompatible with this module"
**Describe the bug**
When running yarn, @swc/core (1.2.93) always throws a warning:

[code]

**Input code**
`yarn`

**Config**

N/A

**Expected behavior**
If darwin is incompatible, don't isntall the deps/dont warn about them

**Version**
The version of @swc/core: 1.2.93

**Additional context**
Add any other context about the problem here.
I'm on macOS 11.6

[2021-10-08 02:50] #2374 closed

[2021-10-08 02:56] #2328 closed

[2021-10-08 14:07] kdy1 commented on #470
@cyjake I documented about it at https://docs.rs/swc/0.65.0/swc/#cutomizing
I wrote document for someone building a custom node binding, but plugin api will be almost identical.

[2021-10-08 14:13] ruscon commented on #1592
@kdy1 any news about this bug?

[2021-10-09 04:12] autoxbc opened #2385 "In non-strict mode, the output code does not contain helpers correctly"
**Input code**
[code]
node.js output
[code]
**Expected behavior**
The output code should contain helpers, such as **_typeof**

**Version**
The version of @swc/core: 1.2.95

[2021-10-09 05:16] kdy1 commented on #2362
Can you try https://swc.rs/docs/configuring-swc/#inlinesourcescontent ?

[2021-10-09 08:12] billouboq opened #2387 "Possibility to include some node_modules"
Hi,

I would like to know if it was possible to include "some" node_modules with swc ?

I'm working on a monorepo with different packages and compiling each of them is time consuming and has a lot of drawbacks. I would like to consume them directly from source in my api and compile them on the fly. Is this possible ?

Something like exclude all node_modules except this one and this one

[2021-10-09 08:16] kdy1 commented on #2387
Of course, you can use `@swc/regsiter` with options. I don't remember rhe exact option, but I copied the option handling code from `@babel/cli`, so API would be similar.

Relevant code is at
https://github.com/swc-project/register/blob/377bad1f81cc590b95cb207c0524e95718b4e065/src/node.ts#L122-L142

[2021-10-09 08:16] #2387 closed

[2021-10-09 16:48] pbadenski commented on #2362
I tried, doesn't help unfortunately.

[2021-10-09 17:18] sosukesuzuki commented on #2125
@kdy1 Is there any documentation useful for writing transforms? I've read the code for a while, but it's difficult...

[2021-10-09 17:25] alexander-akait commented on #2125
Yep, I am faced with this too, because code base is big (some of use is new in rust), maybe will be great to create small examples for popular cases, like replace `Hello world!` on `Hello swc!`.

[2021-10-09 22:20] zloirock commented on #2209
https://github.com/babel/babel-polyfills/pull/99 is merged.

[2021-10-10 01:31] kdy1 commented on #2125
@sosukesuzuki @alexander-akait
Maybe documentation at https://docs.rs/swc_visit/0.2.6/swc_visit/ would be useful.
If it's not enough, please tell me. I want to improve documentations, but it's hard to do it by myself.

[2021-10-10 01:34] farzaneghm opened #2390 "This PR simplifies logic of parsing object."
This PR simplifies logic of parsing object.

__Originally posted by @g-plane in https://github.com/swc-project/swc/pull/2381__

[2021-10-10 01:36] farzaneghm opened #2391 "> This PR simplifies logic of parsing object."
__Originally posted by @farzaneghm in https://github.com/swc-project/swc/pull/2381#issuecomment-939389002__

[2021-10-10 01:50] #2391 closed

[2021-10-10 01:50] #2390 closed

[2021-10-11 04:43] dadiborn opened #2401 "Paths replaced only if Module Type is set to CommonJS or AMD"
Using cli and .swrc,  compiled js files from ts files has correct paths only if module type is set to amd or commonjs. I need those paths to work with es6 option. Thank you.

[2021-10-11 04:45] #2401 closed

[2021-10-11 06:00] egilsster opened #2402 "Async functions cause loss of scope"
**Describe the bug**

Seems like when an async function in a class, the runtime loses its scope because it creates a new scoped function with the code on transpilation. Also a problem when I use a ES6+ `class` declaration.

Link to [REPL](https://swc.rs/repl/#%7B%22rawCode%22%3A%22function%20MyClass(item)%20%7B%5Cn%20%20this.item%20%3D%20item%3B%5Cn%20%20console.log(%5C%22Constructor%20%7C%20this.

[2021-10-11 07:17] #2345 closed

[2021-10-11 09:00] hannadrehman opened #2404 "Babel-plugin-import support"
**Describe the feature**

we are using [Antd](https://ant.design/docs/react/introduce) in our major projects and one of the requirement for us is to use `babel-plugin-import` which helps in tree shaking this huge library.   this is the only reason why we cant migrate to swc right now. i checked [comparison with babel ](https://swc.rs/docs/comparison-babel) page to find all the plugins that we use

[2021-10-11 16:27] #2114 closed

[2021-10-11 16:27] #2310 closed, assigned to kdy1

[2021-10-12 07:18] billouboq commented on #2387
Thank you very much ! Will test it 🎉

[2021-10-12 09:07] billouboq commented on #2387
I don't know if it's possible to do it in Swc, in babel there is some upward config to allow workspace to work :

https://github.com/babel/babel/issues/8309#issuecomment-464110015

Right now I have to use babel with this register options :

[code]

With this .babelrc at the package level :

[code]

And this babel.config.js at workspace root :

[code]

[2021-10-12 10:31] jakub-tucek opened #2413 "Unclear error: thread '<unnamed>' panicked at 'not implemented: regenerator: complex pattern in catch clause'"
**Describe the bug**
When trying to build the application (the other one where we use the same configuration works without any issue), we end up with the following stack trace:

`
thread '<unnamed>' panicked at 'not implemented: regenerator: complex pattern in catch clause', ecmascript/transforms/compat/src/es2015/regenerator/case.rs:1179:30
stack backtrace:
   0:        0x10dada96a - _rust_eh_per

[2021-10-12 15:06] billouboq opened #2417 "Decorator parsing issue"
**Describe the bug**

I'm using webpack with swc-loader to parse all my js files, and on files using legacy decorators it fails with this message :

[code]

Those decorators are typegoose codes : https://github.com/typegoose/typegoose

It look like :

[code]

**Config**

[code]

**Webpack Config**

[code]

[2021-10-12 17:58] devongovett opened #2418 "TypeScript pass strips import used for JSX"
**Describe the bug**

When compiling TypeScript, SWC strips unused (presumably type-only) imports. However, it has a [hard-coded exception](https://github.com/swc-project/swc/blob/master/ecmascript/transforms/typescript/src/strip.rs#L1455-L1457) for "react". However, this doesn't work when the JSX `pragma` or `import_source` is set to a different value, e.g. for Preact. In this case, it gets strip

[2021-10-13 04:18] kdy1 commented on #2418
Yeah, I think I made a mistake, and `typescript::strip` is expected to invoked before `react` pass, but we now need a way to detect import statements that will be injected.

Passing `pragma` will work, but only if ~`typescript::strip` has logic for parsing `@jsxPragma`~.

I'll fix this by making `typescript::strip` used after `react`. It will make binary little bit larger, but it seems like a righ

[2021-10-13 04:26] kdy1 commented on #2418
Oh, I checked it, but it's not possible.
Your idea seems like the right fix.

I'll expose parsing logic for `@jsxPragma` and make typescript pass accept it.

[2021-10-13 05:33] #2303 closed

[2021-10-13 08:09] ihm-tswow opened #2423 "TypeScript namespace local variables"
**Describe the bug**
Functions in TypeScript namespaces transpiles local variable names instead of using namespace

**Input code**
[code]

**Config**
(also happens if I just `swc filename.ts` directly.)

[code]

**Expected behavior**
tsc will transpile this to
[code]

and swc currently does:

[code]

**Version**
[code]

**Workaround**
Just use qualified names (`A.v`) in namespace functions

[2021-10-13 13:29] #2418 closed, assigned to nobody

[2021-10-13 20:28] riyavsinha opened #2428 "Typescript parameter decorator reflection does not work with default value"
**Describe the bug**
When a decorated parameter has a default value, the parameter type is not reflected correctly by the swc compiler.

**Input code**
[code]

**Config**

[code]

**Expected behavior**
The compiler should output something like:
[code]

However, it instead outputs:
[code]

**Version**
The version of @swc/core: `1.2.92`

**Additional context**
The correct expected output appears wit

[2021-10-14 04:15] #2351 closed

[2021-10-14 04:15] #2372 closed

[2021-10-14 08:43] crubier opened #2432 "Support shims for node builtins, including for dependencies"
This issue is similar to #1955 , but this time in the case were builtins are imported by dependencies (in node_modules), not  directly from the code.

`spack.config.js`:

[code]

Error output, when my code uses `jszip`, which imports `stream` (Node builtin module):

[code]

[2021-10-14 13:49] dsherret opened #2434 "Variable declaration collision with function declaration name in bundler output"
**Describe the bug**

The bundler is not taking into account `var` variable declarations and function declarations with the same name in different modules.

**Input code**

[code]

[code]

**Config**

spack.config.js

[code]

**Expected behavior**

Maybe something like (I'm guessing):

[code]

**Actual behaviour**

[code]

**Version**

The version of @swc/core: 1.2.95

[2021-10-14 18:46] dsherret opened #2435 "Decorator property descriptors get assigned to same property in this scenario"
**Describe the bug**

This issue recently started occurring in swc.

When having a class with decorated properties and importing another class that also has decorated properties, the properties will be incorreclty assigned the same property descriptor.

**Input code**

[code]

[code]

**Config**

[code]

**Expected behavior**

The output of class `B` should be with `_descriptor1` and `_descriptor2

[2021-10-14 22:28] wbinnssmith opened #2436 "Parse error when "async" used as a function parameter name"
**Describe the bug**
swc fails to parse code that uses `async` as the name of a parameter, when followed by another parameter of any name. This failure appears unique to a named arrow function expression, and doesn't apply to other named function expressions with the parameter, function declarations with the parameter, or variable declarations with the "async" name. This parses correctly in Node.j

[2021-10-14 22:32] dlindenkreuz commented on #1202
@kdy1 You might want to take a look at https://github.com/javiertury/babel-plugin-transform-import-meta

From their docs:

[2021-10-15 18:26] evanw opened #2446 "swc can minify a name to `let`, which is a syntax error"
**Describe the bug**

Here's a quick demonstration

[code]

This generates a file with a syntax error:

[code]

Running the file through swc again gives more information:

[code]

**Input code**

This appears to happen with any input file where the top-level scope has around 70,000 or more variables. You can generate such a file with the following command:

[code]

**Config**

[code]

**Expected b

[2021-10-16 03:32] dispalt commented on #2319
I pushed a test if you want to take a look @kdy1, thanks for the great tool!

[2021-10-16 04:25] #2446 closed, assigned to nobody

[2021-10-16 14:50] evanw opened #2451 "spack's minifier does not respect `topLevel: true` for exported identifiers"
**Describe the bug**

Code minified with spack is much larger than necessary because exported identifiers are not minified despite `topLevel: true` in the configuration.

**Input code**

[code]

**Config**

I tried to enable full minification using this config:

[code]

Please let me know if that's not the right way to do it.

**Expected behavior**

The generated output is this (269 bytes):

[code

[2021-10-17 10:31] Bosseskompis opened #2452 "Cannot use refresh=true since v1.2.94"
**Describe the bug**
The code below results in `ReferenceError: App is not defined`. Last working version is v1.2.93

**Input code**
[code]

**Config**

[code]

**Version**
[code]

**Additional context**
[code]

[2021-10-17 12:11] pgnd commented on #2374
@kdy1

installing only the required bins is +1.

how's one turn off / disable the incessant warnings?
[code]
, without turning off/down logging for useful information for other modules?

these warnings serve no particularly purpose other than to create noise ...

[2021-10-17 12:12] kdy1 commented on #2374
@pgnd It should be patched by npm team.

[2021-10-17 12:16] pgnd commented on #2374
@kdy1

"npm team"?  Ok ... do you have a 'who' or a link for swc's npm team?

[2021-10-17 13:27] Brooooooklyn commented on #2374
@pgnd see https://github.com/evanw/esbuild/pull/1621 for more details

[2021-10-17 13:30] alexander-akait commented on #2374
@kdy1 I think we need open and use the same solution

[2021-10-17 13:33] kdy1 commented on #2374
@alexander-akait We are already using `optionalDependencies`.
Did you mean something different?

[2021-10-17 13:37] Brooooooklyn commented on #2374
@alexander-akait Actually @swc/core had already using the ***right way*** which esbuild just landed to deliver the binaries cross platform

[2021-10-17 13:39] XiNiHa commented on #2374
@pgnd You may use pnpm as it has platform warnings disabled (https://github.com/pnpm/pnpm/pull/3454)

[2021-10-17 13:49] kdy1 commented on #2451
Currnetly, `spack` does not apply minifier.
It's ridiculous, but the only serious usecase of the bundler is `deno bundle`, and they can apply minifier separately if they want, so I didn't bother to apply it.

[2021-10-17 23:27] dsherret opened #2455 "Cannot build compat feature in swc_ecmascript 0.77"
Not sure what's up here, but given this *Cargo.toml* file:

[code]

The following error occurs:

[code]

[2021-10-18 02:11] kdy1 commented on #2455
Ah, sorry. I made this mistake again.

It will be fixed by cargo update.

[2021-10-18 02:11] #2455 closed

[2021-10-18 02:17] dsherret commented on #2455
@kdy1 no problem! It's working now. Thanks! 🙂

[2021-10-18 12:30] hcesar opened #2461 "Decorator design:type for union types"
**Describe the bug**
When you have a union type on a decorated property the design:type is set to `void 0`.
TSC would set the type to `Object` instead.

**Input code**
[code]
**Config**
[code]

**Current behavior**

TSC:
[code]

SWC:
[code]

**Expected behavior**
SWC:
[code]

[2021-10-18 12:30] cohix opened #2462 "Ability to compile JS/TS to Wasm"
**Describe the feature**
This is more out of curiosity; would SWC be appropriate to use as the basis for a JS/TS -> WebAssembly compiler? It seems that it would be possible to build on the existing crates to create a Wasm target, but I wanted the maintainers' opinions before I go too far down this track.

**Additional context**
For context, we'd love to be able to run JS/TS code as serverless Wasm

[2021-10-18 12:40] #2462 closed, assigned to nobody

[2021-10-18 14:39] lucacasonato commented on #2343
Another failure case:
[code]

[2021-10-18 19:18] mischnic opened #2465 "`dead_branch_remover` turns indirect eval into direct eval"
**Describe the bug**

With eval, it makes a difference whether the callee is the literal identifier `eval` or just some expressions that is `=== eval`. This is currently incorrectly optimized

**Input code**

[code]

Prints `true`, `true`

**Config**

<details>
<summary>Details</summary>

[code]

</details>

**Current output**

[code]

Prints `true`, `false`

**Expected behavior**
Output should be

[2021-10-18 19:57] mischnic opened #2466 "`dead_branch_remover` changes `this` when calling methods on objects"
**Describe the bug**

(Related to https://github.com/swc-project/swc/issues/2465)

`dead_branch_remover` changes the behaviour of calls like `(0, obj.foo)()`

**Input code**

[code]

Prints `false`, `true`

**Config**

<details>
<summary>Details</summary>

[code]

</details>

**Current output**

[code]

Prints `false`, `false`

**Expected behavior**
Output should be the same as the input

**Versio

[2021-10-19 05:36] kdy1 opened #2470 "Change default value of `inlineSourcesContent` to `true`"

[2021-10-19 06:37] #2470 closed

[2021-10-19 09:56] sosukesuzuki opened #2476 "Incorrect transform for static private property"
**Describe the bug**

**Input code**

[code]

**Config**

[code]

**Actual behavior**

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

[Babel REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=MYGwhgzhAE0GIHsHQN4ChYQC5iwS2GgGIB9aAXmgAoqBKCgPlWiwAs8IA6AIzACdY5AEQBmIQG5oAX1p1xaKWiA&debug=false&forceA

[2021-10-19 10:15] kdy1 commented on #2476
I'll fix it soon

[2021-10-19 11:21] #2476 closed, assigned to nobody

[2021-10-19 13:55] ntotten opened #2480 "Version 1.2.100 fails to install"
**Describe the bug**
When running `yarn add @swc/core@1.2.100` there is an error installing the module.

[code]

The error does not happen when running `yarn add @swc/core@1.2.99`

**Expected behavior**
It should install correctly.

**Version**
The version of @swc/core: 1.2.100

**Additional context**
MacOS 11.6, M1
Yarn 3
Node 14

[2021-10-19 14:14] sosukesuzuki opened #2481 "Incorrect transform for static private scope"
**Describe the bug**

Incorrect transform for static private scope.

**Input code**

[code]

**Config**

[code]

**Actual behavior**

[REPL](https://swc.rs/repl#%7B%22rawCode%22%3A%22class%20Foo%20%7B%5Cn%20%20%20%20static%20%23prop1%20%3D%2042%3B%5Cn%20%20%20%20static%20%23prop2%20%3D%20(()%20%3D%3E%20%7B%5Cn%20%20%20%20%20%20%20%20%20console.log(this.%23prop1)%3B%5Cn%20%20%20%20%7D)()%3B%5Cn%7D%

[2021-10-19 15:18] #2480 closed

[2021-10-19 15:47] Janpot opened #2486 "Tagged template creates duplicate identifiers"
**Describe the bug**

tagged template strings in functions create duplicate identifiers

**Input code**

[code]

<details>
 <summary>Notice the <code>_templateObject</code>  being generated twice</summary>

[code]
</details>

[REPL](https://swc.rs/repl/#%7B%22rawCode%22%3A%22function%20myTag(strings)%20%7B%7D%5Cn%5Cnfunction%20f1%20()%20%7B%5Cn%20%20return%20myTag%601%60%5Cn%7D%5Cn%5Cnfunction%20f

[2021-10-19 15:53] kdy1 commented on #2481
Of course. Thanks!

[2021-10-19 19:17] benjie opened #2490 "How do you disable inline_globals?"
**Describe the bug**

`swc` always seems to replace `inline_globals` when `NODE_ENV="production"`

**Input code**

Put this into `foo.tsx`:

[code]

Then run:

[code]

**Config**

[code]

Have also tried versions of the config file with:

- `optimizer` key not present
- optimizer set to `{}`
- optimizer set to `{"vars":{}}`
- various other things

**Expected behavior**

I do not want environmental

[2021-10-19 21:54] mischnic opened #2492 "index out of bounds: the len is 0 but the index is 0panic:"
Processing the following source code with the react refresh transformer causes a panic.

### Source code

[code]

### Context

https://github.com/parcel-bundler/parcel/issues/7083

### Reproduction

[code]

### Backtrace

https://github.com/swc-project/swc/blob/b62dc60c5d9c70c96a1245b4f300e9cd15f9567a/ecmascript/transforms/react/src/refresh/mod.rs#L596

[code]

[2021-10-20 03:25] g-plane opened #2493 "`let` / `const` binding in different scopes introduces collision when transforming"
**Describe the bug**
Two variables (using `let` or `const` binding) with same name but from different block scopes are transformed with same name, which introduces collision.

**Input code**

[code]

**Config**

[code]

**Expected behavior**

Variables from different block scopes should be named differently.

[code]

**Version**
The version of @swc/core: Used in REPL.

**Additional context**
[REPL

[2021-10-20 06:12] #2492 closed, assigned to kdy1

[2021-10-20 08:56] kdy1 commented on #2493
It seems like a regression..
I'm reimplementing the hygiene pass.

[2021-10-20 14:29] Superd22 opened #2499 "Overriding process.env causes compilation error"
**Describe the bug**
Trying to override some environement variables in code results in invalid code because of inlining globals.

Minimum reproduction:
[code]

So far i can reproduce with `process.env.NODE_ENV` or `process.env.SWC_ENV`, but note that for random parameters generated code is valid:
[code]

**Expected behavior**
Generated code should be valid and resemble
[code]

**Version**
The vers

[2021-10-21 05:12] #2434 closed, assigned to nobody

[2021-10-21 05:12] #2486 closed

[2021-10-21 05:12] #2493 closed

[2021-10-21 15:31] ruessej opened #2505 "Changes names"
**Describe the bug**

In the newest version my variable names randomly change

**Input code**

[code]

**Config**

[code]

**Actual behavior**

The result in @swc/core@1.2.102
[code]

**Expected behavior**

The result in @swc/core@1.2.101
[code]

**Version**
The version of @swc/core: 1.2.102

[2021-10-21 15:49] Austaras commented on #2344
My bad, top level arrow function contain this should be transpiled to undefined

[2021-10-21 17:22] TruffeCendree opened #2506 "styled-component crashed once transformed by swc minifier (trying to replace terser with webpack)"
**Describe the bug**

First of all: [here a "minimal" reproduction repository](https://github.com/TruffeCendree/swc-issue-reproduction).

Tested with the latest version of @swc/core (1.2.102).

I'm using the swc minifier with webpack, babel, react and styled-components.

The resulting build crashes when running: `npx webpack` with output (source map off):

[code]

Switching to terser produces a va

[2021-10-22 03:47] sno2 opened #2507 "Migrate to Rust 2021 Edition"
Rust 2021 Edition has now released with the introduction of Rust 1.56.  I am willing to do this.

[2021-10-22 03:50] #2507 closed, assigned to nobody

[2021-10-23 11:55] Austaras opened #2516 "class with same name static property is wrongly renamed"
**Describe the bug**

**Input code**
[code]

and output is
[code]

**Config**

[code]

**Expected behavior**
Output should be identical to input

**Version**
The version of @swc/core: latest

[2021-10-23 12:53] iiroj opened #2517 "Wrong require helper name `__spack_require__ ` emitted into bundled code"
**Describe the bug**

When building with `spack`, my bundled code emits a require helper function called `__spack_require__`. However, all inlined modules are wrapped inside `__swcpack_require__.bind` calls.

You can see the `_require.js` helper here:

https://github.com/swc-project/swc/blob/a795de7f43358baacd8ffdb1374af2eedb726f97/bundler/src/bundler/helpers/_require.js#L1

...and the `__swcpack_

[2021-10-23 13:18] #2517 closed, assigned to nobody

[2021-10-24 08:03] #2452 closed, assigned to nobody

[2021-10-24 09:39] mohd-akram opened #2521 "swc incorrectly minifies moment.js"
**Describe the bug**

I get a `Uncaught ReferenceError: MONTH is not defined` error when using minified code that includes moment.js.

**How to reproduce**

`minify-moment.js`:

[code]

Run:

[code]

`MONTH` is used in the minified file, but its definition is gone.

**Expected behavior**
moment.js is minified correctly.

**Version**
The version of @swc/core: 1.2.102

[2021-10-24 14:54] #2521 closed, assigned to nobody

[2021-10-24 15:08] doitadrian opened #2523 "Aliases (Paths) Not Being Replaced"
**Describe the bug**
Just started playing with SWC and I I'd just like to say this is an amazing tool. Just amazed how it's fast and how much work has been put into it.  🙏🏻

So, in my code, I have `~/........` import statements, but, once the SWC has done its magic, these are replaced with correct paths -  only when I set `"type": "commonjs"` in my `.swcrc` file. Otherwise, they just stay the same

[2021-10-24 21:51] #2499 closed, assigned to nobody

[2021-10-25 17:50] Bosseskompis opened #2531 "panic: Object rest pattern should be removed by `es2018::object_rest_spread` pass"
This error started happening in version 1.2.99 and onwards.

1. Source code
[code]

2. `.swcrc` file
[code]

3. Error message gained from `swc --sync <input.js>`
`entered unreachable code: Object rest pattern should be removed by es2018::object_rest_spread pass', ecmascript\transforms\compat\src\es2015\destructuring.rs:410:52`

[2021-10-26 05:47] lephuongbg opened #2536 "Broken jsx compilation for vue 2's functional component"
**Describe the bug**

In vue functional component, the `h` argument of `render()` got renamed to `h1`, causing the jsx output to be broken, since `h` is now undefined.

**Input code**

[code]

**Config**

[code]

**Expected behavior**

The `h` argument should not be renamed.

**Current (broken) output**

[code]

**Version**
The version of @swc/core: 1.2.103

**Additional context**
Add any other co

[2021-10-26 06:24] troy351 opened #2539 "Duplicate parameter name"
**Describe the bug**

**Input code**
[code]
**Config**

[code]

**Expected behavior**
output
[code]
**Version**
The version of @swc/core: 1.2.103

**Additional context**
Add any other context about the problem here.

[2021-10-26 07:43] #2531 closed, assigned to nobody

[2021-10-26 07:43] #2539 closed, assigned to nobody

[2021-10-26 08:22] Edge00 opened #2541 "Is swc support options like Babel-loader "sourceType": "unambiguous" ?"
**Describe the feature**
Is there an option like babel-loader `sourceType: "script" | "module" | "unambiguous"`

**Babel plugin or link to the feature description**
https://babeljs.io/docs/en/options#sourcetype

**Additional context**

[2021-10-26 13:49] Austaras opened #2543 "Seperate async and for await of"
The former is introduced is ES2017, while the latter is introduced in ES2018 along with async generator and has a different set of supported browsers

[2021-10-26 14:43] kdy1 opened #2544 "jsx transforms is broken if `development` is set to true"
I yanked `swc_ecma_transforms_react@0.55.1`

[2021-10-26 17:29] jbreckmckye opened #2545 "It stands for "speedy web compiler""
Can this be documented somewhere? It drove me a bit spare, not knowing.

[2021-10-26 17:32] #2545 closed, assigned to nobody

[2021-10-26 17:36] HeadFox opened #2546 "SWC can't parse decorator from inversify.js"
**Describe the bug**
During compilation, swc crash when parsing file that use [inversify](https://github.com/inversify/InversifyJS) `@injectable` decorator.
[code]

**Input code**
[code]
**Config**
`.swcrc`

[code]
`tsconfig.json`

[code]

**Expected behavior**
With the legacy decorator enable, it should compile successfully.
This was my babel config before :
[code]

**Version**
The version of @sw

[2021-10-26 22:39] #2546 closed, assigned to nobody

[2021-10-26 23:02] JeremyGrieshop opened #2548 "export {default as name} can create duplicate symbols"
**Describe the bug**

I frequently re-export the `default` export from another file as a named export.  When doing so with `babel`, it assigns the new named export inside the `_exportNames` array.  With `swc` this doesn't happen.  This causes apps that import my library to get an error:  `TypeError: Cannot redefine property:`

**Input code**

[code]

**Config**

[code]

**Expected behavior**
With

[2021-10-27 00:20] kwonoj opened #2549 "Object.defineProperty does not allow reassign ref to exported fn"
**Describe the bug**

I created small snippet https://github.com/kwonoj/defineproperty-test to explain this bit better.

When there is a exported fn and an exported object contains ref to its fn, replacing ref in object via defineProperty does not replaces exports.

**Input code**

[code]

[code]

[code]

**Config**

[code]

**Expected behavior**
Hope it calls `warnOverride`

**Version**
The versi

[2021-10-27 02:53] kwonoj opened #2550 "Unexpectedly strips out parenthesis"
**Describe the bug**

Transform output emits code strips out required parenthesis, ends up evaluation fails when try to run code.

**Input code**

[code]

**Config**

[code]

**Expected behavior**
Emits parse-able code.

**Version**
The version of @swc/core: 1.2.103

**Additional context**

Emitted output:

[code]

[2021-10-27 04:19] #2506 closed, assigned to nobody

[2021-10-27 04:42] #2544 closed, assigned to nobody

[2021-10-27 07:15] billouboq opened #2554 "Swc does not seems to transform JSX in js files"
Hi, I'm using swc with swc-loader in webpack to transform js/ts/tsx files from libraries.
When trying to parse js files with some jsx in it swc seems to fail with this error :
Expected JSX to be transformed but it does not seems to work. Is there any options to make it works ?

[code]

 swcrc file :

[code]

[2021-10-27 07:56] JanKaul opened #2555 "Use of parking_lot 0.7.1 does not work on `wasm32-unknown-unknown`"
I'm using swc (swc::Compiler) as a rust library in a project that I want to compile to `wasm32-unknown-unknown`. The dependency `parking_lot 0.7.1` makes a call to `Instant::now()` which the compiler cannot resolve for `wasm32-unknown-unknown`. The [issue](https://github.com/Amanieu/parking_lot/issues/166) has been reported in the parking_lot repo and a [pull request](https://github.com/Amanieu/pa

[2021-10-27 07:56] #2550 closed, assigned to nobody

[2021-10-27 08:31] #2555 closed, assigned to nobody

[2021-10-27 09:32] PaulBlanche opened #2556 "Function hoisting ignored in async function"
For deeply nested async function, hoisting is ignored, and function declared after the return statement are droped.

With this code :
[code]

and this config :
[code]
We get this :
[code]
[REPL link](https://swc.rs/repl#%7B%22rawCode%22%3A%22%20%20%5Cn%20%20%20%20async%20function%20pureRequester()%20%7B%5Cn%20%20%20%20%20%20%5Ctawait%20refreshThenRequest()%5Cn%20%20%20%20%20%20%20%20return%20'bar'

[2021-10-27 13:32] PaulBlanche opened #2558 "Some minification optimisations break function hoisting"
On my projet, one of the dependencies is [url-search-params-polyfill](https://github.com/jerrybendy/url-search-params-polyfill/blob/master/index.js).

When i try to minify my projet, some minify optimisation breaks this dependency : [REPL link](https://swc.rs/repl#%7B%22rawCode%22%3A%22%2F**%5Cn%20*%5Cn%20*%5Cn%20*%20%40author%20Jerry%20Bendy%20%3Cjerry%40icewingcc.com%3E%5Cn%20*%20%40licence%20MI

[2021-10-27 15:06] Tohaker opened #2559 "@swc/core 1.2.104 breaks installation due to @swc/core-freebsd-x64 missing"
**Describe the bug**

When installing the latest version of @swc/core, we're greeted with the following error
[code]
I can see this package was removed from this release, but whatever config NPM needs hasn't been propagated

**Input code**
yarn install @swc/core

**Expected behavior**
SWC Core installs

**Version**
The version of @swc/core: 1.2.104

**Additional context**
This happens on both Ubun

[2021-10-27 20:56] hlubek opened #2560 "Panic for multiple JSX pragmas (MDX v2)"
**Describe the bug**

The JS code generated by `@mdx-js/mdx` contains multiple JSX pragmas in a single coment.
If processing such code the React transform chokes with a panic `proper error reporting for wrong @jsxRuntime`.

**Input code**

[code]

See https://github.com/mdx-js/mdx/blob/main/docs/docs/using-mdx.server.mdx#how-mdx-works for examples.

**Config**

Next.js 12 defaults.

**Expected beh

[2021-10-28 02:25] #2559 closed, assigned to nobody

[2021-10-28 04:35] #2465 closed, assigned to nobody

[2021-10-28 04:35] #2466 closed, assigned to nobody

[2021-10-28 04:35] #2558 closed, assigned to nobody

[2021-10-28 07:11] awareness481 opened #2566 "Usage.rs fails to compile"
**Describe the bug**

Compiling the [usage.rs](https://github.com/swc-project/swc/blob/master/examples/usage.rs) example on its own fails with the following error

[code]

Adding the `tty-emitter` feature in the `[dependencies]` of `Cargo.toml` fixes this issue.
[code]

**Expected behavior**
To compile

**Version**
The version of @swc/core: N/A

**Additional context**
In my opinion it would be gre

[2021-10-28 15:41] #2566 closed, assigned to nobody

[2021-10-28 21:34] nartc opened #2574 "Spack: "not processed by tsc resolver because base module is in node_modules""
**Describe the bug**
`spack` cannot finish compiling with the following error:

[code]

**Input code**
reproduce repo: https://github.com/nartc/nest-swc-reproduce
- Run `yarn`
- Execute `spack` with `--config` pointing to `spack.config.js`

**Config**

[code]

**Expected behavior**
Spack should finish successfully

**Version**
The version of @swc/core: 1.2.105

**Additional Context**

Running `swc

[2021-10-29 07:03] #2549 closed, assigned to nobody

[2021-10-29 13:08] julienfouilhe opened #2582 "Reference to exported function in namespace are not handled properly"
Hi!

I have a namespace in which I export functions.
One of those functions references another one of those.

[code]

tsc compiles this properly, but with swc I get this!

[code]

Generating output when using swc cli is:

[code]

So it uses `appendEvent` instead of using `DomainEvents.appendEvent`

@swc/cli: 0.1.51
@swc/core: 1.2.105

[2021-10-29 19:30] JeremyGrieshop commented on #2548
I gave an attempt at a PR for this.  I've never used Rust, but gave it my best!  The title of this issue is not quite accurate, since I've gotten into the code for this.

The problem is doing "import/export" as alias(es).  The aliases never got included in the `_exportNames` array, causing the same symbol to be attempted to be exported twice.

[2021-10-30 06:18] #2560 closed

[2021-10-30 12:52] OnkelTem commented on #571
Good luck @kdy1
We're really interested in your work, ain't we folks?
Yeah, is there anything you can share by now?

[2021-10-30 14:07] mischnic opened #2591 "IIFE prevents minification?"
**Describe the bug**

**Input code**

[code]

**Config**

[code]

**Expected behavior**
Same minified output as terser:
[code]

(Most importantly that the variable names are at least renamed, better inlined, and ideally the now redundant IIFE is removed)

**Current behavior**
Only whitespace is removed
[code]

**Version**
The version of @swc/core: both 1.2.105 and 1.2.106

[2021-10-30 18:18] vramana commented on #2591
Even without IIFE, swc doesn't seem to minify the code to the expected behaviour. [Check here][url]

[url]: https://swc-play.vercel.app/?version=1.2.106&code=H4sIAAAAAAAAAytLLFLw8fdz93P0dVWwVTC05krOzyvOz0nVy8lP14DJaFpzAQBQtWgpKQAAAA%3D%3D&config=H4sIAAAAAAAAA2WTS5LjIAyG78K6tzOLPsDs5gyUAsJRj3kUEum4Urn7iNgxiXuHPn705ma%2B2JnPmylQGWs%2F8ZIErubTyFKQXaUi5sMIKwowM97VgDqhqAT5l97NOTNutx8mUqKwdE8ux1KRuZ%2F1

[2021-10-30 18:34] alexander-akait commented on #2591
@vramana Please create a new issue, it is not related to this

[2021-10-30 18:34] alexander-akait commented on #2591
Without IIFE, we have the problem, I think here two problems

[2021-10-30 19:05] mischnic commented on #2591
Without the wrapper, it should only rename them if `toplevel` or `module` are set to true (that might be nice to have in the REPL options, by the way).

But you're right, even setting `toplevel` to true doesn't rename or inline the variable.

[2021-10-30 21:24] JeremyGrieshop opened #2594 "Existing order of generated requires/defines can be problematic for inter-dependency relationships"
**Describe the bug**

When importing from multiple modules, the current version of `swc` generates all of its `require` statements up front, followed by all of its `Object.defineProperty()` calls later.  You'll notice that `babel` does these one at a time, and this is important under certain conditions.  Consider the following input code:

**Input code**

[code]

The compiled commonjs results in:

[2021-10-31 03:50] deleonio commented on #2554
@billouboq

Check your config. You should activate the Parser option `jsx` too.

[code]

[2021-10-31 05:43] kdy1 commented on #2591
Seems like issue of config or regression.
I tried this on https://swc-play.vercel.app/ which uses `v1.2.102`.
(target = 2021, minify = true, compress = true, mangle = true)

But it didn't work if config is (target = 2021, minify = true, compress = false, mangle = false)

[2021-10-31 06:58] vramana commented on #2582
Duplicate of #2423

[2021-10-31 09:12] #2548 closed

[2021-10-31 12:03] behnammodi commented on #657
Hi there, has any progress?

[2021-10-31 12:36] billouboq commented on #2554
Ahah nice one ☝️
Thanks, thought tsx was only needed 😅

[2021-10-31 12:38] kdy1 commented on #2554
Oh, I'm not sure why does it work.
I think it will make deserialization fail... So maybe the default value is used?

I'll close this after adding a test.

[2021-10-31 16:26] mischnic commented on #2591
I think my confusion here was that with terser, `mangle` and `compress` are `true` by default.
But they are disabled by default for swc. So I think we can close this unless you want to change these defaults

[2021-10-31 16:31] mischnic opened #2603 "minification swallows `ReferenceError`"
### Describe the bug

At least for Terser, the behaviour before and after minification shouldn't change. This included that code causing a `ReferenceError: xyz is not defined` before minification should still throw one afterwards.

### Input code

[code]

### Config

[code]

### Playground link

_No response_

### Expected behavior

Terser's output is
[code]

swc's output is
[code]

(When adding a

[2021-10-31 17:07] BJTerry opened #2604 ""infinite loop detected" while compressing a file with"
### Describe the bug

When attempting to compress a particular file, I receive an "infinite loop detected" error with the swc/core v1.2.105 on Mac OS X x86. This was discovered while attempting to swap out terser on a large frontend codebase and I have manually reduced the file to a roughly minimal reproduction using latest dependencies. Deleting almost anything from this file causes the compressi

[2021-10-31 17:07] mischnic opened #2605 "Infinite loop detected: src/compress/mod.rs:261:13"
### Describe the bug

[code]

### Input code

[code]

### Config

[code]

### Playground link

_No response_

### Expected behavior

No panic?

### Version

1.2.106

### Additional context

_No response_

[2021-10-31 17:46] fabiosantoscode commented on #2603
It's pretty important to not make output code crash less than input code.

[2021-10-31 22:28] kwonoj opened #2606 "does not allow reassign ref to exported fn for typescript"
### Describe the bug

This is followup edge case for https://github.com/swc-project/swc/issues/2549.

When assignment is a typescript expression like

[code]

`(warn as any) = v;` won't reassign exports.

First glimpse this looks like issue around AST:

[code]

[code]

in case tsc it doesn't create bindingident.

### Input code

_No response_

### Config

_No response_

### Playground link

_No re

[2021-10-31 22:40] kwonoj commented on #2606
Am I understanding correct this need to be updated other than transform, or it's still something to be fixed with transforms?

[2021-11-01 00:14] Lycolia opened #3843 "jest.spyOn does not work when compared ts-jest"
## Problem

- Doesn't work test when another function is called inside function.
- But this works with ts-jest.
- I understand that can do the same by injecting it as a callback function.

### index.ts

[code]

### index.spec.ts

[code]

### ts-jest

#### jest.config.js

[code]

#### Result

[code]

### @swc/jest

#### jest.swc.config.js

[code]

#### Result

[code]

[2021-11-01 03:53] maoxiaoke opened #2607 "swc not polyfill `string.replaceAll`"
### Describe the bug

i use `string.replaceAll`, while `replaceAll` not be polyfilled

### Input code

[code]

### Config

[code]

### Playground link

https://swc-play.vercel.app/?version=1.2.106&code=H4sIAAAAAAAAA1WNsQrCMBRF93zF3ZLCo5i0TlLBX3BwCR0ez6BCbMszGfx746bTGe65HOvDMNpe05ZZ0ilnZ70lhO5gjKzLq4BV%2Be0xIcYdwc%2BEGAjDlyNhP8%2FtfK2Szo%2FbvTgDOBapz5q5rEqQqpqWcuFcU4fpiJ%2B1bwXh4v4c09If9Cye%2BpYAAA

[2021-11-01 03:56] kdy1 commented on #2591
I think `compress` and `mangle` should be true by default, but I made a mistake while declaring types.
Thanks!

[2021-11-01 04:11] kwonoj commented on #2606
I may wrong still though, peeking issue it looks like assignment is not evaluated when there's paren (https://github.com/swc-project/swc/blob/3280b4cd7a147cf72f517afa7a11cc5c39ccec06/ecmascript/parser/src/parser/pat.rs#L537) . Bit sure `how to fix` part, returning pat from inner expr breaks ast.

[2021-11-01 06:17] zloirock commented on #2607
https://github.com/swc-project/swc/issues/2209

[2021-11-01 06:37] maoxiaoke commented on #2607
@zloirock
I already have imported `core-js/stable` in my entry point. And i found babel use [moudles-by-version](https://unpkg.com/browse/core-js-compat@3.19.0/modules-by-versions.json) to polyfill them.

Means `corejs: '3.7'` is valid with `useBuiltIns: entry` in babel, while swc not.

I am thinking There must be some inconsistencies between swc and babel.

[2021-11-01 06:42] zloirock commented on #2607
You are right - `swc` uses a copy of [`modules-by-versions` from `core-js@3.6`](https://github.com/swc-project/swc/blob/d3944f520376b03e5df4939d85dfd3239ab7da58/ecmascript/preset-env/src/corejs3/modules-by-versions.json). In this case, it's this issue https://github.com/swc-project/swc/issues/1604

[2021-11-01 10:53] kdy1 commented on #2603
@fabiosantoscode I agree.
I'll fix this soon. I looked at it, but as we can't add a property to expressions in rust, I'm not sure about the way to check if an expression contains an unresolved reference efficiently.

In other places I just used visitor, but it caused problems because it has exponential time complexity.

[2021-11-01 11:25] fabiosantoscode commented on #2603
Was dead code elimination ported from Terser, or is it in swc's tree shaking code?

[2021-11-01 12:01] kdy1 commented on #2603
@fabiosantoscode It's not ported, and it lives in https://github.com/swc-project/swc/blob/fbbdeeae5677b065182e5853e011832a6fedf68c/ecmascript/minifier/src/compress/optimize/unused.rs

[2021-11-01 12:49] sventschui commented on #1814
When using `externalHelpers: true` with `isModule: false` I'd also expect `require()` statements to be added for the external helpers, which currently doesn't work neither.

[2021-11-01 13:16] JeremyGrieshop commented on #2594
In case anyone comes searching for this issue or error message later on, here's a more complete example:

[code]

[code]

[code]

When we try to import the commonjs compiled output from these three files, `A` will attempt to create a function passing in `B`, but `B` will not be defined yet and you'll get the error:

`Super expression must either be null or a function`

[2021-11-01 13:44] zcei opened #2613 "Export assignment retains function types"
### Describe the bug

When using the `export =` assignment syntax to mimic `module.exports` behavior as described [here in the handbook](https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require), the transpilation leaves the types on a function, which will cause any ECMAScript runtime to crash on loading the code.

### Input code

[code]

### Config

[code]

### Playgr

[2021-11-01 13:53] mischnic opened #2614 "minifier: assignment removed if variable declaration is separate"
### Description

### Input code

[code]

### Configuration

[code]

### Current behaviour

`foo` isn't assigned anymore, so `foo.default` throws.

[code]

### Expected behaviour

The assignment should definitely be retained.

Ideally, the output would be:

[code]
That already happens for `var Value = foo.default;`, but doing `var Value; Value = foo.default;` isn't optimized that well.

### Version

[2021-11-01 14:11] #2604 closed

[2021-11-01 14:17] ghost opened #2615 "Failed to globally replace import.meta - "cannot be used outside of module code""
### Describe the bug

When trying to replace an `import.meta` value, swc fails to replace it, and produces an error. I don't really have a choice when it comes to using this construct, given [it's how vite handles env variables](https://vitejs.dev/guide/env-and-mode.html).

[code]

### Input code

[code]

### Config

[code]

### Playground link

https://swc-play.vercel.app/?version=1.2.106&code=H4

[2021-11-01 14:20] mischnic commented on #2605
Fixed by #2610

[2021-11-01 14:20] #2605 closed

[2021-11-01 19:46] edu-bound opened #2619 "_interopRequireWildcard not defined when import is repeated"
### Describe the bug

Seems that when an import is accidentally used twice, once with the default export and once with a named export, swc will not declare the `_interopRequireWildcard` function.

### Input code

[code]

### Config

[code]

### Playground link

https://swc-play.vercel.app/?version=1.2.106&code=H4sIAAAAAAAAA32Qy2rDMBBF9%2FqKWTUJtM4%2BfnQhCHSR0IZ%2BQIw9DqKyxoyUgDH690xqxw2UdqOF7rlzmD

[2021-11-01 21:16] mischnic opened #2620 "Transpiling async functions as class properties causes error"
### Describe the bug

[code]

### Input code

[code]

### Config

[code]

package.json (the browserslist config is important):
[code]

### Playground link

_No response_

### Expected behavior

Prints "true" four times.

### Version

1.2.106

### Additional context

https://github.com/parcel-bundler/parcel/issues/7147

[2021-11-01 22:23] zEh- commented on #1366
If someone tries to access an original raw snippet `print` the subtree. That's what helped me not relying on span.
[code]

[2021-11-02 01:22] kwonoj commented on #2606
@kdy1 would you mind share some thoughts, first if above seems correct triage & secondly some high level thoughts how to fix issue? :pray: I'll spin some time myself to dig further meanwhile.

[2021-11-02 04:07] mitchellhamilton opened #2622 "Nested loops with a function inside and a reference to something from an outer loop generates references to a variable that isn't defined"
### Describe the bug

When transforming the code in the input code section, swc outputs:

[code]

The generated code references `b` but it isn't defined.

### Input code

[code]

### Config

_No response_

### Playground link

https://swc-play.vercel.app/?version=1.2.106&code=H4sIAAAAAAAAA0vLL1LQyEktUUhUsFUwsAZSNgpGQEpbW1OhmktBIQ0mnwSRT4LIJ8HkFRQ0NBVs7RSqa63BPLj6ZIj6ZIj6ZIR6BYUkiNJaLhCuBQC5FfGeggA

[2021-11-02 04:34] kdy1 commented on #2606
@kwonoj You can add `visit_mut_pat_or_expr` to visitor in https://github.com/swc-project/swc/blob/f8c7d36ac9cb6d46de690e90a0399a1b01ca823b/ecmascript/transforms/typescript/src/strip.rs

and you can

  1. visit children with `visit_mut_chilren_with(self)`.
  2. Check if it's `PatOrExpr::Expr(Expr::Ident)` and normalize it to `PatOrExpr::Pat(Pat::Ident))`.

I guess this is enough. If not, just ping

[2021-11-02 04:35] kwonoj commented on #2606
Thanks for the pointer, I'll give it a go! :runner:

[2021-11-02 04:59] #2594 closed

[2021-11-02 05:50] #2613 closed

[2021-11-02 06:33] #2505 closed

[2021-11-02 06:37] kdy1 commented on #2505
Why did you close this?

[2021-11-02 06:41] ruessej commented on #2505
I think that this issue is a duplicate see: #2516

[2021-11-02 06:58] matchu opened #2624 "for-of loops in async functions are incorrectly scoped"
### Describe the bug

When you declare the loop variable of a for-of loop with `const`, functions declared during a loop iteration should be bound to that iteration's scope.

However, when the loop appears directly inside an async function, and when targeting ES5, SWC will compile the loop variable to be function-scoped instead of loop-scoped. This can cause incorrect behavior.

### Input code

[c

[2021-11-02 07:01] kdy1 commented on #2505
I see, thanks!

[2021-11-02 07:02] matchu commented on #2624
For now, I'm working around this by wrapping my loop inside an immediately-invoked synchronous function!

[code]

(In this simple example, the better fix would be to not declare the function with `async`, because we're not actually using `async` functionality. But in a function where `async` matters, this workaround seems to do the trick!)

[2021-11-02 08:15] g-plane commented on #2436
This has been fixed several versions ago, so this issue can be closed.

[2021-11-02 08:16] kdy1 commented on #2436
Thanks!

[2021-11-02 08:16] #2436 closed

[2021-11-02 09:31] zcei commented on #2613
Thank you so much for this ultra fast turnaround time 🎉 ❤️

[2021-11-02 11:45] clhiker opened #2627 "Wrong Conversion of Let and Const Variables Defined in Block"
### Describe the bug

Const and let only exist in the blocks they are defined in, but after swc conversion, they all become var variables and can print value out of the block.

### Input code

[code]

### Config

[code]

### Playground link

https://play.swc.rs/?version=1.2.106&code=H4sIAAAAAAAAA6vm5VJQyEktUUhUsFUwtAbxkvPziksUkuD8ssQihWQor5aXCySdn5Oql5OfrpGoaa2AKpKEIZIMFAEAhYlu3mYAAAA%3D&config=H4

[2021-11-02 15:46] Austaras opened #2630 "Option `jsc.loose` don't actually passed to transformers when used in cli or playground"
### Describe the bug

run following code in node

### Input code

[code]

### Config

_No response_

### Playground link

https://play.swc.rs/?version=1.2.106&code=H4sIAAAAAAAAA0vLL1LQSM7PKy5RSFTIT1OIjtVUqOZSUAAJ5eek6uXkp2skanLVAgD%2B%2FpMnKAAAAA%3D%3D&config=H4sIAAAAAAAAA0WNOwoDMQxE76LabVL4DjmEcLSLg39IWogxvnus4JBOzLx5GvCSAH5AQxZiu6QXxTd4oJBRAsem4Ba2ogOT0HSgyCepIXJbXapVCLzyRQ5yLPHoJgo1NyaRvVsVljPR

[2021-11-02 16:07] RiESAEX commented on #2151
seems our new playground don't have this problem

[2021-11-02 16:44] kdy1 commented on #2151
@g-plane Thank you so much!

[2021-11-02 16:44] #2151 closed

[2021-11-02 23:11] edoardocavazza opened #2632 "Span error with some chars in comments"
Hello!

I have noticed that when parsing code where some characters like as `°` or `’` are used in comments, span offsets are not being correctly calculated. I have no idea of what is going on, so I cant provide more informations without a guidance.

Thanks!

[2021-11-03 01:09] kdy1 commented on #2632
Span position is byte position

[2021-11-03 01:09] #2632 closed

[2021-11-03 02:25] #2606 closed

[2021-11-03 02:39] cspotcode opened #2633 "TypeScript types omit module type "es6""
### Describe the bug

The TypeScript types omit module "type": "es6"

The docs describe `"type": "es6"`
https://swc.rs/docs/config-js-module#es6

The types only have 'commonjs', 'amd', and 'umd'
https://github.com/swc-project/swc/blob/04238d0b932f0efd8ac8ae262174ebc18469fa6f/node-swc/src/types.ts#L719

### Input code

[code]

### Config

_No response_

### Playground link

_No response_

### Expec

[2021-11-03 04:18] #2413 closed

[2021-11-03 07:12] kdy1 opened #2635 "[Meta] Plugin system for 2.0"
I will modify this as required.

# Javascript plugins

If it's possible to make it fast, I'll support js plugins, too.

# Rust-based plugins

## Tasks

### Task: Proxy `swc_common` (#2646)

 - `swc_common`: Create a trait for thread-local APIs. (cargo feature `plugin-base`)
 - `swc_common`: Implement the trait. (cargo feature `plugin-rt`)
 - `swc_common`: Replace APIs in plugin mode. (cargo featur

[2021-11-03 07:38] xiluo58 opened #2636 "TypeScript `module` compile issue"
### Describe the bug

When a variable defined in a module is referenced inside the module, the variable name is not prefixed with module name, causing undefined error in browser.

### Input code

[code]

### Config

[code]

### Playground link

https://play.swc.rs/?version=1.2.106&code=H4sIAAAAAAAAA0utKMgvKlHIzU8pzUlVCAISnnklqUUFRalA0iM1pyC1SKGal0sBCFIhSpPz84pLFNIyU3NS%2FBJzU30TC6wUootLijLz0nUUIHR

[2021-11-03 09:43] ckken commented on #2523
amd is no work too

[2021-11-03 12:28] 0xe commented on #2016
I'm working on supporting this with https://github.com/swc-project/swc/pull/2640.

[2021-11-03 18:50] th3fallen commented on #2101
i'd like to second this im running into this issue too, is there any workaround?

[2021-11-03 22:30] matthew-dean commented on #2050
@JanJakes It doesn't seem to match TSC at all, at the moment. Does `swc` try `index` files when it resolves a path?

For example:
[code]
[code]
This does not resolve to `./src/ui/Button/index.ts' (which is TypeScript's behavior).

[2021-11-03 23:43] matthew-dean commented on #1584
Will this also fix the issue like "[name] is not exported by [module]" when the export is a type?

[2021-11-04 00:28] kwonoj opened #2645 "Transformed import order not preserved with * import with named import"
### Describe the bug

This is another variant of https://github.com/swc-project/swc/issues/2594 I fixed. In this case, it occurs when there's barallel reepxport (export everything via `*` with some named reexports).

Same as original issue, this could raise some esoteric runtime module resolve failure when there's circular dependency being involved. Personally would love to remove all of circular

[2021-11-04 00:29] kwonoj commented on #2645
I'll try to dig if I can correlate this with my previous changes.

[2021-11-04 11:33] 2Steaks opened #5419 "TypeError: Class constructor App cannot be invoked without 'new'"
Hi, I'm trying to use this to test a Next.js application where we are testing the actual App page component, however I am getting the following error `TypeError: Class constructor App cannot be invoked without 'new'` I've tried configuring the `.swcrc` in multiple ways but without success. Has anyone experienced this with class components?

[2021-11-04 11:43] #2633 closed

[2021-11-04 12:16] eturino commented on #2523
es6 also doesn't work

[2021-11-04 20:17] astegmaier opened #2655 "Getters and setters applied through a decorator don't get called when decorated property is also initialized."
### Describe the bug

If you create a decorator that applies a getter and setter to the decorated property, and then also initialize (e.g. assign a value to the decorated property in the class definition), the resulting class, transpiled by `swc`, will never call the getters and setters for that property. The same code transpiled by `tsc` will work as expected.

### Input code

[code]

### Config

[2021-11-05 01:02] kitsonk opened #2656 "JSX automatic transform development incorrect"
### Describe the bug

When attempting to transform JSX, with the setting `development` to `true`, swc does not properly transpile like Babel or TypeScript.

It provides something like this:

[code]

### Input code

[code]

Using a JSX pass with the options like this:

[code]

### Expected behavior

This is what [Babel outputs with development plugin](https://babeljs.io/repl#?browsers=defaults%2C%2

[2021-11-05 08:40] jhsware commented on #940
@kdy1 Given that `const enum` is a bit of an outlier but very useful for library developers who want to keep bundles small, would a way forward be to pass const enum definitions to swc as a config. That should simplify the implementation in swc and it can easily be deprecated if a better solution is implemented. Maintaining the swc-specific const enum definitions would be worth the effort to those

[2021-11-05 09:39] kdy1 opened #2658 "Decorators on `TsParamProp`s are not handled properly"
[Only enable legacy decorators](https://play.swc.rs/?version=1.2.106&code=H4sIAAAAAAAAA0XMUQrCMBAE0P%2BcYj4b6AkURcWLxO1WgiVbNhuhhNy9EYTO5zDz5pLIoiQ8mUSDiQ4e1aFH2YomDBb0zTbiw9uIiTNpXPvO43JFbWfXnKMl5Iz7%2F0iSsmmhH3Y73IfHqvEbjDsdJknLhtcJva6tIzvQ7WZvigAAAA%3D%3D&config=H4sIAAAAAAAAA02OMQ6DMAxF7%2BKZoWXowNy1h7CCQamSOLKN1Ahx9yZARTdbfv99r%2FBWB8MKGUVJ2qQlGX5gACuZ1InPBh2M5FjQWBQGk4U6MK3QhEFpqwvKTFZDpP2tv9

[2021-11-05 10:34] Brooooooklyn commented on #940
We could have a simple workaround to compile `const enum` to `const object` to keep bundle smaller:

[code]

into

[code]

what do you think? @kdy1

[2021-11-05 11:10] kdy1 commented on #940
Sound like a good idea, I'll see if I can fix this with a new version.

[2021-11-05 12:52] jhsware commented on #940
Here is an example of const enum being used in Infernojs to keep the generated bundle size small and performance high, but still type safe and readable. Const enum defs:

https://github.com/infernojs/inferno/blob/2b2757387fbaa1f7021b0997d4cbafa488d396a7/packages/inferno-vnode-flags/src/index.ts

Use in code:

https://github.com/infernojs/inferno/blob/2b2757387fbaa1f7021b0997d4cbafa488d396a7/packag

[2021-11-05 15:40] dlindenkreuz commented on #2556
Workaround: if possible, use a compilation target like `es2017` that does not transpile async functions.

[2021-11-05 15:50] astegmaier commented on #2655
I did a bit more digging about what is going on here, and I discovered two things:

1. Babel has the same behavior as `swc` - using `defineProperty` to initialize class fields instead of simple assignment. I added a repro of this to [my test repo](https://github.com/astegmaier/swc-decorators-test).
2. `tsc` has an option called [`useDefineForClassFields`](https://www.typescriptlang.org/tsconfig#us

[2021-11-06 04:23] kwonoj commented on #2645
Digging more, this is actually reversed. Import order is correctly reserved in latetst master and due to those there's a regression occurred. I could get a repro, attempt to write separate issue & dig further for the fix.

[2021-11-06 04:23] #2645 closed

[2021-11-06 05:25] aelbore opened #2663 "Insert custom importSource"
### Describe the bug

react is not the only library/framework that uses `jsx`, for example atomicojs (https://atomico.gitbook.io/doc/)
i want to import source other that react.

### Input code

[code]

### Config

[code]

### Playground link

_No response_

### Expected behavior

[code]

### Version

1.2.106

### Additional context

_No response_

[2021-11-06 06:01] kdy1 opened #2664 "Change transforms to take `&Program ` on creation"
This will recuce binary size, and make passes more clear.

[2021-11-06 06:07] kdy1 commented on #2663
You can already use import sources other than react.

[2021-11-06 06:28] aelbore commented on #2663
@kdy1 is this applicable to my case? or is there something i missed in the config?
i tried importSource but it always add jsx-runtime

[2021-11-06 06:42] kwonoj commented on #2305
I'm hitting this as well, will try to dig bit if I can come up with changes.

[2021-11-06 09:05] #2664 closed

[2021-11-06 16:50] mischnic opened #2666 "sourcemap maps newline character to `var`"
### Describe the bug

With the code below, there is a mapping from a newline character to the following `var` token.

![Bildschirmfoto 2021-11-06 um 17 46 24](https://user-images.githubusercontent.com/4586894/140617269-d83b2ade-3437-44c1-982f-8f91fff4a0fa.png)

(using https://evanw.github.io/source-map-visualization/)

### Input code

[code]

### Config

[code]

### Playground link

_No response_

[2021-11-07 11:24] matunnkazumi opened #2669 "Default namespace export is not exported"
Default export is not exported in below case.

**Input Code**
[code]

.swcrc
[code]

version
[code]

**Result**
[code]

```TEST``` is not default exported.

**Expected behaviror**
```TEST``` is default exported. like tsc. ([TSC playground](https://www.typescriptlang.org/play?target=1&module=1#code/KYDwDg9gTgLgBAOwIYFtgGcxIMbDgFQFEBlfOAbwCg45RJY5sIF14A1AQQBkBVQuALxwARADckAGwCuwYQG5KAX0qU60eABNgAMyR

[2021-11-07 11:36] matunnkazumi opened #2670 "Template literal value in namespace is incorrect"
### Describe the bug

Variable in template literal in namespace is not namespaced.

### Input code

[code]

### Config

[code]

### Playground link

https://play.swc.rs/?version=1.2.106&code=H4sIAAAAAAAAA0utKMgvKlHIS8xNLS5ITE5VCHENDlGo5lJQSIXIJOfnFZcohDn6GCrYKqiXJeaUphqqW2ORNwLKJ6hUg1TWxoPVGSVYc9VyAQCdujojYgAAAA%3D%3D&config=H4sIAAAAAAAAA0WNSwrDMAxE76J1ts0id%2BghjKsEF%2F%2FQKBBjfPfawSU7aebpqdIXlrZ

[2021-11-07 17:15] Austaras opened #2674 "Throw error on valid tagged template literal"
### Describe the bug

throws
error: Expected 4 hex characters
 --> input.js:6:5
  |
6 | tag`\unicode and \u{55}`;
  |     ^^

### Input code

[code]

### Config

_No response_

### Playground link

_No response_

### Expected behavior

should compile

### Version

latest

### Additional context

_No response_

[2021-11-07 22:35] billouboq commented on #2554
putting "jsx" to true does not seems to resolve the problem :/

[2021-11-07 23:14] kwonoj opened #2677 "default exported async fn does not transpiled into generator"
### Describe the bug

If async function is exported as default, it is not being transpiled to generator though configuration asks to transpile async / await.

### Input code

[code]

### Config

[code]

### Playground link

https://play.swc.rs/?version=1.2.106&code=H4sIAAAAAAAAA0ssrsxLVkgrzUsuyczPUyhKTQdSGpoK1bxcvFy1ICK1oiC%2FqEQhJTUtsTSnRCERVUNxfm6qc2JODkSLgkJieWJmCdwYa6AZAHl8xMpiAAAA&config=H4sI

[2021-11-07 23:29] kwonoj opened #2678 "does not allow reassign ref to default exported fn"
### Describe the bug

- Followup edge cases for https://github.com/swc-project/swc/issues/2549, https://github.com/swc-project/swc/issues/2606

When an function is async, default exported it does not reassign its ref to export as similar to original #2549 does.

### Input code

[code]

### Config

[code]

### Playground link

https://play.swc.rs/?version=1.2.106&code=H4sIAAAAAAAAAz2NQQrCMBBF94Hc4e

[2021-11-08 02:19] Kaciras opened #2679 "wrong constant propagation in IIFE"
### Describe the bug

swc compress the code:

[code]

to

[code]

The generated code throws a TypeError while the source code does not.

### Input code

[code]

### Config

[code]

### Playground link

https://play.swc.rs/?version=1.2.107&code=H4sIAAAAAAAAA9NIK81LLsnMz9PQrOblUgCCssQihUQFW4XqWmuIQKJeEpBrCOMB2XmlOTlQbnlmXkp%2BuV5JanEJUCIRKFqrqaFpDQCOeFJGVwAAAA%3D%3D&config=H4sIAAAAAAAAA22TS5LjIAyG7%

[2021-11-08 03:39] #2305 closed

[2021-11-08 03:39] #2402 closed

[2021-11-08 08:20] clhiker opened #2680 "Object.defineProperty Called on Non-object"
### Describe the bug

When swc converts object definition properties, there is non-object defineProperty.
Here is result converted by swc, pay attention to the define **var _obj, _mutatorMap = {}, _obj1, _mutatorMap1 = {};**
[code]
Swc defines a undefine variable **var _obj**, but what is needed is an object variable.
When running the code using V8, it gets the following error report,
[code]
If yo

[2021-11-08 10:09] clhiker opened #2682 "Error Convert New.target in Constructor Function"
### Describe the bug

When object extends null, in the _inherits function, Object can't create new.target.prototype, there will be a typeError if running the converted code by swc by node,
[code]

### Input code

[code]

### Config

[code]

### Playground link

https://play.swc.rs/?version=1.2.107&code=H4sIAAAAAAAAAz2NwQnDMBAE%2Fwb3sE%2FpowZMSgipQb4cASNO5rRKYkJ6t4MhsK9hhpWSW8N1u82LCqFvqt0brJeCzzgA

[2021-11-08 12:57] shirazz commented on #1649
👍

[2021-11-08 13:30] saideepesh000 opened #2683 "docs: dead link on users page"
### Describe the bug

When I go to the [users ](https://swc.rs/users) page and click on the `ADD YOUR COMPANY` button, it is showing a dead link,

Uploading swc — Mozilla Firefox 2021-11-08 18-57-22.mp4…

### Input code

[code]

### Config

[code]

### Playground link

_No response_

### Expected behavior

It should be open an appropriate link

### Version

1.2.107

### Additional context

_No res

[2021-11-08 13:50] devongovett commented on #2635
Excited to see progress here! I think there's still one potential issue with this approach. Adding/updating/removing fields from AST nodes is potentially a breaking change when types are nested without boxes. For example:

[code]

Now say you add another field to the `Bar` struct. On its own this is ok if you add it at the end, but this changes the memory layout of `Foo` as well. Specifically, the

[2021-11-08 14:05] clhiker opened #2684 "SWC incorrectly Converted Super Class"
### Describe the bug

There is a supper called in attribute assignment method in object, which is not allowed in es5.
when using node run transformed code, it get an error as follows:
[code]

### Input code

[code]

### Config

[code]

### Playground link

https://play.swc.rs/?version=1.2.106&code=H4sIAAAAAAAAA8tPylKwVajm5VJQSMvP19CEMBUUkvPzivNzUvVy8tM1iksLUov0KjStQVK1vFxAlJ%2BUpQdWb62gr69QmpeSmpa

[2021-11-08 14:16] kdy1 commented on #2635
@devongovett Thank you for the feedback!

Actually [`abi_stable`][] supports [adding fields without breaking layout](https://docs.rs/abi_stable/0.10.3/abi_stable/derive.StableAbi.html#sabilast_prefix_field).

And It also supports [making `enums` non-exhaustive](https://docs.rs/abi_stable/0.10.3/abi_stable/docs/sabi_nonexhaustive/index.html) so we can add variants without breaking plugins.

I'll ma

[2021-11-08 15:18] devongovett commented on #2635
Ah interesting, I missed that. Looking at [the docs](https://docs.rs/abi_stable/0.10.1/abi_stable/docs/prefix_types/index.html) it seems all field accesses end up becoming methods (returning `Option` if they were added after the last major), which is close to what I was suggesting.

What are the downsides of this? It seems like this would avoid some extra AST conversions as well, so maybe better p

[2021-11-08 15:33] doums opened #2685 "@swc/jest Cannot find module 'regenerator-runtime'"
### Describe the bug

Hi,

I'm not sure if this is related to `@swc/jest`. But I transpile my TS code base using swc, and it works great, except when I try to run my test using `jest`. I get the same error for all my test files:

[code]

Jest config:

[code]

The versions I use (uptodate)
[code]

NOTE: Before I switch from tsc to swc, the tests were working as expected.

EDIT: Installing `regenera

[2021-11-08 17:45] doums commented on #2685
Installing regenerator-runtime fix the problem. But I don't know if this is normal that my setup with @swc/jest needs regenerator-runtime to work properly ?

[2021-11-08 20:28] mischnic opened #2687 "Shadowed top level variables are renamed"
### Describe the bug

Top level variables that are shadowed are renamed. This is problematic in `<script src="...">` tags, because top level variables become globals on the `window` object.

### Input code

[code]

### Config

_No response_

### Playground link

https://play.swc.rs/?version=1.2.107&code=H4sIAAAAAAAAA2XOzQ6CMAwH8PueotkJooFET8vi2RsXnmCwAkvKSmDTGOO7O8UYP3pr8%2F%2B1PZkZxksVRzjAfqdFF30

[2021-11-08 23:46] lephuongbg commented on #2536
@kdy1 Is there any workaround for this while we're waiting for this to be fixed?

[2021-11-09 01:00] duarten opened #2688 "Emit .js extension for core-js imports"
### Describe the bug

Basically, a mirror of https://github.com/babel/babel/issues/12378

### Input code

_No response_

### Config

_No response_

### Playground link

_No response_

### Expected behavior

[code]

Instead of

[code]

### Version

1.2.107

### Additional context

_No response_

[2021-11-09 01:20] clhiker opened #2689 "Non-iterable Instance Spreadable Operator is Allowed Incorrectly"
### Describe the bug

When the Symbol.iteraor of a element set to undefined, it should not  **spreadable**,
there is a **unsupportedIterableToArray** check for spreadable operator
For non-iterable instance, the following reminder is required
[code]
but in swc, a variable can be spreaded even if it's Symbol.iterator is set to undefined

### Input code

[code]

### Config

[code]

### Playground lin

[2021-11-09 04:31] kdy1 commented on #2635
Oh, I see. Yeah, something similar to `method` will be required to handle such cases. (Logically, didn't think about how does it work)

Exactly. It will avoid lots of conversions. I was simply trying to expose identical API as core transforms, but I think you are right. The problem of babel is quite interesting. Thank you so much for sharing it.

---

I concluded that exposing `plugin ast` to plug

[2021-11-09 06:08] kdy1 commented on #2635
I found that `prefix type` requires using `_Ref` types everywhere, because of the layout issue you mentioned.
I think this can make implement plugin harder, so I'll investigate.

[2021-11-09 06:10] #2208 closed

[2021-11-09 07:03] kdy1 commented on #2635
One downside of using `plugin ast` is split of the libraries - `normal ast` vs `plugin ast`

[2021-11-09 07:07] #2677 closed

[2021-11-09 10:19] kdy1 opened #2698 "Flatten crates"
I'll do this with multiple PRs. (Because there are some PRs)

 -  https://github.com/swc-project/swc/pull/2697

[2021-11-09 14:30] hexmodr opened #2701 "Comments above an object method declaration cause an early return to be added to the function body"
### Describe the bug

The output generated by SWC adds in an early return to async function when defined using the short-hand method syntax. This leads to no code in the method body being executed

### Input code

[code]

### Config

[code]

### Playground link

https://play.swc.rs/?version=1.2.106&code=H4sIAAAAAAAAA0vOzysuUahQsFWo5lJQ0NdXyFRIzFUozs9NVUjOz81NzSsBCicWV%2BYlK2Sk5uTkayQWpWuC1SoAFeQV5

[2021-11-09 20:14] dwoznicki commented on #2635
Which libraries would use the `normal ast`? Anything outside of the core? Also, are you planning for the `plugin ast` to be a perfect subset of the `normal ast`, or will it have to be a little different?

[2021-11-09 22:34] hisomura opened #2703 "Type alias is not resolved on decorator metadata."
### Describe the bug

When using type alias, decorator metadata is not resolved.

### Input code

[code]

### Config

[code]

### Playground link

_No response_

### Expected behavior

`String` should have been emitted.

### Version

@swc/core: 1.2.107

### Additional context

This sample code was written with #1421 as a reference.
This issue looks like related to #2461.

[2021-11-09 23:52] wi-ski commented on #1935
Please please please - how do we fix this <3

[2021-11-10 04:44] kdy1 commented on #2635
`normal ast` is ast used by core.
I'm not sure about the `plugin ast` at the moment.

[2021-11-10 08:33] #2678 closed

[2021-11-10 17:04] trs commented on #2269
I've created a simple repo to recreate this: https://github.com/trs/swc-path-alias-bug

[2021-11-11 01:18] kwonoj opened #2713 "[Feature request]: feature-parity to babel-plugin-jest-hoist"
### Describe the feature

There are subtle differences between latest babel-jest's hoisting to what sec offer, it'd be great if swc can offer same feature parity.

See below code snippet for the comparion:

// babel-jest
[code]

//swc
[code]

In case of swc, test will fail due to runtime exception: `ReferenceError: Cannot access 'member1' before initialization`

Two differences between transforms